@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$countdown: "pj-countdown" !default;
$countdown-flip-width: 160px !default;
$countdown-flip-height: 160px !default;
$countdown-flip-min-width: 80px !default;
$countdown-flip-label-spacer: 16px !default;
$countdown-flip-spacer: 30px !default;
$countdown-flip-letter-space: 6px !default;

$countdown-flip-font-weight: $font-weight-normal !default;
$countdown-flip-color: $color-primary !default;
$countdown-flip-background: $color-white !default;
$countdown-flip-border: rgba($color-black, 0.05) !default;
$countdown-flip-radius: $border-radius-sm !default;
$countdown-flip-shadow: 0 10px 35px 0 rgba($color-black, 0.1) !default;

// flip
// =====================

.#{$countdowns}-flip {
  .#{$countdown}-time {
    position: relative;
    display: inline-block;
    width: $countdown-flip-width;
    min-width: $countdown-flip-min-width;
    height: $countdown-flip-height;
    min-height: $countdown-flip-min-width;
    margin: $countdown-flip-spacer;
    text-align: center;
    border-radius: $countdown-flip-radius;
    box-shadow: $countdown-flip-shadow;
    perspective: 479px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }

  .#{$countdown}-number {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    font-weight: $countdown-flip-font-weight;
    line-height: $countdown-flip-height;
    color: $countdown-flip-color;
    text-align: center;
    letter-spacing: $countdown-flip-letter-space;
    background: $countdown-flip-background;
    transform: translateZ(0);
    transform-style: flat;
  }

  .#{$countdown}-number.#{$countdowns}-top {
    height: 50%;
    border-radius: $countdown-flip-radius $countdown-flip-radius 0 0;
    transform-origin: 50% 100%;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 2px;
      content: "";
      background-color: $countdown-flip-border;
    }
  }

  .#{$countdown}-number.#{$countdowns}-curr.#{$countdowns}-top {
    z-index: 3;
    transform: rotateX(0deg);
  }

  .#{$countdown}-number.#{$countdowns}-bottom {
    top: 50%;
    height: 50%;
    line-height: 0;
    border-radius: 0 0 $countdown-flip-radius $countdown-flip-radius;
    transform-origin: 50% 0;
  }

  .#{$countdown}-number.#{$countdowns}-next.#{$countdowns}-bottom {
    z-index: 2;
    transform: rotateX(90deg);
  }

  .#{$countdown}-label {
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    margin-top: $countdown-flip-label-spacer;
    text-transform: uppercase;
  }

  .#{$countdown}-label.above {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: $countdown-flip-label-spacer;
  }

  .#{$countdowns}-flip-animation {
    .#{$countdown}-number.#{$countdowns}-curr.#{$countdowns}-top {
      transition: all 250ms ease-in-out;
      transform: rotateX(-90deg);
    }

    .#{$countdown}-number.#{$countdowns}-next.#{$countdowns}-bottom {
      transition: all 250ms ease-in-out 250ms;
      transform: rotateX(0deg);
    }
  }
}

@media only screen and (max-width: 896px) {
  .#{$countdowns}-flip {
    .#{$countdown}-time {
      width: $countdown-flip-min-width;
      height: $countdown-flip-min-width;
      margin: 16px;
    }
    .#{$countdown}-number {
      line-height: $countdown-flip-min-width;
    }
  }
}
