@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$countdowns: "pj-countdown" !default;
$countdown: "countdown" !default;
$countdown-progress-width: 180px !default;
$countdown-progress-height: 180px !default;
$countdown-progress-min-width: 112px !default;
$countdown-progress-font-size: 46px !default;
$countdown-progress-line-height: 54px !default;
$countdown-progress-spacer: 10px !default;
$countdown-progress-label-font-size: 14px !default;
$countdown-progress-small-width: 148px !default;
$countdown-progress-small-height: 148px !default;
$countdown-progress-small-margin: 5px !default;

$countdown-progress-font-weight: $font-weight-normal !default;
$countdown-progress-color: $gray-darkest !default;

// progress
// =====================

.#{$countdowns}-progress {
  .#{$countdown}-time {
    position: relative;
    width: $countdown-progress-width;
    min-width: $countdown-progress-min-width;
    height: $countdown-progress-height;
    min-height: $countdown-progress-min-width;
    margin: $countdown-progress-spacer;

    .#{$countdown}-number {
      position: absolute;
      top: 48%;
      left: 0;
      width: 100%;
      font-size: $countdown-progress-font-size;
      font-weight: $countdown-progress-font-weight;
      line-height: $countdown-progress-line-height;
      color: $countdown-progress-color;
      transform: translateY(-70%);
    }

    .#{$countdown}-label {
      position: absolute;
      top: 55%;
      left: 0;
      width: 100%;
      font-size: $countdown-progress-label-font-size;
      text-transform: uppercase;
      transform: translateY(30%);
    }

    .#{$countdown}-number.above {
      position: absolute;
      top: auto;
      transform: translateY(20%);
    }

    .#{$countdown}-label.above {
      position: absolute;
      top: 35%;
      transform: translateY(-80%);
    }
  }

  .#{$countdowns}-progress-ring {
    width: 100%;
  }

  svg {
    transform: rotate(-90deg);
    stroke-dasharray: 255%;
    stroke-dashoffset: 0%;
    fill: none;
  }

  circle {
    transition: all 0.5s;
  }
}

@media only screen and (max-width: 896px) {
  .#{$countdowns}-progress {
    .#{$countdown}-time {
      width: $countdown-progress-small-width;
      height: $countdown-progress-small-height;
      margin: $countdown-progress-small-margin;

      .#{$countdown}-number {
        font-size: $font-size-lg;
      }

      .#{$countdown}-label {
        font-size: $font-size-xs;
      }
    }
  }  
}
