@import "@pluginjs/styles/variables.scss";
@import "countdown.core.scss";

// Vars
// =====================
$countdown: "pj-countdown";
$countdown-font-family: $font-family-base;
$countdown-font-size: $font-size-md;

$countdown-color: $gray-darker;

$countdown-number-size: 72px;
$countdown-number-color: $gray-darkest;

// style
// =====================
.#{$countdown} {
  font-family: $countdown-font-family;
  font-size: $countdown-font-size;
  color: $countdown-color;

  &-number {
    font-size: $countdown-number-size;
    color: $countdown-number-color;
  }
}

@import "type/progress.scss";
@import "type/flip.scss";
