@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$range: "pj-range" !default;

$range-sizer: $sizer;

$range-width: 14.3 * $range-sizer !default; //143px
$range-height: 0.2 * $range-sizer !default; //2px
$range-bg-color: $gray-lightest !default;
$range-pointer-width: $range-sizer !default; //10px
$range-pointer-height: $range-sizer !default; //10px
$range-pointer-bg: $color-white;

$range-scale-bg: $gray-lighter !default; //#cfcdc7 !default;
$range-scale-before-bg: $color-info-dark !default; //#6ba1ad !default;
$range-scale-after-bg: $color-white;

$pj-units-input-border-color: #215fdb !default;

$range-tip-color: $color-white;
$range-tip-bg: $gray !default;
$range-tip-border-color: $gray !default; //#5d5c58 !default;

$range-selected-bg: $color-info !default; //#7ebdcb !default;

// Core
// =====================
.#{$range} {
  display: flex;
  align-items: center;

  &-control {
    position: relative;
    //background-color: #ddd;
    box-sizing: border-box;
    order: 0;
    //width: 150px;  by hr
    //height: 10px;
    width: $range-width;
    height: $range-height;
    background-color: #e6e6e6;
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: #215fdb;
    border-color: $disabled-border;
    .#{$range}-selected {
      cursor: not-allowed;
      background-color: #215fdb;
    }
    .#{$range}-pointer {
      cursor: not-allowed;
      border-color: $disabled-border;
      .#{$range}-tip {
        display: none;
      }
    }
  }

  &-pointer {
    position: absolute;
    left: 30%;
    z-index: 2;
    width: $range-pointer-width;
    height: $range-pointer-height;
    margin-left: -0.4 * $range-sizer; //-4px
    //background-color: rgb(255, 0, 0);
    background-color: $range-pointer-bg;
    outline: none;

    &.start {
      left: 0%;
      margin-left: 0.4 * $range-sizer; //4px
    }

    &.stop {
      left: 100%;
      margin-left: -1.2 * $range-sizer; //-12px
    }
  }

  &-tip {
    position: absolute;
    top: -3.3 * $range-sizer; //-33px
    left: 5px;
    width: 3.4 * $range-sizer; //34px
    height: 2 * $range-sizer; //20px
    margin-left: -15px;
    line-height: 2 * $range-sizer; //20px
    text-align: center;
    //border: 1px solid #ddd;
    border: 0;
    transition: opacity 0.3s ease-in-out 0s;

    &::before {
      position: absolute;
      bottom: -3 * $range-sizer;
      left: 50%;
      display: inline-block;
      margin-left: -3 * $range-sizer; //-3px
      content: "";
      transform: rotate(-45deg);
    }
  }

  &-selected {
    position: absolute;
    left: 30%;
    z-index: 1;
    width: 40%;
    cursor: pointer;
  }

  &-scale {
    display: none;
  }

  .pj-units-wrap {
    position: relative;
    order: 1;
    margin-left: 2 * $range-sizer; //10px
  }

  .pj-units-input {
    width: 8 * $range-sizer; //80px
    &:focus {
      border-color: #215fdb;
    }
    &:hover {
      border-color: #666;
    }
  }
}
/*stylelint-disable*/
.#{$range}-scale {
  position: relative;
  width: 33.1 * $range-sizer; //331px
  height: 0.8 * $range-sizer; //8px
  background-color: $range-scale-bg;
  border-radius: 0.8 * $range-sizer; //8px

  .#{$range}-pointer {
    position: absolute;
    left: 30%;
    //opacity: 0;
    z-index: 2;
    width: 0.8 * $range-sizer; //8px
    height: 0.8 * $range-sizer; //8px
    margin-left: -4 * $range-sizer; //-4px
    background-color: $range-pointer-bg;
    border-radius: 9px;

    &::before {
      position: absolute;
      top: -0.4 * $range-sizer; //-4px
      right: -0.4 * $range-sizer; //-4px
      bottom: -0.4 * $range-sizer; //-4px
      left: -0.4 * $range-sizer; //-4px
      content: "";
      background: $range-scale-before-bg;
      border-radius: inherit;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background: $range-scale-after-bg;
      border-radius: inherit;
    }

    &.start {
      left: 0%;
      margin-left: 0.4 * $range-sizer; //4px
    }

    &.stop {
      left: 100%;
      margin-left: -12 * $range-sizer; //-12px
    }
  }

  .#{$range}-tip {
    position: absolute;
    top: -3.3 * $range-sizer; //-33px
    left: 0;
    width: 3.6 * $range-sizer; //36px
    height: 2 * $range-sizer; //20px
    margin-left: -1.5 * $range-sizer; //-15px
    font-family: Bpreplay;
    font-size: $font-size-xs;
    line-height: 2 * $range-sizer; //20px
    color: $range-tip-color;
    text-align: center;
    background-color: $range-tip-bg;
    border: 1px solid $range-tip-border-color;
    border-radius: 3px;
    transition: opacity 0.3s ease-in-out 0s;

    &::before {
      position: absolute;
      bottom: -3px;
      left: 50%;
      display: inline-block;
      width: 0.6 * $range-sizer; //6px
      height: 0.6 * $range-sizer; //6px
      margin-left: -3px;
      content: "";
      background-color: $range-tip-bg;
      transform: rotate(-45deg);
    }
  }

  .#{$range}-selected {
    position: absolute;
    left: 30%;
    z-index: 1;
    width: 40%;
    height: 0.8 * $range-sizer; //8px
    background-color: #215fdb;
    border-radius: 9px;
  }

  .#{$range}-scale {
    position: absolute;
    bottom: -2.2 * $range-sizer; //-22px
    left: 0;
    width: 100%;
    height: 2 * $range-sizer; //20px
    padding: 0;
    margin: 0;
    list-style: none;
    // background: url("../image/scale.png") no-repeat 0 center transparent;

    li {
      position: absolute;
      top: 1.8 * $range-sizer; //18px
      width: 3 * $range-sizer; //30px
      height: 2 * $range-sizer; //20px
      padding: 0;
      margin: 0;
      margin-left: -1.5 * $range-sizer; //-15px
      text-align: center;

      &:first-child {
        left: 0%;
      }

      &:nth-child(2) {
        left: 33.3%;
      }

      &:nth-child(3) {
        left: 66.6%;
      }

      &:last-child {
        left: 100%;
      }
    }
  }
}

.tether-out-of-bounds.tether-target-attached-top.tether-out-of-bounds-bottom.tether-element-attached-bottom {
  .pj-units-panel {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.tether-out-of-bounds.tether-target-attached-top.tether-out-of-bounds-bottom.tether-element-attached-bottom.tether-abutted.tether-abutted-top {
  .pj-units-panel {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
  }
}
