@import "@pluginjs/styles/variables.scss";
@import "./range.core.scss";

// Vars
// =====================
$range: "pj-range";

$range-width: 200px;
$range-height: 2px;

$range-font-family: $font-family-base;

$range-pointer-border-color: $border-color;
$range-pointer-bg: $color-white;

$range-input-gap: 16px;
$range-input-width: 80px;
$range-input-height: 32px;

$range-tip-color: $color-white;
$range-tip-bg: $gray-darkest;

$range-tip-padding: 4px 8px;
$range-tip-width: 43px;
$range-tip-height: 24px;
$range-tip-font-size: $font-size-base;
$range-tip-line-height: 16px;
$range-tip-border-radius: $border-radius-base;

$range-track-bg: $color-primary;
$range-rail-bg: $gray-light;

$range-disabled-color: $gray;
$range-disabled-pointer-border-weight: 3px;

.#{$range} {
  font-family: $range-font-family;

  &-control {
    width: 100%;
    height: $range-height;
    padding-top: $range-pointer-width / 2;
    padding-bottom: $range-pointer-width / 2;
    cursor: pointer;
  }

  .#{$range}-input {
    width: 100%;
    max-width: $range-input-width;
    margin-left: $range-input-gap;
    text-align: center;
  }

  &-rail,
  &-track {
    width: 100%;
    height: $range-height;
  }

  &-rail {
    background-color: $range-rail-bg;
  }

  &-track {
    background-color: $range-track-bg;
  }

  &-pointer {
    width: $range-pointer-width;
    height: $range-pointer-height;
    margin-left: -$range-pointer-width / 2;
    cursor: ew-resize;
    background-color: $range-pointer-bg;
    border: $range-pointer-border-width solid $range-pointer-border-color;
    border-radius: 50%;
    outline: none;
    transform: translateY(-50%);

    &::after {
      background: $range-pointer-bg;
      border-radius: inherit;
    }

    &-active {
      border-color: $range-pointer-border-color;
    }
  }

  &-tip {
    width: $range-tip-width;
    height: $range-tip-height;
    padding: $range-tip-padding;
    font-size: $range-tip-font-size;
    line-height: $range-tip-line-height;
    color: $range-tip-color;
    text-align: center;
    cursor: ew-resize;
    background-color: $range-tip-bg;
    border: 0;
    border-radius: $range-tip-border-radius;

    &::after {
      width: 0;
      height: 0;
      margin-left: -$range-tip-arrow-size;
      content: "";
      border-top: $range-tip-arrow-size solid $range-tip-bg;
      border-right: $range-tip-arrow-size solid transparent;
      border-left: $range-tip-arrow-size solid transparent;
    }
  }

}

.#{$range}-vertical {
  .#{$range}-control {
    width: $range-height;
    height: $range-width;
    padding-right: $range-pointer-width / 2;
    padding-left: $range-pointer-width / 2;
  }

  .#{$range}-rail,
  .#{$range}-track {
    width: $range-height;
    height: $range-width;
  }

  .#{$range}-pointer {
    margin-top: -$range-pointer-width / 2;
    margin-left: 0;
  }
}

.#{$range}-disabled {
  cursor: not-allowed;

  .#{$range}-track {
    cursor: not-allowed;
    background-color: $range-disabled-color;
  }

  .#{$range}-pointer {
    cursor: not-allowed;
    border-color: transparent;
    border-width: $range-disabled-pointer-border-weight;

    &::after {
      background: $range-disabled-color;
    }
  }
}
