@import "@pluginjs/styles/variables.scss";
@import "range.core";

// Vars
// ======================
$range: "pj-range" !default;
$range-sizer: $sizer;

$range-active-color: $color-primary !default;
$range-selected-bg-color: #215fdb !default;
$range-pointer-border-width: 2px !default;
$range-pointer-bg-color: $color-white !default;
$range-pointer-border-color: $color-primary !default;
$range-tip-bg-color: $color-white !default;
$range-tip-box-shadow: 0 5px 20px 0 rgba($gray-darkest, 0.1) !default;
$pj-units-width: 6.3 * $range-sizer !default; //63px
$pj-units-trigger-width: 2.4 * $range-sizer !default; //24px
$pj-units-trigger-left: $pj-units-width - $pj-units-trigger-width !default;
$dropdown-item: "pj-dropdown-item" !default;
// Core
// ======================
.#{$range} {
  &-selected {
    height: $range-height;
    background-color: #215fdb;
  }

  &-pointer {
    top: 50%;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    cursor: ew-resize;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(-50%);
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background: $range-pointer-bg-color;
      border-radius: inherit;
    }

    &:hover,
    &:focus {
      z-index: 1000;
      transition: transform 0.2s;
      transform: translateY(-50%) scale(1.1, 1.1);
    }
  }

  &-tip {
    display: none;
    /*stylelint-disable*/
    font-family: Bpreplay;
    /*stylelint-enable*/
    font-size: $font-size-xs;
    color: $color-white;
    cursor: ew-resize;
    background-color: $gray-darkest;
    border-radius: 2px;
    box-shadow: $range-tip-box-shadow;
    //&::before {
    //  width: 0.6*$range-sizer; //6px
    //  height: 0.6*$range-sizer; //6px
    //  background-color: $range-tip-bg-color;
    // }

    &::after{
      position: absolute;
      top: 23px;
      left: 15px;
      display: block;
      width: 0;
      height: 0;
      content: " ";
      border-top: 6px solid $gray-darkest;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }
}

#tips-range {
  .#{$range}-tip {
    display: block;
  }
}

.#{$range}-unit {
  width: $pj-units-width;
}

.pj-units {
  // width: $pj-units-width;

  &-trigger {
    left: $pj-units-trigger-left;
    width: $pj-units-trigger-width;
    /*stylelint-disable*/
    font-family: "Helvetica Neue";
    /*stylelint-enable*/
    color: #b3b3b3;
    outline: none;
  }
}
