@import "@pluginjs/dots/src/css/dots.scss";
@import "@pluginjs/scroll-to/src/css/scroll-to.scss";
// import tabs css
@import "@pluginjs/section-scroll/src/css/section-scroll.scss";
$sectionScroll-header-zindex: $zindex-fixed !default;

$sectionScroll-nav-box-shadow: $box-shadow-3 !default;

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sectionScroll-header-zindex;
  width: 100%;
  height: 60px;
  text-align: center;
  background: #fff;
  box-shadow: $sectionScroll-nav-box-shadow;
}

.fixed-header li {
  display: inline-block;
  *display: inline;
  margin: 0 5px;
  vertical-align: top;
  zoom: 1;
}

.fixed-header a {
  display: block;
  padding: 0 20px;
  line-height: 60px;
  color: #444;
  text-decoration: none;
  -webkit-transition: 0.2s;  /* stylelint-disable-line */
  transition: 0.2s;
}

.fixed-header .active a {
  color: #fff;
  background: #222;
}

/* footer */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  height: 60px;
  text-align: center;
  background: #fff;
  box-shadow: $sectionScroll-nav-box-shadow;
}

.fixed-footer li {
  display: inline-block;
  *display: inline;
  margin: 0 5px;
  vertical-align: top;
  zoom: 1;
}

.fixed-footer a {
  display: block;
  padding: 0 20px;
  line-height: 60px;
  color: #444;
  text-decoration: none;
  -webkit-transition: 0.2s; /* stylelint-disable-line */
  transition: 0.2s;
}

.fixed-footer .active a {
  color: #fff;
  background: #222;
}

.section {
  height: 100%;
  color: #fff;
  text-align: center;
}

.section::after {
  display: inline-block;
  *display: inline;
  width: 0;
  height: 100%;
  vertical-align: middle;
  zoom: 1;
  content: "";
}

.section .inner {
  display: inline-block;
  *display: inline;
  max-width: 540px;
  margin: auto;
  vertical-align: middle;
  zoom: 1;
}

#home {
  background: #c2185b;
}

#section-1 {
  background: #2f51b5;
}

#section-2 {
  background: #00695c;
}

#section-3 {
  background: #ef6c00;
}
.contorl {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
}
