---
title: Hotspots
layout: plugin
styles:
- ../../plugins/popover/css/popover.css
- ../../plugins/hotspots/css/hotspots.css
- ../../css/font-awesome.min.css
scripts:
- ../../plugins/hotspots/hotspots.js
---
<style>
.pj-popover p:last-child {
  margin-bottom: 0;
}

.top-gap {
  margin-top: 50px;
}
</style>

{{!-- Css types --}}
<section>
  <h3>Css types</h3>
  <div class="pj-hotspots pj-hotspots-css pj-hotspots-full">
    <img src="../assets/car.jpg" alt=""/>
    <div class="pj-hotspot pj-hotspot-icon" style="left: 61%; top: 68%" title="18' wheels" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.">
      <span class="fa fa-map-marker"></span>
    </div>
    <div class="pj-hotspot pj-hotspot-dot" style="left: 35%; top: 45%" title="TFSI® engine" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.">
    </div>
    <div class="pj-hotspot pj-hotspot-bordered pj-hotspot-icon" style="left: 38%; top: 53%" title="LED Headlights" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.">
      <span class="fa fa-map-marker"></span>
    </div>
    <div class="pj-hotspot pj-hotspot-solid pj-hotspot-icon" style="left: 27%; top: 60%" data-placement="bottom" title="Singleframe® grille" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.">
      <span class="fa fa-map-marker"></span>
    </div>
    <div class="pj-hotspot pj-hotspot-solid pj-hotspot-shadow pj-hotspot-icon" style="left: 75%; top: 30%" title="S line® exterior" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.">
      <span class="fa fa-map-marker"></span>
    </div>
  </div>
</section>

{{!-- Types --}}
<section>
  <h3>Types</h3>
  <section>
    <h4>Type: hide</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="hide">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Type: dot</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="dot">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Type: text</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="text">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Type: number</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="number" data-theme="solid">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Type: Icon</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="icon">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>
</section>

{{!-- Icon Skins --}}
<section>
  <h3>Icon Skins</h3>
  <section>
    <h4>Icon: Plain</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="icon">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>
  <section>
    <h4>Icon: Solid</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="icon" data-skin="solid">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Icon: Bordered</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="icon" data-skin="bordered">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Icon: Solid Bordered</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="icon" data-skin="solid bordered">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Icon: Solid Shadow</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="icon" data-skin="shadow">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>
</section>

{{!-- Text Skins --}}
<section>
  <h3>Text Skins</h3>
  <section>
    <h4>Text: Solid</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="text" data-skin="solid">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Text: Bordered</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="text" data-skin="bordered">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Text: Solid Bordered</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="text" data-skin="solid bordered">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Text: Solid Shadow</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="text" data-skin="solid shadow">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>
</section>

{{!-- Size --}}
<section>
  <h3>Size</h3>
  <section>
    <h4>Size: sm</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="dot" data-skin="solid bordered sm">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Size: md</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="dot" data-skin="solid bordered md">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>

  <section>
    <h4>Size: lg</h4>
    <div class="pj-hotspots pj-hotspots-car" data-type="dot" data-skin="solid bordered lg">
      <img src="../assets/car.jpg" alt=""/>
    </div>
  </section>
</section>

{{!-- Trigger --}}
<section>
  <h3>Trigger: click</h3>
  <div class="pj-hotspots pj-hotspots-car" data-popover='{"trigger":"click"}'>
    <img src="../assets/car.jpg" alt=""/>
  </div>
</section>

{{!-- Custom --}}
<section>
  <h3>Custom</h3>
  <div class="pj-hotspots pj-hotspots-car-custom">
    <img src="../assets/car.jpg" alt=""/>
  </div>
</section>

{{!-- API --}}
<section>
  <h3>API</h3>
  <div class="pj-hotspots pj-hotspots-api">
    <img src="../assets/car.jpg" alt=""/>
  </div>
  <div class="console"></div>
  <button class="btn api-init">init</button>
  <button class="btn api-destroy">destroy</button>
  <button class="btn api-enable">enable</button>
  <button class="btn api-disable">disable</button>
</section>

<script>
window.onload = function(){
  var data = [
    {
      number: "1",
      text: "wheel",
      placement: 'top',
      title: '18" wheels',
      content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
      position: ["61%", "68%"],
    },{
      number: "2",
      text: "engine",
      placement: 'right',
      title: "TFSI® engine",
      content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
      position: ["35%", "45%"],
    },{
      number: "3",
      text: "lights",
      placement: 'right',
      title: "LED Headlights",
      content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
      position: ["38%", "55%"],
    },{
      number: "4",
      text: "grille",
      placement: 'right',
      title: "Singleframe® grille",
      content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
      position: ["27%", "60%"],
    },{
      number: "5",
      text: "exterior",
      placement: 'bottom',
      title: "S line® exterior",
      content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
      position: ["75%", "30%"],
    }
  ];

  Pj.hotspots('.pj-hotspots-css');

  Pj.hotspots('.pj-hotspots-car', {
    icon: 'fa fa-map-marker',
    popover: {
      templates: {
        content() {
          return '<p class="{classes.CONTENT}"></p>'
        }
      }
    },
    data: data
  });

  Pj.hotspots('.pj-hotspots-car-custom', {
    type: "icon",
    data: [
      {
        styles: {
          color: 'red'
        },
        icon: "fa fa-plus",
        title: '18" wheels',
        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
        position: ["61%", "68%"],
      },{
        styles: {
          color: 'orange'
        },
        icon: "fa fa-plus",
        title: "TFSI® engine",
        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
        position: ["35%", "45%"],
      },{
        styles: {
          color: 'yellow'
        },
        icon: "fa fa-plus",
        title: "LED Headlights",
        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
        position: ["38%", "55%"],
      },{
        styles: {
          color: 'green'
        },
        icon: "fa fa-plus",
        title: "Singleframe® grille",
        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
        position: ["27%", "60%"],
      },{
        styles: {
          color: 'blue'
        },
        icon: "fa fa-plus",
        title: "S line® exterior",
        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
        position: ["75%", "30%"],
      }
    ]
  });

  var info = document.querySelector('.console');
  var API = null;

  document.querySelector('.api-init').addEventListener('click', function() {
    API = Pj.hotspots('.pj-hotspots-api', {
      data: data,
      onReady: function() {
        info.insertAdjacentHTML('beforeend', '<p>init()</p>');
      },
      onDestroy: function() {
        info.insertAdjacentHTML('beforeend', '<p>destroy()</p>');
      },
      onEnable: function() {
        info.insertAdjacentHTML('beforeend', '<p>enable()</p>');
      },
      onDisable: function() {
        info.insertAdjacentHTML('beforeend', '<p>disable()</p>');
      }
    })
  });

  document.querySelector('.api-destroy').addEventListener('click', function() {
    API.destroy();
  });

  document.querySelector('.api-enable').addEventListener('click', function() {
    API.enable();
  });

  document.querySelector('.api-disable').addEventListener('click', function() {
    API.disable();
  });
};
</script>
