---
title: BeforeAfter
layout: plugin
styles:
- ../../plugins/before-after/css/before-after.css
- ../../css/font-awesome.min.css
scripts:
- ../../plugins/before-after/before-after.js
---
<section>
  <h2>Api</h2>
  <div class="pj-beforeAfter example-api">
    <img src="../assets/before.jpg" alt="before"/>
    <img src="../assets/after.jpg" alt="after"/>
  </div>
  <div class="apis pad-top-20">
    <button data-api="init" class="btn api-init">init</button>
    <button data-api="destroy" class="btn api-destroy">destroy</button>
    <button data-api="moveBy_nagetive" class="btn api-moveBy-">moveBy(-0.1)</button>
    <button data-api="moveBy" class="btn api-moveBy">moveBy(0.1)</button>
    <button data-api="moveTo" class="btn api-moveTo">moveTo(0.7)</button>
    <button data-api="enable" class="btn api-enable">enable</button>
    <button data-api="disable" class="btn api-disable">disable</button>
    <div class="console top-gap"></div>
  </div>
</section>
<section>
  <h2>Theme</h2>
  <section class="top-gap">
    <h3>Default Style</h3>
    <div class="pj-beforeAfter pj-beforeAfter-horizontal">
      <img class="pj-beforeAfter-before" style="clip: rect(0px,450px,600px,0px)" src="../assets/before.jpg" alt="before"/>
      <img class="pj-beforeAfter-after" src="../assets/after.jpg" alt="after"/>
      <div class="pj-beforeAfter-labels">
        <div class="pj-beforeAfter-label-before">Before</div>
        <div class="pj-beforeAfter-label-after">After</div>
      </div>
      <div class="pj-beforeAfter-handle" style="left:30%">
        <i class="pj-beforeAfter-arrow-before fa fa-caret-left"></i>
        <i class="pj-beforeAfter-arrow-after fa fa-caret-right"></i>
      </div>
    </div>

    <div class="pj-beforeAfter pj-beforeAfter-vertical">
      <img class="pj-beforeAfter-before" style="clip: rect(0,900px,300px,0px)" src="../assets/before.jpg" alt="before"/>
      <img class="pj-beforeAfter-after" src="../assets/after.jpg" alt="after"/>
      <div class="pj-beforeAfter-labels pj-beforeAfter-labels-solid">
        <div class="pj-beforeAfter-label-before">Before</div>
        <div class="pj-beforeAfter-label-after">After</div>
      </div>
      <div class="pj-beforeAfter-handle">
        <i class="pj-beforeAfter-arrow-before fa fa-caret-up"></i>
        <i class="pj-beforeAfter-arrow-after fa fa-caret-down"></i>
      </div>
    </div>
  </section>
  <section class="top-gap">
    <h3>Outline Style</h3>
    <div class="pj-beforeAfter pj-beforeAfter-horizontal pj-beforeAfter--outline">
      <img class="pj-beforeAfter-before" style="clip: rect(0px,450px,600px,0px)" src="../assets/before.jpg" alt="before"/>
      <img class="pj-beforeAfter-after" src="../assets/after.jpg" alt="after"/>
      <div class="pj-beforeAfter-labels pj-beforeAfter-labels-bordered">
        <div class="pj-beforeAfter-label-before">Before</div>
        <div class="pj-beforeAfter-label-after">After</div>
      </div>
      <div class="pj-beforeAfter-handle">
        <i class="pj-beforeAfter-arrow-before fa fa-caret-left"></i>
        <i class="pj-beforeAfter-arrow-after fa fa-caret-right"></i>
      </div>
    </div>

    <div class="pj-beforeAfter pj-beforeAfter-vertical pj-beforeAfter--outline">
      <img class="pj-beforeAfter-before" style="clip: rect(0,900px,300px,0px)" src="../assets/before.jpg" alt="before"/>
      <img class="pj-beforeAfter-after" src="../assets/after.jpg" alt="after"/>
      <div class="pj-beforeAfter-labels pj-beforeAfter-labels-overlay">
        <div class="pj-beforeAfter-label-before">Before</div>
        <div class="pj-beforeAfter-label-after">After</div>
      </div>
      <div class="pj-beforeAfter-handle">
        <i class="pj-beforeAfter-arrow-before fa fa-caret-up"></i>
        <i class="pj-beforeAfter-arrow-after fa fa-caret-down"></i>
      </div>
    </div>
  </section>

  <section class="top-gap">
    <h3>Circle Style</h3>
    <div class="pj-beforeAfter pj-beforeAfter--circle pj-beforeAfter-horizontal">
      <img class="pj-beforeAfter-before" style="clip: rect(0px,450px,600px,0px)" src="../assets/before.jpg" alt="before"/>
      <img class="pj-beforeAfter-after" src="../assets/after.jpg" alt="after"/>
      <div class="pj-beforeAfter-labels pj-beforeAfter-labels-overlay pj-beforeAfter-labels-solid">
        <div class="pj-beforeAfter-label-before">Before</div>
        <div class="pj-beforeAfter-label-after">After</div>
      </div>
      <div class="pj-beforeAfter-handle">
        <i class="pj-beforeAfter-arrow-before fa fa-caret-left"></i>
        <i class="pj-beforeAfter-arrow-after fa fa-caret-right"></i>
      </div>
    </div>

    <div class="pj-beforeAfter pj-beforeAfter--circle pj-beforeAfter-vertical">
      <img class="pj-beforeAfter-before" style="clip: rect(0,900px,300px,0px)" src="../assets/before.jpg" alt="before"/>
      <img class="pj-beforeAfter-after" src="../assets/after.jpg" alt="after"/>
      <div class="pj-beforeAfter-labels pj-beforeAfter-labels-overlay  pj-beforeAfter-labels-bordered">
        <div class="pj-beforeAfter-label-before">Before</div>
        <div class="pj-beforeAfter-label-after">After</div>
      </div>
      <div class="pj-beforeAfter-handle">
        <i class="pj-beforeAfter-arrow-before fa fa-caret-up"></i>
        <i class="pj-beforeAfter-arrow-after fa fa-caret-down"></i>
      </div>
    </div>
  </section>

  <section class="top-gap">
    <h3>Rectangle Style</h3>
    <div class="pj-beforeAfter pj-beforeAfter--rectangle pj-beforeAfter-horizontal">
      <img class="pj-beforeAfter-before" style="clip: rect(0px,450px,600px,0px)" src="../assets/before.jpg" alt="before"/>
      <img class="pj-beforeAfter-after" src="../assets/after.jpg" alt="after"/>
      <div class="pj-beforeAfter-labels pj-beforeAfter-labels-start">
        <div class="pj-beforeAfter-label-before">Before</div>
        <div class="pj-beforeAfter-label-after">After</div>
      </div>
      <div class="pj-beforeAfter-handle"></div>
    </div>

    <div class="pj-beforeAfter pj-beforeAfter--rectangle pj-beforeAfter-vertical">
      <img class="pj-beforeAfter-before" style="clip: rect(0,900px,300px,0px)" src="../assets/before.jpg" alt="before"/>
      <img class="pj-beforeAfter-after" src="../assets/after.jpg" alt="after"/>
      <div class="pj-beforeAfter-labels pj-beforeAfter-labels-end">
        <div class="pj-beforeAfter-label-before">Before</div>
        <div class="pj-beforeAfter-label-after">After</div>
      </div>
      <div class="pj-beforeAfter-handle"></div>
    </div>
  </section>
</section>
<script>
(function(){
  Pj.beforeAfter('.pj-beforeAfter-horizontal', {
    direction: 'horizontal'
  });
  Pj.beforeAfter('.pj-beforeAfter-vertical', {
    direction: 'vertical'
  });

  var $elementApi;

  var APIS = {
    init() {
      $elementApi = Pj.beforeAfter('.example-api', {
        theme: 'outline',
        labels: false,
        labelTheme: 'solid bordered end',
        onChange: function(v) {
          log(v, 'event');
        },
        onReady: function() {
          log('ready', 'event');
        },
        onDestroy: function() {
          log('destroy', 'event');
        },
        onEnable: function() {
          log('enable', 'event');
        },
        onDisable: function() {
          log('disable', 'event');
        },
        onHover: function() {
          log('hover', 'event');
        },
        onHovered: function() {
          log('hovered', 'event');
        },
        onDrag: function() {
          log('drag', 'event');
        },
        onDragged: function() {
          log('dragged', 'event');
        },
      });
    },
    destroy() {
      $elementApi('destroy')
    },
    disable() {
      $elementApi('disable')
    },
    enable() {
      $elementApi('enable')
    },
    moveBy_nagetive() {
      log('moveBy(-0.1)', 'API');
      $elementApi('moveBy', -0.1)
    },
    moveBy() {
      log('moveBy(0.1)', 'API');
      $elementApi('moveBy', 0.1)
    },
    moveTo() {
      log('moveTo(0.7)', 'API');
      $elementApi('moveTo', 0.7)
    }
  }

  document.querySelectorAll('.apis').forEach(
    el => el.addEventListener('click', event => {
      if (event.target.matches('[data-api]')) {
        const api = event.target.dataset.api
        if (api) {
          APIS[api]()
        }
      }
  }))
})();
</script>
