@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$thumb: "pj-thumb" !default;

$thumb-height: 90px !default;
$thumb-width: 160px !default;
$thumb-gutter: 20px !default;

$thumb-video-color: $color-white !default;

$thumb-vertical-height: $thumb-height !default;
$thumb-vertical-width: $thumb-width !default;
$thumb-vertical-gutter: $thumb-gutter !default;

$thumb-dark-loader-color: $color-white !default;

.#{$thumb}s {
  position: relative;
  width: 100%;
  height: $thumb-height;
  overflow: hidden;
  text-align: center;

  &-inner {
    display: inline-block;
    height: 100%;
    text-align: center;
    white-space: nowrap;
  }
}

.#{$thumb} {
  position: relative;
  display: inline-block;
  width: $thumb-width;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  &-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    margin: auto;
    pointer-events: none;
    visibility: hidden;
    background-position: center;
    background-size: cover;
    opacity: 0;
  }

  &-video::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    content: "";
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 15px solid $thumb-video-color;
    opacity: 0;
  }

  &-loaded  {
    &.#{$thumb}-video::after {
      opacity: 0.5;
    }

    .#{$thumb} {
      &-loader {
        visibility: hidden;
      }

      &-img {
        visibility: visible;
        opacity: 0.5;
      }
    }
  }

  & + & {
    margin-left: $thumb-gutter;
  }

  &.#{$thumb}-active .#{$thumb}-img,
  &.#{$thumb}-active.#{$thumb}-video::after {
    opacity: 1;
  }
}

.#{$thumb}s-vertical {
  width: $thumb-vertical-width;
  height: 100%;

  .#{$thumb}s-inner {
    width: 100%;
    height: auto;
  }

  .#{$thumb} {
    display: block;
    width: 100%;
    height: $thumb-vertical-height;

    & + .#{$thumb} {
      margin-top: $thumb-gutter;
      margin-left: 0;
    }
  }
}

.#{$thumb}s--dark {
  .#{$thumb}-loader {
    border-color: $thumb-dark-loader-color;

    &::after {
      background-color: $thumb-dark-loader-color;
    }

  }
}
