@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$fontEditor: "pj-fontEditor" !default;

$fontEditor-sizer: $sizer;
// ======= core vars ====== //
$fontEditor-color: $gray-darker !default;
$fontEditor-color-light: $gray-light !default;
$fontEditor-border-width: 1px !default;
$fontEditor-border-color: $gray-border !default;
$fontEditor-border-style: solid !default;
$fontEditor-border: $fontEditor-border-width $fontEditor-border-style
  $fontEditor-border-color !default;
$fontEditor-border-radius: $border-radius-base !default;
$fontEditor-height: 5 * $fontEditor-sizer !default; //50px
// fill
$fontEditor-fill-width: 20 * $fontEditor-sizer !default; //260px
$fontEditor-fill-font-size: $font-size-sm !default;
$fontEditor-fill-change-bg: $color-opacity !default;
$fontEditor-fill-change-opacity: 1 !default;
$fontEditor-fill-i-color: $gray-dark !default; //#ccd1d9
// empty
$fontEditor-empty-border-style: dashed !default;
$fontEditor-empty-fill-hover-bg: $gray-lightest !default;
// decorations
$fontEditor-decorations-li: $gray-darker !default; //#ccd1d9
$fontEditor-decorations-active: $color-primary-active !default;
// control
$fontEditor-control-color: $gray !default;
// content
$fontEditor-content-width: 23 * $fontEditor-sizer !default; //180px

$fontEditor-dropdown-height: 3 * $fontEditor-sizer !default; //30px
// ======= support Plugin's vars ====== //
// dropdown
// $dropdown-min-width: 180px !default;
//$dropdown-height: 30px !default;
//$dropdown-trigger-color: #bbb !default;
//$dropdown-trigger-border-color: #e4e4e4 !default;
//$dropdown-trigger-bg-color: $color-white !default;
//$dropdown-trigger-fill-hover-border-color: #bbb !default;
//$dropdown-panel-border-color: $dropdown-trigger-border-color !default;
//$dropdown-panel-bg-color: $dropdown-trigger-bg-color !default;
//$dropdown-panel-li-color: #777 !default;
//$dropdown-panel-li-bg-color: $dropdown-trigger-bg-color !default;
//$dropdown-panel-li-fill-hover-color: $color-white !default;
//$dropdown-panel-li-fill-hover-bg-color: #41a9e5 !default;
// unit

// Core
// =====================
.#{$fontEditor} {
  box-sizing: border-box;
  display: inline-block;
  height: $fontEditor-height;

  &-trigger {
    height: $fontEditor-height;
  }

  &-empty,
  &-fill {
    position: relative;
    box-sizing: border-box;
    display: block;
    min-width: $fontEditor-fill-width;
    //height: $fontEditor-height;
    height: 100%;
    padding: 0.6 * $fontEditor-sizer 2 * $fontEditor-sizer; //6px 20px
    line-height: $fontEditor-height;
    //line-height: 30px;
    // border: $fontEditor-border;
    border-radius: $fontEditor-border-radius;

    > i {
      float: left;
      margin-right: 0.8 * $fontEditor-sizer; //8px
      font-size: $font-size-base + 5px; //20px
      font-style: normal;
      color: $fontEditor-fill-i-color;
    }
  }

  &-empty {
    font-size: $font-size-sm;
    color: $fontEditor-color-light;
    cursor: pointer;
    border-style: $fontEditor-empty-border-style;

    &:hover {
      background-color: $fontEditor-empty-fill-hover-bg;
      transition: background-color 0.3s;
    }
  }

  &-fill {
    align-items: center;
    color: $fontEditor-color;

    &-font {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-size: $fontEditor-fill-font-size;
      text-align: left;

      &-name {
        display: block;
        line-height: 1.4 * $fontEditor-sizer; //14px
      }

      &-sub {
        display: block;
        font-size: $font-size-xs;
        line-height: 1.2 * $fontEditor-sizer; //12px
      }
    }

    &-change {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      font-size: $font-size-lg;
      line-height: $fontEditor-height;
      color: $color-white;
      text-align: center;
      background-color: $fontEditor-fill-change-bg;
      border-radius: $fontEditor-border-radius;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &-remove,
    &-edit {
      margin: 0 1.6 * $fontEditor-sizer; //0 16px

      &:hover {
        color: $gray-lighter;
        cursor: pointer;
      }
    }
  }
  // expand
  &-expand {
    &-panel {
      position: relative;
      z-index: 100;
      box-sizing: border-box;
      width: 27.2 * $fontEditor-sizer; //272px
      // height: 49.2 * $fontEditor-sizer; //49.2px
      padding: 2 * $fontEditor-sizer; //20px
      background-color: $color-white;
      border: $fontEditor-border;
      border-radius: $fontEditor-border-radius;
    }

    &-control {
      margin-top: 3 * $fontEditor-sizer; //30px
      text-align: right;
    }

    &-cancel,
    &-save {
      width: 9.1 * $fontEditor-sizer; //91px
      height: 3.2 * $fontEditor-sizer; //32px
      font-size: $font-size-xs;
      // color: $fontEditor-control-color;
      // background-color: $color-white;
      // border: 0;
      // border-radius: $fontEditor-border-radius;
    }

    // &-cancel:hover {
    //   color: $gray-light;
    // }

    // &-save {
    //   color: $color-white;
    //   background-color: $color-primary;
    // }
  }

  &-fontFamily,
  &-fontSize,
  &-lineHeight,
  &-fontWeight {
    align-items: center;
    justify-content: space-between;
    // padding: 5px 0;
    margin-bottom: 2 * $fontEditor-sizer; //30px

    &-title {
      order: 0;
      font-size: $font-size-base;
    }

    &-content {
      width: $fontEditor-content-width;
      margin-top: $fontEditor-sizer;
    }
  }

  &-fontFamily,
  &-fontWeight {
    &-dropdown {
      width: $fontEditor-content-width !important;
      height: $fontEditor-dropdown-height;

      // .pj-dropdown-trigger {
      //   padding: 4px 14px;
      //   font-size: 12px;
      // }
    }
  }

  &-fontSize,
  &-lineHeight {
    &-range.pj-range-control {
      width: 11 * $fontEditor-sizer; //110px
    }
  }

  &-decorations {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3.2 * $fontEditor-sizer; //32px
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    border: 1px solid #e6e6e6;
    li {
      display: block;
      float: left;
      width: 1.2 * $fontEditor-sizer; //12px
      height: 1.2 * $fontEditor-sizer; //12px
      margin-bottom: 0;
      line-height: 1;
      color: $fontEditor-decorations-li;
      text-transform: none;

      cursor: pointer;
      // Better Font Rendering ===========
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &:first-child {
        margin-left: 0;
      }

      &.#{$fontEditor}-active,
      &:hover {
        color: $fontEditor-decorations-active;
      }
    }
  }
  // state
  &_temporarilyoff {
    pointer-events: none;
    opacity: 0.5;
  }

  // inherit
  &-inherit {
    .pj-range-control {
      visibility: hidden !important;
    }

    .pj-units-trigger {
      left: 0 !important;
      width: 100% !important;
      background-color: $color-white !important;
      border: 1px solid $gray-lighter !important;
    }
  }
}

// dropdown
// ============================
.pj-dropdown-wrapper {
  position: relative;
}

.#{$fontEditor}-write {
  .#{$fontEditor}-empty {
    display: block !important;
    //line-height: 50px;
    padding: 0 2 * $font-size-base; //0 20px
  }

  .#{$fontEditor}-fill,
  .#{$fontEditor}-expand-panel {
    display: none !important;
  }
}

.#{$fontEditor}-exsit {
  .#{$fontEditor}-empty,
  .#{$fontEditor}-expand-panel {
    display: none !important;
  }

  .#{$fontEditor}-fill {
    display: flex !important;
  }
}

/* stylelint-disable*/
.#{$fontEditor}-expand {      
  .#{$fontEditor}-empty{
    display: none !important;
  }
  .#{$fontEditor}-expand-panel {
    display: block !important;
  }
  .#{$fontEditor}-fill{
    display: flex !important;
  }
}

.#{$fontEditor}-fill-hover {
  .#{$fontEditor}-fill {
    &-change {
      opacity: $fontEditor-fill-change-opacity;
      transition: all 300ms;
    }
  }
}
/* stylelint-enable*/

.#{$fontEditor}-disabled {
  .#{$fontEditor}-fill {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;

    &-remove,
    &-edit {
      cursor: not-allowed;
    }
  }
  .#{$fontEditor}-empty {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
  }
  .#{$fontEditor}-fill-change {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
  }
}

.pj-btn-primary {
  background-color: $btn-color-primary;
  border-color: $btn-color-primary;
}
