@import "@pluginjs/styles/variables.scss";
@import "./font-editor.core";

// Vars
// =====================
$fontEditor: "pj-fontEditor";
// ======= core vars ====== //
$fontEditor-font-family: $font-family-base;
$fontEditor-font-size: $font-size-base;
$fontEditor-line-height: 16px;
$fontEditor-width: 200px;

$fontEditor-padding: 8px 12px;

$fontEditor-color: $gray-darker;
$fontEditor-color-light: $gray-lighter;
$fontEditor-border-width: 1px;
$fontEditor-border-color: $border-color;
$fontEditor-border-style: solid;

$fontEditor-border: $fontEditor-border-width $fontEditor-border-style
  $fontEditor-border-color;
$fontEditor-border-radius: $border-radius-base;
// trigger
$fontEditor-trigger-color: $color-white;
$fontEditor-trigger-bg: rgba($color-black, 0.8);
$fontEditor-trigger-edit-margin: 30px;
// icon
$fontEditor-i-margin-right: 8px;
$fontEditor-i-font-size: 20px;
$fontEditor-i-color: $gray;
// filed
$fontEditor-dropdown-filed-margin-bottom: 24px;
$fontEditor-dropdown-filed-content-margin: 12px;
// fill
$fontEditor-fill-font-size: $font-size-sm;
$fontEditor-fill-change-opacity: 1;
// empty
$fontEditor-empty-border-style: dashed;
$fontEditor-empty-fill-hover-bg: $gray-lightest;

$fontEditor-name-margin-right: 12px;
$fontEditor-name-font-size: $font-size-base;
$fontEditor-sub-font-size: $font-size-xs;
// decorations
$fontEditor-decorations-padding: 8px 10px;
$fontEditor-decorations-li: $gray-darker;
$fontEditor-decorations-active: $color-primary-active;
// control
$fontEditor-control-button-padding: 8px 28px;

// Styles
// =====================
.#{$fontEditor} {
  width: $fontEditor-width;
  font-family: $fontEditor-font-family;

  &-trigger {
    &-action {
      color: $fontEditor-trigger-color;
      background-color: $fontEditor-trigger-bg;
      border-radius: $fontEditor-border-radius;
      opacity: 0;
      transition: opacity 0.3s;

      &-edit {
        margin-right: $fontEditor-trigger-edit-margin;
      }

      &-remove,
      &-edit {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-open-disabled {
    pointer-events: none;
  }

  &-empty,
  &-fill {
    padding: $fontEditor-padding;
    border-radius: $fontEditor-border-radius;

    > i {
      float: left;
      margin-right: $fontEditor-i-margin-right;
      font-size: $fontEditor-i-font-size;
      font-style: normal;
      color: $fontEditor-i-color;
    }
  }

  &-empty {
    font-size: $font-size-sm;
    color: $fontEditor-color-light;
    cursor: pointer;
    border: $fontEditor-border-width $fontEditor-empty-border-style $fontEditor-border-color;

    &:hover {
      background-color: $fontEditor-trigger-bg;
      transition: background-color 0.3s;
    }
  }

  &-fill {
    color: $fontEditor-color;
    border: $fontEditor-border;

    &-content {
      font-size: $fontEditor-fill-font-size;
      text-align: left;

      &-name {
        display: inline-block;
        margin-right: $fontEditor-name-margin-right;
        font-size: $fontEditor-font-size;
        line-height: $fontEditor-line-height;
      }

      &-sub {
        display: inline-block;
        font-size: $fontEditor-sub-font-size;
        line-height: $fontEditor-line-height;
      }
    }
  }

  // expand
  &-dropdown {
    border: $fontEditor-border;
  }

  &-control {
    text-align: right;
  }

  &-cancel,
  &-save {
    padding: $fontEditor-control-button-padding !important;
    line-height: $fontEditor-line-height !important;
  }

  &-field {

    &-title {
      order: 0;
      font-size: $fontEditor-font-size;
    }

    &-content {
      margin-top: $fontEditor-dropdown-filed-content-margin;
    }
  }

  &-fontFamily,
  &-fontWeight,
  &-lineHeight {
    margin-bottom: $fontEditor-dropdown-filed-margin-bottom;
  }

  .pj-fontPicker {
    width: 214px;
  }

  &-decorations {
    padding: $fontEditor-decorations-padding;
    margin-bottom: $fontEditor-dropdown-filed-margin-bottom;
    border: $fontEditor-border;

    li {
      line-height: 1;
      color: $fontEditor-decorations-li;
      text-transform: none;
      cursor: pointer;
      // Better Font Rendering ===========
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &.#{$fontEditor}-active,
      &:hover {
        color: $fontEditor-decorations-active;
      }
    }
  }
}

// dropdown
// ============================
.#{$fontEditor}-write {
  .#{$fontEditor}-empty {
    display: flex !important;
  }

  .#{$fontEditor}-fill,
  .#{$fontEditor}-trigger-action{
    display: none !important;
  }
}

.#{$fontEditor}-exsit {
  .#{$fontEditor}-empty {
    display: none !important;
  }

  .#{$fontEditor}-fill {
    display: flex !important;
  }
}

/* stylelint-disable */
.#{$fontEditor}-show {
  .#{$fontEditor}-empty{
    display: none !important;
  }
  .#{$fontEditor}-dropdown {
    display: block !important;
  }
  .#{$fontEditor}-fill{
    display: flex !important;
  }
}

.#{$fontEditor}-trigger-hover {
  .#{$fontEditor}-trigger {
    &-action {
      opacity: $fontEditor-fill-change-opacity;
      transition: all 300ms;
    }
  }
}

/* stylelint-enable */
.#{$fontEditor}-disabled {
  .#{$fontEditor}-fill {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
    border-color: $disabled-border;

    &-remove,
    &-edit {
      cursor: not-allowed;
    }
  }

  .#{$fontEditor}-empty {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
    border-color: $disabled-border;
  }

  .#{$fontEditor}-fill-change {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
    border-color: $disabled-border;
  }
}
