// ==============================
//            keyframes
// ==============================
@keyframes pj-reveal-fadeIn {
	from {
		filter: alpha(opacity=0);
		opacity: 0;
	}

	to {
    filter: alpha(opacity=100);
		opacity: 1;
	}
}

@keyframes pj-reveal-fadeUp {
	from {
		opacity: 0;
		transform: translate3d(0, 6rem, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes pj-reveal-fadeDown {
	from {
		opacity: 0;
		transform: translate3d(0, -6rem, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes pj-reveal-fadeLeft {
	from {
		opacity: 0;
		transform: translate3d(6rem, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes pj-reveal-fadeRight {
	from {
		opacity: 0;
		transform: translate3d(-6rem, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes pj-reveal-fadeUpLeft {
  from {
    opacity: 0;
    transform: translate3d(-6rem, 6rem, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes pj-reveal-fadeUpRight {
  from {
    opacity: 0;
    transform: translate3d(6rem, 6rem, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes pj-reveal-fadeDownLeft {
  from {
    opacity: 0;
    transform: translate3d(-6rem, -6rem, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes pj-reveal-fadeDownRight {
  from {
    opacity: 0;
    transform: translate3d(6rem, -6rem, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


// ==============================
//
//            Fades
//
// ==============================
.#{$reveal}.pj-reveal-fadeIn {
	animation-name: pj-reveal-fadeIn;
}

.#{$reveal}.pj-reveal-fadeUp {
	animation-name: pj-reveal-fadeUp;
}

.#{$reveal}.pj-reveal-fadeDown {
	animation-name: pj-reveal-fadeDown;
}

.#{$reveal}.pj-reveal-fadeLeft {
	animation-name: pj-reveal-fadeLeft;
}

.#{$reveal}.pj-reveal-fadeRight {
	animation-name: pj-reveal-fadeRight;
}

.#{$reveal}.pj-reveal-fadeUpLeft {
	animation-name: pj-reveal-fadeUpLeft;
}

.#{$reveal}.pj-reveal-fadeUpRight {
	animation-name: pj-reveal-fadeUpRight;
}

.#{$reveal}.pj-reveal-fadeDownLeft {
	animation-name: pj-reveal-fadeDownLeft;
}

.#{$reveal}.pj-reveal-fadeDownRight {
	animation-name: pj-reveal-fadeDownRight;
}
