// ==============================
//            keyframes
// ==============================
@keyframes pj-reveal-rollLeft {
  0% {
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    transform: none;
  }
}

@keyframes pj-reveal-rollRight {
  0% {
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    transform: none;
  }
}

@keyframes pj-reveal-rollUp {
  0% {
    transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    transform: none;
  }
}

@keyframes pj-reveal-rollDown {
  0% {
    transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    transform: none;
  }
}

// ==============================
//
//            Rolls
//
// ==============================
.#{$reveal}.pj-reveal-rollLeft {
  animation-name: pj-reveal-rollLeft;
}

.#{$reveal}.pj-reveal-rollRight {
  animation-name: pj-reveal-rollRight;
}

.#{$reveal}.pj-reveal-rollUp {
  animation-name: pj-reveal-rollUp;
}

.#{$reveal}.pj-reveal-rollDown {
  animation-name: pj-reveal-rollDown;
}
