// ==============================
//            keyframes
// ==============================
@keyframes pj-reveal-rotate {
  0% {
    transform: rotate3d(0, 0, 1, -200deg);
		transform-origin: center;
  }

  100% {
    transform: none;
    transform-origin: center;
  }
}

@keyframes pj-reveal-rotateUpLeft {
  0% {
    transform: rotate3d(0, 0, 1, 45deg);
		transform-origin: left bottom;
  }

  100% {
    transform: none;
    transform-origin: left bottom;
  }
}

@keyframes pj-reveal-rotateUpRight {
  0% {
    transform: rotate3d(0, 0, 1, -90deg);
		transform-origin: right bottom;
  }

  100% {
    transform: none;
    transform-origin: right bottom;
  }
}

@keyframes pj-reveal-rotateDownLeft {
  0% {
    transform: rotate3d(0, 0, 1, -45deg);
		transform-origin: left bottom;
  }

  100% {
    transform: none;
    transform-origin: left bottom;
  }
}

@keyframes pj-reveal-rotateDownRight {
  0% {
    transform: rotate3d(0, 0, 1, 45deg);
		transform-origin: right bottom;
  }

  100% {
    transform: none;
    transform-origin: right bottom;
  }
}


// ==============================
//
//            Rotates
//
// ==============================
.#{$reveal}.pj-reveal-rotate {
  animation-name: pj-reveal-rotate;
}

.#{$reveal}.pj-reveal-rotateUpLeft {
  animation-name: pj-reveal-rotateUpLeft;
}

.#{$reveal}.pj-reveal-rotateUpRight {
  animation-name: pj-reveal-rotateUpRight;
}

.#{$reveal}.pj-reveal-rotateDownLeft {
  animation-name: pj-reveal-rotateDownLeft;
}

.#{$reveal}.pj-reveal-rotateDownRight {
  animation-name: pj-reveal-rotateDownRight;
}
