// ==============================
//            keyframes
// ==============================
@keyframes pj-reveal-slideLeft {
  0% {
    transform: translate3d(100vw, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pj-reveal-slideRight {
  0% {
    transform: translate3d(-100vw, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pj-reveal-slideUp {
  0% {
    transform: translate3d(0, 100vh, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pj-reveal-slideDown {
  0% {
    transform: translate3d(0, -100vh, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}


// ==============================
//
//            Slides
//
// ==============================
.#{$reveal}.pj-reveal-slideLeft {
  animation-name: pj-reveal-slideLeft;
}

.#{$reveal}.pj-reveal-slideRight {
  animation-name: pj-reveal-slideRight;
}

.#{$reveal}.pj-reveal-slideUp {
  animation-name: pj-reveal-slideUp;
}

.#{$reveal}.pj-reveal-slideDown {
  animation-name: pj-reveal-slideDown;
}
