@keyframes pj-zoomOut {
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomOut {
  animation-name: pj-zoomOut;
}

@keyframes pj-zoomOutUp {
  0% {
    transform: scale3d(0.3, 0.3, 0.3) translate3d(0, 100%, 0);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomOutUp {
  animation-name: pj-zoomOutUp;
}

@keyframes pj-zoomOutDown {
  0% {
    transform: scale3d(0.3, 0.3, 0.3) translate3d(0, -100%, 0);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomOutDown {
  animation-name: pj-zoomOutDown;
}

@keyframes pj-zoomOutLeft {
  0% {
    transform: scale3d(0.3, 0.3, 0.3) translate3d(100%, 0, 0);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomOutLeft {
  animation-name: pj-zoomOutLeft;
}

@keyframes pj-zoomOutRight {
  0% {
    transform: scale3d(0.3, 0.3, 0.3) translate3d(-100%, 0, 0);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomOutRight {
  animation-name: pj-zoomOutRight;
}
