@keyframes pj-zoomIn {
  0% {
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomIn {
  animation-name: pj-zoomIn;
}

@keyframes pj-zoomInUp {
  0% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(0, 50%, 0);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomInUp {
  animation-name: pj-zoomInUp;
}

@keyframes pj-zoomInDown {
  0% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(0, -50%, 0);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomInDown {
  animation-name: pj-zoomInDown;
}

@keyframes pj-zoomInLeft {
  0% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(50%, 0, 0);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomInLeft {
  animation-name: pj-zoomInLeft;
}

@keyframes pj-zoomInRight {
  0% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(-50%, 0, 0);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.#{$reveal}.pj-zoomInRight {
  animation-name: pj-zoomInRight;
}
