@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$popover: "pj-popover" !default;
$popover-zindex: $zindex-popover !default;

$popover-max-height: 50vh !default;
$popover-line-hight: 22px !default;

$popover-title-line-height: 1.5em !default;

$popover-arrow-width: 10px !default;
$popover-arrow-spacer: $popover-arrow-width + 1 !default;
$popover-arrow-color: $color-white !default;
$popover-arrow-offset-x: 10px !default;
$popover-arrow-offset-y: 10px !default;

// Core
// =====================
.#{$popover} {
  position: absolute;
  left: 0;
  z-index: $popover-zindex;
  display: block;
  line-height: $popover-line-hight;
  opacity: 0;

  &-title {
    line-height: $popover-title-line-height;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: transparent;
    
    &:not(:disabled):hover {
      background: initial;
    }
  }

  .#{$popover}-content {
    max-height: $popover-max-height;
    overflow: auto;
  }

  &-arrow {
    &::before {
      position: absolute;
      pointer-events: none;
      content: "";
      border-color: transparent;
      border-style: solid;
      border-width: $popover-arrow-width;
    }

    &[x-placement^="top"] {
      margin-bottom: $popover-arrow-spacer;

      &::before {
        bottom: -$popover-arrow-width;
        border-top-color: $popover-arrow-color;
        border-bottom-width: 0;
      }
    }

    &[x-placement^="bottom"] {
      margin-top: $popover-arrow-spacer;

      &::before {
        top: -$popover-arrow-width;
        border-top-width: 0;
        border-bottom-color: $popover-arrow-color;
      }
    }

    &[x-placement="top"],
    &[x-placement="bottom"] {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &[x-placement^="top-start"],
    &[x-placement^="bottom-start"]{
      &::before {
        left: $popover-arrow-offset-x;
      }
    }

    &[x-placement^="top-end"],
    &[x-placement^="bottom-end"] {
      &::before {
        right: $popover-arrow-offset-x;
        left: auto;
      }
    }

    &[x-placement^="right"] {
      margin-left: $popover-arrow-spacer;

      &::before {
        left: -$popover-arrow-width;
        border-right-color: $popover-arrow-color;
        border-left-width: 0;
      }
    }

    &[x-placement^="left"] {
      margin-right: $popover-arrow-spacer;

      &::before {
        right: -$popover-arrow-width;
        border-right-width: 0;
        border-left-color: $popover-arrow-color;
      }
    }

    &[x-placement^="right"],
    &[x-placement^="left"] {
      &::before {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &[x-placement="left-start"],
    &[x-placement="right-start"] {
      &::before {
        top: $popover-arrow-offset-y;
        transform: none;
      }
    }

    &[x-placement="left-end"],
    &[x-placement="right-end"] {
      &::before {
        top: auto;
        bottom: $popover-arrow-offset-y;
      }
    }
  }

  &-fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  
    &.#{$popover}-show {
      opacity: 1;
    }
  }
}
