@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$popover: "pj-popover" !default;
$popover-zindex: $zindex-popover !default;
$popover-max-height: 50vh !default;

$popover-bg: $color-white !default;

$popover-arrow-size: 10px !default;
$popover-arrow-spacer: $popover-arrow-size !default;

// Core
// =====================
.#{$popover} {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $popover-zindex;
  box-sizing: border-box;
  display: block;
  background-color: $popover-bg;

  &-inner {
    box-sizing: border-box;
    width: 100%;
    max-height: $popover-max-height;
    overflow: auto;
    color: inherit;
    background-color: inherit;

    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
  }

  &-content {
    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  }

  &-show {
    opacity: 1;
  }

  &-witharrow {
    &[x-placement^="top"] {
      margin-bottom: $popover-arrow-spacer;
    }

    &[x-placement^="right"] {
     margin-left: $popover-arrow-spacer;
    }

    &[x-placement^="bottom"] {
      margin-top: $popover-arrow-spacer;
    }

    &[x-placement^="left"] {
      margin-right: $popover-arrow-spacer;
    }
  }
}

.#{$popover}-arrow {
  position: absolute;
  z-index: -1;
  width: $popover-arrow-size;
  height: $popover-arrow-size;
  background-color: inherit;

  [x-placement^="top"] &,
  [x-placement^="bottom"] & {
    transform: translateY(-50%) rotate(45deg);
  }

  [x-placement^="right"] &,
  [x-placement^="left"] & {
    transform: translateX(-50%) rotate(45deg);
  }

  [x-placement^="top"] & {
    top: 100%;
  }

  [x-placement^="right"] & {
    left: 0;
  }

  [x-placement^="bottom"] & {
    top: 0;
  }

  [x-placement^="left"] & {
    left: 100%;
  }
}
