@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$popover: "pj-popover" !default;
$popover-font-family: $font-family-base !default;
$popover-font-size: $font-size-sm !default;
$popover-max-width: 286px !default;
$popover-max-height: 50vh !default;
$popover-color: $text-color !default;
$popover-lineHight: 22px !default;
$popover-zindex: $zindex-popover !default;
$popover-bg: $color-white !default;
$popover-border-width: 1px !default;
$popover-opacity: 0.9 !default;
$popover-border-color: $border-color !default;
$popover-border-radius: $border-radius-base !default;
$popover-box-shadow: 0 5px 20px 0 rgba($color-black, 0.1) !default;
$popover-margin-spacer: 19.88px !default;
$popover-close-spacer-y: 9.94px !default;
$popover-close-spacer-x: 9.94px !default;
$popover-spacer-x: 24px !default;
$popover-spacer-y: 18.62px !default;
$popover-close-font-size: $font-size-lg !default;
$popover-close-color: $gray-dark !default;
$popover-close-line-height: 1em !default;
$popover-title-spacer: $popover-spacer-y $popover-spacer-x 0 $popover-spacer-x !default;
$popover-content-margin-top: 9.8px !default;
$popover-content-color: $gray-darker !default;
$popover-content-link-color: $color-primary !default;
$popover-content-font-size: $font-size-sm !default;
$popover-title-font-size: $font-size-lg !default;
$popover-title-line-height: 1.5em !default;
$popover-content-spacer: 0 $popover-spacer-x !default;
$popover-arrow-width: 9.94px !default;
$popover-arrow-color: $popover-bg !default;
$popover-arrow-outer-width: ($popover-arrow-width + 1px) !default;
$popover-arrow-outer-color: $popover-bg !default;
$popover-arrow-offset-x: 9.94px !default;
$popover-arrow-offset-y: 9.94px !default;

$popover-btn-padding-y: 12.5 !default;
$popover-btn-padding-x: 30.1px !default;

@mixin reset-text {
  font-family: $font-family-base;
  // We deliberately do NOT reset font-size or word-wrap.
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  // text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
}

// Core
// =====================
.#{$popover} {
  @include reset-text();

  position: absolute;
  left: 0;
  z-index: $popover-zindex;
  display: block;
  max-width: $popover-max-width;
  margin-bottom: $popover-margin-spacer;
  font-family: $popover-font-family;
  font-size: $popover-font-size;
  line-height: $popover-lineHight;
  color: $popover-color;
  // Allow breaking very long words so they don't overflow the popover's bounds
  word-wrap: break-word;
  background-color: $popover-bg;
  background-clip: padding-box;
  border-radius: $popover-border-radius;
  box-shadow: $popover-box-shadow;
  opacity: 0;

  h3 {
    margin-top: 0;
  }

  &.#{$popover}-show {
    opacity: $popover-opacity;
  }

  &-btn {
    padding: $popover-btn-padding-y $popover-btn-padding-x;
    font-size: $popover-font-size;
  }

  &-arrow {
    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      pointer-events: none;
      border-color: transparent;
      border-style: solid;
    }
    &::before {
      content: "";
      border-width: $popover-arrow-outer-width;
    }

    &::after {
      content: "";
      border-width: $popover-arrow-width;
    }

    // placement^="top"
    &[x-placement^="top"] {
      &::before,
      &::after {
        border-bottom-width: 0;
      }

      &::before {
        bottom: -$popover-arrow-outer-width;
        border-top-color: $popover-arrow-outer-color;
      }

      &::after {
        bottom: -($popover-arrow-outer-width - 2);
        border-top-color: $popover-arrow-color;
      }
    }
     // placement^="bottom"
    &[x-placement^="bottom"] {
      &::before,
      &::after {
        border-top-width: 0;
      }

      &::before {
        top: -$popover-arrow-outer-width;
        border-bottom-color: $popover-arrow-outer-color;
      }

      &::after {
        top: -($popover-arrow-outer-width - 2);
        border-bottom-color: $popover-arrow-color;
      }
    }

    // placement="top", "bottom"
    &[x-placement="top"],
    &[x-placement="bottom"] {
      &::before,
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    // placement="top left", "bottom left"
    &[x-placement^="top-start"],
    &[x-placement^="bottom-start"]{
      &::before,
      &::after {
        margin-left: 0;
      }

      &::before {
        left: $popover-arrow-offset-x;
      }

      &::after {
        left: $popover-arrow-offset-x + 1;
      }
    }

    // placement="top right", "bottom right"
    &[x-placement^="top-end"],
    &[x-placement^="bottom-end"] {
      &::before,
      &::after {
        left: auto;
        margin-left: 0;
      }

      &::before {
        right: $popover-arrow-offset-x;
      }

      &::after {
        right: $popover-arrow-offset-x + 1;
      }
    }
    &[x-placement^="right"] {
      &::before,
      &::after {
        left: 0;
        border-left-width: 0;
        // transform: translateX(calc(-100% + 1px)) translateY(-50%);
      }

      &::before {
        border-right-color: $popover-arrow-outer-color;
        transform: translateX(-100%) translateY(-50%);
      }

      &::after {
        border-right-color: $popover-arrow-color;
        transform: translateX(calc(-100% + 1px)) translateY(-50%);
      }
    }

    // placement^="left"
    &[x-placement^="left"] {
      &::before,
      &::after {
        right: 0;
        border-right-width: 0;
        transform: translateX(100%) translateY(-50%);
      }

      &::before {
        border-left-color: $popover-arrow-outer-color;
      }

      &::after {
        border-left-color: $popover-arrow-color;
      }
    }

    // placement="right", "left"
    &[x-placement^="right"],
    &[x-placement^="left"] {
      &::before,
      &::after {
        top: 50%;
      }
    }

    // placement="left top", "left top"
    &[x-placement="left-start"],
    &[x-placement="right-start"] {
      &::before {
        top: $popover-arrow-offset-y + 5px;
      }

      &::after {
        top: $popover-arrow-offset-y + 6px;
      }
    }

    // placement="right bottom", "left bottom"
    &[x-placement="left-end"],
    &[x-placement="right-end"] {
      &::before,
      &::after {
        top: auto;
        margin-top: 0;
      }

      &::before {
        bottom: $popover-arrow-offset-y;
      }

      &::after {
        bottom: $popover-arrow-offset-y + 1;
      }
    }
  }
}

*[x-placement="bottom"],
*[x-placement="bottom-start"],
*[x-placement="bottom-end"] {
  margin: 0;
  margin-top: $popover-margin-spacer;
}

*[x-placement="left"],
*[x-placement="left-start"],
*[x-placement="left-end"] {
  margin: 0;
  margin-right: $popover-margin-spacer;
}

*[x-placement="right"],
*[x-placement="right-start"],
*[x-placement="right-end"] {
  margin: 0;
  margin-left: $popover-margin-spacer;
}

// Offset the popover to account for the popover arrow
.#{$popover}-content {
  max-height: $popover-max-height;
  padding: $popover-content-spacer;
  margin: $popover-content-margin-top 0 $popover-spacer-y;
  overflow: auto;
  font-size: $popover-content-font-size;
  color: $popover-content-color;

  p {
    margin-top: 0;
  }

  a {
    color: $popover-content-link-color;
    text-decoration: none;
  }
}

.#{$popover}-title {
  padding: $popover-title-spacer;
  margin-bottom: 0;
  font-size: $popover-title-font-size;
  line-height: $popover-title-line-height;

  & + .#{$popover}-content:empty {
    margin-top: 0;
  }

  &:empty {
    display: none;
  }

  &:empty + .#{$popover}-content {
    padding-top: $popover-spacer-y;
    margin-top: 0;
  }
}

.#{$popover}-button {
  font-size: $popover-font-size;
}

// Close
.#{$popover}-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: $popover-close-spacer-y $popover-close-spacer-x;
  font-size: $popover-close-font-size;
  line-height: $popover-close-line-height;
  color: $popover-close-color;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  opacity: 0.5;
  appearance: none;
  // -webkit-appearance: none;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &:not(:disabled):hover {
    background: initial;
  }
}

// Animation
.#{$popover}-fade {
  opacity: 0;
  transition: opacity 0.15s linear;

  &.#{$popover}-show {
    opacity: 1;
  }
}
