@import "@pluginjs/styles/variables.scss";
@import "popover.core";

// Vars
// =====================
$popover: "pj-popover";

$popover-font-family: $font-family-base;
$popover-font-size: $font-size-sm;
$popover-line-height: $line-height-sm;

$popover-width: 400px;
$popover-padding: 32px;

$popover-color: $gray-darker;
$popover-bg: $color-white;
$popover-box-shadow: $box-shadow-base;
$popover-border-radius: $border-radius-base;

$popover-close-size: 14px;
$popover-close-padding: 16px;

$popover-arrow-size: 10px;
$popover-arrow-spacer: $popover-arrow-size * 0.75;
$popover-arrow-pos: 20px;
$popover-arrow-pos-vertical: 10px;
$popover-arrow-bottom-box-shadow: -3px -3px 10px 0 rgba(0, 0, 0, 0.03);

$popover-dark-color: $color-white;
$popover-dark-bg: $gray-darkest;
$popover-dark-box-shadow: $box-shadow-base;

// Skins
// =====================
.#{$popover}-arrow {
  &::before {
    width: $popover-arrow-size;
    height: $popover-arrow-size;
    background-color: $popover-bg;
  }

  &[x-placement^="top"] {
    margin-bottom: $popover-arrow-spacer;
  }

  &[x-placement^="right"] {
   margin-left: $popover-arrow-spacer;
  }

  &[x-placement^="bottom"] {
    margin-top: $popover-arrow-spacer;

    &::before {
      box-shadow: $popover-arrow-bottom-box-shadow;
    }
  }

  &[x-placement^="left"] {
    margin-right: $popover-arrow-spacer;
  }
}

.#{$popover} {
  width: $popover-width;
  font-family: $popover-font-family;
  font-size: $popover-font-size;
  color: $popover-color;
  background-color: $popover-bg;
  border-radius: $popover-border-radius;
  box-shadow: $popover-box-shadow;

  &-inner {
    padding: $popover-padding;
  }

  &-close {
    padding: $popover-close-padding;
    font-size: $popover-close-size;
    opacity: 0.5;

    &:not(:disabled):hover {
      opacity: 1;
    }
  }
}

.#{$popover}--dark {
  color: $popover-dark-color;
  background-color: $popover-dark-bg;
  box-shadow: $popover-dark-box-shadow;

  &.#{$popover}-arrow::before {
    background-color: $popover-dark-bg;
  }
}
