@import "@pluginjs/styles/variables.scss";
// Vars
// =====================
$units: "pj-units" !default;
// Core
// =====================
.#{$units} {
  position: relative;

  &-input {
    width: 100%;
  }

  &-trigger {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    height: 100%;
  }

  &-static {
    .#{$units}-input {
      pointer-events: none;
    }

    .#{$units}-trigger {
      width: 100%;
      padding-right: 0;
      text-align: center;
    }
  }
}
