@import "@pluginjs/styles/variables.scss";
// Vars
// =====================
$units: "pj-units" !default;
$units-sizer: $sizer !default;
$units-width: 8 * $units-sizer !default; //80px
$units-height: 3.2 * $units-sizer !default; //32px
$units-color: $text-color !default;

$units-trigger-width: 2.6 * $units-sizer !default; //22px
$units-trigger-height: $units-height !default;
$units-trigger-color: $units-color !default;

$units-disabled-color: $disabled-color !default;
$units-disabled-opacity: 0.4 !default;
// Core
// =====================
.#{$units} {
  position: relative;
  width: $units-width;
  height: $units-height;

  &-active {
    &,
    &:hover {
      .#{$units}-input {
        border-color: $color-primary;
      }
    }
  }

  &-input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.6 * $units-sizer 0.8 * $units-sizer !important; //6px 8px
    padding-right: 20px !important;
    border-radius: $border-radius-base !important;
  }

  &-trigger {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: $units-trigger-width;
    height: 100%;
    padding: 0 5px !important;
    line-height: $units-trigger-height !important;
    color: $units-trigger-color;
    text-align: right;
    border: none !important;
    outline: none;
  }

  &-static {
    .#{$units}-input {
      pointer-events: none;
    }

    .#{$units}-trigger {
      width: 100%;
      text-align: center
    }
  }

  &-disabled {
    cursor: not-allowed;

    .#{$units}-input {
      border-color: $units-disabled-color;
    }

    .#{$units}-input:hover {
      border-color: $units-disabled-color;
    }

    .#{$units}-trigger {
      color: $units-disabled-color;
    }
  }
}
