@import "@pluginjs/styles/variables.scss";
@import "unit.core";

// Vars
// =====================
$units: "pj-units" !default;
$dropdown: "pj-dropdown" !default;

$units-width: 8 * $units-sizer !default; //80px
$units-height: 3 * $units-sizer !default; //30px
$units-font-size: $font-size-base !default;
$units-color: $gray !default;
$units-border-color: $gray !default;
$units-hover-color: $gray-darker !default;
$units-active-color: $border-color-active !default;
$units-border-radius: $border-radius-base !default;
$units-trigger-width: 22px !default;
$units-trigger-font-size: $font-size-base !default;

// Theme
// =====================
.#{$units} {
  &-input {
    .#{$units}-trigger {
      font-size: $units-trigger-font-size;

      &:hover,
      &:focus {
        color: $units-active-color;
        border-color: $units-active-color;
      }
    }

    .#{$units}-only {
      cursor: default;
      background-color: transparent;
      opacity: 1;

      &:hover {
        color: $text-color;
      }
    }
  }

  &-dropdown {
    font-size: $font-size-xs;
    border: 1px solid $units-border-color;
    box-shadow: none;
  }
}

#{$units}-active {
  .#{$units}-input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .#{$units}-trigger {
    color: $units-active-color;
  }
}
