@import "@pluginjs/styles/variables.scss";
@import "unit.core";

// Vars
// =====================
$units: "pj-units";
$input: "pj-input";
$dropdown: "pj-dropdown";

$units-font-family: $font-family-base;
$units-font-size: $font-size-base;
$units-active-color: $border-color-active;

$units-width: 80px;
$units-height: 32px;

$units-border-color: $gray-light;

$units-trigger-font-size: $font-size-base;
$units-trigger-color: $gray-dark;
$units-trigger-height: $units-height;
$units-trigger-spacer: 8px;

$units-input-padding: 8px 24px 8px 8px;

$units-dropdown-box-shadow: 0 0 10px 0 rgba($color-black, 0.07);

$units-disabled-color: $disabled-color;

// Theme
// =====================
.#{$units} {
  width: $units-width;
  font-family: $units-font-family;

  &-active {
    .#{$units}-trigger {
      color: $units-active-color;
    }

    &,
    &:hover {
      .#{$units}-input {
        border-color: $units-active-color;
      }
    }
  }

  &-input {
    &.#{$input} {
      padding: $units-input-padding;
    }
  }

  &-trigger {
    padding: 0 $units-trigger-spacer;
    padding-left: 0;
    font-size: $units-trigger-font-size;
    line-height: $units-trigger-height;
    color: $units-trigger-color;
    text-align: right;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      color: $units-active-color;
      border-color: $units-active-color;
    }

    &.#{$units}-only {
      cursor: default;
    }
  }

  &-dropdown {
    width: 100%;
    font-size: $units-font-size;
    border: 1px solid $units-border-color;
    box-shadow: $units-dropdown-box-shadow;

    .#{$dropdown}-item {
      text-align: right;
    }
  }

  &-disabled {
    cursor: not-allowed;

    .#{$units}-input {
      border-color: $units-disabled-color;
    }

    .#{$units}-input:hover {
      border-color: $units-disabled-color;
    }

    .#{$units}-trigger {
      color: $units-disabled-color;
    }
  }
}
