@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$countdown: "pj-countdown";
$countdown-progress-font-size: $font-size-sm;
$countdown-progress-number-size: 46px;

$countdown-progress-width: 160px;

// progress
// =====================

.#{$countdown}-progress {
  .#{$countdown} {
    font-size: $countdown-progress-font-size;

    &-time {
      width: $countdown-progress-width;
    }

    &-number {
      font-size: $countdown-progress-number-size;
    }
  }
}
