@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$countdown: "pj-countdown";
$countdown-progress-font-size: 26px;
$countdown-progress-number-size: 2.5em;
$countdown-progress-label-size: 0.6em;

// progress
// =====================

.#{$countdown}-progress {
  font-size: $countdown-progress-font-size;

  .#{$countdown} {

    &-number {
      font-size: $countdown-progress-number-size;
    }

    &-label {
      font-size: $countdown-progress-label-size;
    }
  }
}
