---
title: PopDialog
layout: plugin
styles:
- ../../plugins/popover/css/popover.css
- ../../plugins/pop-dialog/css/pop-dialog.css
scripts:
- ../../vendor/popper.js
- ../../plugins/tooltip/tooltip.js
- ../../plugins/popover/popover.js
- ../../plugins/pop-dialog/pop-dialog.js
---
<style>
.example {
  position: relative;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #f7f7f9;
}
.position-grid {
  display: flex;
  flex-wrap: wrap;
}
.position-cell {
  flex: 1 33.33%;
}
.position-cell a {
  display: inline-block;
  width: 90%;
  background: rgba(91,192,235,0.37);
  margin: 2px 0;
  padding: 16px 5px;
}
</style>
<section>
  <h3>Demo</h3>
  <div class="example">
    <button type="button" data-toggle="pop-dialog" title="PopDialog title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle pop-dialog</button>
  </div>
</section>
<section class="top-gap">
  <h3>Buttons</h3>
  <div class="example">
    <button type="button" data-toggle="default-button" title="Default Button">Default Button</button>
    <script>
    $(function(){
      Pj.popDialog('[data-toggle="default-button"]', {
        content: 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.'
      });
    });
    </script>
    <button type="button" data-toggle="single-button" title="Single Button">Single Button</button>
    <script>
    $(function(){
      Pj.popDialog('[data-toggle="single-button"]', {
        content: 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.',
        buttons: {
          ok: {
            label: 'OK!',
            color: 'primary',
            fn: function(resolve) {
              console.info('clicked OK!');
              resolve();
            }
          }
        }
      });
    });
    </script>
    <button type="button" data-toggle="two-button" title="Two Button">Two Button</button>
    <script>
    $(function(){
      Pj.popDialog('[data-toggle="two-button"]', {
        content: 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.',
        buttons: {
          cancel: {
            label: 'Cancel'
          },
          continue: {
            label: 'Continue',
            color: 'primary',
            fn: function(resolve) {
              console.info('clicked Continue');
              resolve();
            }
          }
        }
      });
    });
    </script>
    <button type="button" data-toggle="three-button" title="Three Button">Three Button</button>
    <script>
    $(function(){
      Pj.popDialog('[data-toggle="three-button"]', {
        content: 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.',
        buttons: {
          cancel: {
            label: 'Cancel'
          },
          delete: {
            label: 'Delete',
            color: 'danger',
            fn: function(resolve) {
              console.info('clicked Delete');
              resolve();
            }
          },
          save: {
            label: 'Save',
            color: 'primary',
            fn: function(resolve) {
              console.info('clicked Save');
              resolve();
            }
          }
        }
      });
    });
    </script>
  </div>
</section>
<section class="top-gap">
  <h3>Layout</h3>
  <div class="example">
    <button type="button" data-toggle="pop-dialog" title="Only title">Only title</button>
    <button type="button" data-toggle="pop-dialog" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Only Content</button>
    <button type="button" data-toggle="pop-dialog" title="PopDialog title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content</button>
    <button type="button" data-toggle="pop-dialog" data-close="true" title="PopDialog title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content + Close</button>
  </div>
</section>
<section class="top-gap">
  <h3>Contents</h3>
  <div class="example">
    <button type="button" data-toggle="pop-dialog-table" title="PopDialog title">Pop with table</button>
    <button type="button" data-toggle="pop-dialog-largeContent" title="PopDialog title">Pop with largeContent</button>
    <button type="button" data-toggle="pop-dialog-iframe" title="PopDialog title">Pop with iframe</button>
  </div>

  <script>
  $(function(){
    Pj.popDialog('[data-toggle="pop-dialog-table"]', {
      content: function() {
        return $('#tableContent').html();
      }
    });

    Pj.popDialog('[data-toggle="pop-dialog-largeContent"]', {
      content: function() {
        return $('#largeContent').html();
      }
    });

    Pj.popDialog('[data-toggle="pop-dialog-iframe"]', {
      content: function() {
        return '<iframe src="http://getbootstrap.com" frameborder="0" allowtransparency="true" height="100%" width="100%"></iframe>';
      }
    });
  });
  </script>
</section>
<section class="top-gap">
  <h3>close</h3>
  <div class="example">
    <button type="button" data-toggle="pop-dialog" data-close="true" data-placement="top" title="PopDialog with without" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog with close
    </button>
    <button type="button" data-toggle="pop-dialog" data-close="false" data-placement="top" title="PopDialog without close" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog without close
    </button>
  </div>
</section>
<section class="top-gap">
  <h3>hideOutClick</h3>
  <div class="example">
    <button type="button" data-toggle="pop-dialog" data-hide-out-click="true" data-placement="top" title="PopDialog with hideOutClick" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog with hideOutClick
    </button>
  </div>
</section>
<section class="top-gap">
  <h3>Skin</h3>
  <div class="example">
    <button type="button" data-toggle="pop-dialog" data-theme="dark" data-placement="top" title="PopDialog with dark skin" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog with dark skin
    </button>
  </div>
</section>
<section class="top-gap">
  <h3>Trigger</h3>
  <div class="example">
    <button type="button" data-toggle="pop-dialog" data-trigger="click" title="PopDialog with click" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog with click
    </button>
    <button type="button" data-toggle="pop-dialog" data-trigger="hover focus" title="PopDialog with hover focus" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog with hover focus
    </button>
    <button type="button" data-toggle="pop-dialog" data-trigger="hover" title="PopDialog with hover" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog with hover
    </button>
    <button type="button" data-toggle="pop-dialog" data-trigger="focus" title="PopDialog with focus" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog with focus
    </button>
    <button type="button" data-toggle="pop-dialog" data-trigger="manual" title="PopDialog with manual" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog with manual
    </button>
  </div>
</section>
<section class="top-gap">
  <h3>Positons</h3>
  <div class="example position-grid">
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="top left" title="Top Left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top Left</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="top" title="Top Middle" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top Middle</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="top right" title="Top Right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top Right</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="left top" title="Left Top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left Top</a></div>
    <div class="position-cell"></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="right top" title="Right Top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right Top</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="left" title="Left Middle" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left Middle</a></div>
    <div class="position-cell"></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="right" title="Right Middle" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right Middle</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="left bottom" title="Left Bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left Bottom</a></div>
    <div class="position-cell"></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="right bottom" title="Right Bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right Bottom</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="bottom left" title="Bottom Left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Bottom Left</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="bottom" title="Bottom Middle" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Bottom Middle</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="pop-dialog" data-placement="bottom right" title="Bottom Right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Bottom Right</a></div>
  </div>
</section>
<section class="top-gap">
  <h3>Events</h3>
  <div class="example">
    <button type="button" class="pop-dialog-event" data-html="true" title="hello world" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      PopDialog with event
    </button>
    <div class="console"></div>
    <script>
      $(document).ready(function() {
        var $element = document.querySelector('.pop-dialog-event');

        var events = ['ready', 'enable', 'disable', 'destroy', 'hide', 'hidden', 'show', 'shown', 'inserted']

        for(var i = 0; i < events.length; i++) {
          $element.addEventListener('pop-dialog:'+events[i], function(event, instance) {
            $('<div><span class="console-info">' + event.type + '</span>:triggered</div>').prependTo('.console');
          });
        }

        Pj.popDialog($element, {
          buttons: {
            continue: {
              label: 'Continue',
              color: 'primary',
              fn: function(resolve) {
                $('<div><span class="console-info">Continue</span>:clicked</div>').prependTo('.console');
                resolve();
              }
            }
          }
        });

        $('.api-init').on('click', function() {
          $element.asPopDialog();
        });

        $('.api-destroy').on('click', function() {
          $element.asPopDialog('destroy');
        });

        $('.api-enable').on('click', function() {
          $element.asPopDialog('enable');
        });

        $('.api-disable').on('click', function() {
          $element.asPopDialog('disable');
        });

        $('.api-show').on('click', function() {
          $element.asPopDialog('show');
        });

        $('.api-hide').on('click', function() {
          $element.asPopDialog('hide');
        });

        $('.api-toggle').on('click', function() {
          $element.asPopDialog('toggle');
        });

        $('.api-do').on('click', function() {
          $element.asPopDialog('do', 'continue');
        });
      });
    </script>
    <div class="apis pad-top-20">
      <button class="btn api-init">init</button>
      <button class="btn api-destroy">destroy</button>
      <button class="btn api-enable">enable</button>
      <button class="btn api-disable">disable</button>
      <button class="btn api-show">show</button>
      <button class="btn api-hide">hide</button>
      <button class="btn api-toggle">toggle</button>
      <button class="btn api-do">do(continue)</button>
    </div>
  </div>
</section>

<script>
$(function(){
  Pj.popDialog('[data-toggle="pop-dialog"]');
});
</script>


<div id="tableContent" style="display:none;">
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

  </div>

  <div id="largeContent" style="display:none;">
    <p><a href="#" class="pop-click">click</a> The jQuery Foundation&#8217;s <a href="http://jquery.org/mission">mission</a> has always been about more than just our namesake projects of jQuery, jQuery UI, and jQuery Mobile. We already host several projects such as Sizzle, QUnit and Globalize that are not dependent on the jQuery library.</p>
<p>This wider web-oriented mission is evident in our jQuery Conferences, which span a wide range of developer concerns beyond jQuery, including Node, CSS, tooling, testing and much more. Over the years we&#8217;ve had talks on build tools, accessibility, security, performance, design patterns, and frameworks such as Ember and Angular. At our San Diego conference this past February, for example, Lenny Markus gave a great talk on <a title="NodeJS In the Enterprise" href="https://www.youtube.com/watch?v=qJVk6KiOEBA" target="_blank">PayPal&#8217;s continuing adoption of Node</a> as they move away from Java and proprietary solutions, Catherine Farman talked about <a title="Real World Responsive Design Projects and Patterns" href="https://www.youtube.com/watch?v=CkC8F3x8-nc" target="_blank">real world responsive design</a>, and John Dimm gave a talk on the <a title="Fun with Speech" href="https://www.youtube.com/watch?v=n8G1CuR2zZc" target="_blank">HTML5 speech APIs</a>.</p>
<p>The jQuery Foundation is participating in the continuing evolution of the web platform via our memberships in both the W3C and ECMA TC39 (The group standardizing what we know as JavaScript). We feel that it&#8217;s essential to have strong representation in those standards groups to ensure they meet the needs of developers. The Foundation provides a platform for developers to have a voice in these standards bodies.</p>
<p>Beyond the technical compatibility between our projects, we also share the open source model and all the benefits it provides. The Foundation adds the benefit of a top-level structure designed to serve the projects, providing the resources they need but letting the contributors decide the best direction for the project based on community input. Any project that joins the Foundation is given the ability to serve their community&#8217;s needs rather than be constrained by the goals of a for-profit company.</p>
<p>Though this has been our mission for a long time, we felt we needed to make this clearer. We are excited to start bringing this part of our mission into the light and start actively working toward a more open web accessible to everyone. If you are excited as well, please help us. Contribute your time to <a href="https://jquery.org/projects/" target="_blank">Foundation projects</a>. Offer your company&#8217;s services. If you or your company have an established open source project that you believe could benefit everyone and flourish by becoming part of the jQuery Foundation, check out our philosophy around <a href="https://jquery.org/projects/join/">projects joining the Foundation</a> and <a href="mailto:info@jquery.org">var us know you’re interested</a>. If you would rather just support the existing and future projects of the Foundation through financial support, <a href="https://jquery.org/join/">become a member of the Foundation.</a> Open source projects will only thrive if everyone who benefits from them contributes back in whatever way they can.</p>
  </div>
