@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
// Vars
// ========================
$datePicker: "pj-datePicker" !default;

$datePicker-days-line-height: 30px !default;

$datePicker-mobile-width: 80% !default;
$datePicker-mobile-height: 80% !default;

$datePicker-dropdown-zindex: $zindex-dropdown !default;

$datePicker-mobile-zindex: $datePicker-dropdown-zindex + 1 !default;

$datePicker-cover-zindex: $datePicker-dropdown-zindex - 1 !default;

$datePicker-clear-icon: $pj-icon-close !default;
$datePicker-clear-font: $pj-icon-font-family !default;
$datePicker-clear-right: 35px !default;

// core
//==========================
.#{$datePicker} {
  display: inline-flex;

  &-input {
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  &-content {
    position: relative;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;

    span {
      position: relative;
      z-index: 0;

      &::after {
        position: absolute;
        top: 50%;
        z-index: -1;
        display: block;
        content: "";
        border-radius: 100%;
        transform: translateY(-50%);
      }
    }
  }

  &-isDays {
    > .#{$datePicker}-days {
      display: block;
    }
  }

  &-isMonths {
    .#{$datePicker}-months {
      display: block;
    }
  }

  &-isYears {
    .#{$datePicker}-years {
      display: block;
    }
  }

  &-days,
  &-months,
  &-years,
  &-buttons {
    display: none;
  }

  &-row,
  &-head {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      cursor: pointer;
    }
  }

  &-prev,
  &-next {
    width: 5%;
    margin-left: 5%;
    font-size: 16px;
  }
  &-caption {
    width: 70%;
  }

  &-days,
  &-months,
  &-years {
    height: 85%;
  }

  &-days {
    span {
      line-height: $datePicker-days-line-height;
    }
  }

  &-head {
    height: 13%;

    span {
      width: 14.28%;
      height: 100%;
      cursor: default;
    }
  }

  &-body {
    box-sizing: border-box;
    height: 87%;

    .#{$datePicker}-row {
      height: calc(100% / 6 - 4px);
    }

    span {
      width: 14.28%;
      height: auto;
      cursor: pointer;

      &.#{$datePicker}-otherMonth,
      &.#{$datePicker}-untouchable {
        cursor: default;
      }
    }
  }

  &-months,
  &-years {
    .#{$datePicker}-row {
      height: 25%;
    }

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 33.3%;
      height: 100%;
      font-size: $font-size-md;
      line-height: 61px;
      cursor: pointer;

      &.#{$datePicker}-untouchable {
        cursor: default;
      }
    }
  }

  &-hide {
    display: none !important;
  }

  &-show {
    display: block !important;
  }

  &-dropdown {
    z-index: $datePicker-dropdown-zindex;
  }
  
  .pj-dropdown {
    width: auto;
  }

  &-wrap {
    white-space: nowrap;

    &,
    & *:focus {
      outline: none;
    }
  }

  &-isMobile {
    position: fixed;
    top: 100px;
    z-index: $datePicker-mobile-zindex;
    width: $datePicker-mobile-width;
    height: $datePicker-mobile-height;
    line-height: 1;

    .#{$datePicker} {
      &-title {
        position: absolute;
        top: -1.5em;
        left: 0;
        width: 100%;
        text-align: center;
      }

      &-content {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
      }

      &-content.#{$datePicker}-show {
        display: block;
      }

      &-header {
        height: 10%;
      }

      &-days,
      &-months,
      &-years {
        height: 80%;
      }

      &-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10%;
      }

      &-buttons > div {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        font-size: $font-size-md;
        cursor: pointer;
      }
    }
  }

  &-cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $datePicker-cover-zindex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  &-inline {
    .#{$datePicker}-input,
    .#{$datePicker}-icon {
      display: none;
    }

    .#{$datePicker}-dropdown {
      position: relative;
      z-index: 500 !important;
    }
  }

  &-blocked {
    &.#{$datePicker}-next,
    &.#{$datePicker}-prev {
      cursor: default;

      &::before {
        display: none;
      }
    }
  }

  &-clear {
    position: absolute;
    top: 0;
    right: $datePicker-clear-right;
    z-index: 999;
    display: none;
    height: 100%;
    font-family: $datePicker-clear-font;
    color: $gray;

    &:hover {
      color: $color-black;
    }

    &::before {
      @include icon();
      vertical-align: middle;
      content: icon-content($datePicker-clear-icon);
    }

    &::after {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
  }
  &-selected {
    .#{$datePicker}-clear {
      display: inline-block !important;
    }
  }
}
