@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
@import "datePicker.core";

// Vars
// ========================
$datePicker: "pj-datePicker";

$datePicker-width: 200px;

$datePicker-font-size: $font-size-base;

$datePicker-icon: $pj-icon-calendar;
$datePickerr-font: $pj-icon-font-family;

$datePicker-mobile-trigger-padding: 7px 12px;
$datePicker-mobile-trigger-bg-color: $color-white;

$datePicker-divider-hover-color: $gray;

$datePicker-active-color: $color-white;
$datePicker-active-bg-color: $color-primary-active;
$datePicker-active-divider-color: $color-white;

$datePicker-content-padding: 10px;
$datePicker-content-bg-color: $color-white;

$datePicker-header-color: $gray-darkest;

$datePicker-row-spacer: 4px;

$datePicker-years-size: 56px;
$datePicker-years-radius: 8px;

$datePicker-select-inrange-bg-color: $color-white;

$datePicker-cover-bg-color: rgba($color-black, 0.5);
$datePicker-disabled-color: $disabled-color;
$datePicker-disabled-border-color: $disabled-color;
$datePicker-disabled-bg-color: $disabled-bg;
// color vars
$datePicker-inrange-color: #fff;
$datePicker-hover-color: #999;
$datePicker-hover-bg-color: $gray-light;
$datePicker-hover-dark-color: $gray-lighter;
$datePicker-color: $gray-darker;
$datePicker-input-color: $text-color;
$datePicker-input-width: 165px;
// border vars
$datePicker-border-width: 1px;
$datePicker-border-color: $gray;
$datePicker-border-style: solid;
$datePicker-border-radius: $border-radius-base;
// shadow vars
$datePicker-box-shadow: $box-shadow-6;
// icon vars
$datePicker-icon-color: $gray-dark; //#ccd1d9;
// head vars
$datePicker-head-color: #ccc;

$datePicker-other-month-color: #ccc;

$datePicker-span-bg-size: 30px;
$datePicker-span-focus-color: $color-primary;
// font-size vars
$datePicker-header-font-size: $font-size-lg;
$datePicker-head-font-size: $font-size-xs;
$datePicker-body-font-size: $font-size-xs;

$datePicker-header-border: $gray-light; //#ebebeb;
$datePicker-blocked-hover-color: $gray-dark; //#696969;

$datePicker-inrange-bg-color: $gray-light;
// ===========================

.#{$datePicker} {
  display: inline-flex;
  width: $datePicker-width;
  
  &-input,
  .pj-input-group-addon,
  &-mobile-trigger {
    border-color: $datePicker-border-color;
    border-style: $datePicker-border-style;
    border-width: $datePicker-border-width;
  }

  &-input,
  &-mobile-trigger {
    z-index: 1;
    width: $datePicker-input-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-mobile-trigger {
    box-sizing: border-box;
    display: inline-block;
    padding: $datePicker-mobile-trigger-padding;
    font-size: $datePicker-font-size;
    color: $datePicker-input-color;
    background-color: $datePicker-mobile-trigger-bg-color;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .pj-input-group-addon {
    box-sizing: border-box;
    text-align: center;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-icon {
    &::after {
      @include icon();
      font-family:$datePickerr-font;
      content: icon-content($datePicker-icon);
    }
  }

  &:hover {
    .#{$datePicker}-icon,
    .#{$datePicker}-input,
    .#{$datePicker}-mobile-trigger {
      color: $datePicker-hover-color;
      background-color: $datePicker-hover-bg-color;
      border-color: $datePicker-hover-bg-color;
    }

    .#{$datePicker}-input,
    .#{$datePicker}-mobile-trigger {
      border-right-color: $datePicker-divider-hover-color;
    }
  }

  &.#{$datePicker}-active {
    .#{$datePicker}-icon,
    .#{$datePicker}-input,
    .#{$datePicker}-mobile-trigger {
      color: $datePicker-active-color;
      background-color: $datePicker-active-bg-color;
      border-color: $datePicker-active-bg-color;
    }
    
    .#{$datePicker}-input,
    .#{$datePicker}-mobile-trigger {
      border-right-color: $datePicker-active-divider-color;
    }

    &:hover {
      .#{$datePicker}-icon,
      .#{$datePicker}-input,
      .#{$datePicker}-mobile-trigger { 
        background: $datePicker-active-bg-color;
        border-color: $datePicker-active-bg-color;
      }

      .#{$datePicker}-input,
      .#{$datePicker}-mobile-trigger { 
        border-right-color: $datePicker-active-divider-color;
      }
    }

    /* stylelint-disable */
    .#{$datePicker}-input {
      &::-webkit-input-placeholder{
        color: $color-white;
      }
      &:-moz-placeholder{
        color: $color-white
      }
      &::-moz-placeholder{
        color: $color-white
      }
      &:-ms-input-placeholder{
        color: $color-white
      }
    }
    /* stylelint-enable */

    &.#{$datePicker}-startDay,
    &.#{$datePicker}-endDay {
      &::before {
        position: absolute;
        left: 0;
        z-index: -1;
        display: block;
        width: 50%;
        height: 100%;
        content: "";
        background-color: $datePicker-inrange-color;
      }
    }

    &.#{$datePicker}-endDay::before {
      right: 0;
      left: auto;
    }

    &.#{$datePicker}-startDay.#{$datePicker}-select-last-in-month::before,
    &.#{$datePicker}-endDay.#{$datePicker}-select-first-in-month::before {
      display: none;
    }
  }

  &-content {
    padding: $datePicker-content-padding;
    color: $datePicker-color;
    background: $datePicker-content-bg-color;
    box-shadow: $datePicker-box-shadow;

    &:first-of-type {
      border-top-left-radius: $datePicker-border-radius;
      border-bottom-left-radius: $datePicker-border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $datePicker-border-radius;
      border-bottom-right-radius: $datePicker-border-radius;
    }

    &:only-of-type {
      border-radius: $datePicker-border-radius;
    }

    span {
      position: relative;
      z-index: 0;
      
      &::after {
        position: absolute;
        top: 50%;
        z-index: -1;
        display: block;
        width: $datePicker-span-bg-size;
        height: $datePicker-span-bg-size;
        content: "";
        border-radius: 100%;
        transform: translateY(-50%);
      }
    }
  }

  &-header {
    font-size: $datePicker-header-font-size;
    font-weight: 500;
    color: $datePicker-header-color;
    background-color: $datePicker-inrange-color;
    border-bottom: 1px solid $datePicker-header-border;
  }

  &-head {
    font-size: $datePicker-head-font-size;
    color: $datePicker-head-color;
  }

  &-body {
    font-size: $datePicker-body-font-size;

    .#{$datePicker}-inRange {
      background-color: $datePicker-inrange-bg-color;
    }

    .#{$datePicker}-inRange:first-of-type {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    .#{$datePicker}-inRange:last-of-type {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    .#{$datePicker}-otherMonth.#{$datePicker}-startDay {
      color: $datePicker-other-month-color;
      
      &::before {
        width: 100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
      
      &::after {
        width: 100%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }
  }
  

  &-body,
  &-months,
  &-years {
    span {
      &:hover::after {
        background-color: $datePicker-hover-bg-color;
      }

      &.#{$datePicker}-active.#{$datePicker}-focus {
        color: $datePicker-active-color;
      }

      &.#{$datePicker}-active {
        color: $datePicker-active-color;
      }

      &.#{$datePicker}-active::after {
        background-color: $datePicker-active-bg-color;
      }

      &.#{$datePicker}-otherMonth,
      &.#{$datePicker}-untouchable {
        color: $datePicker-other-month-color;

        &:hover {
          background: inherit;
        }
      }

      &.#{$datePicker}-otherYear {
        color: $gray-light;
        pointer-events: none;

        &:hover::after {
          background: transparent;
        }
      }

      &.#{$datePicker}-inRange:first-of-type {
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
      }

      &.#{$datePicker}-inRange:last-of-type {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
      }

      &.#{$datePicker}-focus {
        color: $datePicker-span-focus-color;
      }
    }
  }

  &-days {
    .#{$datePicker}-row {
      margin-bottom: $datePicker-row-spacer;

      .#{$datePicker}-inRange:last-of-type.#{$datePicker}-startDay,
      .#{$datePicker}-inRange:last-of-type.#{$datePicker}-select-first-in-month {
        &::before {
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
      }
    }
  }

  &-months,
  &-years {
    height: 100%;

    span::after {
      width: $datePicker-years-size;
      height: $datePicker-years-size;
      border-radius: $datePicker-years-radius;
    }
  }

  &-select-first-in-month,
  &-select-last-in-month {
    &.#{$datePicker}-inRange {
      background-color: $datePicker-select-inrange-bg-color;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
    }
  }

  &-select-first-in-month::before {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  &-select-last-in-month::before {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &-cover {
    background: $datePicker-cover-bg-color;
  }

  &-disabled {
    cursor: not-allowed;

    .#{$datePicker}-icon {
      color: $datePicker-disabled-color;
      background-color: $datePicker-disabled-bg-color;
    }

    &:hover {
      .#{$datePicker}-input,
      .#{$datePicker}-icon {
        color: $datePicker-disabled-color;
        background-color: $datePicker-disabled-bg-color;
        border-color:$datePicker-disabled-border-color;
      }
    }
    
    &:active {
      .#{$datePicker}-icon {
        background-color: $datePicker-disabled-bg-color;
        border-color: $datePicker-disabled-border-color;
      }
    }
    
    .#{$datePicker}-input {
      pointer-events: none;
    }
  }

  input[type="text"][disabled] {
    color: $datePicker-disabled-color;
    background-color: $datePicker-disabled-bg-color;
    
    &:hover {
      border: 1px solid $datePicker-disabled-border-color;
    }
    + .pj-datePicker-icon {
      background: transparent;
      border: 1px solid $datePicker-disabled-border-color;
      border-left: 0;
    }
    /* stylelint-disable */
    &::-webkit-input-placeholder{
      color: $datePicker-disabled-color;
    }
    &:-moz-placeholder{
      color: $datePicker-disabled-color;
    }
    &::-moz-placeholder{
      color: $datePicker-disabled-color;
    }
    &:-ms-input-placeholder{
      color: $datePicker-disabled-color;
    }
    /* stylelint-enable */
  }
}
