@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
@import "datePicker.core";

// Vars
// ========================
$datePicker: "pj-datePicker";

$datePicker-width: 100%;

$datePicker-font-size: $font-size-base;
$datePicker-font: $pj-icon-font-family;
$datePicker-font-weight: $font-weight-medium;

$datePicker-hover-color: $gray-dark;
$datePicker-hover-bg-color: $gray-lighter;

$datePicker-color: $gray-darker;

$datePicker-divider-hover-color: $gray-light;

$datePicker-active-color: $color-white;
$datePicker-active-bg-color: $color-primary-active;
$datePicker-active-divider-color: $color-white;

$datePicker-content-width: 276px;
$datePicker-content-height: 272px;
$datePicker-content-padding: 24px;
$datePicker-content-bg-color: $color-white;

$datePicker-header-color: $gray-darkest;
$datePicker-header-height: 16%;
$datePicker-header-font-size: $font-size-md;
$datePicker-header-border: $gray-lighter;
$datePicker-head-font-size: $font-size-xs;
$datePicker-head-color: #ccc;

$datePicker-row-spacer: 4px;

$datePicker-years-size: 56px;
$datePicker-years-radius: 8px;

$datePicker-cover-bg-color: rgba($color-black, 0.5);

$datePicker-disabled-color: $disabled-color;
$datePicker-disabled-border-color: $disabled-color;
$datePicker-disabled-bg-color: $disabled-bg;

$datePicker-inrange-color: #fff;
$datePicker-inrange-bg-color: $gray-lighter;

$datePicker-input-color: $text-color;
$datePicker-input-width: 165px;

$datePicker-border-width: 1px;
$datePicker-border-color: $border-color;
$datePicker-border-style: solid;
$datePicker-border-radius: $border-radius-base;

$datePicker-box-shadow: $box-shadow-1;

$datePicker-other-month-color: #ccc;

$datePicker-span-bg-size: 30px;
$datePicker-span-focus-color: $color-primary;

$datePicker-body-font-size: $font-size-xs;

// ===========================

.#{$datePicker} {
  width: $datePicker-width;
  font-family: $datePicker-font;

  &-input,
  &-icon,
  {
    border-color: $datePicker-border-color;
    border-style: $datePicker-border-style;
    border-width: $datePicker-border-width;
    outline: none;
  }

  &-input {
    width: $datePicker-input-width !important;
  }

  &.#{$datePicker}-active {
    /* stylelint-disable */
    .#{$datePicker}-input {
      &::-webkit-input-placeholder{
        color: $color-white;
      }
      &:-moz-placeholder{
        color: $color-white
      }
      &::-moz-placeholder{
        color: $color-white
      }
      &:-ms-input-placeholder{
        color: $color-white
      }
    }
    /* stylelint-enable */

    &.#{$datePicker}-startDay.#{$datePicker}-select-last-in-month::before,
    &.#{$datePicker}-endDay.#{$datePicker}-select-first-in-month::before {
      display: none;
    }
  }

  &-wrap {
    padding: $datePicker-content-padding;
    color: $datePicker-color;
    background: $datePicker-content-bg-color;
    box-shadow: $datePicker-box-shadow;
  }

  &-content {
    width: $datePicker-content-width;
    height: $datePicker-content-height;

    &:first-of-type {
      border-top-left-radius: $datePicker-border-radius;
      border-bottom-left-radius: $datePicker-border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $datePicker-border-radius;
      border-bottom-right-radius: $datePicker-border-radius;
    }

    &:only-of-type {
      border-radius: $datePicker-border-radius;
    }

    span {
      &::after {
        width: $datePicker-span-bg-size;
        height: $datePicker-span-bg-size;
      }
    }
  }

  &-header {
    height: $datePicker-header-height;
    font-size: $datePicker-header-font-size;
    font-weight: $datePicker-font-weight;
    color: $datePicker-header-color;
    background-color: $datePicker-inrange-color;
    border-bottom: 1px solid $datePicker-header-border;
  }

  &-head {
    margin-top: 8px;
    font-size: $datePicker-head-font-size;
    color: $datePicker-head-color;
  }

  &-body {
    font-size: $datePicker-body-font-size;

    .#{$datePicker}-inRange {
      background-color: $datePicker-inrange-bg-color;

      &.#{$datePicker}-endDay,
      &.#{$datePicker}-startDay {
        &::before {
          position: absolute;
          left: 0;
          z-index: -1;
          width: 50%;
          height: 100%;
          content: "";
          background: #fff;
        }
      }

      &.#{$datePicker}-endDay {
        &::before {
          right: 0;
          left: auto;
        }
      }

      &.#{$datePicker}-select-first-in-month,
      &.#{$datePicker}-select-last-in-month {
        &::before {
          width:100%;
        }
      }

      &:first-of-type,
      &.#{$datePicker}-select-first-in-month {
        border-top-left-radius: 1000px;
        border-bottom-left-radius: 1000px;
      }

      &:last-of-type,
      &.#{$datePicker}-select-last-in-month {
        border-top-right-radius: 1000px;
        border-bottom-right-radius: 1000px;
      }
    }

    .#{$datePicker}-otherMonth,
    .#{$datePicker}-untouchable {
      color: $datePicker-other-month-color;

      &:hover::after {
        background-color: transparent;
      }
    }
  }

  &-body,
  &-months,
  &-years {
    span {
      &:hover::after {
        background-color: $datePicker-hover-bg-color;
      }
    }

    .#{$datePicker}-active {
      color: $datePicker-active-color;

      &::after {
        background-color: $datePicker-active-bg-color !important;
      }
    }

    .#{$datePicker}-otherYear {
      color: $gray-lighter;
      pointer-events: none;

      &:hover::after {
        background: transparent;
      }
    }

    .#{$datePicker}-focus {
      color: $datePicker-span-focus-color;

      &.#{$datePicker}-active {
        color: $datePicker-active-color;
      }
    }
  }

  &-days {
    .#{$datePicker}-row {
      margin-bottom: $datePicker-row-spacer;
    }
  }

  &-months,
  &-years {
    height: 100%;

    span::after {
      width: $datePicker-years-size;
      height: $datePicker-years-size;
      border-radius: $datePicker-years-radius;
    }
  }

  &-select-first-in-month,
  &-select-last-in-month {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
    }
  }

  &-cover {
    background: $datePicker-cover-bg-color;
  }

  &-disabled {
    cursor: not-allowed;

    .#{$datePicker}-icon {
      color: $datePicker-disabled-color;
      background-color: $datePicker-disabled-bg-color;
    }

    &:hover {
      .#{$datePicker}-input,
      .#{$datePicker}-icon {
        color: $datePicker-disabled-color;
        background-color: $datePicker-disabled-bg-color;
        border-color:$datePicker-disabled-border-color;
      }
    }

    &:active {
      .#{$datePicker}-icon {
        background-color: $datePicker-disabled-bg-color;
        border-color: $datePicker-disabled-border-color;
      }
    }

    .#{$datePicker}-input {
      pointer-events: none;
    }
  }

  input[type="text"][disabled] {
    color: $datePicker-disabled-color;
    background-color: $datePicker-disabled-bg-color;

    &:hover {
      border: 1px solid $datePicker-disabled-border-color;
    }
    + .pj-datePicker-icon {
      background: transparent;
      border: 1px solid $datePicker-disabled-border-color;
      border-left: 0;
    }
    /* stylelint-disable */
    &::-webkit-input-placeholder{
      color: $datePicker-disabled-color;
    }
    &:-moz-placeholder{
      color: $datePicker-disabled-color;
    }
    &::-moz-placeholder{
      color: $datePicker-disabled-color;
    }
    &:-ms-input-placeholder{
      color: $datePicker-disabled-color;
    }
    /* stylelint-enable */
  }
}
