@import "@pluginjs/styles/variables.scss";
@import "datePicker.core";

// Vars
// ========================
$datePicker: "pj-datePicker" !default;
$datePicker-sizer: $sizer;
// color vars
$datePicker-active-color: $color-primary-active !default;
$datePicker-inrange-color: #fff !default;
$datePicker-hover-color: $gray-light !default;
$datePicker-hover-dark-color: $gray-lighter !default;
$datePicker-color: $text-color !default;
$datePicker-input-color: $text-color !default;
$datePicker-input-width: 15 * $datePicker-sizer !default; //130
// border vars
$datePicker-border-width: 1px !default;
$datePicker-border-color: $gray !default;
$datePicker-border-style: solid !default;
$datePicker-border: $datePicker-border-width $datePicker-border-style
  $datePicker-border-color !default;
$datePicker-border-radius: $border-radius-base !default;
// shadow vars
$datePicker-box-shadow: $box-shadow-base !default;
// icon vars
$datePicker-icon-color: $gray-dark !default; //#ccd1d9 !default;
// head vars
$datePicker-head-color: $gray !default;
// font-size vars
$datePicker-header-font-size: $font-size-lg !default;
$datePicker-head-font-size: $font-size-sm !default;
$datePicker-body-font-size: $font-size-base !default;

$datePicker-header-border: $gray-lightest !default; //#ebebeb !default;
$datePicker-blocked-hover-color: $gray-dark !default; //#696969 !default;

// default
// ===========================

&.#{$datePicker}-inputWrap {
  display: inline-flex;

  &:hover {

    .#{$datePicker}-icon {
      background-color: rgba(#000, 0.05);
      border-color: rgba(#000, 0.05) !important;
    }
    .#{$datePicker}-input {
      background-color: rgba(#000, 0.05);
      border-color: rgba(#000, 0.05);
    }
    .#{$datePicker}-mobile-trigger {
      background-color: rgba(#000, 0.05);
      border-color: rgba(#000, 0.05);
    }
  }
  &:active {
    .#{$datePicker}-icon {
      border-color: $gray-light;
    }
    .#{$datePicker}-input {
      border-color: $gray-light;
    }
    .#{$datePicker}-mobile-trigger {
      border-color: $gray-light;
    }
  }

  &:focus {
    .#{$datePicker}-icon {
      border-color: $gray-light;
    }
    .#{$datePicker}-input {
      border-color: $gray-light;
    }
    .#{$datePicker}-mobile-trigger {
      border-color: $gray-light;
    }
  }

  &.#{$datePicker}-active {
    .#{$datePicker}-icon {
      color: $color-white;
      background-color: $datePicker-active-color;
      border-color: $datePicker-active-color;
    }
    .#{$datePicker}-input {
      color: $color-white;
      background-color: $datePicker-active-color;
      border-color: $color-primary-dark;
    }
  }

  input {
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
  }

}

.#{$datePicker}-active {
  /* stylelint-disable */
  .#{$datePicker}-input {
    &::-webkit-input-placeholder{
      color: $color-white;
    }
    &:-moz-placeholder{
      color: $color-white
    }
    &::-moz-placeholder{
      color: $color-white
    }
    &:-ms-input-placeholder{
      color: $color-white
    }
  }
  /* stylelint-enable */
  .#{$datePicker} {
    &-input,
    &-icon,
    &-mobile-trigger {
      border-color: $datePicker-active-color;
    }

    &-input:active {
      border-color: $color-primary-dark;
    }

    &-input:focus {
      border-color: $color-primary-dark;
    }

    &-input:hover + .#{$datePicker}-icon {
      border-color: $datePicker-active-color;
    }

    &-input:focus + .#{$datePicker}-icon {
      border-color: $datePicker-active-color;
    }

    &-input:active + .#{$datePicker}-icon {
      border-color: $color-primary-dark;
    }

    &-icon {
      color: $color-white;
      background-color: $datePicker-active-color;
      &:hover {
        background-color: $datePicker-active-color;
      }
    }
  }

  &.#{$datePicker}-startDay,
  &.#{$datePicker}-endDay {
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
      display: block;
      width: 50%;
      height: 100%;
      content: "";
      background-color: $datePicker-inrange-color;
      transform: translateY(-50%);
    }
  }

  &.#{$datePicker}-startDay::before {
    right: 0;
    left: auto;
  }

  &.#{$datePicker}-startDay.#{$datePicker}-select-last-in-month::before,
  &.#{$datePicker}-endDay.#{$datePicker}-select-first-in-month::before {
    display: none;
  }
}
  &.#{$datePicker}-disabled{
    cursor: not-allowed;
    &:hover {
        .#{$datePicker}-icon {
          background-color: $color-white;
          border-color:#e6e6e6;
        }

        .#{$datePicker}-input {
          background-color: $color-white;
          border:1px solid #e6e6e6;
        }
      }

      &.#{$datePicker}-inputWrap {
      &:hover {
        .#{$datePicker}-icon {
          background-color: $color-white;
          border-color:#e6e6e6 !important;
        }
      }

      &:active {
        .#{$datePicker}-icon {
          background-color: none;
          border-color:#e6e6e6;
        }

        .icon-calendar::before {
          color: #e6e6e6;
        }
      }
    }

    .#{$datePicker}-icon {
      color: #e6e6e6;
      background-color: #fff !important;
    }
    
    .#{$datePicker}-input {
      pointer-events: none;
    }
 }

.#{$datePicker} {
  &-input,
  &-icon,
  &-mobile-trigger {
    border: $datePicker-border;
    border-radius: $datePicker-border-radius;
  }

  &-input,
  &-mobile-trigger {
    width: $datePicker-input-width;
    padding: 0 16px;
    font-size: 13px;
    line-height: 20px;
    color: $datePicker-input-color;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
      border-color: $gray-light;
      border-right: $datePicker-border;
    }

    &:hover + .#{$datePicker}-icon {
      border-color: $gray-light;
      border-left: 0;
    }

    &:focus + .#{$datePicker}-icon {
      color: $color-white;
      background-color: $datePicker-active-color;
    }

    &:active + .#{$datePicker}-icon {
      color: $color-white;
      background-color: $datePicker-active-color;
    }
  }

  input[type="text"][disabled]:hover {
    border-color: $datePicker-active-color;
  }
  input[type="text"]:focus {
    border-color: $datePicker-active-color;
  }
  input[type="text"]:active {
    border-color: $datePicker-active-color;
  }

  &-mobile-trigger {
    //max-width: $datePicker-input-width;
    display: inline-block;
    min-width: $datePicker-input-width;
    padding: 0.3em 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
  }

  &-icon {
    //width: 30px;
    box-sizing: border-box;
    // height: 3 * $datePicker-sizer; //30px
    height: 3.4 * $datePicker-sizer;
    padding: 0 1 * $datePicker-sizer; //0 7px
    font-size: $font-size-sm;
    line-height: 3.4 * $datePicker-sizer; //30px
    color: $datePicker-icon-color;
    text-align: center;
    background-color: #fff;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-content {
    color: $datePicker-color;
    box-shadow: $datePicker-box-shadow;

    &:first-of-type {
      border-bottom-left-radius: $datePicker-border-radius;

      .#{$datePicker}-header {
        border-top-left-radius: $datePicker-border-radius;
        //border-top-right-radius: $datePicker-border-radius
      }
    }

    &:last-of-type {
      border-top-right-radius: $datePicker-border-radius;
      border-bottom-right-radius: $datePicker-border-radius;

      .#{$datePicker}-header {
        border-top-right-radius: $datePicker-border-radius;
        border-bottom-right-radius: $datePicker-border-radius;
      }
    }

    &:only-of-type {
      border-radius: $datePicker-border-radius;

      .#{$datePicker}-header {
        border-top-left-radius: $datePicker-border-radius;
        border-top-right-radius: $datePicker-border-radius;
      }
    }

    span {
      position: relative;
      z-index: 0;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        display: block;
        width: 31px;
        height: 31px;
        content: "";
        border-radius: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &-header {
    font-size: $datePicker-header-font-size;
    font-weight: 500;
    color: $color-primary-black;
    background-color: $datePicker-inrange-color;
    border-bottom: 1px solid $datePicker-header-border;
  }

  &-prev,
  &-next {
    background-repeat: no-repeat;
    background-position: center;
    &.#{$datePicker}-blocked,
    &.#{$datePicker}-blocked:hover {
      color: $datePicker-blocked-hover-color;
      cursor: auto;
    }
  }

  &-head {
    font-size: $datePicker-head-font-size;
    // font-weight: $font-weight-bold;
    color: $datePicker-head-color;
  }

  &-body {
    font-size: $datePicker-body-font-size;

    span.#{$datePicker}-inRange {
      background-color: $datePicker-inrange-color;
    }
    .#{$datePicker}-row {
      .#{$datePicker}-inRange:first-of-type {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
      .#{$datePicker}-inRange:last-of-type {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }
  }

  &-body,
  &-months,
  &-years {
    span {
      &:hover::after {
        background-color: $datePicker-hover-color;
      }

      &.#{$datePicker}-active.#{$datePicker}-focus {
        color: $color-white;
      }

      &.#{$datePicker}-active {
        color: $color-white;
      }

      &.#{$datePicker}-active::after {
        background-color: $datePicker-active-color;
      }

      &.#{$datePicker}-otherMonth,
      &.#{$datePicker}-untouchable {
        color: $gray;

        &::after {
          content: none;
        }
      }
      &.#{$datePicker}-otherYear {
        color: $gray-light;
        pointer-events: none;
        &:hover::after {
          background: none;
        }
      }

      &.#{$datePicker}-inRange:hover::after,
      &.#{$datePicker}-inRange.#{$datePicker}-active {
        background-color: $color-white;
      }

      &.#{$datePicker}-inRange.#{$datePicker}-active::after {
        background-color: $datePicker-active-color !important;
        border-radius: 100%;
      }

      &.#{$datePicker}-inRange:first-of-type {
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
      }

      &.#{$datePicker}-inRange:last-of-type {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
      }

      &.#{$datePicker}-focus {
        color: $color-primary;
      }
    }
  }

  &-days {
    padding: 10px;

    .#{$datePicker}-row {
      margin-bottom: 4px;

      .#{$datePicker}-inRange:last-of-type.#{$datePicker}-startDay,
      .#{$datePicker}-inRange:last-of-type.#{$datePicker}-select-first-in-month {
        &::before {
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
      }
    }
  }

  &-months,
  &-years {
    height: 100%;
    span::after {
      width: 56px;
      height: 56px;
      border-radius: 8px;
    }
  }

  &-select-first-in-month,
  &-select-last-in-month {
    background-color: $color-white !important;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $datePicker-inrange-color;
    }
  }

  &-select-first-in-month::before {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  &-select-last-in-month::before {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

input[type="text"][disabled] {
  color: $disabled-color;
  background-color: $disabled-bg;
  &:hover {
    border: 1px solid $disabled-border;
  }
  + .pj-datePicker-icon {
    background: transparent;
    border: 1px solid $disabled-border;
    border-left: 0;
  }
  /* stylelint-disable */
  &::-webkit-input-placeholder{
    color: $disabled-color;
  }
  &:-moz-placeholder{
    color: $disabled-color;
  }
  &::-moz-placeholder{
    color: $disabled-color;
  }
  &:-ms-input-placeholder{
    color: $disabled-color;
  }
  /* stylelint-enable */
}
/*stylelint-disable*/
.#{$datePicker}-body {
  span.#{$datePicker}-otherMonth.#{$datePicker}-inRange.#{$datePicker}-active.#{$datePicker}-startDay {
    color: $gray-light;
    &::before {
      width: 100%;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    &::after {
      width: 100%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
  span.#{$datePicker}-untouchable {
    + .#{$datePicker}-inRange {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
  }
}
