@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

$gradientPicker: "pj-gradientPicker" !default;
$colorPicker: "pj-colorPicker" !default;

$gradientPicker-border-width: 1px !default;
$gradientPicker-border-color: #e6e6e6 !default;
$gradientPicker-preview-span-left: calc(50% - #{$gradientPicker-border-width}) !default;

// panel
$gradientPicker-panel-width: 290px !default;

// preview
$gradientPicker-preview-bg: $color-white !default;
$gradientPicker-preview-width: 45px !default;
$gradientPicker-preview-height: 32px !default;
$gradientPicker-preview-bg-width: 36px !default;
$gradientPicker-preview-bg-height: 24px !default;
// remove
$gradientPicker-clear-right: $gradientPicker-preview-width + 6px !default;
$gradientPicker-clear-icon: $pj-icon-close !default;
$gradientPicker-clear-font: $pj-icon-font-family !default;

$gradientPicker-gradient-bar-height: 16px !default;
$gradientPicker-gradient-bar-width: 240px !default;
$gradientPicker-marker-width: 12px !default;
$gradientPicker-marker-height: 12px !default;
// wheel
$gradientPicker-wheel-width: 22px !default;
$gradientPicker-wheel-height: $gradientPicker-wheel-width !default;

.#{$gradientPicker} {
  &-trigger {
    position: relative;
  }

  &-input {
    width: 100% !important;
  }

  &-panel {
    box-sizing: border-box;
    width: $gradientPicker-panel-width;
  }

  &-remove {
    position: absolute;
    top: 50%;
    right: $gradientPicker-clear-right;
    z-index: 1;
    transform: translateY(-50%);
  }

  &-clear {
    position: absolute;
    top: 0;
    right: $gradientPicker-clear-right;
    display: none;
    height: 100%;
    font-family: $gradientPicker-clear-font;

    &::before {
      @include icon();
      vertical-align: middle;
      content: icon-content($gradientPicker-clear-icon);
    }

    &::after {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
  }

  &-preview {
    position: absolute;
    top: 50%;
    right: 1px;
    width: $gradientPicker-preview-width;
    height: $gradientPicker-preview-height - 2px;
    cursor: pointer;
    background-color: $gradientPicker-preview-bg;
    transform: translateY(-50%);

    span {
      position: absolute;
      top: 50%;
      left: $gradientPicker-preview-span-left;
      display: inline-block;
      width: $gradientPicker-preview-bg-width;
      height: $gradientPicker-preview-bg-height;
      transform: translate(-50%,-50%);
    }

    &-bg {
      z-index: -1;
    }
  }

  &-handle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .#{$gradientPicker}-bar {
      position: relative;
      width: $gradientPicker-gradient-bar-width;
      height: $gradientPicker-gradient-bar-height;

      &:hover {
        cursor: copy;
      }

      &-view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .#{$gradientPicker}-delete {
      cursor: not-allowed;

      &-active {
        cursor: pointer;
      }
    }
  }

  .#{$colorPicker}-panel {
    width: 100%;
    padding: 0;
    border: none !important;
  }

  &-inline {
    border: 1px solid $gradientPicker-border-color;
    box-shadow: none;
  }

  &-marker {
    position: absolute;
    top: 50%;
    z-index: 2;
    box-sizing: border-box;
    width: $gradientPicker-marker-width;
    height: $gradientPicker-marker-height;
    cursor: pointer;
    transform: translateY(-50%);

    &:hover,
    &:active {
      transition: transform 0.3s;
      transform: translateY(-50%) scale(1.2);
    }

    &:focus {
      outline: none;
    }

    &.#{$gradientPicker}-marker-active {
      transition: transform 0.3s;
      transform: translateY(-50%) scale(1.2);
    }
  }

  &-wheel {
    position: relative;
    width: $gradientPicker-wheel-width;
    height: $gradientPicker-wheel-height;

    &:hover {
      cursor: pointer;
    }

    &-handle {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: center $gradientPicker-wheel-height / 2;
    }
  }

  &-disabled {
    .#{$gradientPicker}-preview {
      pointer-events: none;
    }
  }
}
