@import "@pluginjs/styles/variables.scss";
@import "gradient-picker.core";

$gradientPicker: "pj-gradientPicker";
$gradientPicker-font-family: font-family-base;
$gradientPicker-remove-font-size: $font-size-xs;

$gradientPicker-border-color: $gray-light;
$gradientPicker-border-radius: $border-radius-base;
$gradientPicker-active-color: $color-primary;

$gradientPicker-panel-padding:24px;

$gradientPicker-preview-bg-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIAQMAAABvIyEEAAAABlBMVEXLy8v////hf8FnAAAAGklEQVQoz2PghwEG/KwPMECANWreqHkDaB4AtSFCzONj1qEAAAAASUVORK5CYII=");

$gradientPicker-remove-color: $gray;
$gradientPicker-remove-hover-color: $color-primary-black;

$gradientPicker-handle-item-margin-bottom: 15px;
$gradientPicker-handle-bar-margin-bottom: 12px;
$gradientPicker-handle-view-border-radius: $border-radius-base;

$gradientPicker-gradient-bar-bg-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIAQMAAABvIyEEAAAABlBMVEXLy8v////hf8FnAAAAGklEQVQoz2PghwEG/KwPMECANWreqHkDaB4AtSFCzONj1qEAAAAASUVORK5CYII=");
$gradientPicker-gradient-remove-color: $gray;
$gradientPicker-gradient-remove-size: $font-size-md;
$gradientPicker-gradient-remove-color-active: $gray-lighter;
$gradientPicker-gradient-mode-width: 124px;
$gradientPicker-gradient-mode-margin-right: 10px;

$gradientPicker-marker-box-shadow: box-shadow-4;

$gradientPicker-wheel-margin-right: 10px;
$gradientPicker-wheel-margin-left: 6px;
$gradientPicker-wheel-handle-width: 6px;
$gradientPicker-wheel-handle-height: $gradientPicker-wheel-handle-width;
$gradientPicker-wheel-bg-color: $color-primary-black;
$gradientPicker-wheel-angle-width: 48px;

$gradientPicker-save-margin-top: 24px;
$gradientPicker-font-weight: $font-weight-medium;

.#{$gradientPicker} {
  font-family: $gradientPicker-font-family;

  &-panel {
    padding: $gradientPicker-panel-padding;
  }

  &-remove {
    font-size: $gradientPicker-remove-font-size;
    color: $gradientPicker-remove-color;

    &:hover {
      color: $gradientPicker-remove-hover-color;
      cursor: pointer;
    }
  }

  &-preview {
    border-left: 1px solid $gradientPicker-border-color;

    span {
      border-radius: $gradientPicker-border-radius;
    }

    &-bg {
      background: $gradientPicker-preview-bg-image;
    }
  }

  &-handle {
    margin-bottom: $gradientPicker-handle-item-margin-bottom;

    .#{$gradientPicker}-bar {
      margin-bottom: $gradientPicker-handle-bar-margin-bottom;
      background: $gradientPicker-gradient-bar-bg-image;

      &-view {
        border-radius: $gradientPicker-handle-view-border-radius;
      }
    }

    .#{$gradientPicker}-delete {
      font-size: $gradientPicker-gradient-remove-size;
      color: $gradientPicker-gradient-remove-color;

      &-active {
        color: $gradientPicker-gradient-remove-color-active;

        &:hover {
          color: $color-black;
        }
      }
    }

  }

  &-mode {
    .pj-select {
      width: $gradientPicker-gradient-mode-width;
      margin-right: $gradientPicker-gradient-mode-margin-right;
    }
  }
  
  &-marker {
    border: 2px solid $color-white;
    border-radius: 1000px;
    box-shadow: $gradientPicker-marker-box-shadow;

    &.#{$gradientPicker}-marker-active {
      border-color: $gradientPicker-active-color;

      i {
        border-color: $gradientPicker-active-color;
      }
    }
  }

  &-wheel {
    margin-right: $gradientPicker-wheel-margin-right;
    margin-left: $gradientPicker-wheel-margin-left;
    border: 1px solid $gradientPicker-border-color;
    border-radius: 100%;

    &-handle {
      width: $gradientPicker-wheel-handle-width;
      height: $gradientPicker-wheel-handle-height;
      background-color: $gradientPicker-wheel-bg-color;
      border-radius: 100%;
    }

    &-angle {
      width: $gradientPicker-wheel-angle-width;
    }
  }

  &-save {
    margin-top: $gradientPicker-save-margin-top;
    font-weight: $gradientPicker-font-weight;
    letter-spacing: 1.3px;
    transition: unset;
  }
}
