@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$offset: "pj-offset" !default;
$select: "pj-select" !default;
$offset-sizer: $sizer !default;

$offset-input-width: 5.5 * $offset-sizer !default; //50px
$offset-input-height: 3.2 * $offset-sizer !default; //3.2px
$offset-input-border: 1px solid rgba(230,230,230,1);

$offset-lock-width: 5.0 * $offset-sizer !default; //50px
$offset-lock-height: 3.2 * $offset-sizer !default; //3.2px
$offset-lock-border: 1px solid rgba(230,230,230,1);

$offset-unit-width: 6.4 * $offset-sizer !default; //64px
$offset-unit-height: 3.2 * $offset-sizer !default; //32px
$offset-unit-margin-left: 1.0 * $offset-sizer !default; //10px

$offset-size-label-height: 1.2 * $offset-sizer !default; //64px
$offset-size-label-color: rgba(179,179,179,1);
$offset-size-label-margin-top: 1.2 * $offset-sizer !default; //10px;
// connect
$connect-width: 2.5 * $offset-sizer !default; //25px
$connect-height: $connect-width !default;
$connect-active-bg: $gray-lightest !default;

// Core
// =====================
.#{$offset} {

  &-wrap {
    position: relative;
    box-sizing: border-box;
    display: flex;
  }

  &-size {
    max-width: $offset-input-width;
  }

  &-connect {
    &-link {
      display: none !important;
    }

    &-unlink {
      display: block;
    }
  }

  &-allsize {
    position: relative;
    display: flex;
  }

  &-input {
    box-sizing: border-box;
    width: 100%;
    height: $offset-input-height;
    border: $offset-input-border;
    border-right: none;
  }

  &-lock {
    box-sizing: border-box;
    width: $offset-lock-width;
    height: $offset-lock-height;
    line-height:  $offset-lock-height;
    text-align: center;
    border: $offset-lock-border;
  }

  &-unit {
    box-sizing: border-box;
    width: $offset-unit-width;
    height: $offset-unit-height;
    margin-left: $offset-unit-margin-left;
  }


  &-lock-active {
    .#{$offset}-connect-link {
      display: block !important;
    }

    .#{$offset}-connect-unlink {
      display: none;
    }
  }

  &-size-label {
    height: $offset-size-label-height;
    margin-top: 10px;
    font-size: 10px;
    line-height: $offset-size-label-height;
    color: $offset-size-label-color;
    text-align: center;
  }
}
/* stylelint-disable */
.#{$offset}-disabled {

  .#{$offset}-allsize {
    cursor: not-allowed;
  }

  .#{$offset}-lock {
    color: $gray-light;
    cursor: not-allowed;
  }

  .#{$offset}-input {
    color: $gray-light;
    pointer-events: none;
  }
  .#{$offset}-unit {
    cursor: not-allowed;
  }

  .pj-input {
    pointer-events: none;
    
  }
  .#{$select}-trigger {
    color: $gray-light !important;
    &::after {
      color: $gray-light !important;
    }
  }
}


