---
title: VideoPicker
layout: plugin
styles:
- ../../plugins/popover/css/popover.css
- ../../plugins/pop-dialog/css/pop-dialog.css
- ../../plugins/dropdown/css/dropdown.css
- ../../plugins/video/css/video.css
- ../../plugins/modal/css/modal.css
- ../../plugins/edit-panel/css/edit-panel.css
- ../../plugins/video-picker/css/video-picker.css
scripts:
- ../../plugins/video-picker/video-picker.js
---

<section>
  <h2>Default</h2>
{{#code}}
  <input type="text" class="example-default">
  <script>
    (function() {
      Pj.videoPicker('.example-default');
    })();
  </script>
{{/code}}
<div class="example">
  <input type="text" class="example-default">
</div>
</section>

<section>
  <h2>Initialized by input value</h2>
{{#code}}
  <input type="text" class="example-input" value='{"source":"YouTube","url":"YE7VzlLtp-4", "poster":"https://www.smashingmagazine.com/images/music-videos/rabbit.jpg", "ratio": "auto"}'>
  <script>
    (function() {
      Pj.videoPicker('.example-input');
    })();
  </script>
{{/code}}
<div class="example">
  <input type="text" class="example-input" value='{"source":"YouTube","url":"YE7VzlLtp-4", "poster":"https://www.smashingmagazine.com/images/music-videos/rabbit.jpg", "ratio": "auto"}'>
</div>
</section>

<section>
  <h2>Locale</h2>
{{#code}}
  <input type="text" class="example-locale">
  <script>
    (function() {
      Pj.videoPicker('.example-locale', {
        locale: 'zh'
      });
    })();
  </script>
{{/code}}
<div class="example">
  <input type="text" class="example-locale">
</div>
</section>

<section>
  <h2>Api</h2>
  <div class="example">
    <input type="text" class="example-api">
  </div>
  <div class="apis top-gap">
    <button class="btn api-init">init()</button>
    <button class="btn api-set">set(data)</button>
    <button class="btn api-get">get()</button>
    <button class="btn api-val">val()</button>
    <button class="btn api-val-set">val(data)</button>
    <button class="btn api-destroy">destroy()</button>
    <button class="btn api-enable">enable()</button>
    <button class="btn api-disable">disable()</button>
  </div>
  <div class="console"></div>
</section>

<script>
  (function () {
    Pj.videoPicker('.example-default');
    Pj.videoPicker('.example-input');
    Pj.videoPicker('.example-locale', {locale:'zh'});

    var $videoPicker = {}

    function init() {
      $videoPicker = Pj.videoPicker('.example-api', {
        onReady: function() {
          console.log('ready', 'event');
        },
        onDestroy: function() {
          console.log('destroy', 'event');
        },
        onEnable: function() {
          console.log('enable', 'event');
        },
        onDisable: function() {
          console.log('disable', 'event');
        }
      })
    }

    document.querySelector('.api-init').addEventListener('click', function() {
      init();
    });

    document.querySelector('.api-set').addEventListener('click', function() {
      $videoPicker.set({
        source: 'youtube',
        url: 'YE7VzlLtp-4',
        poster: 'https://www.smashingmagazine.com/images/music-videos/rabbit.jpg'
      });
      log('', 'set(data)');
    });
    document.querySelector('.api-get').addEventListener('click', function() {
      log(JSON.stringify($videoPicker.get()), 'get()');
    });
    document.querySelector('.api-val').addEventListener('click', function() {
      log($videoPicker.val(), 'val()');
    });
    document.querySelector('.api-val-set').addEventListener('click', function() {
      // $videoPicker.val(`{'type': "vimeo",'id': "119287310"}`);
      log($videoPicker.val(`{'source': "vimeo",'id': "119287310"}`), 'val(data)');
    });
    document.querySelector('.api-disable').addEventListener('click', function() {
      $videoPicker.disable()
    });
    document.querySelector('.api-enable').addEventListener('click', function() {
      $videoPicker.enable()
    });
    document.querySelector('.api-destroy').addEventListener('click', function() {
      $videoPicker.destroy()
    });
  })();
</script>
