@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$draggable: "pj-draggable" !default;
$draggable-bg-color: #0af !default;
$draggable-hover-bg-color: #fa0 !default;

$draggable-width: 120px !default;
$draggable-height: 100px !default;
$draggable-border-radius: 10px !default;

// draggable
// =====================
.#{$draggable} {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: $draggable-width;
  height: $draggable-height;
  background-color: $draggable-bg-color;
  border-radius: $draggable-border-radius;

  &:hover,
  &.is-dragging {
    cursor: pointer;
    background-color: $draggable-hover-bg-color;
  }

  &.is-dragging {
    z-index: 2;
    opacity: 0.7;
  }
}
