$filterbar: "pj-grids-filterbar" !default;
$filterbar-margin-bottom: 30px !default;
$filterbar-filters-margin-right: 10px !default;
$filterbar-reverse-font-size: 18px !default;

.#{$filterbar} {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $filterbar-margin-bottom;
  
  &-sort,
  &-filters {
    margin-right: $filterbar-filters-margin-right;
  }

  &-reverse {
    font-size: $filterbar-reverse-font-size;
    transition: transform 500ms;
    &-min {
      transition: transform 500ms;
      transform: rotate3d(0, 0, 0.5, 180deg);
    }
  }

  &-filters {
    .pj-filter-dropdown {
      width: auto;
      border: none;
    }
  }
}
