@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$grids: "pj-grids";

// Core
// =====================
.#{$grids} {
  &-wrap {
    position: relative;
    width: 100%;
  }

  &-inner {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;

    &-show {
      visibility: visible;
      opacity: 1;
    }
  }

  &-container {
    position: relative;
  }

  &-chunk {
    position: absolute;
    transform-style: preserve-3d;

    img {
      width: 100%;
      height: 100%;
      pointer-events: none;
      opacity: 0;
    }

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-loaded {
    img {
      opacity: 1;
    }
  }

  &-drag {
    cursor: grab;
  }

  // &-mask {
  //   opacity: 0 !important;
  // }
}
