@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$grids: "pj-grids" !default;

// Core
// =====================
.#{$grids} {
  &-inner {
    position: relative;
    overflow: hidden;
  }

  &-chunk {
    position: absolute;
    transform-style: preserve-3d;

    img {
      width: 100%;
      pointer-events: none;
      opacity: 0;
    }

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &-image-loaded {
    img {
      opacity: 1;
    }
  }
}
