@import "@pluginjs/styles/variables.scss";

// Vars
$grids: "pj-grids" !default;
$grids-loader-height: 200px !default;
$grids-loader-bgcolor: $color-white !default;
$grids-loader-inner-margin-y: 72px !default;
$grids-loader-inner-font-size: 30px !default;

.#{$grids}-loader {
  display: none;
  width: 100%;
  height: $grids-loader-height;
  background: $grids-loader-bgcolor;

  &-show {
    display: block;
  }
}

.#{$grids}-loader-inner {
  position: relative;
  width: 1em;
  height: 1em;
  margin: $grids-loader-inner-margin-y auto;
  overflow: hidden;
  font-size: $grids-loader-inner-font-size;
  text-indent: -9999em;
  border-radius: 50%;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg); /* stylelint-disable-line */
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg); /* stylelint-disable-line */
    transform: rotate(360deg);
  }
}
