@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$grids: "pj-grids" !default;
$icon: "pj-icon" !default;
$toolbar: "pj-grids-toolbar" !default;

// Core
// =====================
.#{$toolbar} {
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$grids} {
  &-sort,
  &-filters {
    white-space: nowrap;
  }

  &-reverse {
    .#{$icon} {
      transition: transform 500ms;
    }
  }

  &-reverse-min {
    .#{$icon} {
      transform: rotate(180deg);
    }
  }

  &-filters {
    .pj-filter-dropdown {
      width: auto;
      border: none;
    }
  }
}
