$carousel: "pj-grids-carousel" !default;
$grids: "pj-grids" !default;
$drag: "pj-grids-drag" !default;
$arrow: "pj-grids-carousel-arrow" !default;
$dot: "pj-dot" !default;
// ==== vars ==== //

/* arrow */

$arrow-color: rgb(51, 51, 51) !default;

/* dots */

$dot-width: 30px !default;
$dot-height: 2px !default;
$dot-margin-left: 5px;
$dot-background-color: rgba($color-black, 0.2) !default;
$dot-active-background-color: rgb(51, 51, 51) !default;
// ==== core ==== //
.#{$carousel} {
  &-dots {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    .#{$dot} {
      display: inline-block;
      float: none;
      width: $dot-width;
      height: $dot-height;
      margin-left: $dot-margin-left;
      a {
        background-color: $dot-background-color;
        border-radius: 0;
      }
      &-active a {
        background-color: $dot-active-background-color;
      }
    }
  }
  &-center {
    overflow: visible !important;
    .#{$grids}-chunk-active {
      z-index: 90;
      .#{$grids}-chunk-inner {
        opacity: 1;
        transition: all 400ms;
        transform: scale3d(1.1, 1.1, 1);
      }
    }
    .#{$grids}-chunk-inner {
      opacity: 0.5;
      transition: all 400ms;
      transform: scale3d(1, 1, 1);
    }
  }
}

.#{$arrow} {
  &-next,
  &-prev {
    position: absolute;
    top: 50%;
    z-index: 99;
    color: $arrow-color;
    cursor: pointer;
    background-color: rgba($color-white, 0.4);
    transform: translateY(-50%);
  }
  &-next {
    right: 0;
  }
  &-prev {
    left: 0;
  }
}

.#{$arrow}s {
  &-top-left,
  &-top-right,
  &-bottom-left,
  &-bottom-right {
    position: absolute;
  }
  &-top-left,
  &-top-right {
    top: 0;
  }
  &-bottom-left,
  &-bottom-right {
    bottom: 0;
  }
  &-top-left,
  &-bottom-left {
    left: 0;
  }
  &-top-right,
  &-bottom-right {
    right: 0;
  }
}

.#{$drag} .#{$grids}-container {
  cursor: -webkit-grab; /* stylelint-disable-line */
}
