@import "@pluginjs/styles/variables.scss";
@import "toolbar.core";
@import "grids.core";

// Vars
// =====================
$grids: "pj-grids";

$grids-font-size: $font-size-lg;
$toolbar-margin-bottom: 30px;
$toolbar-filters-margin-right: 10px;

// Skins
// =====================
.#{$grids}-wrap {
  font-size: $grids-font-size;
}

.#{$toolbar} {
  margin-bottom: $toolbar-margin-bottom;
}

.#{$grids} {
  &-sort,
  &-filters {
    margin-right: $toolbar-filters-margin-right;
  }
}
