@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$grids: "pj-grids" !default;

// Core
// =====================
.#{$grids} {
  position: relative;
  overflow: hidden;
  transition: height ease 0.3s;

  &-chunk {
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;

    .#{$grids}-image {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transition-duration: 300ms;
    }
  }

  &-image-loading {
    .#{$grids}-image {
      opacity: 0;
    }
  }

  &-image-loaded {
    .#{$grids}-image {
      opacity: 1;
    }
  }

  &-image-error {
    background-color: #ededed;

    &::before {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      content: "Image Error";
    }
  }
}
