@import "filterbar.core";
@import "grids.core";

// Vars
// =====================
$grids: "pj-grids";
$arrow: "pj-arrow";

$grids-arrow-margin-x: 15px;
$grids-arrow-padding: 11px;

// Skins
// =====================
.#{$grids} {
  &-inner {
    .#{$arrow}-next,
    .#{$arrow}-prev {
      padding: $grids-arrow-padding;
      margin: 0 $grids-arrow-margin-x !important;
      line-height: 1;
    }
  }
}
