@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

// Vars
// =====================
$svgPicker: "pj-svgPicker" !default;
$svgPicker-width: 200px !default;
$svgPicker-max-height: 300px !default;

$svgPicker-dropdown-width: 272px !default;

$svgPicker-trigger-arrow-icon: $pj-icon-caret-down-mini !default;
$svgPicker-trigger-arrow-font: $pj-icon-font-family !default;
$svgPicker-trigger-arrow-right: $input-padding-x !default;
$svgPicker-trigger-padding-right: 30px !default;

$svgPicker-clear-icon: $pj-icon-close !default;
$svgPicker-clear-font: $pj-icon-font-family !default;
$svgPicker-clear-right: 11px !default;

$svgPicker-item-width: 36px !default;
$svgPicker-item-height: 36px !default;

$svgPicker-item-border-width: 1px !default;

$svgPicker-item-margin-x: 2px !default;
$svgPicker-item-margin-y: 2px !default;

$svgPicker-svg-width: 16px !default;
$svgPicker-svg-height: 16px !default;

$svgPicker-manage-icon: $pj-icon-setting !default;
$svgPicker-manage-font: $pj-icon-font-family !default;

$svgPicker-item-padding-x: ($svgPicker-item-width - $svgPicker-svg-width)/2 - $svgPicker-item-border-width !default;
$svgPicker-item-padding-y: ($svgPicker-item-height - $svgPicker-svg-height)/2 - $svgPicker-item-border-width !default;

.#{$svgPicker} {
  position: relative;
  width: $svgPicker-width;

  &-element {
    display: none;
  }

  & &-trigger {
    width: 100%;
    padding-right: $svgPicker-trigger-padding-right;
  }

  & &-dropdown {
    width: $svgPicker-dropdown-width;
  }

  &-items {
    position: relative;
    height: $svgPicker-max-height;
    overflow-y: auto;
  }

  &-items,
  &-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  &-item {
    position:relative;
    box-sizing: border-box;
    width: $svgPicker-item-width;
    height: $svgPicker-item-height;
    padding: $svgPicker-item-padding-y $svgPicker-item-padding-x;
    margin: $svgPicker-item-margin-y $svgPicker-item-margin-x;
    text-align: center;
    border: $svgPicker-item-border-width solid transparent;
    border-radius: 100%;

    svg {
      width: $svgPicker-svg-width;
      height: $svgPicker-svg-height;
    }
  }

  &-group-label {
    width: 100%;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-empty,
  &-not-found,
  &-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  &-manage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    &::before {
      @include icon();
      margin-right: 3px;
      font-family: $svgPicker-manage-font;
      content: icon-content($svgPicker-manage-icon);
    }
  }

  &-trigger {
    cursor: pointer;

    &::after {
      @include icon();
      position: absolute;
      top: 50%;
      right: $svgPicker-trigger-arrow-right;
      font-family: $svgPicker-trigger-arrow-font;
      content: icon-content($svgPicker-trigger-arrow-icon);
      transform: translateY(-50%);
    }

    .#{$svgPicker}-clearable.#{$svgPicker}-selected:not(.#{$svgPicker}-disabled) &:hover::after {
      display: none;
    }
  }

  &-clear {
    position: absolute;
    top: 0;
    right: $svgPicker-clear-right;
    display: none;
    height: 100%;
    font-family: $svgPicker-clear-font;

    &::before {
      @include icon();
      vertical-align: middle;
      content: icon-content($svgPicker-clear-icon);
    }

    &::after {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }

    .#{$svgPicker}-selected:not(.#{$svgPicker}-disabled) .#{$svgPicker}-trigger:hover & {
      display: inline-block;
    }
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    svg {
      display: inline-block;
      width: $svgPicker-svg-width;
      height: $svgPicker-svg-height;
      margin-right: 5px;
      overflow: visible;
    }
  }

  &-filter {
    input {
      box-sizing: border-box;
      width: 100% !important;
      height: 100%;
      line-height: 100%;
      border: none;
      outline: none;
    }
  }
}
