@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$svgPicker: "pj-svgPicker" !default;
$svgPicker-sizer: $sizer !default;

// add btn
$svgPicker-add-opacity: 0.8 !default;
// search
$svgPicker-search-icon-color: $gray-dark !default;

// Core
// =====================
.#{$svgPicker} {
  position: relative;
  box-sizing: border-box;

  .pj-dropdown-trigger {
    box-sizing: border-box;
    display: inline-block;

    > span {
      display: flex;
      align-items: center;
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: initial;
    list-style: none;

    .#{$svgPicker}-add {
 
      &:hover {
        opacity: $svgPicker-add-opacity;
        transition: opacity 0.2s;
      }
    }
  }

  &-switch {
    position: absolute;
    top: 50%;
    right: 0.6 * $svgPicker-sizer; //6px
    transition: all 0.3s;
    transform: translateY(-50%);
  }

  &-dropdown {
    display: flex;
    flex-direction: column;

    &.pj-dropdown-show {
      display: flex;
    }
  }

  &-type {
    display: block !important;

    &-title {
      position: relative;

      i {
        position: relative;
        top: 10%;
        font-style: normal;
        // right: $svgPicker-sizer; //10px
        transition: all 0.3s;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    .#{$svgPicker}-icon {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &-open {
      .#{$svgPicker}-type-title i {
        transition: all 0.3s;
        transform: rotate(90deg);
      }
    }

    &-hide {
      display: none;
    }

    &-wrap {
      flex-grow: 1;
    }

    .pj-scrollable {
      display: none;
    }
  }

  &-manage {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-search {
    box-sizing: border-box;
    display: flex;
    align-items: center;

    i {
      order: 0;
      color: $svgPicker-search-icon-color;
      text-align: center;

      &:last-of-type {
        order: 2;
      }
    }

    input {
      flex-basis: 100px;
      flex-grow: 1;
      order: 1;
      line-height: 1;
      border: 0;
      outline: none;
      flex-shrink: 1;

      &:focus {
        + .#{$svgPicker}-search-close {
          opacity: 1;
          transition: opacity 0.3s;
        }
      }
    }

    &-close {
      opacity: 0;
    }

    &-data {
      .#{$svgPicker}-search-close {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }
}

.#{$svgPicker}-searching .#{$svgPicker}-type {
  .#{$svgPicker}-icon {
    display: none;
  }

  .#{$svgPicker}-searched {
    display: inline-flex;
  }
}
