@import "@pluginjs/styles/variables.scss";
@import "svg-picker.core";

// Vars
// =====================
$svgPicker: "pj-svgPicker";

$svgPicker-color: $text-color;
$svgPicker-trigger-width: $svgPicker-width;
$svgPicker-trigger-placeholder-color: $gray;

$svgPicker-trigger-arrow-color: $gray-darkest;

$svgPicker-trigger-disabled-bg: $disabled-bg;
$svgPicker-trigger-disabled-border: $disabled-border;
$svgPicker-trigger-disabled-color: $disabled-color;

$svgPicker-clear-color: $gray;
$svgPicker-clear-hover-color: $text-color;

$svgPicker-group-label-font-size: $font-size-sm;
$svgPicker-group-label-color: $gray-darker;
$svgPicker-group-label-space-x: 11px;
$svgPicker-group-label-space-y: 8px;

$svgPicker-search-color: $gray;
$svgPicker-search-padding-x: 12px;
$svgPicker-search-padding-y: 12px;
$svgPicker-search-font-size: $input-font-size;
$svgPicker-search-border-color: $border-color;
$svgPicker-search-icon: $pj-icon-search !default;
$svgPicker-search-font: $pj-icon-font-family !default;
$svgPicker-search-right: 33px !default;
$svgPicker-search-border-color: $border-color;

$svgPicker-state-color: $gray-dark;

$svgPicker-manage-padding: 8px;
$svgPicker-manage-border-color: $border-color;
$svgPicker-manage-hover-bg: $gray-lightest;

$svgPicker-items-padding: 6px;
$svgPicker-group-margin-bottom: $svgPicker-items-padding;

$svgPicker-item-active-color: $color-white;
$svgPicker-item-active-bg: $color-primary;

.#{$svgPicker} {
  outline: none;

  &-trigger {
    position: relative;
    color: $svgPicker-trigger-placeholder-color;

    .#{$svgPicker}-selected & {
      color: $svgPicker-color;
    }

    &::after {
      color: $svgPicker-color;
      transition: transform 0.3s;
      will-change: transform;
    }
  }

  &-trigger,
  &-option {
    i {
      vertical-align: middle;
    }
  }

  &-clear {
    color: $svgPicker-clear-color;

    &:hover {
      color: $svgPicker-clear-hover-color;
    }
  }

  &-group-label {
    padding: $svgPicker-group-label-space-y $svgPicker-group-label-space-x;
    font-size: $svgPicker-group-label-font-size;
    color: $svgPicker-group-label-color;
  }

  &-empty,
  &-not-found,
  &-loading {
    width: 80%;
    margin: 0 auto;
    line-height: 150%;
    color: $svgPicker-state-color;
  }

  &-items {
    padding: $svgPicker-items-padding;
  }

  &-group {
    margin-bottom: $svgPicker-group-margin-bottom;
  }

  &-item {
    &.pj-dropdown-active:not(.pj-dropdown-item-disabled) {
      border-color: $svgPicker-item-active-bg;
    }
  }

  &-manage {
    padding: $svgPicker-manage-padding;
    border-top: 1px solid $svgPicker-manage-border-color;

    &:hover {
      background: $svgPicker-manage-hover-bg;
    }
  }

  &-filter {
    font-size: $svgPicker-search-font-size;
    border-bottom: 1px solid $svgPicker-search-border-color;

    &::before {
      @include icon();
      position: absolute;
      top: $svgPicker-search-padding-y;
      left: $svgPicker-search-padding-x;
      font-family: $svgPicker-clear-font;
      color: $svgPicker-search-color;
      vertical-align: middle;
      content: icon-content($svgPicker-search-icon);
    }

    input {
      padding: $svgPicker-search-padding-y $svgPicker-search-padding-x;
      padding-left: $svgPicker-search-right;
    }
  }
}

.#{$svgPicker}-disabled {
  .#{$svgPicker}-trigger {
    color: $svgPicker-trigger-disabled-color;
    background-color: $svgPicker-trigger-disabled-bg;
    border-color: $svgPicker-trigger-disabled-border;

    &::after {
      color: $svgPicker-trigger-disabled-color;
    }
  }
}
