.#{$checkbox} {
  &.#{$checkbox}-checked,
  & > input[type="checkbox"]:checked + label {
    i:first-child {
      &::after {
        border-color: $checkbox-border-color;
      }
    }
  }
}

@mixin checkbox-border-variant($color) {
  &.#{$checkbox}-checked,
  & > input[type="checkbox"]:checked + label {
    i:first-child {
      &::after {
        border-color: $color;
      }
    }
  }
}
