.#{$checkbox}-plain {
  i[class]:first-child {
    &::after {
      transition: all 0.25s;
      transform: scale(1);
    }
  }

  &.#{$checkbox}-checked,
  & > input[type="checkbox"]:checked + label {
    i[class]:first-child {
      &::after {
        border-color: transparent;
        transform: scale(0);
      }
    }
  }
}
