.#{$checkbox}-solid {
  &.#{$checkbox}-checked,
  & > input[type="checkbox"]:checked + label {
    i:first-child:not([class]) {
      &::before {
        color: $color-white;
        border-color: $color-white;
      }

      &::after {
        z-index: -1;
        background-color: $checkbox-color;
      }
    }
  }
}

@mixin checkbox-solid-variant($background) {
  &.#{$checkbox}-solid {
    &.#{$checkbox}-checked,
    & > input[type="checkbox"]:checked + label {
      i:first-child:not([class]) {
        &::after {
          background-color: $background;
        }
      }
    }
  }
}
