---
title: Countdown
layout: plugin
styles:
- ../../plugins/countdown/css/countdown.css
scripts:
- ../../plugins/countdown/countdown.js
---

<style>
body {
  font-size: 100%;
}

@media all and (max-width: 768px) {
  .pj-countdown-progress-ring {
    width: 80%;
    min-width: 6.75rem;
  }
}
</style>

<section>
  <h2>Default</h2>
  <div class="countdown" data-mode="ordinary" data-due="2018-11-22 8:10:50" data-format="Y,M,DM,h,m,s" data-label-position="above" data-label="年，月，天，时，分，秒">
  </div>

  <h2>progress</h2>
  <div class="countdown" data-mode="progress" data-due="2018-11-22 8:10:50" data-format="Y,M,DM,h,m,s">
  </div>


  <h2>flip</h2>
  <div class="countdown" data-mode="flip" data-due="2018-11-22 8:10:50" data-format="Y,M,DM,h,m,s">
  </div>


  <script>
    (function () {
      Pj.countdown('.countdown')
    })();
  </script>

</section>

<section>
  <h2>API</h2>
   <div class="countdown-event"></div>
   <div class="apis">
      <button data-api="init" class="btn">init()</button>
      <button data-api="destroy" class="btn">destroy()</button>
      <button data-api="enable" class="btn">enable()</button>
      <button data-api="disable" class="btn">disable()</button>
      <button data-api="start" class="btn">start()</button>
      <button data-api="stop" class="btn">stop()</button>
   </div>

  <script>
    (function() {
      let $elementApi
      init = () => {
        $elementApi = Pj.countdown('.countdown-event',{
          due: '2018-11-22 8:10:50',
          format: "Y,M,DM,h,m,s",
          mode: 'progress',
          modes:{
            progress:{
              trackcolor:'#000'
            }
          }
        })
      }

    let APIS = {
      init,
      disable() {
        $elementApi.disable()
      },
      enable() {
        $elementApi.enable()
      },
      destroy() {
        $elementApi.destroy()
      },
      start() {
        $elementApi.start()
      },
      stop() {
        $elementApi.stop()
      }
    }

    document.querySelector('.apis').addEventListener('click',(event) => {
      if (!event.target.matches('[data-api')) {
        return
      }
      let api = event.target.dataset.api;
      if (api) {
        APIS[api]()
      }
    })
    })();
  </script>
  <style>
    .countdown-event {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .pj-countdown-disabled {
      cursor: not-allowed;
    }
  </style>
</section>