@import "@pluginjs/styles/variables.scss";
@import "notice.core";

// Vars
// =====================
$notice: "pj-notice";
$btn: "pj-btn";

$notice-font-family: $font-family-base;
$notice-font-size: $font-size-sm;

$notice-container-width: $container-max-width;
$notice-container-padding-y: 10px;
$notice-container-padding-x: $container-padding-x;

$notice-close-font-size: $font-size-sm;
$notice-close-width: 40px;
$notice-close-height: 100%;

$notice-close-bg: transparent;
$notice-close-color: $gray;
$notice-close-hover-color: $gray-dark;

$notice-bg: $color-white;
$notice-box-shadow: $box-shadow-4;

$notice-actions-gutter: 30px;
$notice-btn-gutter: 10px;

$notice-state-colors: (
  primary: $color-white,
  success: $color-white,
  info: $color-white,
  warning: $color-white,
  danger: $color-white
);

$notice-state-backgrounds: (
  primary: $color-primary,
  success: $color-success,
  info: $color-info,
  warning: $color-warning,
  danger: $color-danger
);

// Skins
// =====================
.#{$notice} {

  @each $color, $value in $notice-state-backgrounds {
    &-#{$color} {
      color: map-get($notice-state-colors, $color);
      background-color: $value;
    }
  }
  font-family: $notice-font-family;
  font-size: $notice-font-size;
  background-color: $notice-bg;
  box-shadow: $notice-box-shadow;

  &-container {
    padding: $notice-container-padding-y $notice-container-padding-x;

    .#{$notice}-fixed & {
      width: $notice-container-width;
    }

    .#{$notice}-closeable & {
      padding-right: $notice-close-width;
    }
  }

  &-content + &-actions {
    margin-left: $notice-actions-gutter;
  }

  &-close {
    width: $notice-close-width;
    height: $notice-close-height;
    color: $notice-close-color;
    cursor: pointer;
    background-color: $notice-close-bg;
    border: none;
    outline: none;

    &:hover {
      color: $notice-close-hover-color;
    }
  }

  &-btn + &-btn {
    margin-left: $notice-btn-gutter;
  }
}
