@import "@pluginjs/styles/variables.scss";
@import "./choice.core.scss";

// Vars
// =====================
$choice: "pj-choice";

$choice-font-family: $font-family-base;
$choice-font-size: $font-size-sm;
$choice-line-height: 16px;

$choice-color: $text-color;
$choice-hover-color: $gray-lighter;
$choice-active-color: $color-primary;

$choice-bg: $color-white;
$choice-border-color: $border-color;
$choice-border-radius: $border-radius-base;
$choice-border-width: 1px;

$choice-dropdown-border-radius: $border-radius-base;
$choice-dropdown-border-color: $gray-light;
$choice-dropdown-box-shadow: $box-shadow-6;

$choice-dropdown-item-gatter: 8px;

// Skin
// =====================
.#{$choice}-item {
  font-family: $choice-font-family;
  font-size: $choice-font-size;
  line-height: $choice-line-height;
  color: $choice-color;
  background: $choice-bg;
  border: $choice-border-width solid $choice-border-color;
  border-radius: $choice-border-radius;

  &:not(:disabled):hover {
    background: $choice-hover-color;
  }

  &.#{$choice}-selected {
    z-index: 99;
    border-color: $choice-active-color;
  }

  &[disabled] {
    color: $disabled-color;
    cursor: not-allowed;
    border-color: $disabled-border;
  }
}

// Button groups
.#{$choice} {
  .#{$choice}-item {

    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      margin-left: -$choice-border-width;
      border-radius: 0;
    }

    &:last-child:not(:first-child) {
      margin-left: -$choice-border-width;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
 
    &:not(:disabled):focus,
    &:not(:disabled):active {
      outline: none;
    }
  }

  &.#{$choice}-block {
    display: flex;
  }
}

/*stylelint-disable*/
.#{$choice}-dropdown {
  background-color: $choice-bg;
  border: $choice-border-width solid $choice-dropdown-border-color;
  border-radius: $choice-dropdown-border-radius;
  box-shadow: $choice-dropdown-box-shadow;

  .#{$choice}-item {
    text-align: left;
    border: 0;

    i {
      margin-right: $choice-dropdown-item-gatter;
    }

    &.#{$choice}-selected {
      color: $choice-active-color;
    }

    &:focus,
    &:hover {
      background: choice-hover-color;
      border: none;
    }
  }
}
