@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$unitsRange: "pj-unitsRange";
$units: "pj-units";
$input: "pj-input";
$range: "pj-range";

$unitsRange-gap: 16px;
$unitsRange-range-width: 200px;

.#{$unitsRange} {
  display: flex;
  align-items: center;

  .#{$range} {
    width: 100%;

    &-control {
      width: $unitsRange-range-width;
    }
  }

  .#{$units} {
    height: 100%;
    margin-left: $unitsRange-gap;
  }
}
