---
title: Gmap
layout: plugin
styles:
- ../../plugins/gmap/css/gmap.css
scripts:
- ../../plugins/gmap/gmap.js
---
<style>
.gmap {
  width: 500px;
  height: 400px;
}
</style>
<section>
  <h2>options</h2>
  <section>
    <h3>content</h3>
    <div class="gmap" data-address="china" data-content="hello world"></div>
  </section>
  <section>
    <h3>marker</h3>
    <div class="gmap" data-address="fuzhou" data-content="Fu Zhou"></div>
  </section>
  <div class="apis top-gap">
    <button data-api="destroy" class="btn">destroy()</button>
    <button data-api="enable" class="btn">enable()</button>
    <button data-api="disable" class="btn">disable()</button>
  </div>
  <div class="console"></div>
</section>
<script>
(function(){
  var $elementApi;
  $elementApi = Pj.gmap('.gmap', {
    apiKey: 'AIzaSyDSx-q31rWQKqLwUahg6TrZ3R_5NT0LhFE',
    onReady: function() {
      console.log('ready', 'event');
    },
    onDestroy: function() {
      console.log('destroy', 'event');
    },
    onEnable: function() {
      console.log('enable', 'event');
    },
    onDisable: function() {
      console.log('disable', 'event');
    },
  });

  var APIS = {
    destroy() {
      $elementApi.destroy()
    },
    disable() {
      $elementApi.disable()
    },
    enable() {
      $elementApi.enable()
    }
  }

  document.querySelector('.apis').addEventListener('click', function(event) {
    if (!event.target.matches('[data-api]')) {
      return
    }
    var api = event.target.dataset.api
    if (api) {
      APIS[api]()
    }
  })
})();
</script>
