---
title: toggle-list
layout: plugin
styles:
- ../../plugins/toggle/css/toggle.css
- ../../plugins/list/css/list.css
- ../../plugins/toggle-list/css/toggle-list.css
scripts:
- ../../plugins/toggle-list/toggle-list.js
---

<section>
  <h2>Default</h2>
{{#code}}
  <input type="text" class="example-default">
  <script>
    (function() {
      Pj.toggleList('.example-default', {
        data: data
      });
    })();
  </script>
{{/code}}
  <div class="example">
    <input type="text" class="example-default">
    <div class="apis top-gap">
      <button class="btn api-set">set(data)</button>
      <button class="btn api-get">get()</button>
      <button class="btn api-val">val()</button>
      <button class="btn api-val-set">val(data)</button>
      <button class="btn api-enable">enable()</button>
      <button class="btn api-disable">disable()</button>
      <button class="btn api-destroy">destroy()</button>
    </div>
    <div class="console"></div>
  </div>

  <script>
    (function() {
      var data = [
        {
          "title": "Interfaces",
          "checked": true
        }, {
          "title": "UI Design",
          "checked": false
        }, {
          "title": "Web Design",
          "checked": false
        }, {
          "title": "Typography",
          "checked": true
        }, {
          "title": "Landing",
          "checked": false
        }
      ];

      var $toggleList = Pj.toggleList('.example-default', {
        data: data,
        onUncheck: function(index) {
          console.log('uncheck: '+JSON.stringify(index), 'event');
        },
        onCheck: function(index) {
          console.log('check: '+JSON.stringify(index), 'event');
        },
        onReady: function() {
          console.log('ready', 'event');
        },
        onDestroy: function() {
          console.log('destroy', 'event');
        },
        onEnable: function() {
          console.log('enable', 'event');
        },
        onDisable: function() {
          console.log('disable', 'event');
        },
        onAdd: function() {
          console.log('add', 'event')
        }
      });

      document.querySelector('.api-set').addEventListener('click', function() {
        $toggleList.set([
        {
          "title": "Interfaces",
          "checked": true
        }, {
          "title": "UI Design",
          "checked": false
        }, {
          "title": "Web Design",
          "checked": false
        }, {
          "title": "Typography",
          "checked": true
        }, {
          "title": "Landing",
          "checked": false
        }
      ]);
        log('', 'set(data)');
      });
      document.querySelector('.api-get').addEventListener('click', function() {
        log(JSON.stringify($toggleList.get()), 'get()');
      });
      document.querySelector('.api-val').addEventListener('click', function() {
        log($toggleList.val(), 'val()');
      });
      document.querySelector('.api-val-set').addEventListener('click', function() {
        $toggleList.val('[{"title": "world","checked": false}, {"title": "Hello","checked": false}]');
        log('', 'val(data)');
      });
      document.querySelector('.api-enable').addEventListener('click', function() {
        $toggleList.enable();
      });
      document.querySelector('.api-disable').addEventListener('click', function() {
        $toggleList.disable();
      });
      document.querySelector('.api-destroy').addEventListener('click', function() {
        $toggleList.destroy();
      });
    })();
  </script>
</section>

<section>
  <h3>Initiailzed by input value</h3>
  {{#code}}
    <input class="example-input" type="text" value='[{"title": "Interfaces","checked":false},{"title":"UI Design", "checked": true}]'>
  {{/code}}

    <input class="example-input" type="text" value='[{"title": "Interfaces","checked":false},{"title":"UI Design", "checked": true}]'>
    <script>
      (function(){
        Pj.toggleList('.example-input');
      })();
    </script>
</section>
<section>
  <h3>WordPress demo</h3>
  {{#code}}
  <input type="text" id="togglelist" name="togglelist" data-plugin="togglelist" data-locale-fallbacks="true" data-actions="[{&quot;tagName&quot;:&quot;input&quot;,&quot;trigger&quot;:&quot;pj-toggleList-toggle&quot;,&quot;attrs&quot;:&quot;checked=\&quot;checked\&quot;&quot;,&quot;event&quot;:&quot;click&quot;,&quot;init&quot;:null}]" value="[{&quot;title&quot;:&quot;Interfaces&quot;,&quot;checked&quot;:true},{&quot;title&quot;:&quot;UI Design&quot;,&quot;checked&quot;:false},{&quot;title&quot;:&quot;Web Design&quot;,&quot;checked&quot;:false},{&quot;title&quot;:&quot;Typography&quot;,&quot;checked&quot;:true},{&quot;title&quot;:&quot;Landing&quot;,&quot;checked&quot;:false}]" class="pj-list-store">
  {{/code}}
  <input type="text" id="togglelist" name="togglelist" data-plugin="togglelist" data-locale-fallbacks="true" data-actions="[{&quot;tagName&quot;:&quot;input&quot;,&quot;trigger&quot;:&quot;pj-toggleList-toggle&quot;,&quot;attrs&quot;:&quot;checked=\&quot;checked\&quot;&quot;,&quot;event&quot;:&quot;click&quot;,&quot;init&quot;:null}]" value="[{&quot;title&quot;:&quot;Interfaces&quot;,&quot;checked&quot;:true},{&quot;title&quot;:&quot;UI Design&quot;,&quot;checked&quot;:false},{&quot;title&quot;:&quot;Web Design&quot;,&quot;checked&quot;:false},{&quot;title&quot;:&quot;Typography&quot;,&quot;checked&quot;:true},{&quot;title&quot;:&quot;Landing&quot;,&quot;checked&quot;:false}]" class="pj-list-store">
    <script>
      (function(){
        Pj.toggleList('[data-plugin]');
      })();
    </script>
</section>