@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$patternPicker: "pj-patternPicker" !default;
$editPanel: "pj-editPanel" !default;
$scrollable: "pj-scrollable" !default;

$patternPicker-spacer: $spacer !default;
$patternPicker-border: 1px solid $gray-border !default;

$patternPicker-width: 16 * $patternPicker-spacer !default; //160px
$patternPicker-height: 9 * $patternPicker-spacer !default; //108px
$patternPicker-border: 1px solid $gray-border;

// preview
$preview-width:  26 * $patternPicker-spacer !default; //260px
// global
$global-border: 1px solid $gray-lighter !default;
$global-active-color: $color-primary !default;
// component
$component-content-width: 16 * $patternPicker-spacer !default; //160px
// selector
// selector item
$selector-item-width: 11.5 * $patternPicker-spacer !default; //115px
$selector-item-height: 8 * $patternPicker-spacer !default; //80px
$selector-item-margin-size: 1.7 * $patternPicker-spacer !default; //17px

// Core
// =====================
.#{$patternPicker} {
  &.#{$patternPicker}-input {
    display: none;
  }

  &-open-disabled {
    pointer-events: none;
  }

  &-trigger {   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $patternPicker-width;
    height: $patternPicker-height;
    padding: 1px;
    border: $patternPicker-border;
    border-style: dashed;

    .#{$patternPicker}-fill {
      position: relative;
      display: none;
      height: $patternPicker-height;
      padding: 1px;
      border: $patternPicker-border;
  
      .#{$patternPicker}-action {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: $color-white;
        background-color: $color-opacity;
        border-radius: 2px;
        opacity: 0;

        .#{$patternPicker}-editor {
          margin-right: 28px;
        }
      }
  
      &-img {
        width: $patternPicker-width;
        height: $patternPicker-height;
      }
    }
  }
  
  &-dropdown {
    box-sizing: border-box;
    width: 300px;
    padding: 20px;
    background-color: $color-white;
    border: $patternPicker-border;
    border-radius: 2px;
  }

  &-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &-preview {
    position: relative;
    box-sizing: border-box;
    width: 260px;
    height: 160px;
    padding: 14px;
    margin-bottom: 20px;
    background: url(./images/bg-canvas.png) no-repeat center; /* stylelint-disable-line */
    border: $patternPicker-border;
    border-radius: 2px;

    &-img {
      height: 100%;
    }
  }
  &-selector-list {
    height: 100%;

    .#{$scrollable} {
      &-container {
        // width: 100% !important;
        height: 100% !important;
      }

      &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100% !important;
      }
    }
  }

  &-selector-item {
    //float: left;
    display: inline-flex;
    //width: $selector-item-width;
    width: calc(100% / 4 - 2px - 20px);
    height: $selector-item-height;
    margin-right: 20px;
    margin-bottom: 20px;
    list-style: none;
    border: $global-border;
    border-color: transparent;

    //&:nth-of-type(4n) {
    //  margin-right: 0;
    //}

    &:hover {
      cursor: pointer;
      border-color: $global-active-color;
    }
  }

  &-forecolor,
  &-bg {
    &.pj-colorPicker-input {
      width: $component-content-width;
    }
  }
  // === untils === //
  &-hover {
    opacity: 0.9 !important;
    transition: opacity 0.5s;
  }

  &-active {
    border-color: $global-active-color;
  }

  &-show {
    .#{$patternPicker}-empty {
      display: none;
    }

    .#{$patternPicker}-fill {
      display: block;
    }
  }
}

.#{$patternPicker}-disabled {
  .#{$patternPicker}-action {
    .#{$patternPicker}-remove,
    .#{$patternPicker}-edit {
      cursor: not-allowed !important;
    }
  }
}
