@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
@import "pattern-picker.core";

// Vars
// =====================
$patternPicker: "pj-patternPicker";
$dropdown: "pj-dropdown";

$patternPicker-trigger-padding: 4px;

$patternPicker-border: 1px solid $border-color;
$patternPicker-border-radius: $border-radius-base;

$patternPicker-action-color: $color-white;
$patternPicker-action-gutter: 24px;
$patternPicker-action-bg-color: $color-opacity;

$patternPicker-panel-bg-color: $color-white;

$patternPicker-custom-padding-bottom: 24px;

$patternPicker-collection-scrollwrap-padding: 0 15px;
$patternPicker-collection-padding: 16px 0 24px;
$patternPicker-collection-item-margin-right: 17px;
$patternPicker-collection-item-margin-bottom: 15px;

$patternPicker-field-spacer: 20px;
$patternPicker-field-title-spacer: 12px;

$patternPicker-empty-color: $gray-dark;
$patternPicker-empty-icon-margin-bottom: 8px;
$patternPicker-empty-hover-color: $gray-darkest;

//skin
.#{$patternPicker} {
  &-trigger {
    padding: $patternPicker-trigger-padding;
    border: $patternPicker-border;
    border-style: dashed;

    &-action {
      color: $patternPicker-action-color;
      background-color:$patternPicker-action-bg-color;
      border-radius: $patternPicker-border-radius;

      i + i {
        margin-left: $patternPicker-action-gutter;
      }
    }
  }

  &-selected {
    color: $color-primary-active !important;
  }

  &-panel{
    background-color: $patternPicker-panel-bg-color;
    border: $patternPicker-border;
    border-radius: $patternPicker-border-radius;

    &-swicher {
      border-bottom: $patternPicker-border;

      > i {
        color: $gray;
      }
    }

    &-container {
      padding: $patternPicker-collection-scrollwrap-padding;
    }

    &-collection {
      padding: $patternPicker-collection-padding;
    }

    &-custom {
      padding-bottom: $patternPicker-custom-padding-bottom;
    }
  }

  &-collection {
    &-item {
      margin-right: $patternPicker-collection-item-margin-right;
      margin-bottom: $patternPicker-collection-item-margin-bottom;
      background-size: 100% 100% !important;
      border-radius: $patternPicker-border-radius;

      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }
  }

  &-empty {
    color: $patternPicker-empty-color;

    i {
      margin-bottom: $patternPicker-empty-icon-margin-bottom;
    }

    &:hover {
      color: $patternPicker-empty-hover-color;
    }
  }

  &-field,
  &-control {
    margin-top: $patternPicker-field-spacer;
  }

  &-field-title {
    margin-bottom: $patternPicker-field-title-spacer;
  }
}

.#{$patternPicker}-disabled {
  .#{$patternPicker}-empty,
  .#{$patternPicker}-fill {
    color: $disabled-color;
  }

  .#{$patternPicker}-trigger-action {
    .#{$patternPicker}-remove,
    .#{$patternPicker}-edit {
      cursor: not-allowed;
    }
  }
}

.#{$dropdown} {
  &-full-width{
    .#{$patternPicker}-scheme {
      .pj-patternPicker-collection-item:nth-of-type(5n) {
        margin-right: $patternPicker-collection-item-margin-right;
      }
    }
  }
}
