@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

// Vars
// =====================
$iconPicker: "pj-iconPicker" !default;
$iconPicker-max-height: 300px !default;

$iconPicker-trigger-arrow-icon: $pj-icon-caret-down-mini !default;
$iconPicker-trigger-arrow-font: $pj-icon-font-family !default;
$iconPicker-trigger-arrow-right: $input-padding-x !default;
$iconPicker-trigger-padding-right: 30px !default;

$iconPicker-clear-icon: $pj-icon-close !default;
$iconPicker-clear-font: $pj-icon-font-family !default;
$iconPicker-clear-right: 11px !default;

$iconPicker-item-width: 36px !default;
$iconPicker-item-height: 36px !default;

$iconPicker-icon-width: 16px !default;
$iconPicker-icon-height: 16px !default;

$iconPicker-switcher-label-padding: 7.5px 0;
$iconPicker-manage-icon: $pj-icon-setting !default;
$iconPicker-manage-font: $pj-icon-font-family !default;


$iconPicker-search-height: 40px !default;
$iconPicker-search-left: 12px !default;
$iconPicker-search-icon: $pj-icon-search !default;

.#{$iconPicker} {
  position: relative;

  &-element {
    display: none;
  }

  & &-trigger {
    width: 100%;
    padding-right: $iconPicker-trigger-padding-right;
  }

  & &-dropdown {
    width: auto;
  }

  &-main {
    position: relative;
    height: $iconPicker-max-height;
    overflow-y: auto;
  }

  &-main,
  &-pack,
  &-group,
  &-package-content-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  &-pack {
    overflow-x: hidden;
  }

  &-item {
    position:relative;
    box-sizing: border-box;
    justify-content: center;
    width: $iconPicker-item-width;
    height: $iconPicker-item-height;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
    }
  }

  &-group,
  &-packages {
    width: 100%;
  }

  &-group-label {
    width: 100%;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-pack-hided,
  &-package-hided,
  &-group-hided {
    display: none;
  }

  &-empty,
  &-not-found,
  &-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  &-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  &-packages {
    .#{$iconPicker}-group {
      margin: 0;

      &:first-child {
        margin-top: 8px;
      }

      &-label {
        padding-left: 0;
        background-color: transparent;
      }
    }
  }

  &-package-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &::before {
      @include icon();
      margin-right: 8px;
      font-family: $iconPicker-manage-font;
      content: icon-content($iconPicker-trigger-arrow-icon);
      transform: rotate(-90deg);

      .#{$iconPicker}-package-expanded & {
        transform: rotate(0deg);
      }
    }
  }

  &-package-content {
    overflow: hidden;

    .#{$iconPicker}-package-collapsed & {
      display: none;
    }

    .#{$iconPicker}-package-expanded & {
      display: block;
    }
  }

  &-manage {
    &::before {
      @include icon();
      margin-right: 5px;
      font-family: $iconPicker-manage-font;
      content: icon-content($iconPicker-manage-icon);
    }
  }

  &-switcher-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $iconPicker-switcher-label-padding;

    &::after {
      @include icon();
      margin-left: 5px;
      font-family: $iconPicker-manage-font;
      content: icon-content($iconPicker-trigger-arrow-icon);
      transform: rotate(180deg);
    }
  }

  &-switcher-dropdown {
    width: 100%;
  }

  &-trigger {
    cursor: pointer;

    &::after {
      @include icon();
      position: absolute;
      top: 50%;
      right: $iconPicker-trigger-arrow-right;
      font-family: $iconPicker-trigger-arrow-font;
      content: icon-content($iconPicker-trigger-arrow-icon);
      transform: translateY(-50%);
    }

    .#{$iconPicker}-clearable.#{$iconPicker}-selected:not(.#{$iconPicker}-disabled) &:hover::after {
      display: none;
    }
  }

  &-clear {
    position: absolute;
    top: 0;
    right: $iconPicker-clear-right;
    display: none;
    height: 100%;
    font-family: $iconPicker-clear-font;

    &::before {
      @include icon();
      vertical-align: middle;
      content: icon-content($iconPicker-clear-icon);
    }

    &::after {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }

    .#{$iconPicker}-selected:not(.#{$iconPicker}-disabled) .#{$iconPicker}-trigger:hover & {
      display: inline-block;
    }
  }

  &-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    i {
      display: inline-block;
      width: $iconPicker-icon-width;
      height: $iconPicker-icon-height;
    }
  }

  &-filter {
    position: relative;
    box-sizing: border-box;
    height: $iconPicker-search-height;

    &::before {
      @include icon();
      position: absolute;
      top: 50%;
      left: $iconPicker-search-left;
      font-family: $iconPicker-clear-font;
      content: icon-content($iconPicker-search-icon);
      transform: translateY(-50%);
    }

    input {
      box-sizing: border-box;
      width: 100% !important;
      height: 100%;
      line-height: 100%;
      border: none;
      outline: none;
    }
  }
}
