@import "@pluginjs/styles/variables.scss";
@import "icon-picker.core";

// Vars
// =====================
$iconPicker: "pj-iconPicker";

$iconPicker-color: $text-color;
$iconPicker-trigger-width: $iconPicker-width;
$iconPicker-trigger-placeholder-color: $gray;

$iconPicker-trigger-arrow-color: $gray-darkest;

$iconPicker-trigger-disabled-bg: $disabled-bg;
$iconPicker-trigger-disabled-border: $disabled-border;
$iconPicker-trigger-disabled-color: $disabled-color;

$iconPicker-clear-color: $gray;
$iconPicker-clear-hover-color: $text-color;

$iconPicker-group-label-font-size: $font-size-sm;
$iconPicker-group-label-color: $gray-darker;
$iconPicker-group-label-space-x: 11px;
$iconPicker-group-label-space-y: 8px;

$iconPicker-search-color: $gray;
$iconPicker-search-padding-x: 12px;
$iconPicker-search-padding-y: 12px;
$iconPicker-search-font-size: $input-font-size;
$iconPicker-search-border-color: $border-color;
$iconPicker-search-icon: $pj-icon-search !default;
$iconPicker-search-font: $pj-icon-font-family !default;
$iconPicker-search-right: 33px !default;
$iconPicker-search-border-color: $border-color;

$iconPicker-state-color: $gray-dark;

$iconPicker-action-padding: 8px;
$iconPicker-action-border-color: $border-color;

$iconPicker-action-hover-bg: $gray-lightest;

$iconPicker-main-padding: 6px;
$iconPicker-group-margin-bottom: $iconPicker-main-padding;

$iconPicker-item-active-color: $color-white;
$iconPicker-item-active-bg: $color-primary;

.#{$iconPicker} {
  outline: none;

  &-trigger {
    position: relative;
    color: $iconPicker-trigger-placeholder-color;

    .#{$iconPicker}-selected & {
      color: $iconPicker-color;
    }

    &::after {
      color: $iconPicker-color;
      transition: transform 0.3s;
      will-change: transform;
    }
  }

  &-clear {
    color: $iconPicker-clear-color;

    &:hover {
      color: $iconPicker-clear-hover-color;
    }
  }

  &-group-label {
    padding: $iconPicker-group-label-space-y $iconPicker-group-label-space-x;
    font-size: $iconPicker-group-label-font-size;
    color: $iconPicker-group-label-color;
  }

  &-empty,
  &-not-found,
  &-loading {
    width: 80%;
    margin: 0 auto;
    line-height: 150%;
    color: $iconPicker-state-color;
  }

  &-main {
    padding: $iconPicker-main-padding;
  }

  &-group {
    margin-bottom: $iconPicker-group-margin-bottom;
  }

  &-item {
    &.pj-dropdown-active:not(.pj-dropdown-item-disabled) {
      border-color: $iconPicker-item-active-bg;
    }
  }

  &-action {
    padding: $iconPicker-action-padding;

    &:hover {
      background: $iconPicker-action-hover-bg;
    }

    & + & {
      border-left: 1px solid $iconPicker-action-border-color;
    }
  }

  &-actions {
    border-top: 1px solid $iconPicker-action-border-color;
  }

  &-filter {
    font-size: $iconPicker-search-font-size;
    border-bottom: 1px solid $iconPicker-search-border-color;

    &::before {
      @include icon();
      position: absolute;
      top: $iconPicker-search-padding-y;
      left: $iconPicker-search-padding-x;
      font-family: $iconPicker-clear-font;
      color: $iconPicker-search-color;
      vertical-align: middle;
      content: icon-content($iconPicker-search-icon);
    }

    input {
      padding: $iconPicker-search-padding-y $iconPicker-search-padding-x;
      padding-left: $iconPicker-search-right;
    }
  }
}

.#{$iconPicker}-disabled {
  .#{$iconPicker}-trigger {
    color: $iconPicker-trigger-disabled-color;
    background-color: $iconPicker-trigger-disabled-bg;
    border-color: $iconPicker-trigger-disabled-border;

    &::after {
      color: $iconPicker-trigger-disabled-color;
    }
  }
}
