@import "@pluginjs/styles/variables.scss";
@import "icon-picker.core";

// Vars
// =====================
$iconPicker: "pj-iconPicker";
$dropdown: "pj-dropdown";

$iconPicker-color: $text-color;

$iconPicker-content-gutter: 16px;
$iconPicker-item-size: 31px;
$iconPicker-item-margin: 4px;
$iconPicker-item-hover-bg: $gray-lighter;
$iconPicker-item-icon-font-size: $font-size-md;
$iconPicker-item-active-color: $color-white;
$iconPicker-item-active-bg: $color-primary;
$iconPicker-item-active-color: $color-white;
$iconPicker-item-active-bg: $color-primary;
$iconPicker-bg: $color-white;

$iconPicker-trigger-placeholder-color: $gray;
$iconPicker-trigger-disabled-bg: $disabled-bg;
$iconPicker-trigger-disabled-border: $disabled-border;
$iconPicker-trigger-disabled-color: $disabled-color;

$iconPicker-clear-color: $gray;
$iconPicker-clear-hover-color: $text-color;

$iconPicker-group-label-font-size: $font-size-base;
$iconPicker-group-label-color: $gray-darker;
$iconPicker-group-label-space-x: 12px;
$iconPicker-group-label-space-y: 9.5px;
$iconPicker-package-header-backgroud-color: rgba(250,250,250,1);

$iconPicker-search-color: $gray;
$iconPicker-search-padding-x: 12px;
$iconPicker-search-padding-y: 12px;
$iconPicker-search-font-size: $input-font-size;
$iconPicker-search-border-color: $border-color;
$iconPicker-search-right: 33px;

$iconPicker-state-color: $gray-dark;

$iconPicker-action-padding: 7.5px 0;
$iconPicker-action-font-size: $font-size-base;
$iconPicker-action-border-color: $border-color;

$iconPicker-action-hover-bg: $gray-lightest;

$iconPicker-main-margin: 8px;

$iconPicker-group-margin-bottom: 8px;

.#{$iconPicker} {
  outline: none;

  &-trigger {
    position: relative;
    color: $iconPicker-trigger-placeholder-color;

    .#{$iconPicker}-selected & {
      color: $iconPicker-color;
    }

    &::after {
      color: $iconPicker-color;
      transition: transform 0.3s;
      will-change: transform;
    }
  }

  &-clear {
    color: $iconPicker-clear-color;

    &:hover {
      color: $iconPicker-clear-hover-color;
    }
  }

  &-group-label {
    padding: $iconPicker-group-label-space-y 0;
    font-size: $iconPicker-group-label-font-size;
    color: $iconPicker-group-label-color;
  }

  &-empty,
  &-not-found,
  &-loading {
    position: absolute;
    width: 100%;
    color: $iconPicker-state-color;
    background-color: $iconPicker-bg;
  }

  &-pack {
    width: 100%;
    height: 100%;
    padding: 0 $iconPicker-content-gutter;

    &-all-icon {
      padding: 0;
    }
  }

  &-package {
    &-header {
      padding: $iconPicker-group-label-space-y $iconPicker-group-label-space-x;
      font-size: $iconPicker-group-label-font-size;
      color: $iconPicker-group-label-color;
      background-color: $iconPicker-package-header-backgroud-color;
    }

    &-content-inner {
      padding: 0 $iconPicker-content-gutter;
    }
  }

  &-group {
    margin-bottom: $iconPicker-group-margin-bottom;
  }

  &-item {
    width: calc(20% - #{$iconPicker-item-margin * 2});
    padding: 0;
    margin: $iconPicker-item-margin;
    background-color: transparent !important;

    &.pj-dropdown-highlighted:not(.pj-dropdown-item-disabled) {
      background-color: transparent;
    }

    &:not(.pj-dropdown-item-disabled):hover i {
      background-color: $iconPicker-item-hover-bg;
    }

    &.pj-dropdown-active {
      &:not(.pj-dropdown-item-disabled) i {
        color: $iconPicker-item-active-color;
        background-color: $iconPicker-item-active-bg;
      }
    }
  }

  &-actions {
    border-top: 1px solid $iconPicker-action-border-color;
  }

  &-action {
    font-size: $iconPicker-action-font-size;

    &:hover {
      background: $iconPicker-action-hover-bg;
    }

    & + & {
      border-left: 1px solid $iconPicker-action-border-color;
    }
  }

  &-manage {
    padding: $iconPicker-action-padding;
  }

  &-filter {
    font-size: $iconPicker-search-font-size;
    border-bottom: 1px solid $iconPicker-search-border-color;

    &::before {
      color: $iconPicker-search-color;
    }

    input {
      padding: $iconPicker-search-padding-y $iconPicker-search-padding-x;
      padding-left: $iconPicker-search-right;
    }
  }
}

.#{$iconPicker}-disabled {
  .#{$iconPicker}-trigger {
    color: $iconPicker-trigger-disabled-color;
    background-color: $iconPicker-trigger-disabled-bg;
    border-color: $iconPicker-trigger-disabled-border;

    &::after {
      color: $iconPicker-trigger-disabled-color;
    }
  }
}
