<h3>Layout</h3>
<div class="example">
  <button type="button" class="pj-popover-btn" data-toggle="pop-dialog" title="Only title">Only title</button>
  <button type="button" class="pj-popover-btn" data-toggle="pop-dialog" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Only Content</button>
  <button type="button" class="pj-popover-btn" data-toggle="pop-dialog" title="PopDialog title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content</button>
  <button type="button" class="pj-popover-btn" data-toggle="pop-dialog" data-close="true" title="PopDialog title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content + Close</button>
</div>