@import "@pluginjs/styles/variables.scss";
// Vars
// =====================

$tree: "pj-tree" !default;

$tree-indent: 10px !default;
$tree-toggler-size: 15px !default;
$tree-element-indent: $tree-toggler-size !default;

$tree-selected-color: $color-primary !default;

// Core
// ======================
.#{$tree} {
  padding: 0;
  margin: 0;
  list-style: none;

  ul {
    display: none;
    padding: 0;
    margin-left: $tree-indent;
    list-style: none;
  }

  .#{$tree}-branch {
    &:focus {
      outline: none;
    }
  }

  &-element {
    position: relative;
    margin-left: $tree-element-indent;
  }

  &-toggler {
    position: absolute;
    top: 0;
    right: 100%;
    width: $tree-toggler-size;
    height: 100%;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-open {
    > ul {
      display: block;
    }
  }

  &-selected {
    > .#{$tree}-element {
      color: $tree-selected-color;
    }
  }
}
