@import "@pluginjs/styles/variables.scss";
// Vars
// =====================

$tree: "pj-tree" !default;
$tree-sizer: $sizer !default;
$tree-font-size: 1.4 * $tree-sizer !default;
$tree-spacer: 1.8 * $tree-sizer !default;
$tree-toggler-width: 2 * $tree-sizer !default;
$tree-toggler-height: 2 * $tree-sizer !default;
$tree-color: $gray-darkest !default;
$tree-selected-color: $color-primary !default;

// Core
// ======================
.#{$tree} {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: $tree-spacer 0;
    font-size: $tree-font-size;
    color: $tree-color;
    text-indent: $tree-toggler-width;
    

    &.#{$tree}-selected {
      color: $tree-selected-color;
    }

    &:focus {
      outline: none;
    }

    .#{$tree}-element {
      text-indent: 0;
      &:focus {
        outline: none;
      }
    }

    .#{$tree}-element > * {
      text-indent: 0;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
     // stylelint-disable
    li {
      text-indent: 30px;

      .#{$tree}-element {
        text-indent: 10px;
      }
    }

    ul {
      li {
        text-indent: 40px;

        .#{$tree}-element {
          text-indent: 20px;
        }
      }

      ul {
        li {
          text-indent: 50px;

          .#{$tree}-element {
            text-indent: 30px;
          }
        }

        ul {
          li {
            text-indent: 60px;

            .#{$tree}-element {
              text-indent: 40px;
            }
          }

          ul {
            li {
              text-indent: 70px;

              .#{$tree}-element {
                text-indent: 50px;
              }
            }

            ul {
              li {
                text-indent: 80px;

                .#{$tree}-element {
                  text-indent: 60px;
                }
              }
            }
          }
        }
      }
    }
  }

  // icon
  &-toggler {
    display: inline-block;
    *display: inline;
    width: $tree-toggler-width;
    height: $tree-toggler-height;
    cursor: pointer;
    *zoom: 1;
  }

  // list
  &-branch {
    > ul {
      display: none;

      &.#{$tree}-expand {
        display: block;
      }
    }

    &.#{$tree}-open {
      > ul {
        display: block;
      }
    }
  }

  &-element {
    > * {
      display: inline-block;
      letter-spacing: 0;
      vertical-align: middle;
    }
  }
}
// stylelint-enable
