@import "@pluginjs/styles/variables.scss";
@import "tree.core";

// Vars
// =====================
$tree-font-size: $font-size-sm;
$tree-line-height: 22px;
$tree-spacer: 4px;
$tree-spacer-top: 7px;
$tree-gatter: 6px;
$tree-color: $gray-darkest;
$tree-selected-color: $color-primary;
$tree-input-font-family: "font-awesome";

// style
// =======================
.#{$tree} {
  font-family: $font-family-base;
  text-transform: capitalize;

  > li:first-child {
    padding-top: $tree-spacer-top;
  }

  li {
    padding: $tree-spacer 0;
    padding-bottom: 0;
    font-size: $tree-font-size;
    line-height: $tree-line-height;
    color: $tree-color;
    cursor: pointer;
    user-select: none;

    &.#{$tree}-selected {
      color: $tree-selected-color;
    }

    &:focus {
      outline: none;
    }

    .#{$tree}-element {
      text-indent: 0;
      &:focus {
        outline: none;
      }
    }

    .#{$tree}-element > * {
      text-indent: 0;
    }
  }

    &-element {
      &:hover {
        color: $tree-selected-color;
      }
    }

    li[tabindex="0"] {
      margin-left: $tree-gatter;
      text-indent: 0;

      &:hover {
        color: $tree-selected-color;
      }
    }
}

.#{$tree}-arrows {
  .#{$tree}-toggler {
    margin-right: $tree-gatter;
    line-height: $tree-toggler-height;
    text-align: center;
    vertical-align: middle;

    &::before {
      z-index: -1;
      font-family: $tree-input-font-family;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      content: "\f0da";
      transform: translateY(-50%);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

// stylelint-disable
  .#{$tree}-branch.#{$tree}-open {
    > .#{$tree}-element {

      .#{$tree}-toggler {
        &::before {
          content: "\f0d7";
        }
      }
    }
  }
}
// stylelint-enable
