@import "@pluginjs/styles/variables.scss";
@import "tree.core";

// Vars
// =====================
$tree-input-font-family: "font-awesome" !default;
$tree-line-left: 1.5 * $tree-sizer !default;
$tree-line-bg: #b3b3b3 !default;


// arrow
// =======================

.#{$tree}-arrows {
  .#{$tree}-toggler {
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      z-index: -1;
      font-family: $tree-input-font-family;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      content: "\f0da";
      transform: translateY(-50%);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

// stylelint-disable
  .#{$tree}-branch.#{$tree}-open {
    > .#{$tree}-element {
      .#{$tree}-toggler {
        &::before {
          content: "\f0d7";
        }
      }
    }
  }
}
// stylelint-enable
