@import "@pluginjs/styles/variables.scss";
@import "tree.core";

// Vars
// =====================
$tree-font-family: $font-family-base;
$tree-font-size: $font-size-sm;
$tree-line-height: 22px;

$tree-spacer: 5px;
$tree-spacer-left: 22px;
$tree-gatter: 8px;
$tree-ul-margin: 17px;

$tree-color: $gray-darkest;
// $tree-color-dark: $gray-dark;
$tree-selected-color: $color-primary;

$tree-input-font-family: "font-awesome";

// style
// =======================
.#{$tree} {
  font-family: $tree-font-family;
  font-size: $tree-font-size;
  line-height: $tree-line-height;
  color: $tree-color;
  text-transform: capitalize;
  vertical-align: middle;

  li {
    margin-left: $tree-spacer;
    cursor: pointer;
    user-select: none;

    &.#{$tree}-selected {
      color: $tree-selected-color;

      ul {
        color: $tree-color;
      }
    }

    &:focus {
      outline: none;
    }

    .#{$tree}-element {

      &:focus {
        outline: none;
      }
    }
  }

  &-toggle {
    width: $tree-toggler-width;
    height: $tree-toggler-height;
  }

    &-element {
      &:hover {
        color: $tree-selected-color;
      }
    }

    li[tabindex="0"] {
      margin-left: $tree-gatter;

      &:hover {
        color: $tree-selected-color;
      }
    }

  ul {
    padding: 0 0 0 $tree-ul-margin;
    
    li + li[tabindex="0"] {
      margin-left: $tree-spacer-left;
    }

    li[tabindex="0"] + li[tabindex="0"] {
       margin-left: $tree-gatter;
    }

    // ul {

    //   li[tabindex="0"] {
    //     color: $tree-color-dark;

    //     &.#{$tree}-selected {
    //       color: $tree-selected-color;
    //     }
    //   }
    // }
  }
}

.#{$tree}-arrows {
  .#{$tree}-toggler {
    margin-right: $tree-gatter;
    line-height: $tree-toggler-height;
    text-align: center;
    vertical-align: middle;

    &::before {
      z-index: -1;
      font-family: $tree-input-font-family;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      content: "\f0da";
      transform: translateY(-50%);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

// stylelint-disable
  .#{$tree}-branch.#{$tree}-open {
    > .#{$tree}-element {

      .#{$tree}-toggler {
        &::before {
          content: "\f0d7";
        }
      }
    }
  }
}
// stylelint-enable
