@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$reveal: "pj-reveal" !default;

// Core
// =====================
.#{$reveal} {
  visibility: hidden;

  &-animated {
  	visibility: visible;
  }
}

@import "animation/bounces";
@import "animation/fades";
// @import "animation/fade";
// @import "animation/flip";
// @import "animation/slide";
// @import "animation/zoom";
// @import "animation/attention_seekers";
