@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$reveal: "pj-reveal" !default;

// Core
// =====================
.#{$reveal} {
  animation-fill-mode: backwards;
  visibility: hidden !important;

  &.#{$reveal}-show {
    visibility: visible !important;
  }
}

@import "animation/bounces";
@import "animation/fades";
@import "animation/flippers";
@import "animation/rolls";
@import "animation/rotates";
@import "animation/slides";
@import "animation/zooms";
@import "animation/others";
