@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$itemList: "pj-item-list" !default;
$list: "pj-list" !default;

$itemList-add-height: 3 * $sizer !default; //30px
$itemList-add-color: $gray-dark !default;
$itemList-add-bg: transparent !default;
$itemList-add-border-color: $gray-border !default;
$itemList-add-border-radius: $border-radius-base !default;

$itemList-add-hover-color: $gray-darkest !default;


$itemList-add-active-border-color: $color-primary !default;
$itemList-add-active-bg: $gray-lighter !default;
// clone
$clone-margin-right: 0.4 * $sizer !default; //4px

.#{$itemList} {
  .#{$list}-add {
    width: 100%;
    height: $itemList-add-height;
    line-height: $itemList-add-height;
    color: $itemList-add-color;
    text-align: center;
    background-color: $itemList-add-bg;
    border: 1px dashed $itemList-add-border-color;
    border-radius: $itemList-add-border-radius;
    outline: none;

    .pj-icon {
      line-height: 100%;
    }

    &:not(:disabled):hover {
      color: $itemList-add-hover-color;
    }

    &:not(:disabled):active {
      background-color: $itemList-add-active-bg;
    }
  }
}
