@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$itemList: "pj-item-list" !default;
$list: "pj-list" !default;

$itemList-item-bg-color: $color-white;

$itemList-handle-font-size:14px;
$itemList-handle-padding: 12px;

$itemList-add-color: #ccc;
$itemList-add-hover-color: $gray-darkest;
$itemList-add-border-color: $gray;
$itemList-add-active-color: rgba($color-white, 0.1);

.#{$itemList} {
  .#{$list}-add {
    width: 100%;
    padding: $itemList-handle-padding;
    font-size: $itemList-handle-font-size;
    color: $itemList-add-color;
    background: $itemList-item-bg-color;
    border: 1px dashed $itemList-add-border-color;

    &:hover,
    &:active {
      color: $itemList-add-hover-color;
    }

    &:active {
      background: $itemList-add-active-color;
    }

    .pj-icon {
      display: block;
    }
  }
}
