@import "@pluginjs/styles/variables.scss";
@import "accordion.core";

// Vars
// =====================
$accordion: "pj-accordion" !default;
$accordion-font-size: $font-size-base !default;
$accordion-font-family: $font-family-base !default;
$accordion-font-weight: $font-weight-normal !default;
$accordion-line-height: $line-height-sm !default;
$accordion-box-shadow: $box-shadow-base !default;
$accordion-active-hover-color: $btn-color-primary !default;
$accordion-border-width: $border-width !default;
$accordion-border-color: $border-color !default;
$accordion-border-radius: $border-radius-base !default;
$accordion-header-color: $text-title-color !default;
$accordion-pane-interval: 20px !default;
$accordion-header-spacer-x: 26px !default;
$accordion-header-spacer-y: 16px !default;
$accordion-header-icon-sapce-x: 15px !default;
$accordion-header-flag-sapcer-x: 19px !default;
$accordion-content-spacer-x: $accordion-header-spacer-x !default;
$accordion-content-spacer-y: 20px !default;
$accordion-horizontal-height: 234px !default;
$accordion-horizontal-header-spacer-x: 16px !default;
$accordion-horizontal-header-spacer-y: 22px !default;
$accordion-horizontal-content-spacer-x: 24px !default;
$accordion-horizontal-content-spacer-y: $accordion-horizontal-header-spacer-y !default;
$accordion-horizontal-header-width: ceil(
  $accordion-font-size * $accordion-line-height + $accordion-header-spacer-y * 2
) !default;
$accordion-responsive-space: 100px !default;
$accordion-dropdown-header-icon-sapce-x: 12px !default;
$accordion-dropdown-header-flag-sapcer-x: 15px !default;
$accordion-dropdown-header-spacer-x: 18px !default;
$accordion-dropdown-header-spacer-y: 22px !default;
$accordion-dropdown-header-width: $accordion-horizontal-height;
$accordion-dropdown-header-after: $color-white !default;
$accordion-dropdown-active-color: $color-white !default;

// default
// =====================
.#{$accordion} {
  font-family: $accordion-font-family;
  
  &.#{$accordion} {
    // font-size: $accordion-font-size;
    // line-height: $accordion-line-height;
  }

  .#{$accordion} {
    &-pane {
      border: $border-width solid $accordion-border-color;
      border-radius: $accordion-border-radius;
    }

    &-pane + .#{$accordion}-pane {
      margin-top: $accordion-pane-interval;
    }

    &-pane-header {
      position: relative;
      padding: $accordion-header-spacer-y $accordion-header-spacer-x;
      overflow: hidden;
      font-weight: $accordion-font-weight;
      line-height: 1;
      color: $accordion-header-color;

      &:hover {
        color: $accordion-active-hover-color;
      }
    }

    &-icon {
      margin-right: $accordion-header-icon-sapce-x;
    }

    &-flag {
      position: absolute;
      top: 50%;
      right: $accordion-header-flag-sapcer-x;
      transition: transform 0.3s;
      transform: translateY(-50%);
    }

    &-pane-content-inner {
      padding: $accordion-content-spacer-y $accordion-content-spacer-x;
      border-top: $border-width solid $accordion-border-color;
    }

    &-active {
      .#{$accordion}-pane-header {
        color: $accordion-active-hover-color;
      }

      .#{$accordion}-rotate-90 {
        transform: translateY(-50%) rotate(90deg);
      }

      .#{$accordion}-pane-content-inner {
        border-top: 0;
      }
    }
  }

  &.#{$accordion}-horizontal {
    height: $accordion-horizontal-height;

    .#{$accordion} {
      &-pane + .#{$accordion}-pane {
        margin-top: 0;
        margin-left: $accordion-pane-interval;
      }

      &-pane-header {
        width: $accordion-horizontal-height;
        height: $accordion-horizontal-header-width;
        padding: $accordion-horizontal-header-spacer-x $accordion-horizontal-header-spacer-y;
      }

      &-pane-content {
        border-top: 0;
        border-left: $border-width solid $accordion-border-color;
      }

      &-pane-content-inner {
        padding: $accordion-horizontal-content-spacer-y $accordion-horizontal-content-spacer-x;
        border-top: 0;
      }
    }
  }

  &-dropdown {
    position: relative;
    width: $accordion-dropdown-header-width;
    font-size: $accordion-font-size;
    line-height: $accordion-line-height;

    .#{$accordion}-flag  {
      position: absolute;
      top: 50%;
      right: $accordion-dropdown-header-flag-sapcer-x;
      transition: transform 0.3s;
      transform: translateY(-50%);
    }

    .#{$accordion}-icon {
      margin-right: $accordion-dropdown-header-icon-sapce-x;
    }

    .#{$accordion}-rotate-0 {
      transform: translateY(-50%) rotate(0deg);
    }


    &.#{$accordion}-open {

      .#{$accordion}-dropdown-label {
        border-radius: $accordion-border-radius;
      }

      .#{$accordion}-icon {
        margin-right: $accordion-dropdown-header-icon-sapce-x;
      }

      .#{$accordion}-rotate-90 {
        transform: translateY(-50%) rotate(90deg);
      }

      + .#{$accordion}.#{$accordion}-responsive {
        opacity: 0;
        transition: transform 0.3s;
      }
    }
  }

  // &.#{$accordion}-dropdown + .#{$accordion}-responsive {
  //   margin-top: $accordion-pane-interval;
  // }

  &-dropdown-label {
    padding: $accordion-header-spacer-y $accordion-header-spacer-x;
    color: $accordion-header-color;
    border: $accordion-border-width solid $accordion-border-color;
    border-bottom: 0;

    &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      content: "";
      background: $accordion-dropdown-header-after;
    }
  }

  &-dropdown-list {
    border: $accordion-border-width solid $accordion-border-color;
    border-radius: $accordion-border-radius;

    > li {
      padding: $accordion-header-spacer-y $accordion-header-spacer-x;

      + li {
        border-top: $accordion-border-width solid $accordion-border-color;
      }

      .#{$accordion}-flag {
        opacity: 0;
        transition: transform 0.3s;
      }

      &:hover {
        color: $accordion-dropdown-active-color;
      }

      &.#{$accordion}-active {
        color: $accordion-dropdown-active-color;
      }
    }
  }

  &.#{$accordion}-responsive {
    margin-bottom: $accordion-responsive-space;
    border: $accordion-border-width solid $accordion-border-color;

    .#{$accordion}-pane {
      background: $accordion-dropdown-header-after;
      border: 0;

      + .#{$accordion}-pane {
        margin-top: 0;
      }
    }

    .#{$accordion}-pane-content {
      border-left: 0;
    }

    .#{$accordion}-pane-content-inner {
      border-top: 0;
    }

    &.#{$accordion}-horizontal {
      .#{$accordion}-pane + .#{$accordion}-pane {
        margin-left: 0;
      }
    }
  }
}
