@import "@pluginjs/styles/variables.scss";
@import "accordion.core";

// Vars
// =====================
$accordion: "pj-accordion";

$accordion-font-family: $font-family-base;
$accordion-font-size: $font-size-sm;
$accordion-line-height: $line-height-sm;
$accordion-pane-interval: 20px;

$accordion-hover-color: $color-primary;
$accordion-active-color: $color-primary;

$accordion-border-width: $border-width;
$accordion-border-color: $border-color;
$accordion-border-radius: $border-radius-base;

$accordion-header-spacer-x: 24px;
$accordion-header-spacer-y: 16px;
$accordion-header-icon-sapce-x: 10px;
$accordion-header-flag-sapcer-x: 16px;
$accordion-header-color: $text-title-color;

$accordion-content-spacer: $accordion-header-spacer-x;
$accordion-content-spacer-top: $accordion-content-spacer - $accordion-header-spacer-y;
$accordion-content-color: $text-subtitle-color;

$accordion-horizontal-height: 230px;
$accordion-horizontal-header-spacer-x: 16px;
$accordion-horizontal-header-spacer-y: 24px;
$accordion-horizontal-header-width: $accordion-font-size + $accordion-horizontal-header-spacer-x * 2;
$accordion-horizontal-content-spacer: $accordion-horizontal-header-spacer-y;
$accordion-horizontal-content-spacer-left: $accordion-horizontal-content-spacer - $accordion-horizontal-header-spacer-x;

$accordion-dropdown-bg: $color-white;
$accordion-dropdown-hover-color: $color-primary !default;
$accordion-dropdown-active-color: $color-primary !default;


// default
// =====================
.#{$accordion} {
  font-family: $accordion-font-family;
  font-size: $accordion-font-size;
  color: $accordion-content-color;

  &-pane {
    border: $border-width solid $accordion-border-color;
    border-radius: $accordion-border-radius;
  }

  &-pane + .#{$accordion}-pane {
    margin-top: $accordion-pane-interval;
  }

  &-pane-header {
    position: relative;
    padding: $accordion-header-spacer-y $accordion-header-spacer-x;
    overflow: hidden;
    line-height: 1;
    color: $accordion-header-color;

    &:hover {
      color: $accordion-hover-color;
    }
  }

  &-icon {
    margin-right: $accordion-header-icon-sapce-x;
  }

  &-flag {
    position: absolute;
    top: 50%;
    right: $accordion-header-flag-sapcer-x;
    transition: transform 0.3s;
    transform: translateY(-50%);
  }

  &-pane-content-inner {
    padding: $accordion-content-spacer-top $accordion-content-spacer $accordion-content-spacer;
  }

  &-active {
    .#{$accordion}-pane-header {
      color: $accordion-active-color;
    }

    .#{$accordion}-rotate-90 {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.#{$accordion}-horizontal {
  height: $accordion-horizontal-height;

  .#{$accordion} {
    &-pane + .#{$accordion}-pane {
      margin-top: 0;
      margin-left: $accordion-pane-interval;
    }

    &-pane-header {
      width: $accordion-horizontal-height;
    }

    &-pane-content {
      margin-left: $accordion-horizontal-header-width;
      border-left: $border-width solid $accordion-border-color;
    }

    &-pane-content-inner {
      padding: $accordion-horizontal-content-spacer;
    }
  }
}

.#{$accordion}-dropdown {
  position: relative;
  width: 100%;

  &-label {
    padding: $accordion-header-spacer-y $accordion-header-spacer-x;
    color: $accordion-header-color;
    background-color: $accordion-dropdown-bg;
    border: $accordion-border-width solid $accordion-border-color;
    border-bottom: 0;
    border-radius: $accordion-border-radius $accordion-border-radius 0 0;
  }

  &-list {
    background-color: $accordion-dropdown-bg;
    border: $accordion-border-width solid $accordion-border-color;
    border-radius: 0 0 $accordion-border-radius $accordion-border-radius;

    > li {
      padding: $accordion-header-spacer-y $accordion-header-spacer-x;

      + li {
        border-top: $accordion-border-width solid $accordion-border-color;
      }

      &:hover {
        color: $accordion-dropdown-active-color;
      }

      &.#{$accordion}-active {
        color: $accordion-dropdown-active-color;
      }
    }
  }

  .#{$accordion}-rotate-90 {
    transform: translateY(-50%) rotate(90deg);
  }
}

.#{$accordion}-responsive {
  border: $accordion-border-width solid $accordion-border-color;
  border-top: 0;
  border-radius: 0 0 $accordion-border-radius $accordion-border-radius;

  .#{$accordion}-pane {
    border: 0;

    + .#{$accordion}-pane {
      margin: 0;
    }
  }

  .#{$accordion}-pane-content {
    border: 0;
  }

  .#{$accordion}-pane-content-inner {
    padding: $accordion-content-spacer-top $accordion-content-spacer $accordion-content-spacer;
  }
}

