@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$progress: "pj-progress" !default;
$progress-height: 4px !default;
$progress-height-max: 8px !default;
$progress-font-family: $font-family-base !default;
$progress-margin-bottom: 40px !default;

// Core
// =====================
.#{$progress} {
  position: relative;
  height: $progress-height;
  margin-bottom: $progress-margin-bottom;
  font-family: $progress-font-family;

  &-standard-bar {
    height: $progress-height-max;
  }

  &.#{$progress}-vertical {
    display: flex;
    flex-direction: column-reverse;

    .#{$progress}-label {
      top: 0;
      bottom: auto;
      left: -7px;
      &::before {
        bottom: 50%;
        left: 0;
        transform: translate(-100%, 50%);
      }
    }

    &.#{$progress}-standard-bar {
      .#{$progress}-label {
        left: -4px;
      }
    }

    // .#{$progress}-label {
    //   bottom: -20px;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
  }

  &-bar {
    position: relative;
    display: block;
    height: 100%;
  }

  // &-label {
  //   position: absolute;
  //   bottom: 4px;
  //   left: 0;
  //   display: inline-block;
  //   white-space: nowrap;
  // }

  &-label {
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: 99;
    text-align: center;
    user-select: none;
    transform: translate(50%, -50%);

    &::before {
      position: absolute;
      bottom: auto;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      content: "";
      transform: translate(-50%, -100%);
    }
  }
}
