@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$progress: "pj-progress" !default;
$progress-size: 4px !default;

$progress-bg: $gray-lighter !default;
$progress-bar-color: $color-primary !default;

// Core
// =====================
.#{$progress} {
  position: relative;
  height: $progress-size;
  background-color: $progress-bg;

  &-bar {
    position: relative;
    display: block;
    height: 100%;
    background-color: $progress-bar-color;
  }

  &-label {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    line-height: 1em;
    text-align: center;
    user-select: none;
    transform: translateX(50%);
  }

  &-vertical {
    display: flex;
    flex-direction: column-reverse;
    width: $progress-size;

    .#{$progress}-bar {
      width: 100%;
    }

    .#{$progress}-label {
      top: 0;
      right: auto;
      left: 100%;
      transform: translateY(-50%);
    }
  }
}
