@import "@pluginjs/styles/variables.scss";
@import "progress.core";

// Vars
// =====================
$progress: pj-progress !default;
// core vars
$progress-bg-color: $gray-lightest !default;
$progress-height: 0.3125rem !default;
$progress-height-max: 0.5625rem !default;
// bar vars
$progress-bar-bg-color: $color-primary !default;
$progress-bar-bg-image: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.35) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, 0.35) 50%,
  rgba(255, 255, 255, 0.35) 75%,
  transparent 75%,
  transparent
) !default;
$progress-bar-bg-size: 1.25rem 1.25rem !default;
// value vars
$progress-value-width: 2.75rem !default;
$progress-value-height: 1.625rem !default;
$progress-value-fontSize: $font-size-xs !default;
$progress-value-color: $color-white !default;
$progress-value-bg-color: $color-black !default;
$progress-value-radius: $border-radius-base !default;
$progress-value-box-shadow: $box-shadow-base !default;

$progress-value-vertical-height: 18.75rem !default;
$progress-value-vertical-width: $progress-height !default;
$progress-value-vertical-width-max: $progress-height-max !default;

// default
// ======================================
.#{$progress} {
  height: $progress-height;
  background-color: $progress-bg-color;

  &-standard-bar {
    height: $progress-height-max;
  }

  .#{$progress} {
    &-bar {
      background: $progress-bar-bg-color;
      background-image: $progress-bar-bg-image;
      background-size: $progress-bar-bg-size;
    }

    &-value {
      width: $progress-value-width;
      height: $progress-value-height;
      font-size: $progress-value-fontSize;
      line-height: $progress-value-height;
      color: $progress-value-color;
      background: $progress-value-bg-color;
      border-radius: $progress-value-radius;
      // box-shadow: $progress-value-box-shadow;

      &::before {
        border: 6px solid transparent;
        border-bottom-color: $progress-value-bg-color;
      }
    }
  }

  &-vertical {
    width: $progress-value-vertical-width;
    height: $progress-value-vertical-height;

    &.#{$progress}-standard-bar {
      width: $progress-height-max;
    }
  

    .#{$progress}-value {
      &::before {
        border: 6px solid transparent;
        border-right-color: $progress-value-bg-color;
      }
    }
  }
}
