@import "@pluginjs/styles/variables.scss";
@import "progress.core.scss";

// Vars
// =====================
$progress: "pj-progress";
$progress-font-family: $font-family-base;
$progress-margin-bottom: 40px;

$progress-bg-color: rgba($color-black, 0.05);
$progress-border-radius: $border-radius-sm;
// bar vars
$progress-bar-bg-color: $color-primary;
$progress-bar-bg-image: linear-gradient(
  135deg,
  rgba($color-white, 0.12) 25%,
  transparent 25%,
  transparent 50%,
  rgba($color-white, 0.12) 50%,
  rgba($color-white, 0.12) 75%,
  transparent 75%,
  transparent
);
$progress-bar-bg-size: 20px 20px;
// label vars
$progress-label-width: 44px;
$progress-label-height: 26px;
$progress-label-font-size: $font-size-xs;
$progress-label-color: $color-white;
$progress-label-bg-color: $gray-darkest;
$progress-label-radius: $border-radius-base;
$progress-label-box-shadow: $box-shadow-base;
$progress-label-vertical-height: 300px;
$progress-label-vertical-width: $progress-height;
$progress-label-vertical-width-max: $progress-height-max;
$progress-label-vertical-tri: 6px;

// default
// ======================================
.#{$progress} {
  margin-bottom: $progress-margin-bottom;
  font-family: $progress-font-family;
  background-color: $progress-bg-color;
  border-radius: $progress-border-radius;

  .#{$progress} {
    &-bar {
      background: $progress-bar-bg-color;
      background-image: $progress-bar-bg-image;
      background-size: $progress-bar-bg-size;
      border-radius: $progress-border-radius 0 0 $progress-border-radius;
    }

    &-label {
      width: $progress-label-width;
      height: $progress-label-height;
      font-size: $progress-label-font-size;
      line-height: $progress-label-height;
      color: $progress-label-color;
      background: $progress-label-bg-color;
      border-radius: $progress-label-radius;

      &::before {
        border: $progress-label-vertical-tri solid transparent;
        border-bottom-color: $progress-label-bg-color;
      }
    }
  }

  &-vertical {
    width: $progress-label-vertical-width;
    height: $progress-label-vertical-height;

    .#{$progress}-bar {
      border-radius: 0  0 $progress-border-radius $progress-border-radius;
    }

    &.#{$progress}-standard-bar {
      width: $progress-height-max;
    }

    .#{$progress}-label {
      &::before {
        border: $progress-label-vertical-tri solid transparent;
        border-right-color: $progress-label-bg-color;
      }
    }
  }
}
