---
title: Progress
layout: plugin
styles:
- ../../plugins/progress/css/progress.css
scripts:
- ../../plugins/progress/progress.js
---
<style>
  .pj-progress-vertical-demo{
    height: 300px;
    width: 3px;
  }
</style>
<div>
  <button class="btn api-init">init</button>
  <button class="btn api-destroy">destroy</button>
  <button class="btn api-enable">enable</button>
  <button class="btn api-disable">disable</button>
</div>
<div class="console"></div>
<div class="top-gap">
  <button class="btn api-get">get()</button>
  <button class="btn api-start">start()</button>
  <button class="btn api-stop">stop()</button>
  <button class="btn api-go">go('50')</button>
  <button class="btn api-go-percentage">go('50%')</button>
  <button class="btn api-finish">finish()</button>
  <button class="btn api-reset">reset()</button>
</div>
<div class="pj-progress" role="progressbar" data-goal="30">
  <div class="pj-progress-bar" style="width: 30%"></div>
</div>
<div class="pj-progress" role="progressbar" data-goal="-50" aria-valuemin="-100" aria-valuemax="0" data-label="test label">
  <div class="pj-progress-bar"><span class="pj-progress-value"></span></div>
</div>
<div class="pj-progress" role="progressbar" data-goal="60" aria-valuemin="0" aria-valuemax="100">
  <div class="pj-progress-bar" style="width: 50%"></div>
</div>

<div class="pj-progress pj-progress-vertical-demo" role="progressbar" data-goal="60" aria-valuemin="0" aria-valuemax="100" data-direction='vertical' data-label='vertical'>
  <div class="pj-progress-bar" style="width: 50%"><span class="pj-progress-value"></span></div>
</div>

<script>
$(function(){
  const Api = Pj.progress('.pj-progress', {
    theme: null,
    onReady: function() {
      log('ready', 'event');
    },
    onDestroy: function() {
      log('destroy', 'event');
    },
    onEnable: function() {
      log('enable', 'event');
    },
    onDisable: function() {
      log('disable', 'event');
    },
    onUpdate: function(val) {
      log('update: '+JSON.stringify(val), 'event');
    },
    onFinish: function() {
      log('finish', 'event');
    },
    onStop: function() {
      log('stop', 'event');
    },
    onReset: function() {
      log('reset', 'event');
    },
    onStart: function() {
      log('start', 'event');
    },
  });

  $('.api-init').on('click', function() {
    console.info('init');
  });

  $('.api-destroy').on('click', function() {
    console.info('destroy');
    Api('destroy');
  });

  $('.api-enable').on('click', function() {
    console.info('enable');
    Api('enable');
  });

  $('.api-disable').on('click', function() {
    console.info('disable');
    Api('disable');
  });

  $('.api-get').on('click', function() {
    console.info('get');
    console.info(Api('get'));
  });

  $('.api-start').on('click', function() {
    console.info('start');
    Api('start');
  });

  $('.api-finish').on('click', function() {
    console.info('finish');
    Api('finish');
  });

  $('.api-go').on('click', function() {
    console.info('go');
    Api('go', 50);
  });

  $('.api-go-percentage').on('click', function() {
    console.info('go percentage');
    Api('go', '50%');
  });

  $('.api-stop').on('click', function() {
    console.info('stop');
    Api('stop');
  });

  $('.api-reset').on('click', function() {
    console.info('reset');
    Api('reset');
  });
});
</script>
