@import "@pluginjs/styles/variables.scss";
@import "list.core";

// Vars
// =====================
$list: "pj-list";

$list-width: 240px;

$list-padding: 16px;

$list-font-size: $font-size-base;
$list-font-family: $font-family-base;

$list-color: $text-color;

$list-action-action-margin-left: 4px;
$list-active-color: $color-primary-black;

$list-item-active-border-color: $color-primary;
$list-item-bg-color: $color-white;
$list-item-label-padding-right: $list-font-size * 2 + $list-actions-right + $list-action-action-margin-left;
$list-item-actions-color: $gray;
$list-item-actions-hover-color: $gray-darkest;

$list-item-handle-padding: 12px;
$list-item-handle-font-size: $font-size-sm;
$list-item-handle-color: $gray;
$list-item-item-matrgin-top: $sizer;
$list-item-hover-border-color: $gray-darker;

$list-ghost-bg: $gray-lightest;
$list-ghost-height: 30px;

$list-border-color: $border-color;
$list-border-radius: $border-radius-base;


$list-clone-bg: rgba($color-warning, 0.1);

$list-disabled-color: $disabled-color;
$list-disabled-border-color: $disabled-color;

// Skin
// =====================
.#{$list} {
  min-width: $list-width;
  padding: $list-padding;
  font-family: $list-font-family;
  font-size: $list-font-size;
  color: $list-color;

  &-container {
    & + * {
      margin-top: $list-item-item-matrgin-top
    }
  }

  &-item {
    padding-right: $list-item-label-padding-right;
    background-color: $list-item-bg-color;
    border: 1px solid $list-border-color;
    border-radius: $list-border-radius;
    transition: background 0.3s;

    & + & {
      margin-top: $list-item-item-matrgin-top;
    }

    &:hover {
      border-color: $list-item-hover-border-color;
    }

    &:active {
      border-color: $list-item-active-border-color;
    }

    &-handle {
      padding: $list-item-handle-padding;
      font-size: $list-item-handle-font-size;
      color: $list-item-handle-color;

      i {
        display: block;
      }
    }

    &-label {
      width: 100%;
    }

    &-action {
      color: $list-item-actions-color;
      transition: color 0.5s;

      &:hover {
        color: $list-item-actions-hover-color;
        cursor: pointer;
        transition: color 0.5s;
      }
    }

    &-action + &-action {
      margin-left: 4px;
    }

    &.sortable-ghost {
      background-color: $list-ghost-bg;
      height: $list-ghost-height;
      border-color: $list-border-color;
      border-style: dashed;
    }
  }

  &-close:hover {
    color: $list-active-color;
  }

  &-new {
    background: $list-clone-bg;
  }

  &-disabled {
    .#{$list}-item {
      color: $list-disabled-color;
      border-color: $list-disabled-border-color;
    }

    .pj-icon {
      color: $list-disabled-color;
    }
  }
}
