@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$list: "pj-list" !default;
$pop: "pj-popover" !default;

$list-sizer: $sizer;

$list-width: 26 * $list-sizer !default; //260px
$list-height: 4 * $list-sizer !default; //40px
$list-padding: 1.6 * $list-sizer !default; //16px
$list-color: $text-color !default;
$list-item-height: 3 * $list-sizer !default; //30px
$list-item-active-border-color: $color-primary !default;
$list-item-hover-border-color: $gray-darkest !default;
$list-font-size: $font-size-base !default;
$list-ghost-bg: $gray-lightest !default;
$list-border-color: $gray-border !default;
$list-border-style: solid !default;
$list-border-width: 1px !default;
$list-border: $list-border-width $list-border-style $list-border-color !default;
$list-border-radius: $border-radius-base !default;
$list-item-handle-bg: $list-border-color !default;
$list-active-color: $color-primary-black !default;
$list-adduser-height: 3 * $list-sizer !default; //30px
$list-adduser-btn-bg: $color-primary !default; //#66adf3 !default;

$list-clone-bg: rgba($color-warning, 0.1) !default; //#f3d351

$list-item-actions-color: $gray-dark !default;

// Core
// =====================
.#{$list} {
  box-sizing: border-box;
  width: $list-width;
  padding: $list-padding;
  margin-bottom: $list-padding;
  font-size: $list-font-size;
  color: $list-color;

  &-container {
    padding: 0;
    margin: 0;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    height: $list-item-height;
    margin-bottom: $list-sizer; //10px
    overflow: hidden;
    line-height: $list-item-height;
    list-style: none;
    user-select: none;
    background-color: $color-white;
    border: $list-border;
    border-radius: $list-border-radius;
    transition: background 300ms;

    &:hover {
      border-color: $list-item-hover-border-color;
    }

    &:active {
      border-color: $color-primary-dark;
    }

    &-handle {
      display: inline-block;
      width: 3 * $list-sizer; //12px
      height: $list-item-height;
      font-size: $font-size-sm;
      line-height: $list-item-height;
      text-align: center;
      cursor: pointer;

      &:hover {
        cursor: grab;
      }

      &:active {
        cursor: grabbing;
        // background-color: $gray-light;
      }

      > i {
        pointer-events: none;
      }
    }

    &-label {
      display: inline-block;
      margin-right: 4.2 * $list-sizer; //42px
      margin-left: 0.8 * $list-sizer; //8px
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-actions {
      position: absolute;
      right: 0.8 * $list-sizer; //8px
      line-height: 100%;
      color: $list-item-actions-color;
      transition: color 0.5s;

      &:hover {
        cursor: pointer;
        transition: color 0.5s;
      }
    }

    &-action + &-action {
      margin-left: 0.4 * $list-sizer;
    }

    &.sortable-ghost {
      background-color: $list-ghost-bg;
      border-color: $list-border-color;
      border-style: dashed;

      .#{$list}-item-handle,
      .#{$list}-item-label,
      .#{$list}-item-actions {
        display: none;
      }
    }
  }

  &-close:hover {
    color: $list-active-color;
  }

  .#{$list}-origin {
    display: none;
  }

  &-new {
    background: $list-clone-bg;
  }

  &-disabled {
    .#{$list}-item {

      color: $disabled-color;
      pointer-events: none;
      cursor: not-allowed;
      border-color: $list-border-color;
    }

    .#{$list}-item-actions {
      > i {
        color: $disabled-color !important;
      }
    }
  }
}
