@import "@pluginjs/styles/variables.scss";
@import "list.core";

// Vars
// =====================
$list: "pj-list";

$list-width: 240px;

$list-padding: 16px;

$list-font-size: $font-size-base;
$list-font-family: $font-family-base;

$list-color: $text-color;

$list-item-height: 40px; //30px
$list-item-handle-width: $list-item-height;
$list-item-label-margin-right: 42px;

$list-sizer: $sizer;
$list-item-actions-hover-color: #f73e4d;

$list-height: 40px; //40px
$list-item-active-border-color: $color-primary;
$list-item-hover-border-color: $gray-darkest;
$list-ghost-bg: $gray-lightest;
$list-border-color: $gray-border;
$list-border-style: solid;
$list-border-width: 1px;
$list-border: $list-border-width $list-border-style $list-border-color;
$list-border-radius: $border-radius-base;
$list-item-handle-bg: $list-border-color;
$list-active-color: $color-primary-black;
$list-adduser-height: 30px; //30px
$list-adduser-btn-bg: $color-primary; //#66adf3;

$list-clone-bg: rgba($color-warning, 0.1); //#f3d351

$list-item-actions-color: $gray-dark;

// Skin
// =====================
.#{$list} {
  width: $list-width;
  padding: $list-padding;
  margin-bottom: $list-padding;
  font-family: $list-font-family;
  font-size: $list-font-size;
  color: $list-color;

  &-item {
    height: $list-item-height;
    margin-bottom: $list-sizer; //10px
    line-height: $list-item-height;
    background-color: $color-white;
    border: $list-border;
    border-radius: $list-border-radius;
    transition: background 300ms;

    &:hover {
      border-color: $list-item-hover-border-color;
    }

    &:active {
      border-color: $color-primary-dark;
    }

    &-handle {
      width: $list-item-handle-width;
      height: $list-item-height;
      font-size: $font-size-sm;
    }

    &-label {
      margin-right: $list-item-label-margin-right; //42px
    }

    &-actions {
      color: $list-item-actions-color;
      transition: color 0.5s;

      &:hover {
        color: $list-item-actions-hover-color;
        cursor: pointer;
        transition: color 0.5s;
      }
    }

    &-action + &-action {
      margin-left: 4px;
    }

    &.sortable-ghost {
      background-color: $list-ghost-bg;
      border-color: $list-border-color;
      border-style: dashed;
    }
  }

  &-close:hover {
    color: $list-active-color;
  }

  .#{$list}-origin {
    display: none;
  }

  &-new {
    background: $list-clone-bg;
  }

  &-disabled {
    .#{$list}-item {
      color: $disabled-color;
      border-color: $list-border-color;

      &-action {
        color: $disabled-color;
      }
    }
  }
}
