@import "@pluginjs/styles/variables.scss";
@import "auto-complete.core";

// Vars
// =====================
$autoComplete: "pj-autoComplete";

$autoComplete-color: $text-color;

$autoComplete-hint-placeholder-color: $gray;

$autoComplete-clear-color: $gray;
$autoComplete-clear-hover-color: $text-color;

$autoComplete-group-label-font-size: $font-size-xs;
$autoComplete-group-label-color: $gray-dark;
$autoComplete-group-label-space-x: 11px;
$autoComplete-group-label-space-y: 8px;

$autoComplete-clear-disabled-color: $disabled-color;
$autoComplete-hint-disabled-color: transparent;

.#{$autoComplete} {
  outline: none;

  &-item {
    i {
      vertical-align: middle;
    }
  }

  &-clear {
    color: $autoComplete-clear-color;

    &:hover {
      color: $autoComplete-clear-hover-color;
    }
  }

  &-group-label {
    padding: $autoComplete-group-label-space-y $autoComplete-group-label-space-x;
    font-size: $autoComplete-group-label-font-size;
    color: $autoComplete-group-label-color;
  }
}

.#{$autoComplete}-disabled {
  .#{$autoComplete}-clear {
    color: $disabled-color;
  }
  .#{$autoComplete}-hint {
    color: $autoComplete-hint-disabled-color;
  }
}
