@import "@pluginjs/styles/variables.scss";
@import "cascader.core";

// Vars
// =====================
$cascader: "pj-cascader";

$cascader-color: $text-color;
$cascader-trigger-placeholder-color: $gray;

$cascader-trigger-arrow-color: $gray-darkest;

$cascader-trigger-disabled-bg: $disabled-bg;
$cascader-trigger-disabled-border: $disabled-border;
$cascader-trigger-disabled-color: $disabled-color;

$cascader-extensible-color: $gray;

$cascader-clear-color: $gray;
$cascader-clear-hover-color: $text-color;

$cascader-notfound-menu-padding: 11px 8px;
$cascader-notfound-menu-color: $gray-darker;

$cascader-loading-padding: 11px 8px;
$cascader-loading-color: $gray-darker;

.#{$cascader} {
  outline: none;

  &-trigger {
    padding-right: $cascader-trigger-padding-right;
    color: $cascader-trigger-placeholder-color;

    .#{$cascader}-selected & {
      color: $cascader-color;
    }

    &::after {
      color: $cascader-color;
      transition: transform 0.3s;
      will-change: transform;
    }
  }

  &-clear {
    color: $cascader-clear-color;

    &:hover {
      color: $cascader-clear-hover-color;
    }
  }

  &-option-extensible {
    &::after {
      color: $cascader-extensible-color;
    }
  }

  &-notfound-menu {
    padding: $cascader-notfound-menu-padding;
    color: $cascader-notfound-menu-color;
    text-align: center;
  }

  &-loading {
    padding: $cascader-loading-padding;
    color: $cascader-loading-color;
    text-align: center;
  }
}

.#{$cascader}-disabled {
  .#{$cascader}-trigger {
    color: $cascader-trigger-disabled-color;
    background-color: $cascader-trigger-disabled-bg;
    border-color: $cascader-trigger-disabled-border;

    &::after {
      color: $cascader-trigger-disabled-color;
    }
  }
}
