@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$lightbox: "pj-lightbox";
$slider: "pj-slider";
$icon: "pj-icon";
$lightbox-show-zindex: $zindex-lightbox;

$lightbox-color: $color-white;
$lightbox-topbar-bg: rgba($color-black, 0.4);
$lightbox-caption-bg: rgba($color-black, 0.4);
$lightbox-thumbs-bg: rgba($color-black, 0.4);
$lightbox-overlay-color: $color-black;

.#{$lightbox} {
  &-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: $lightbox-color;
    visibility: hidden;
    opacity: 0;

    .#{$slider}-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      min-height: auto;
    }
  }

  &-show {
    z-index: $lightbox-show-zindex;
    visibility: visible;
    opacity: 1;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $lightbox-overlay-color;
  }

  &-main {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &-topbar {
    width: 100%;
    font-size: 16px;
    text-align: right;
    background-color: $lightbox-topbar-bg;
  }

  &-counter {
    float: left;
    padding: 10px;
  }

  &-play,
  &-fullscreen,
  &-download,
  &-close {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }

  &-stop.#{$icon},
  &-mini.#{$icon} {
    display: none;
  }

  &-slider {
    flex-basis: 100%;
    height: auto;
    padding-bottom: 0;
  }

  &-footer {
    position: relative;
  }

  &-caption {
    padding: 10px;
    text-align: center;
    background-color: $lightbox-caption-bg;
  }

  &-thumbs {
    margin: 10px 0;
    background-color: $lightbox-thumbs-bg;
  }
}

.#{$lightbox}-autoplay {
  .#{$lightbox} {
    &-start {
      display: none;
    }

    &-stop {
      display: block;
    }
  }
}

.#{$lightbox}-isfull {
  .#{$lightbox} {
    &-full {
      display: none;
    }

    &-mini {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .#{$lightbox} {
    &-caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateY(-100%)
    }
  }
}

@media screen and (max-width: 480px) {
  .#{$lightbox} {
    &-thumbs {
      display: none;
    }
  }
}
