$lightbox: "pj-lightbox" !default;
$lightbox-z-index-base: 1040 !default;

.#{$lightbox}-overlay {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.#{$lightbox}-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $lightbox-z-index-base + 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: #262626;
  opacity: 0;

  &.#{$lightbox}-theme-white {
    background: #fff;
  }

  &.#{$lightbox}-theme-black {
    background: #262626;
  }

  &.#{$lightbox}-ready {
    opacity: 1 !important;
  }
}
