@import "@pluginjs/styles/variables.scss";
@import "nav-to-select.core";

// Vars
// =====================
$navToSelect: "pj-navToSelect";
$navToSelect-font-family: $font-family-base;
$navToSelect-font-size: $font-size-sm;
$navToSelect-icon-font-family: plugin-icons;

$navToSelect-width: 200px;
$navToSelect-height: 32px;

$navToSelect-padding-left: 10px;
$navToSelect-padding-right: 30px;

$navToSelect-color: $gray-darkest;
$navToSelect-border-color: $border-color;
$navToSelect-border-radius: $border-radius-base;

$navToSelect-focus-border-color: $color-primary;

.#{$navToSelect} {
  padding-right: $navToSelect-padding-right;
  padding-left: $navToSelect-padding-left;
  font-family: $navToSelect-font-family;
  font-size: $navToSelect-font-size;
  border: 1px solid $navToSelect-border-color;
  border-radius: $navToSelect-border-radius;
  outline: none;
  -webkit-appearance: none; /* stylelint-disable-line */
  appearance:none;/* stylelint-disable-line */

  &:focus {
    border-color: $navToSelect-focus-border-color;
  }

  &-wrap {
    position: relative;
    width: $navToSelect-width;
    height: $navToSelect-height;

    &::before {
      position: absolute;
      top: 50%;
      right: $navToSelect-padding-left;
      font-family: $navToSelect-icon-font-family;
      font-style: normal;
      content: "\ea2c";
      transform: translateY(-50%);
    }
  }
}
