@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$navToSelect: "pj-navToSelect" !default;
$navToSelect-font-family: $font-family-base !default;
$navToSelect-width: 200px !default;
$navToSelect-input-width: 160px !default;
$navToSelect-height:34px !default;
$navToSelect-input-height: 32px;
$navToSelect-input-top: 29px;
$navToSelect-padding-left: 6px !default;
$navToSelect-font-size: $font-size-sm !default;
$navToSelect-input-outline: $color-primary !default;
$navToSelect-input-radius: $border-radius-base !default;
$navToSelect-input-font-family: "font-awesome" !default;

// Core
// =====================
.#{$navToSelect} {
  display: none;
  width: $navToSelect-width;
  height: $navToSelect-height;
  padding-left: $navToSelect-padding-left;
  font-family: $navToSelect-font-family;
  font-size: $navToSelect-font-size;
  background: none;
  border: 1px solid $gray-border;
  outline: none;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none; /* stylelint-disable-line *//* stylelint-disable-line */

  &:focus {
    border-color: $navToSelect-input-outline;
  }

  &-input {
    position: relative;
    display: none;

    &::before {
      position: absolute;
      top: 50%;
      right: 12px;
      z-index: -1;
      font-family: $navToSelect-input-font-family;
      text-decoration: none;
      text-transform: none;
      content: "\f0d7";
      transform: translateY(-50%);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

}

/* Mobile device */
@media only screen and (max-width: 767px) {
  nav ul {
    display: none;
  }

  .#{$navToSelect} {
    display: block;

    &-input {
      display: inline-block;
    }
  }
}
