// import reveal css
@import "@pluginjs/reveal/src/css/reveal.scss";

body {
  overflow-x: hidden;
}

section {
  padding-bottom: 50px;
}

.order {
  font-size: 30px;
  text-align: center;
  .pj-reveal {
    display: inline-block;
    color: #333;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.reveal {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: 20px;
  color: #eee;
  word-break: break-all;
  background: #4c93d9;
  border-radius: 4px;
}

.anchor {
  text-align: center;
  background: #4c93d9;
}
