@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$parallax: "pj-parallax" !default;
$bgVideo: "pj-bgVideo" !default;

// Core
// =====================
.#{$parallax}-container {
	position: relative;
	z-index: 1;
	overflow: hidden;

	.#{$parallax} {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		will-change: transfrom;

		img {
			width: 100%;
			height: 100%;
			will-change: transfrom;
		}

		.#{$bgVideo} {
			width: 100%;
			height: 100%;

			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 50% 50%;
			}
		}
	}
}
