@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$parallax: "pj-parallax" !default;

// Core
// =====================
.#{$parallax}-container {
	position: relative;
	z-index: 0;
	overflow: hidden;

	.#{$parallax} {
		// position: absolute;
		// top: 0;
		// left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		will-change: transfrom;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			// object-position: 50% 50%;
		}
	}
}
