@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$videoPicker: "pj-videoPicker" !default;

$videoPicker-width: 160px !default;
$videoPicker-height: 90px !default;

$videoPicker-preview-width: 223px !default;

$videoPicker-bg-color: $color-white !default;

$videoPicker-icon: $pj-icon-play-circle !default;

// Core
// =====================
.#{$videoPicker} {
  width: $videoPicker-width;
  height: $videoPicker-height;

  &-dropdown {
    width: auto;
  }

  &-trigger {
    position: relative;
    width: 100%;
    height: 100%;

    &-action {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  &-trigger-hover {
    .#{$videoPicker}-trigger-action {
      opacity: 1;
      transition: opacity 0.3s;
    }
    .#{$videoPicker}-fill {
      &::after {
        content: none;
      }
    }
  }

  &-empty {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &-fill {
    position: relative;
    box-sizing: border-box;
    display: none;
    width: 100%;
    height: 100%;

    &::after {
      @include icon();
      position: absolute;
      top: 50%;
      left: 50%;
      content: icon-content($videoPicker-icon);
      transform: translate(-50%, -50%);
    }

    &-poster {
      width: 100%;
      height: 100%;
    }
  }

  &-open-disabled {
    pointer-events: none;
  }

  &-preview {
    position: relative;
    box-sizing: border-box;
    width: $videoPicker-preview-width;
  }

  &-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    border-radius: 2px;

    &-btn,
    &-animate {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-animate {
      display: none;
    }

    &-action{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-poster {
      width: 100%;
      height: 100%;
    }

    &-playing {
      .#{$videoPicker}-video-btn,
      .#{$videoPicker}-video-poster {
        opacity: 0;
        transition: opacity 0.2s;
      }
    }

    &-loading {
      .#{$videoPicker}-video-btn {
        opacity: 0;
        transition: opacity 0.2s;
      }

      .#{$videoPicker}-video-animate {
        display: block;
      }
    }

    &-url {
      position: relative;
  
      > input {
        width: 100%;
      }
  
      > i {
        position: absolute;
        top: 50%;
        right: 8px;
        display: none;
        transform: translateY(-50%);
      }
  
      &:hover {
        > i {
          display: block;
        }
      }
    }
  }

  &-local-url,
  &-poster {
    &-change,
    &-delete {
      display: none;
    }

    &-selected {
      .#{$videoPicker}-local-url-add,
      .#{$videoPicker}-poster-add {
        display: none;
      }

      .#{$videoPicker}-local-url-change,
      .#{$videoPicker}-local-url-delete,
      .#{$videoPicker}-poster-change,
      .#{$videoPicker}-poster-delete {
        display: inline-block;
      }
    }
  }

  &-field {
    display: flex;
    flex-direction: column;
  }

  .pj-select {
    width: 100%;
  }

  &-ratio,
  &-source,
  &-poster {
    display: flex;
    align-items: center;
  }

  &-btn-action {
    text-align: right;
  }
  
  &-input {
    display: none;
  }

  &-show {
    .#{$videoPicker}-empty {
      display: none;
    }

    .#{$videoPicker}-fill {
      display: block;
    }

    .#{$videoPicker}-trigger-action {
      display: flex;
    }
  }
}
