@import "@pluginjs/styles/variables.scss";
$cp-size: 48px !default;

.cp-spinner {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: $cp-size;
  height: $cp-size;
}

.cp-round {
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: inline-block;
    width: $cp-size;
    height: $cp-size;
    content: " ";
    border: 6px solid $gray-lightest;
    border-radius: 50%;
  }
}

.cp-round::after {
  border-color: transparent;
  border-top-color: $color-primary-light;
  animation: cp-round-animate 1s ease-in-out infinite;
}

@keyframes cp-round-animate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
