@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$scrollTop: "pj-scrollTop" !default;

$scrollTop-gutter-right: 2.5rem !default;
$scrollTop-gutter-bottom: 1.25rem !default;

// Core
// =====================
.#{$scrollTop} {
  position: fixed;
  right: $scrollTop-gutter-right;
  bottom: $scrollTop-gutter-bottom;
  z-index: 100000;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  visibility: hidden;
  outline: none;
  opacity: 0;

  &-show {
    visibility: visible;
    opacity: 1;
  }

  &-animating,
  &-animating * {
    pointer-events: none !important;
  }

  &-none {
    transition-property: none;
  }

  &-fade {
    transition-property: opacity;
  }
}

.#{$scrollTop}-slide {
  bottom: -100px;
  transition-property: bottom, opacity;

  &.#{$scrollTop}-show {
    bottom: $scrollTop-gutter-bottom;
  }
}
