@import "@pluginjs/styles/variables.scss";
@import "scroll-top.core";

// Vars
// =====================
$scrollTop: "pj-scrollTop";
$icon: "pj-scrollTop-icon";

$scrollTop-font-family: $font-family-base;
$scrollTop-font-size: $font-size-sm;

$scrollTop-size: 40px;
$scrollTop-square-border-radius: $border-radius-base;

$scrollTop-color: $gray;
$scrollTop-hover-color: $gray-darker;

$scrollTop-solid-color: $color-white;
$scrollTop-solid-bg: $scrollTop-color;
$scrollTop-solid-hover-bg: $scrollTop-hover-color;

$scrollTop-light-color: $gray-light;
$scrollTop-light-hover-color: $color-white;

$scrollTop-light-solid-bg: $color-white;
$scrollTop-light-solid-color: $scrollTop-color;
$scrollTop-light-solid-hover-color: $scrollTop-hover-color;

$scrollTop-disabled-bg: $gray-lightest;

// Skin
// =====================
.#{$scrollTop} {
  font-family: $scrollTop-font-family;
  font-size: $scrollTop-font-size;
  color: $scrollTop-color;

  &:hover,
  &:focus {
    color: $scrollTop-hover-color;
  }

  .#{$icon} {
    position: absolute;
    top: 50%;
    left: 50%;
    text-indent: 0;
    transform: translate(-50%, -50%);
  }

  &--square,
  &--circle {
    width: $scrollTop-size;
    height: $scrollTop-size;
    color: $scrollTop-solid-color;
    text-indent: 100%;
    background-color: $scrollTop-solid-bg;

    &:hover,
    &:focus {
      color: $scrollTop-solid-color;
      background-color: $scrollTop-solid-hover-bg;
    }
  }

  &--square {
    border-radius: $scrollTop-square-border-radius;
  }

  &--circle {
    border-radius: 50%;
  }

  &--text {
    .#{$icon} {
      display: none;
    }
  }

  &--light {
    color: $scrollTop-light-color;

    &:hover,
    &:focus {
      color: $scrollTop-light-hover-color;
    }

    &.#{$scrollTop}--square,
    &.#{$scrollTop}--circle {
      color: $scrollTop-light-solid-color;
      background-color: $scrollTop-light-solid-bg;

      &:hover,
      &:focus {
        color: $scrollTop-light-solid-hover-color;
        background-color: $scrollTop-light-solid-bg;
      }
    }
  }

  &.#{$scrollTop}-disabled {
    color: $disabled-color;
    cursor: $cursor-disabled;
    background-color: $scrollTop-disabled-bg;
  }
}
