@import "@pluginjs/styles/variables.scss";
@import "./link-picker.core.scss";

// Vars
// =====================
$linkPicker: "pj-linkPicker";
$dropdown: "pj-dropdown";

$linkPicker-border-radius: $border-radius-base;
$linkPicker-font-size: $font-size-base;
$linkPicker-line-height: 16px;
$linkPicker-color: #999;
$linkPicker-active-color: $color-primary-black;
$linkPicker-bg: $color-white;
$linkPicker-border: 1px solid $border-color;
$linkPicker-padding: 7px 12px;
$linkPicker-icon-margin-right: 8px;
// action
$action-color: $color-white;
$action-active-color: $color-primary;
$action-icon-margin-right: 30px;
$action-time: 0.3s;
// dropdown
$dropdown-padding: 28px 24px;
$field-margin-bottom: 24px;
$field-title-margin-bottom: 12px;
//disabled
$linkPicker-disabled-bg: $disabled-bg;

// Style
// =====================
.#{$linkPicker} {
  font-size: $linkPicker-font-size;

  &-action {
    color: $action-color;
    background-color: $color-opacity;
    border-radius: $linkPicker-border-radius;
    opacity: 0;
    transition: opacity $action-time;

    > i {
      &:hover {
        cursor: pointer;
      }

      &:active {
        color: $action-active-color;
      }

      &:first-child {
        margin-right: $action-icon-margin-right;
      }
    }
  }


  &-fill-hover {
    opacity: 1;
    transition: opacity $action-time;
  }

  &-empty,
  &-fill {
    padding: $linkPicker-padding;
    line-height: $linkPicker-line-height;
    background-color: $linkPicker-bg;
    border: $linkPicker-border;
    border-style: dashed;
    border-radius: $linkPicker-border-radius;

    > i {
      margin-right: $linkPicker-icon-margin-right;
    }
  }

  &-empty {
    color: $linkPicker-color;

    > i {
      color: $linkPicker-color;
    }

    &:hover {
      color: $linkPicker-active-color;
      cursor: pointer;

      i {
        color: $linkPicker-active-color;
      }
    }
  }

  &-fill {
    color: $linkPicker-active-color;

    > i {
      color: $linkPicker-active-color;
    }
  }

  &-dropdown {
    padding: $dropdown-padding;

    &-action {
      margin-top: $field-margin-bottom;
      text-align: right;
    }
  }

  &-field {
    margin-bottom: $field-margin-bottom;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-title {
      margin-bottom: $field-title-margin-bottom;
    }
  }

  &-dropdown-panel {
    font-size: $linkPicker-font-size;
  }

  // utils
  &-active {
    display: block !important;
  }

  &-show {
    .#{$linkPicker}-dropdown {
      display: block;
    }
  }

  &-write {
    .#{$linkPicker} {
      &-empty {
        display: none;
      }

      &-fill {
        display: flex;
      }
    }
  }
}

.#{$linkPicker}-disabled {
  cursor: not-allowed;

  .#{$linkPicker}-action {
    color: $disabled-color;
    pointer-events: none;
    background-color: $linkPicker-disabled-bg;
  }

  .#{$linkPicker}-empty,
  .#{$linkPicker}-fill {
    color: $disabled-color;
    pointer-events: none;
    background-color: $linkPicker-disabled-bg;

    i {
      color: $disabled-color;
    }
  }
}
