@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$linkPicker: "pj-linkPicker" !default;
$dropdown: "pj-dropdown" !default;
$linkPicker-sizer: $sizer;

$linkPicker-width: 26 * $linkPicker-sizer !default; //260px
$linkPicker-height: 5 * $linkPicker-sizer !default; //50px
$linkPicker-border-radius: $border-radius-base !default;
$linkPicker-color: $text-color !default;
$linkPicker-font-size: $font-size-base !default;
$linkPicker-active-color: $color-primary !default;
$linkPicker-border: 1px solid $gray-border !default;
$linkPicker-padding: 0 2 * $linkPicker-sizer !default; //0 20px
$linkPicker-icon-margin-right: $linkPicker-sizer !default; //10px
// empty
$empty-color: $gray-dark !default;
$empty-hover-bg-color: $gray-lightest !default;
// action
$action-hover-color: $gray-lighter !default;
$action-active-color: $color-primary !default;
// dropdown
$dropdown-width: 27.2 * $linkPicker-sizer !default; //300px
$dropdown-padding: 2 * $linkPicker-sizer !default; //20px
$dropdown-border: $linkPicker-border !default;
$dropdown-border-radius: $linkPicker-border-radius !default;
$dropdown-btn-padding: 0.4 * $linkPicker-sizer 1.2 * $linkPicker-sizer !default; //4px 12px
// item
$item-margin-bottom: 2 * $linkPicker-sizer !default; //20px
$item-body-width: 22.4 * $linkPicker-sizer !default; //224px
$item-body-height: 3 * $linkPicker-sizer !default; //30px

//disabled
$linkPicker-disabled-bg: $disabled-bg;

// Core
// =====================
.#{$linkPicker} {
  position: relative;
  box-sizing: border-box;
  font-size: $linkPicker-font-size;

  .#{$linkPicker}-input,
  &-fill {
    display: none;
  }

  &-action {
    position: absolute; // display: flex;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $linkPicker-width;
    height: $linkPicker-height;
    color: $color-white;
    border-radius: $linkPicker-border-radius;
    opacity: 0;
    transition: opacity 0.3s;
    &:hover {
      background-color: $color-opacity;
    }
    > i {
      &:hover {
        color: $action-hover-color;
        cursor: pointer;
      }

      &:active {
        color: $action-active-color;
      }

      &:first-child {
        margin-right: 3 * $linkPicker-sizer; //30px
      }
    }
  }

  &-empty,
  &-fill {
    box-sizing: border-box;
    width: $linkPicker-width;
    height: $linkPicker-height;
    padding: $linkPicker-padding;
    line-height: $linkPicker-height;
    color: $gray-dark;
    background-color: $color-white;
    border: $linkPicker-border;
    border-style: dashed;
    border-radius: $linkPicker-border-radius;

    > i {
      margin-right: $linkPicker-icon-margin-right;
      color: $gray-dark;
    }
  }

  &-empty {
    display: flex;

    &:hover {
      color: $color-primary-black;
      cursor: pointer;
      // background-color: $empty-hover-bg-color;
      i {
        color: $color-primary-black;
      }
    }
  }

  &-fill {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-dropdown {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    width: $dropdown-width;
    padding: $dropdown-padding;
    background-color: $color-white;
    border: $dropdown-border;
    border-radius: $dropdown-border-radius;

    &-action {
      margin-top: $linkPicker-sizer * 2; //20px
      text-align: right;
    }

    &-save,
    &-cancel {
      width: 95px;
      height: 32px;
      padding: $dropdown-btn-padding;
    }

    &-cancel:hover {
      color: $gray-dark;
    }
  }

  &-types {
    &-container {
      display: none;
    }

    &-component {
      width: $item-body-width;
    }
  }

  &-item {
    // display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $item-margin-bottom;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-body {
      width: $item-body-width !important;

      &:last-of-type > input {
        width: 100%;
        // height: 100%;
      }
    }
  }

  &-dropdown-panel {
    font-size: $linkPicker-font-size;
  }

  .#{$dropdown} {
    width: $item-body-width !important;
  }

  // utils
  &-active {
    display: block !important;
  }

  &-show {
    .#{$linkPicker}-empty,
    .#{$linkPicker}-fill {
      display: none !important;
    }

    .#{$linkPicker}-dropdown {
      display: block;
    }
  }

  &-fill-hover {
    opacity: 1;
    transition: opacity 0.3s;
  }

  &-write {
    .#{$linkPicker} {
      &-empty {
        display: none;
      }

      &-fill {
        display: flex;
      }
    }
  }
}

.#{$linkPicker}-disabled {
  .#{$linkPicker}-action {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $linkPicker-disabled-bg;

    .#{$linkPicker}-action-remove,
    .#{$linkPicker}-action-edit {
      cursor: not-allowed;
    }
  }
  .#{$linkPicker}-empty {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $linkPicker-disabled-bg;
    .icon-chain {
      color: $disabled-color;
    }
  }
}
.pj-btn-primary {
  width: 9.1 * $linkPicker-sizer;
  background-color: $btn-color-primary;
  border-color: $btn-color-primary;
}
