@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$linkPicker: "pj-linkPicker" !default;
$dropdown: "pj-dropdown" !default;
$linkPicker-sizer: $sizer;

$linkPicker-width: 26 * $linkPicker-sizer !default; //260px
$linkPicker-height: 5 * $linkPicker-sizer !default; //50px
$linkPicker-border-radius: $border-radius-base !default;
$linkPicker-color: $text-color !default;
$linkPicker-font-size: $font-size-base !default;
$linkPicker-active-color: $color-primary !default;
$linkPicker-border: 1px solid $gray-lighter !default;
$linkPicker-padding: 0 2 * $linkPicker-sizer !default; //0 20px
$linkPicker-icon-margin-right: $linkPicker-sizer !default; //10px
// init
$init-color: $gray-light !default;
$init-hover-bg-color: $gray-lightest !default;
// action
$action-hover-color: $gray-lighter !default;
$action-active-color: $color-primary !default;
// panel
$panel-width: 27.2 * $linkPicker-sizer !default; //300px
$panel-padding: 2 * $linkPicker-sizer !default; //20px
$panel-border: $linkPicker-border !default;
$panel-border-radius: $linkPicker-border-radius !default;
$panel-btn-padding: 0.4 * $linkPicker-sizer 1.2 * $linkPicker-sizer !default; //4px 12px
// item
$item-margin-bottom: 2 * $linkPicker-sizer !default; //20px
$item-body-width: 22.4 * $linkPicker-sizer !default; //224px
$item-body-height: 3 * $linkPicker-sizer !default; //30px

//disabled
$linkPicker-disabled-bg: $disabled-bg;

// Core
// =====================
.#{$linkPicker} {
  position: relative;
  box-sizing: border-box;
  font-size: $linkPicker-font-size;

  .#{$linkPicker}-info,
  &-preview {
    display: none;
  }

  &-action {
    position: absolute; // display: flex;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $linkPicker-width;
    height: $linkPicker-height;
    color: $color-white;
    border-radius: $linkPicker-border-radius;
    opacity: 0;
    transition: opacity 0.3s;
    &:hover {
      background-color: $btn-color-primary;
      opacity: 0.9;
    }
    > i {
      &:hover {
        color: $action-hover-color;
        cursor: pointer;
      }

      &:active {
        color: $action-active-color;
      }

      &:first-child {
        margin-right: 3 * $linkPicker-sizer; //30px
      }
    }
  }

  &-init,
  &-preview {
    box-sizing: border-box;
    width: $linkPicker-width;
    height: $linkPicker-height;
    padding: $linkPicker-padding;
    line-height: $linkPicker-height;
    color: $init-color;
    background-color: $color-white;
    border: $linkPicker-border;
    border-style: dashed;
    border-radius: $linkPicker-border-radius;

    > i {
      margin-right: $linkPicker-icon-margin-right;
      color: $init-color;
    }
  }

  &-init {
    display: flex;

    &:hover {
      cursor: pointer;
      background-color: $init-hover-bg-color;
    }
  }

  &-preview {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-panel {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    width: $panel-width;
    padding: $panel-padding;
    background-color: $color-white;
    border: $panel-border;
    border-radius: $panel-border-radius;

    &-action {
      margin-top: $linkPicker-sizer * 2; //20px
      text-align: right;
    }

    &-save,
    &-cancel {
      padding: $panel-btn-padding;
    }

    &-cancel:hover {
      color: $gray-dark;
    }
  }

  &-types {
    &-container {
      display: none;
    }

    &-component {
      width: $item-body-width;
    }
  }

  &-item {
    // display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $item-margin-bottom;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-body {
      width: $item-body-width !important;

      &:last-of-type > input {
        width: 100%;
        // height: 100%;
      }
    }
  }

  &-dropdown-panel {
    font-size: $linkPicker-font-size;
  }

  .#{$dropdown} {
    width: $item-body-width !important;
  }

  // utils
  &-active {
    display: block !important;
  }

  &-show {
    .#{$linkPicker}-init,
    .#{$linkPicker}-preview {
      display: none !important;
    }

    .#{$linkPicker}-panel {
      display: block;
    }
  }

  &-hover {
    opacity: 1;
    transition: opacity 0.3s;
  }

  &-fill {
    .#{$linkPicker} {
      &-init {
        display: none;
      }

      &-preview {
        display: flex;
      }
    }
  }
}

.#{$linkPicker}-disabled {
  .#{$linkPicker}-action {
    cursor: not-allowed;
    background-color: $linkPicker-disabled-bg;

    .#{$linkPicker}-action-remove,
    .#{$linkPicker}-action-edit {
      cursor: not-allowed;
    }
  }
  .#{$linkPicker}-init {
    cursor: not-allowed;
    background-color: $linkPicker-disabled-bg;
  }
}
.pj-btn-primary {
  width: 9.1 * $linkPicker-sizer;
  background-color: $btn-color-primary;
  border-color: $btn-color-primary;
}
