@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$slider: "pj-slider";
$arrow: "pj-arrow";

$slider-height: 50%;

$slider-arrow-position: 10px;

$slider-video-outer-size: 60px;
$slider-video-inner-size: 16px;
$slider-video-color: $color-white;

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.#{$slider} {
  width: 100%;
  height: 0;
  padding-bottom: $slider-height;
  overflow: hidden;

  &-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-card {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &-content {
    position: relative;
    display: inline-block;
    min-height: 100%;
    visibility: hidden;
    opacity: 0;

    &.#{$slider}-loaded {
      visibility: visible;
      opacity: 1;
    }

    .#{$slider}-image {
      cursor: pointer;
    }

    &.#{$slider}-loading {
      .#{$slider}-video {
        visibility: visible;
      }
    }

    &.#{$slider}-active {
      .#{$slider}-image {
        visibility: hidden;
        opacity: 0;
      }

      .#{$slider}-video {
        visibility: visible;
        opacity: 1;
      }
    }

    &.#{$slider}-iframe {
      visibility: visible;
      opacity: 1;
    }
  }

  &-image {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: auto;
    cursor: move;
  }

  &-video-wrap {
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      margin: auto;
      content: "";
    }

    &::before {
      border-top: $slider-video-inner-size solid transparent;
      border-bottom: $slider-video-inner-size solid transparent;
      border-left: $slider-video-inner-size solid $slider-video-color;
      transform: translateX(20%);
    }

    &::after {
      width: $slider-video-outer-size;
      height: $slider-video-outer-size;
      border: 4px solid $slider-video-color;
      border-radius: 100%;
    }

    &.#{$slider}-active {
      &::before,
      &::after {
        visibility: hidden;
        opacity: 0;
      }
    }

    &.#{$slider}-loading {
      &::after {
        border-color: transparent transparent $slider-video-color;
        animation: rotation 1s linear infinite;
      }
    }
  }

  &-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: auto;
    visibility: hidden;
    opacity: 0;
  }

  &-iframe,
  &-map,
  &-inline {
    width: 100%;
    height: 100%;
  }

  .#{$arrow} {
    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &-prev {
      left: $slider-arrow-position;
    }

    &-next {
      right: $slider-arrow-position;
    }
  }
}

.#{$slider}-vertical {
  .#{$arrow} {
    &-prev,
    &-next {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    &-prev {
      top: $slider-arrow-position;
    }

    &-next {
      top: auto;
      bottom: $slider-arrow-position;
    }
  }
}
