@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$slider: "pj-slider" !default;
$arrow: "pj-arrow" !default;

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.#{$slider} {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;

  &-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-card {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    // float: left;

    // &.#{$slider}-active {
    //   position: relative;
    // }

    &::after {
      clear: both;
    }
  }

  &-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    border: 1px #000 solid;
    border-radius: 50%;
    animation: rotation 1s ease-in-out infinite;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      width: 5px;
      height: 5px;
      content: "";
      background-color: #000;
      border-radius: 100%;
      transform: translateX(-50%);
    }
  }

  &-image {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: auto;
    pointer-events: none;
  }

  .#{$arrow} {
    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      color: #789;
      transform: translateY(-50%);
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }
}

