---
title: FontEditor
layout: plugin
styles:
- ../../plugins/range/css/range.css
- ../../plugins/dropdown/css/dropdown.css
- ../../plugins/units/css/units.css
- ../../plugins/popover/css/popover.css
- ../../plugins/pop-dialog/css/pop-dialog.css
- ../../plugins/font-editor/css/font-editor.css
scripts:
- ../../plugins/font-editor/font-editor.js
---

<section>
  <h2>Examples</h2>
    <section>
    <h3>Default</h3>
{{#code}}
<input type="text" class="example-default">
<script>
  (function() {
    Pj.fontEditor('.example-default');
  })();
</script>
{{/code}}
    <input type="text" class="example-default" value="{'fontFamily': 'Arial'}">
    <script>
      (function() {
        Pj.fontEditor('.example-default');
      })();
    </script>
  </section>

  <section>
    <h3>Data Attribute</h3>
{{#code}}
<input type="text" class="example-attribute" value="{'fontFamily': 'Arial', 'fontSize': '30px', 'lineHeight': '1.5em', 'fontWeight': 'bold', 'textAlign': 'left', 'fontStyle': 'italy', 'textTransform': 'capitalize', 'textDecoration': 'underline'}">
<script>
  (function() {
    Pj.fontEditor('.example-attribute');
  })();
</script>
{{/code}}
  <input type="text" class="example-attribute" value="{'fontFamily': 'Arial', 'fontSize': '30px', 'lineHeight': '1.5em', 'fontWeight': 'bold', 'textAlign': 'left', 'fontStyle': 'italy', 'textTransform': 'capitalize', 'textDecoration': 'underline'}">
  <script>
    (function() {
      Pj.fontEditor('.example-attribute');
    })();
  </script>
  </section>
</section>
<section>
  <h2>Api</h2>
  <input type="text" class="example-api">
  <div>
    <button class="btn api-init">init()</button>
    <button class="btn api-destroy">destroy()</button>
    <button class="btn api-enable">enable()</button>
    <button class="btn api-disable">disable()</button>
    <button class="btn api-set">set({fontFamily: "Cambira"})</button>
    <button class="btn api-get">get()</button>
    <button class="btn api-val">val()</button>
    <button class="btn api-val-set">val({fontFamily: "Gabriola"})</button>
  </div>
  <div class="console"></div>
  <script>
  (function() {

    var $fontEditor = {}
    function init() {
      $fontEditor = Pj.fontEditor('.example-api', {
        onReady: function() {
          console.log('ready', 'event');
        },
        onDestroy: function() {
          console.log('destroy', 'event');
        },
        onEnable: function() {
          console.log('enable', 'event');
        },
        onDisable: function() {
          console.log('disable', 'event');
        },
        onChange: function(val) {
          console.log('change: '+JSON.stringify(val), 'event');
        }
      })
    }
    document.querySelector('.api-init').addEventListener('click', function() {
      init()
    });

    document.querySelector('.api-destroy').addEventListener('click', function() {
      $fontEditor('destroy');
    });

    document.querySelector('.api-enable').addEventListener('click', function() {
      $fontEditor('enable');
    });

    document.querySelector('.api-disable').addEventListener('click', function() {
      $fontEditor('disable');
    });

    document.querySelector('.api-set').addEventListener('click', function() {
      $fontEditor('set', {fontFamily: 'Cambira'});
      console.log('', 'set({fontFamily: "Cambira"})');
    });

    document.querySelector('.api-get').addEventListener('click', function() {
      console.log(JSON.stringify($fontEditor('get')),' get()');
    });

    document.querySelector('.api-val').addEventListener('click', function() {
      console.log($fontEditor('val'), 'val()');
    });

    document.querySelector('.api-val-set').addEventListener('click', function() {
      var options = '{"fontFamily": "Gabriola"}';
      $fontEditor.val(options);
      console.log('', 'val({"ontFamily: "Gabriola"})');
    });

    document.querySelector('.api-get').addEventListener('click', function(){
      console.log('dsfsdf')
      var val =$('.console').html() + '<div>' + $fontEditor('val') + '</div>';
      $('.console').html(val)
    })
  })();
  </script>
</section>
