@import "@pluginjs/styles/variables";

// Vars
// =====================
$bgPicker: "pj-bgPicker" !default;
$bgPicker-dropdown-zindex: $zindex-dropdown !default;

// Core
// =====================
.#{$bgPicker} {
  display: inline-block;

  &-input {
    display: none;
  }

  &-trigger {
    position: relative;

    &-action {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      align-items: center;
      justify-content: center;
    }
  }

  &-open-disabled {
    pointer-events: none;
  }

  &-empty,
  &-fill {
    position: relative;
    display: block;
  }

  &-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-fill {
    display: none;

    &-image {
      width: 100%;
      height: 100%;

      &-name {
        display: none !important;
      }
    }
  }

  // dropdown
  &-dropdown {
    z-index: $bgPicker-dropdown-zindex;
    box-sizing: border-box;
  }

  &-preview {
    display: block;
  }

  &-image {
    width: 100%;
    height: 100%;
  }

  &-control {
    text-align: right;
  }

  &-attachment::before,
  &-attachment::after {
    display: table;
    content: "";
  }

  &-attachment::after {
    clear: both;
  }

  &-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    &-title {
      float: left;
    }

    &-content {
      float: right;
      padding: 0;
      margin: 0;

      &-item {
        box-sizing: border-box;
        margin-bottom: 0 !important;

        &::before,
        &::after {
          box-sizing: border-box;
        }
      }
    }
  }

  &-position,
  &-repeat {
    overflow: hidden;
  }

  &-position,
  &-repeat,
  &-size {
    .#{$bgPicker}-field-content {
      display: flex;
      flex-wrap: wrap;

      li {
        position: relative;
        height: 100%;
        padding: 0;

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &::after {
          position: absolute;
          top: -1px;
          left: -1px;
          z-index: 1;
          display: none;
          width: 100%;
          height: 100%;
          content: "";
        }
      }
    }
  }

  &-active {
    &::after {
      display: block !important;
    }
  }
}

.#{$bgPicker}-exist {
  .#{$bgPicker}-fill {
    display: block !important;
  }
  .#{$bgPicker}-trigger-action {
    display: flex;
  }

  .#{$bgPicker}-empty {
    display: none !important;
  }
}

.#{$bgPicker}-write {
  .#{$bgPicker}-empty {
    display: flex !important;
  }

  .#{$bgPicker}-fill{
    display: none !important;
  }
}
/* stylelint-disable */
.#{$bgPicker}-show {

  .#{$bgPicker}-empty{
    display: none !important;
  }
  .#{$bgPicker}-fill{
    display: block !important;
  }
}
