@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

// Vars
// =====================
$gradientSelector: "pj-gradientSelector" !default;
$gradientSelector-sizer: $sizer !default;
$editPanel: "pj-editPanel" !default;
$scrollable: "pj-scrollable" !default;
$range: "pj-range" !default;
// global
$gradientSelector-sizer: $sizer !default;

$gradientSelector-border: 1px solid $gray-lightest !default;
$gradientSelector-border-radius: $border-radius-base !default;
$gradientSelector-active-color: $color-primary !default;
$gradientSelector-warning-color: $color-warning !default;

$gradientSelector-width: 16 * $gradientSelector-sizer !default; //160px
$gradientSelector-height: 9 * $gradientSelector-sizer !default; //30px
$gradientSelector-border: 1px solid $border-color;

// panel
$gradientSelector-panel-width: 28.8 * $gradientSelector-sizer !default; //288px
$gradientSelector-panel-height: 37 * $gradientSelector-sizer !default; //370px
$gradientSelector-panel-shadow: $box-shadow-base !default;
// panel trigger
$gradientSelector-panel-swicher-height: 4 * $gradientSelector-sizer !default; //40px
$gradientSelector-panel-swicher-icon-size: 2 * $gradientSelector-sizer !default; //20px
$gradientSelector-panel-swicher-icon-color: $gray-lighter !default;
// collection
$gradientSelector-collection-padding: 2 * $gradientSelector-sizer 0 3 * $gradientSelector-sizer !default; //20px 0 30px
$gradientSelector-collection-height: 28 * $gradientSelector-sizer !default; //28px
// collection scrollwrap
$gradientSelector-collection-scrollwrap-padding: 0 2 * $gradientSelector-sizer !default; //20px
// collection item
$gradientSelector-collection-item-width: 3.2 * $gradientSelector-sizer !default; //32px
$gradientSelector-collection-item-height: $gradientSelector-collection-item-width !default;
$gradientSelector-collection-item-border-radius: 100 * $gradientSelector-sizer !default; //1000px
$gradientSelector-collection-item-margin-right: $gradientSelector-sizer * 1.5 !default; //15px
$gradientSelector-collection-item-margin-bottom: $gradientSelector-sizer * 1.5 !default; //15px
// collection group
$gradientSelector-collection-group-title-margin-bottom: 1.5 * $gradientSelector-sizer !default; //15px
$gradientSelector-collection-group-title-color: $color-primary-black !default;
$gradientSelector-collection-group-title-font-size: $font-size-xs !default;
// collection manage
$gradientSelector-collection-manage-height: 3.3 * $gradientSelector-sizer !default; //30px
$gradientSelector-collection-manage-padding: $gradientSelector-sizer * 0.6 0 !default; //6px
$gradientSelector-collection-manage-icon-margin-right: $gradientSelector-sizer !default; //10px

// component
$component-content-width: 16 * $gradientSelector-sizer !default; //160px
// colorType
$colorType-height: 3 * $gradientSelector-sizer !default; //30px
// selector item
$selector-item-width: 11.5 * $gradientSelector-sizer !default; //115px
$selector-item-height: 8 * $gradientSelector-sizer !default; //80px
$selector-item-margin-size: 1.7 * $gradientSelector-sizer !default; //17px

$editPanel-component-color: $color-red !default;
// Core
// =====================
.#{$gradientSelector} {
  // === animate === //
  @keyframes flashing {
    0% {
      border-color: $gradientSelector-warning-color;
    }

    50% {
      border-color: $gray-lightest;
    }

    100% {
      border-color: $gradientSelector-warning-color;
    }
  }

  &-trigger {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $gradientSelector-width;
    height: $gradientSelector-height;
    padding: 1px;
    border: $gradientSelector-border;
    border-style: dashed;

    &-action {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $color-white;
      background-color: $color-opacity;
      border-radius: 2px;
      opacity: 0;
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &-open-disabled {
    pointer-events: none;
  }

  &.#{$gradientSelector}-input {
    display: none;
  }

  .#{$gradientSelector}-fill {
    position: relative;
    display: none;
    padding: 1px;
    border: $gradientSelector-border;

    &-img {
      width: $gradientSelector-width;
      height: $gradientSelector-height;
    }
  }

  &-editor {
    margin-right: 28px;
  }

  &-preview {
    position: relative;
    width: 23 * $gradientSelector-sizer;
    height: 13 * $gradientSelector-sizer;
    padding: 1.4 * $gradientSelector-sizer;
    margin-bottom: 2 * $gradientSelector-sizer;
    // background: url(./images/bg-canvas.png) no-repeat center;
    border: 1px solid #dfe4ed;
    border-radius: 2px;

    &-img {
      height: 100%;
    }
  }


  &-panel{
    box-sizing: border-box;
    width: 300px;
    // padding: 20px;
    background-color: $color-white;
    border: $gradientSelector-border;
    border-radius: 2px;

    &-swicher {
      display: flex;
      height: $gradientSelector-panel-swicher-height;
      border-bottom: $gradientSelector-border;

      > i {
        position: relative;
        display: inline-block;
        flex-grow: 1;
        width: $gradientSelector-panel-width / 3;
        height: 100%;
        font-size: $gradientSelector-panel-swicher-icon-size;
        line-height: $gradientSelector-panel-swicher-height;
        // color: $gradientSelector-panel-swicher-icon-color;
        text-align: center;
      }

      &-collection::after {
        @include icon();
        font-family:$pj-icon-font-family;
        content: icon-content($pj-icon-start-mini);
      }

      &-gradient::after {
        @include icon();
        font-family:$pj-icon-font-family;
        content: icon-content($pj-icon-browser-tab);
      }

      &-gradient{
        cursor: not-allowed;
        &::before {
          background-color: #aab3bf;
          border: 1px solid $gray-dark;
          border-radius: 2px;
        }
        
        &-active {
          cursor: pointer;
        }
      }
    }

    &-container {
      position: relative;
      // padding: $gradientSelector-collection-scrollwrap-padding;
  
      & > div {
        display: none;
      }
    }
  
    &-collection {
      height: $gradientSelector-collection-height;
      padding: $gradientSelector-collection-padding;
  
      .#{$gradientSelector}-manage {
        position: absolute;
        bottom: 23.5px;
        left: 23.5px;
        width: 241px;
        height: $gradientSelector-collection-manage-height;
        line-height: $gradientSelector-collection-manage-height - 2px;
        color: $color-primary-black;
        text-align: center;
        border: 1px solid #e6e6e6 !important;
  
        i {
          margin-right: $gradientSelector-collection-manage-icon-margin-right;
          vertical-align: middle;
        }
  
        &:hover {
          cursor: pointer;
          background-color: #f2f2f2 !important;
          border: 1px solid #e6e6e6 !important;
        }
      }
    }
  }

  &-collection {
    &-scrollwrap {
      // width: 100%;
      height: 100%;

      .pj-scrollable-container,
      .pj-scrollable-content {
        width: 100% !important;
        height: 100% !important;
      }
    }

    &-item {
      display: inline-block;
      width: $gradientSelector-collection-item-width;
      height: $gradientSelector-collection-item-height;
      margin-right: $gradientSelector-collection-item-margin-right;
      margin-bottom: $gradientSelector-collection-item-margin-bottom;
      list-style: none;
      cursor: pointer;
      background-size: 100% 100% !important;
      border-radius: 2px;

      &:nth-of-type(6n) {
        margin-right: 0;
      }
    }
  }

  &-btn-action {
    display: flex;
    justify-content: flex-end;
    margin-top: 2 * $gradientSelector-sizer;
    font-size: 1.3 * $gradientSelector-sizer;
  }

  &-cancel {
    color:$color-black
  }

  &-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2 * $gradientSelector-sizer;
    .pj-colorSelector-trigger {
      position: relative;
      width: 16 * $gradientSelector-sizer;
      height: 100%;
    }
    .pj-gradientSelector-field-content {
      width: 16 * $gradientSelector-sizer;

      .pj-range-control {
        position: relative;
        box-sizing: border-box;
        order: 0;
        width: 14.3 * $gradientSelector-sizer;
        height: 2px;
        background-color: #e6e6e6;
      }
    }
  }

  &-selector-list {
    height: 100%;

    .#{$scrollable} {

      &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100% !important;
      }
    }
  }

  &-selector-item {
    //float: left;
    display: inline-flex;
    width: calc(100% / 4 - 2px - 20px);
    height: $selector-item-height;
    margin-right: 2 * $gradientSelector-sizer;
    margin-bottom: 2 * $gradientSelector-sizer;
    list-style: none;
    border: $gradientSelector-border;
    border-color: transparent;

    &:hover {
      cursor: pointer;
      border-color: $gradientSelector-active-color;
    }
  }

  &-colortype {
    display: flex;
    height: $colorType-height;
  }

  &-preset,
  &-custom {
    height: 100%;
    line-height: $colorType-height;
    text-align: center;
    border: $gradientSelector-border;

    &:hover {
      cursor: pointer;
      border-color: $gradientSelector-active-color;
    }
  }

  &-preset {
    width: 50%;
    border-top-left-radius: $gradientSelector-border-radius;
    border-bottom-left-radius: $gradientSelector-border-radius;

    &.#{$gradientSelector}-active + .#{$gradientSelector}-custom {
      border-left-color: transparent;
    }
  }

  &-custom {
    position: relative;
    left: -1px;
    flex-grow: 1;
    border-top-right-radius: $gradientSelector-border-radius;
    border-bottom-right-radius: $gradientSelector-border-radius;
  }

  .#{$range}-control {
    width: 9 * $gradientSelector-sizer; //90px
  }

  // === untils === //
  &-hover {
    .#{$gradientSelector}-trigger-action {
      opacity: 0.9 !important;
      transition: opacity 0.3s;
    }
  }

  &-active {
    color: $gradientSelector-active-color;
    border-color: $gradientSelector-active-color;
  }

  &-warning {
    // border-color: $gradientSelector-warning-color !important;
    animation: flashing 0.4s ease;
  }

  &-show {
    .#{$gradientSelector}-empty {
      display: none;
    }

    .#{$gradientSelector}-fill {
      display: block;
    }

    .#{$gradientSelector}-trigger-action {
      display: flex;
    }
  }
}

