.space {
  height: 1000px;
}
.shaded {
  background-color: #fcfcfc;
}

.nav {
  position: fixed;
  top: 100px;
  left: 150px;
  z-index: 10;
  width: 300px;
  padding: 0;
  margin: 0;
}

.nav > li {
  position: relative;
  display: block;
  padding: 5px 20px;
  color: rgb(128, 128, 128);
  list-style: none;
  cursor: pointer;
  background-color: #f7f9fc;
}

.nav > li:hover {
  color: #77b6f5;
}

.nav > li.is-active {
  font-weight: 700;
  color: #54a3f2;
}
