<h3>Layout</h3>
<div class="example">
  <button type="button" data-toggle="popover" title="Only title">Only title</button>
  <button type="button" data-toggle="popover" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Only Content</button>
  <button type="button" data-toggle="popover" title="Popover title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content</button>
  <button type="button" data-toggle="popover" data-close="true" title="Popover title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content + Close</button>
</div>