<h3>Layout</h3>
<div class="example">
  <a href="javascript: void(0);" class="pj-btn pj-btn-outline pj-popover-btn" data-toggle="popover" title="Only title">Only title</a>
  <a href="javascript: void(0);" class="pj-btn pj-btn-outline pj-popover-btn" data-toggle="popover" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Only content</a>
  <a href="javascript: void(0);" class="pj-btn pj-btn-outline pj-popover-btn" data-toggle="popover" title="Popover title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content</a>
  <a href="javascript: void(0);" class="pj-btn pj-btn-outline pj-popover-btn" data-toggle="popover" data-close="true" title="Popover title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content + Closet</a>
</div>