---
title: Lightbox
layout: plugin
styles:
- ../../plugins/video/css/video.css
- ../../plugins/lightbox/css/lightbox.css
scripts:
- ../../plugins/lightbox/lightbox.js
---

<section>
  <h3>Lightbox image</h3>
    <div class="lightbox-image">
      <a href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" title="The Cleaner"><img src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg" title="Winter Dance"><img src="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" title="The Uninvited Guest"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg" title="Oh no, not again!"><img src="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg" title="Swan Lake"><img src="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_b.jpg" title="The Shake"><img src="http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_b.jpg" title="Who's that, mommy?"><img src="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_s.jpg" width="75" height="75" /></a>
    </div>

    <div id="small-dialog" class="zoom-anim-dialog pj-lightbox-hide">
      <h1>Dialog example</h1>
      <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
    </div>
  <script>
    Pj.lightbox('.lightbox-image', {
      delegate: 'a',
    })
  </script>
</section>
<section>
  <h3>Lightbox effect</h3>
    <div class="popup-lightbox">
      <a href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" title="The Cleaner"><img src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg" title="Winter Dance"><img src="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" title="The Uninvited Guest"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg" title="Oh no, not again!"><img src="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_s.jpg" width="75" height="75" /></a>
      <a href="../../plugins/video/assets/towers.mp4" data-sourse="html5" title="The html5" data-poster="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" data-type="video"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" width="75" height="75" /></a>
      <a href="https://vimeo.com/227891593" data-sourse="vimeo" title="The vimeo" data-poster="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" data-type="video"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" width="75" height="75" /></a>
      <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" data-type="map" title="Google Map"><img src="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_s.jpg" width="75" height="75" /></a>
      <a href="https://tanx.io/" data-type="iframe" title="Iframe"><img src="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg" title="Swan Lake"><img src="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_b.jpg" title="The Shake"><img src="http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_b.jpg" title="Who's that, mommy?"><img src="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_s.jpg" width="75" height="75" /></a>
      <a href="#small-dialog" data-type="inline" title="Inline"><img src="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_s.jpg" width="75" height="75" /></a>
    </div>

    <div id="small-dialog" class="zoom-anim-dialog pj-lightbox-hide">
      <h1>Dialog example</h1>
      <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
    </div>
  <script>
    Pj.lightbox('.popup-lightbox', {
      delegate: 'a',
    })
  </script>
</section>
<section>
  <h3>Video</h3>
    <div class="popup-Video">
      <a href="../../plugins/video/assets/towers.mp4" data-sourse="html5" title="The html5" data-poster="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" data-type="video"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" width="75" height="75" /></a>
      <a href="https://www.youtube.com/watch?v=Sv5gmgZBRv4" data-sourse="youtube" title="The youtube" data-poster="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" data-type="video"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" width="75" height="75" /></a>
      <a href="https://vimeo.com/227891593" data-sourse="vimeo" title="The vimeo" data-poster="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" data-type="video"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" width="75" height="75" /></a>
    </div>
  <script>
    Pj.lightbox('.popup-Video', {
      delegate: 'a',
      theme: 'black',
    })
  </script>
</section>

<section>
  <h3>itemt-two</h3>
    <div class="item-two">
      <a href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" title="The Cleaner"><img src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg" width="75" height="75" /></a>
      <a href="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg" title="Winter Dance"><img src="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_s.jpg" width="75" height="75" /></a>
    </div>
  <script>
    Pj.lightbox('.item-two', {
      delegate: 'a',
      theme: 'black',
      clickImageClose: false,
    })
  </script>
</section>

<section>
  <h3>single</h3>
    <div class="single">
      <a href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" title="The Cleaner"><img src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg" width="75" height="75" /></a>
    </div>
  <script>
    Pj.lightbox('.single', {
      delegate: 'a',
      theme: 'black',
      clickImageClose: false,
      thumbs: false,
    })
  </script>
</section>
<div style="height:500px;width:100%;"></div>
<div style="height:500px;width:100%;"></div>
<div style="height:500px;width:100%;"></div>
<div style="height:500px;width:100%;"></div>
