@import "@pluginjs/styles/variables.scss";
@import "./gallery-picker.core";

// Vars
// =====================
$galleryPicker: "pj-galleryPicker";

$galleryPicker-width: 160px;
$galleryPicker-height: 90px;

$galleryPicker-spacer: 24px;
$galleryPicker-gatter: 8px;

$galleryPicker-font-family: $font-family-base;
$galleryPicker-font-size: $font-size-base;
$galleryPicker-icon-size: $font-size-md;

$galleryPicker-color: $gray-dark;
$galleryPicker-hover-color: $gray-darkest;
$galleryPicker-bg: $color-white;

$galleryPicker-border-color: $border-color;
$galleryPicker-border-radius: $border-radius-base;
$galleryPicker-border-style: dashed;

$galleryPicker-fill-expand-bg: $color-opacity;
$galleryPicker-fill-icon-margin: 10px;
$galleryPicker-fill-count-font-size: 12px;
$galleryPicker-fill-count-line-height: 14px;
$galleryPicker-fill-count-color: $color-white;
$galleryPicker-fill-count-bg: rgba($color-black, 0.8);
$galleryPicker-fill-width: 16px;

$galleryPicker-expand-width: 285px;
$galleryPicker-expand-item-width: calc( 50% - 12px );
$galleryPicker-expand-item-change-bg: $color-opacity;

// Style
// ====================
.#{$galleryPicker} {
  width: $galleryPicker-width;
  height: $galleryPicker-height;
  font-family: $galleryPicker-font-family;
  font-size: $galleryPicker-font-size;
  color: $galleryPicker-color;

  &-open-disabled {
    pointer-events: none;
  }

  &-empty,
  &-fill {
    background-color: $galleryPicker-bg;
    border: 1px solid $galleryPicker-border-color;
    border-radius: $galleryPicker-border-radius;
  }

  &-empty {
    border-style: $galleryPicker-border-style;

    &:hover {
      color: $galleryPicker-hover-color;
      cursor: pointer;
    }

    i {
      margin-bottom: $galleryPicker-gatter;
      font-size: $galleryPicker-icon-size;
    }
  }

  &-fill {
    &::before,
    &::after {
      background-color: $galleryPicker-bg;
      border: 1px solid $galleryPicker-border-color;
      border-radius: $galleryPicker-border-radius;
    }

    &-count {
      width: $galleryPicker-fill-width;
      height: $galleryPicker-fill-width;
      font-size: $galleryPicker-fill-count-font-size;
      line-height: $galleryPicker-fill-count-line-height;
      color: $galleryPicker-fill-count-color;
      text-align: center;
      background-color: $galleryPicker-fill-count-bg;
      border-radius: $galleryPicker-border-radius;
    }
  }

  &-trigger-action {
    background-color: $galleryPicker-fill-expand-bg;
    border-radius: $galleryPicker-border-radius;
  }

  &-edit,
  &-remove {
    margin: 0 $galleryPicker-fill-icon-margin;
    font-size: $galleryPicker-icon-size;
    color: $galleryPicker-fill-count-color;

    &:hover {
      cursor: pointer;
    }
  }

  // expand
  &-dropdown {
    width: $galleryPicker-expand-width;
    padding: $galleryPicker-spacer;
    background-color: $galleryPicker-bg;
    border: 1px solid $galleryPicker-border-color;
    border-radius: $galleryPicker-border-radius;
  }

  &-items {
    li {
      width: $galleryPicker-expand-item-width;
      height: $galleryPicker-expand-item-width;
      border: 1px solid $galleryPicker-border-color;
      border-radius: $galleryPicker-border-radius;
      
      &:nth-child(2n) {
        margin-left: $galleryPicker-spacer;
        margin-bottom: $galleryPicker-spacer;
      }
    }
    
  }

  &-add {
    font-size: $galleryPicker-fill-count-font-size;
    color: $galleryPicker-color;
    border-style: dashed !important;

    &:hover {
      color: $galleryPicker-hover-color;
      cursor: pointer;
    }

    i {
      margin-bottom: $galleryPicker-gatter;
      font-size: $galleryPicker-icon-size;
    }
  }

  &-control {
    margin-top: $galleryPicker-spacer;
  }

  &-item {
    &-change {
      color: $galleryPicker-fill-count-color;
      background-color: $galleryPicker-expand-item-change-bg;
      border-radius: $galleryPicker-border-radius;
    }

    &-remove,
    &-reselect {
      margin: 0 $galleryPicker-gatter;
      font-size: $galleryPicker-icon-size;
    }
  }
}

.#{$galleryPicker}-disabled {
  .#{$galleryPicker}-fill {
    cursor: not-allowed;
    background-color: $disabled-bg;

    &-remove,
    &-edit {
      cursor: not-allowed;
    }
  }

  .#{$galleryPicker}-empty {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;

    &:hover {
      color: $disabled-color;
      cursor: not-allowed;
    }
  }

  .#{$galleryPicker}-fill-change {
    cursor: not-allowed;
    background-color: $disabled-bg;
  }
}
