@import "@pluginjs/styles/variables.scss";
@import "./gallery-picker.core";

// Vars
// =====================
$galleryPicker: "pj-galleryPicker";
$dropdown: "pj-dropdown";
$scrollable: "pj-scrollable";

$galleryPicker-width: 160px;
$galleryPicker-height: 90px;

$galleryPicker-spacer: 24px;
$galleryPicker-gatter: 8px;

$galleryPicker-font-family: $font-family-base;
$galleryPicker-font-size: $font-size-base;
$galleryPicker-line-height: 16px;
$galleryPicker-icon-size: 16px;

$galleryPicker-color: #999;
$galleryPicker-active-color: $color-primary;
$galleryPicker-hover-color: $gray-darkest;
$galleryPicker-bg: $color-white;

$galleryPicker-border-width: 1px;
$galleryPicker-border-color: $gray;
$galleryPicker-border: $galleryPicker-border-width solid
  $galleryPicker-border-color;
$galleryPicker-border-radius: $border-radius-base;
// empty
$galleryPicker-border-style: dashed;
// fill
$galleryPicker-fill-expand-bg: $color-opacity;
$galleryPicker-fill-icon-margin: 10px;
$galleryPicker-fill-count-font-size: 12px;
$galleryPicker-fill-count-line-height: 14px;
$galleryPicker-fill-count-color: $color-white;
$galleryPicker-fill-count-bg: rgba($color-black, 0.8);
$galleryPicker-fill-width: 16px;
$galleryPicker-fill-count-padding: 7px 28px;
// expand
$galleryPicker-expand-width: 272px;
$galleryPicker-expand-height: 360px;
$galleryPicker-expand-item-width: 100px;
$galleryPicker-expand-item-change-bg: $color-opacity;
//scrollable
$scrollable-width: 250px;
$scrollable-height: 260px;


// Style
// ====================
.#{$galleryPicker} {
  width: $galleryPicker-width;
  height: $galleryPicker-height;
  font-family: $galleryPicker-font-family;
  font-size: $galleryPicker-font-size;
  color: $galleryPicker-color;

  &-open-disabled {
    pointer-events: none;
  }
  
  &-empty,
  &-fill {
    text-align: center;
    background-color: $galleryPicker-bg;
    border: $galleryPicker-border;
    border-radius: $galleryPicker-border-radius;
  }

  &-empty {
    border-style: $galleryPicker-border-style;

    &:hover {
      color: $galleryPicker-hover-color;
      cursor: pointer;
    }

    i {
      margin-bottom: $galleryPicker-gatter;
      font-size: $galleryPicker-icon-size;
    }
  }

  &-fill {

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $galleryPicker-bg;
      border: $galleryPicker-border;
      border-radius: $galleryPicker-border-radius;
    }

    &-count {
      width: $galleryPicker-fil;
      height: $galleryPicker-fil;
      font-size: $galleryPicker-fill-count-font-size;
      line-height: $galleryPicker-fill-count-line-height;
      color: $galleryPicker-fill-count-color;
      text-align: center;
      background-color: $galleryPicker-fill-count-bg;
      border-radius: $galleryPicker-border-radius;
    }
  }


  &-trigger-action {
    line-height: $galleryPicker-height;
    background-color: $galleryPicker-fill-expand-bg;
    border-radius: $galleryPicker-border-radius;
    opacity: 0;
  }

  &-edit,
  &-remove {
    margin: 0 $galleryPicker-fill-icon-margin;
    font-size: $galleryPicker-icon-size;
    color: $galleryPicker-fill-count-color;

    &:hover {
      cursor: pointer;
    }
  }

  // expand
  &-dropdown {
    width: $galleryPicker-expand-width;
    height: $galleryPicker-expand-height !important;
    padding: $galleryPicker-spacer;
    background-color: $galleryPicker-bg;
    border: $galleryPicker-border;
    border-radius: $galleryPicker-border-radius;
  }

  &-items li {
    box-sizing: border-box;
    width: $galleryPicker-expand-item-width;
    height: $galleryPicker-expand-item-width;
    margin: $galleryPicker-spacer;
    margin-bottom: 0;
    text-align: center;
    border: $galleryPicker-border;
    border-radius: $galleryPicker-border-radius;

    + li {
      margin-left: 0;
    }
   
  }

  &-add {
    font-size: $galleryPicker-fill-count-font-size;
    color: $galleryPicker-color;
    border-style: dashed !important;

    &:hover {
      color: $galleryPicker-hover-color;
      cursor: pointer;
    }

    i {
      margin-bottom: $galleryPicker-gatter;
      font-size: $galleryPicker-icon-size;
    }
  }

  &-control {
    margin-top: $galleryPicker-spacer;

    button {
      padding: $galleryPicker-fill-count-padding;
      line-height: $galleryPicker-line-height;
      text-transform: uppercase;
    }
  }

  &-item {
    border: $galleryPicker-border;

    &-change {
      line-height: $galleryPicker-expand-item-width;
      color: $galleryPicker-fill-count-color;
      background-color: $galleryPicker-expand-item-change-bg;
      border-radius: $galleryPicker-border-radius;
      opacity: 0;
    }

    &-remove,
    &-reselect {
      margin: 0 $galleryPicker-gatter;
      font-size: $galleryPicker-icon-size;
    }
  }
}

.#{$galleryPicker}-disabled {
  .#{$galleryPicker}-fill {
    cursor: not-allowed;
    background-color: $disabled-bg;

    &-remove,
    &-edit {
      cursor: not-allowed;
    }
  }

  .#{$galleryPicker}-empty {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;

    &:hover {
      color: $disabled-color;
      cursor: not-allowed;
    }
  }

  .#{$galleryPicker}-fill-change {
    cursor: not-allowed;
    background-color: $disabled-bg;
  }
}

.#{$scrollable} {
  position: relative !important;
  width: $scrollable-width !important;
  height: $scrollable-height !important;

  &-container {
    width: $scrollable-width !important;
    height: $scrollable-height !important;
  }

  &-enabled.#{$scrollable} .#{$scrollable}-content {
    overflow: auto !important;
  }

  &-content {
    width:  $scrollable-width !important;
    height: $scrollable-height !important;
  }

  &-vertical.#{$scrollable}-enabled .#{$scrollable}-container {
    overflow: hidden !important;
  }
}

