@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$tabs: "pj-tabs" !default;
$tabs-font-size: $font-size-sm;
$tabs-label-padding-y: 16px !default;
$tabs-drop-nav-label-font-family: plugin-icons !default;
$tabs-bg-color: $color-white;
$tabs-nav-cover-height: 3px !default;
$tabs-content-line-height: 22px !default;
$tabs-active-color: $color-primary !default;
$tabs-duration: 0.5s !default;

// Core
// =====================
.#{$tabs} {
  &-nav {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      cursor: pointer;

      &::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        content: " ";
      }
    }

    .#{$tabs}-active {
      z-index: 1;
      color: $tabs-active-color;
    }
  }

  &-content {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    overflow: hidden;
    line-height: $tabs-content-line-height;
    transition: all $tabs-duration ease-in-out;

    > div {
      display: none;
    }

    .#{$tabs}-active {
      display: block;
    }
  }

  &[class*="-bottom"] {
    display: flex;
    flex-direction: column-reverse;

    .#{$tabs}-nav {
      li::after {
        top: auto;
        bottom: 100%;
      }
    }
  }

  &-topright,
  &-bottomright {
    .#{$tabs}-nav {
      justify-content: flex-end;
    }
  }

  &-topjustify,
  &-bottomjustify {
    .#{$tabs}-nav li {
      flex: 1;
    }
  }

  &-topcenter,
  &-bottomcenter {
    .#{$tabs}-nav {
      justify-content: center;
    }
  }

  &-left,
  &-right {
    display: flex;

    .#{$tabs}-nav {
      flex-direction: column;
    }
  }

  &-right {
    flex-direction: row-reverse;

    li::after {
      top: 0;
      right: 100%;
      left: auto;
    }
  }

  &-left {
    li::after {
      top: 0;
      left: 100%;
    }
  }

  &-scroll {
    .#{$tabs} {
      &-nav {
        white-space: nowrap;

        &-wrap {
          overflow: hidden;
        }
      }
    }
  }

  &-drop {
    position: relative;
    display: flex;
    flex-direction: column;

    .#{$tabs}-nav-label {
      display: flex;
      line-height: 1;
      text-decoration: none;

      .icon {
        font-size: inherit;
      }

      &::before {
        position: absolute;
        right: 10px;
        display: inline-block;
        font-family: $tabs-drop-nav-label-font-family;
        font-style: normal;
        font-weight: normal; /*stylelint-disable-line*/
        font-variant: normal;
        content: "\ea23";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: auto;
      }
    }

    .#{$tabs}-nav {
      position: absolute;
      top: $tabs-label-padding-y * 2 + $tabs-font-size + 1px;
      left: 0;
      z-index: 1;
      box-sizing: border-box;
      display: none;
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        display: block;

        .icon {
          font-size: inherit;
        }
      }
    }

    .#{$tabs}-content {
      order: 2;
    }

    &-open {
      .#{$tabs}-nav {
        display: block;

        &-label {
          &::before {
            transition: all $tabs-duration ease-in;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
