@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$tabs: "pj-tabs" !default;
$tabs-font-size: $font-size-sm !default;
$tabs-bg: $color-white !default;
$tabs-active-color: $color-primary !default;

// Core
// =====================
.#{$tabs} {
  &-nav {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1em;
      cursor: pointer;
    }

    .#{$tabs}-active {
      z-index: 1;
      color: $tabs-active-color;
    }
  }

  &-content {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    overflow: hidden;

    > div {
      position: absolute;
      visibility: hidden;
    }

    .#{$tabs}-active {
      position: relative;
      visibility: visible;
    }
  }

  &[class*="-bottom"] {
    display: flex;
    flex-direction: column-reverse;

    .#{$tabs}-nav {
      li::after {
        top: auto;
        bottom: 100%;
      }
    }
  }

  &-topright,
  &-bottomright {
    .#{$tabs}-nav {
      justify-content: flex-end;
    }
  }

  &-topjustify,
  &-bottomjustify {
    .#{$tabs}-nav li {
      flex: 1;
    }
  }

  &-topcenter,
  &-bottomcenter {
    .#{$tabs}-nav {
      justify-content: center;
    }
  }

  &-left,
  &-right {
    display: flex;

    .#{$tabs}-nav {
      flex-direction: column;
    }
  }

  &-right {
    flex-direction: row-reverse;
  }

  &-scroll {
    .#{$tabs} {
      &-nav {
        white-space: nowrap;

        &-wrap {
          overflow: hidden;
        }
      }
    }
  }

  &-drop {
    position: relative;
    display: flex;
    flex-direction: column;

    .#{$tabs}-nav-label {
      display: flex;
      line-height: 1em;
      text-decoration: none;
    }

    .#{$tabs}-nav {
      position: absolute;
      top: $tabs-font-size;
      left: 0;
      z-index: 1;
      box-sizing: border-box;
      display: none;
      width: 100%;
      padding: 0;
      margin: 0;
      background-color: $tabs-bg;

      li {
        display: block;
      }
    }

    .#{$tabs}-content {
      order: 2;
    }

    &-open {
      .#{$tabs}-nav {
        display: block;
      }
    }
  }
}
