@import "@pluginjs/styles/variables.scss";
@import "tabs.core";

// Vars
// =====================
$tabs: "pj-tabs";
$tabs-font-size-base: $font-size-base;

$tabs-bg-color: $color-white;
$tabs-border-color: $border-color;

$tabs-gutter-width: -1px;

$tabs-label-padding-x: 24px;
$tabs-label-padding-y: 14.3px;

$tabs-label-color: $gray-darkest;
$tabs-label-hover-color: $color-primary;

$tabs-nav-cover-height: $tabs-font-size-base;
$tabs-nav-border-color: $gray-border;
$tabs-nav-icon-margin-right: 9.88px;

$tabs-content-padding-x: 24px;
$tabs-content-padding-y: 24px;
$tabs-content-color: $gray-darker;

$tabs-drop-nav-bg: $color-white;
$tabs-drop-content-bg: transparent;

$tabs-drop-nav-item-color: $gray-light;
$tabs-drop-nav-item-active-color: $color-white;

// default
// =====================
.#{$tabs}-nav {
  li {
    position: relative;
    padding: $tabs-label-padding-y $tabs-label-padding-x;
    color: $tabs-label-color;
    background-color: $tabs-bg-color;
    border: 1px solid $tabs-nav-border-color;

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: $tabs-nav-cover-height;
      content: " ";
      background: $tabs-bg-color;
    }

    &:hover {
      color: $tabs-label-hover-color;
    }
  }

  li + li {
    margin-left: $tabs-gutter-width;
  }

  .#{$tabs}-active {
    color: $tabs-label-hover-color;
    border: 1px solid $tabs-nav-border-color;
  }

  &-icon {
    margin-right: $tabs-nav-icon-margin-right;
  }
}

.#{$tabs}-content {
  color: $tabs-content-color;
  text-align: left;
  background-color: $tabs-bg-color;
  border: 1px solid $tabs-border-color;

  > div {
    padding: $tabs-content-padding-y $tabs-content-padding-x;
  }
}

//position
[class*="-bottom"] {
  .#{$tabs}-nav {
    li::after {
      top: auto;
      bottom: 100%;
    }
  }
}

.#{$tabs}-left,
.#{$tabs}-right {
  .#{$tabs}-nav {
    li::after {
      width: $tabs-nav-cover-height;
      height: 100%;
    }

    li + li {
      margin-top: $tabs-gutter-width;
      margin-left: 0;
    }
  }
}

.#{$tabs}-left {
  .#{$tabs}-nav {
    li::after {
      top: 0;
      left: 100%;
    }
  }
}

.#{$tabs}-right {
  .#{$tabs}-nav {
    li::after {
      top: 0;
      right: 100%;
      left: auto;
    }
  }
}

//responsive
.#{$tabs}.#{$tabs}-drop {
  .#{$tabs}-nav-label {
    padding: $tabs-label-padding-y $tabs-label-padding-x;
    color: inherit;
    background-color: $tabs-drop-nav-bg;
    border: 1px solid $tabs-border-color;

    &:hover {
      color: $tabs-label-hover-color;
    }
  }

  .#{$tabs}-nav {
    top: $tabs-label-padding-y * 2 + $tabs-font-size-base;
    z-index: 1;
    padding: 0;
    margin: 0;
    background-color: $tabs-drop-nav-bg;
    border: 1px solid $tabs-border-color;

    li {
      margin: 0;
      // color: $tabs-drop-nav-item-color;
      text-align: initial;
      background-color: transparent;
      border: none;
      border-radius: 0;

      &::before,
      &::after {
        display: none;
      }

      + li {
        border-top: 1px solid $tabs-border-color;
      }
    }
  }

  .#{$tabs}-content {
    margin: 0;
    background-color: $tabs-drop-content-bg;
    border: 1px solid $tabs-border-color;
    border-top: none;
    box-shadow: none;

    > div {
      border: none;
      box-shadow: none;
    }
  }
}

#keyboard {
  .pj-tabs {
    outline: none;
  }
}
