@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
@import "tabs.core";

// Vars
// =====================
$tabs: "pj-tabs";
$tabs-font-family: $font-family-base;
$tabs-font-size: $font-size-sm;
$tabs-color: $gray-darker;
$tabs-bg: $color-white;

$tabs-border-color: $border-color;

$tabs-label-padding-y: 16px;
$tabs-label-padding-x: 24px;
$tabs-label-color: $gray-darkest;
$tabs-label-hover-color: $color-primary;

$tabs-nav-cover-height: 3px !default;

$tabs-nav-icon-gutter: 10px;

$tabs-content-padding-x: 24px;
$tabs-content-padding-y: 18px;

$tabs-label-arrow-right: $tabs-label-padding-x - $tabs-font-size;
$tabs-label-arrow-font: $pj-icon-font-family;
$tabs-label-arrow-icon: $pj-icon-arrow-right;

$tabs-drop-content-padding-top: 2px;

// Skin
// =====================
.#{$tabs} {
  font-family: $tabs-font-family;
  font-size: $tabs-font-size;
  color: $tabs-color;

  &-nav {
    li {
      padding: $tabs-label-padding-y $tabs-label-padding-x;
      color: $tabs-label-color;
      background-color: $tabs-bg;
      border: 1px solid $tabs-border-color;

      &:hover {
        color: $tabs-label-hover-color;
      }

      &::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: $tabs-nav-cover-height;
        content: "";
        background: $tabs-bg;
      }

      + li {
        margin-left: -1px;
      }
    }

    &-icon {
      margin-right: $tabs-nav-icon-gutter;
    }

    .#{$tabs}-active {
      color: $tabs-label-hover-color;
    }
  }

  &-content {
    background-color: $tabs-bg;
    border: 1px solid $tabs-border-color;

    > div {
      padding: $tabs-content-padding-y $tabs-content-padding-x;
    }
  }

  &-vertical {
    .#{$tabs}-nav {
      li {
        &::after {
          width: $tabs-nav-cover-height;
          height: 100%;
        }

        + li {
          margin-top: -1px;
          margin-left: 0;
        }
      }
    }

    &.#{$tabs}-right {
      li::after {
        top: 0;
        right: 100%;
        left: auto;
      }
    }

    &.#{$tabs}-left {
      li::after {
        top: 0;
        left: 100%;
      }
    }
  }
}

.#{$tabs}-drop {
  .#{$tabs}-nav-label {
    padding: $tabs-label-padding-y $tabs-label-padding-x;
    color: inherit;
    background-color: $tabs-bg;
    border: 1px solid $tabs-border-color;
    border-bottom: 0;

    &:hover {
      color: $tabs-label-hover-color;
    }

    &::after {
      @include icon();
      position: absolute;
      right: $tabs-label-arrow-right;
      font-family: $tabs-label-arrow-font;
      content: icon-content($tabs-label-arrow-icon);
      transition: transform 0.3s;
      will-change: transform;
    }
  }

  .#{$tabs}-nav {
    top: $tabs-label-padding-y * 2 + $tabs-font-size;
    background-color: $tabs-bg;
    border: 1px solid $tabs-border-color;

    li {
      margin: 0;
      border: none;

      &::before,
      &::after {
        display: none;
      }

      + li {
        border-top: 1px solid $tabs-border-color;
      }
    }
  }

  .#{$tabs}-content {
    border-top: none;

    > div {
      padding-top: $tabs-drop-content-padding-top;
    }
  }

  &-open {
    .#{$tabs}-nav-label::after {
      transform: rotate(90deg);
    }
  }
}
