@import "@pluginjs/styles/variables.scss";
@import "tabs.core";

// Vars
// =====================
$tabs: "pj-tabs";
$tabs-font-family: $font-family-base;
$tabs-color: $gray-darker;

$tabs-border-color: $border-color;

$tabs-label-padding-x: 24px;
$tabs-label-color: $gray-darkest;
$tabs-label-hover-color: $color-primary;

$tabs-nav-border-color: $gray-border;
$tabs-nav-icon-margin-right: 9.88px;

$tabs-content-padding-x: 23px;
$tabs-content-padding-y: 18px;

$tabs-drop-nav-bg: $color-white;
$tabs-drop-content-bg: transparent;


// default
// =====================
.#{$tabs} {
  font-family: $tabs-font-family;
  font-size: $tabs-font-size;
  color: $tabs-color;

  &-nav {
    li {
      padding: $tabs-label-padding-y $tabs-label-padding-x;
      color: $tabs-label-color;
      background-color: $tabs-bg-color;
      border: 1px solid $tabs-nav-border-color;
  
      &:hover {
        color: $tabs-label-hover-color;
      }

      &::after {
        height: $tabs-nav-cover-height;
        background: $tabs-bg-color;
      }

      + li {
        margin-left: -1px;
      }
    }
    
    &-icon {
      margin-right: $tabs-nav-icon-margin-right;
    }

    .#{$tabs}-active {
      color: $tabs-label-hover-color;
    }
  }

  &-content {
    text-align: left;
    background-color: $tabs-bg-color;
    border: 1px solid $tabs-border-color;
  
    > div {
      padding: $tabs-content-padding-y $tabs-content-padding-x;
    }
  }

  &-vertical {
    .#{$tabs}-nav {
      li {
        &::after {
          width: $tabs-nav-cover-height;
          height: 100%;
        }

        + li {
          margin-top: -1px;
          margin-left: 0;
        }
      }
    }
  }
}

//responsive
.#{$tabs}-drop {
  .#{$tabs}-nav-label {
    padding: $tabs-label-padding-y $tabs-label-padding-x;
    color: inherit;
    background-color: $tabs-drop-nav-bg;
    border: 1px solid $tabs-border-color;

    .pj-icon {
      font-size: inherit;
    }

    &:hover {
      color: $tabs-label-hover-color;
    }
  }

  .#{$tabs}-nav {
    background-color: $tabs-drop-nav-bg;
    border: 1px solid $tabs-border-color;

    li {
      margin: 0;
      text-align: initial;
      background-color: transparent;
      border: none;
      border-radius: 0;

      &::before,
      &::after {
        display: none;
      }

      + li {
        border-top: 1px solid $tabs-border-color;
      }

      .pj-icon {
        font-size: inherit;
      }
    }
  }

  .#{$tabs}-content {
    margin: 0;
    background-color: $tabs-drop-content-bg;
    border: 1px solid $tabs-border-color;
    border-top: none;
    box-shadow: none;

    > div {
      border: none;
      box-shadow: none;
    }
  }
}
