@import "@pluginjs/styles/variables.scss";

// Variables
// ========================================================================
$timeline-name: "pj-timeline" !default;
$timeline-arrow: "pj-arrow" !default;

$timeline-item-padding: 48px !default;

$timeline-line-width: 2px !default;

$timeline-content-margin-x: 40px !default;
$timeline-content-padding-y: 20px !default;

$timeline-mark-size: 16px !default;

$timeline-arrow-gatter: 0 !default;

.#{$timeline-name} {
  position: relative;
  padding: 0 $timeline-item-padding;

  &-wrap {
    position: relative;
  }

  // list
  &-list {
    padding: 0;
    margin: 0;
    list-style: none;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      display: block;
      width: $timeline-line-width;
      content: "";
      transform: translateX(-50%);
    }
  }

  // item
  &-item {
    position: relative;
    display: flex;
    width: 50%;
    text-align: right;

    &:nth-child(even) {
      flex-direction: row;
      margin-left: 50%;
      text-align: left;

      .#{$timeline-name}-content {
        margin-right: 0;
        margin-left: $timeline-content-margin-x;
      }

      .#{$timeline-name}-mark {
        left: auto;
      }
    }
  }

  // content
  &-content {
    margin-right: $timeline-content-margin-x;
  }

  .#{$timeline-arrow}-prev,
  .#{$timeline-arrow}-next {
    display: none;
  }

  // time mark/badge
  &-mark {
    position: absolute;
    top: 0;
    left: 100%;
    width: $timeline-mark-size;
    height: $timeline-mark-size;
    transform: translateX(-50%) translateY(50%);
  }

  &.#{$timeline-name}-horizontal {
    box-sizing: border-box;
    height: auto;
    overflow-x: hidden;

    .#{$timeline-name}-wrap {
      overflow: hidden;
    }

    .#{$timeline-arrow}-next,
    .#{$timeline-arrow}-prev {
      display: block;
    }

    .#{$timeline-arrow}-prev {
      left: $timeline-arrow-gatter;
    }

    .#{$timeline-arrow}-next {
      right: $timeline-arrow-gatter;
    }

    .#{$timeline-name}-list {
      display: flex;
      
      &,
      &::before,
      &::after,
      & *,
      & *::before,
      & *::after {
        box-sizing: border-box;
      }

      &::before {
        top: 50%;
        left: 0;
        width: 100%;
        height: $timeline-line-width;
        transform: translateY(-50%);
      }
    }

    .#{$timeline-name}-mark {
      top: auto;
      left: 50%;
    }

    .#{$timeline-name}-content {
      margin-right: 0;
      margin-bottom: $timeline-content-margin-x;
    }

    .#{$timeline-name}-item {
      flex-direction: column;
      justify-content: flex-end;
      height: 50%;
      padding: 0 $timeline-content-padding-y;
      margin: 0;

      &:nth-child(even) {
        align-self: flex-end;
        justify-content: flex-start;

        .#{$timeline-name}-content {
          margin-top: $timeline-content-margin-x;
          margin-bottom: 0;
          margin-left: 0;
        }

        .#{$timeline-name}-mark {
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
}
