@import "@pluginjs/styles/variables.scss";
@import "./timeline.core.scss";

// Variables
// ========================================================================
$timeline-name: "pj-timeline";
$timeline-arrow: "pj-arrow";

$timeline-line-color: $color-primary;

$timeline-content-gatter: 20px;

$timeline-mark-bg: $timeline-line-color;
$timeline-mark-hover-bg: $gray-darkest;

.#{$timeline-name} {
  // list
  &-list {
    &::before {
      background-color: $timeline-line-color;
    }
  }

  // content
  &-content {
    padding: $timeline-content-gatter;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);

    > *:last-child {
      margin-bottom: 0;
    }
  }
  // time mark/badge
  &-mark {
    background-color: $timeline-mark-bg;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background-color: $timeline-mark-hover-bg;
    }
  }

  &.pj-#{$timeline-name}-horizontal {
    .#{$timeline-name}-item {
      text-align: left;
      
      &:nth-child(even) {
        text-align: left;

        .#{$timeline-name}-content {
          margin: 0;
        }
      }
    }
  }
}
