// import lazyload css
@import "@pluginjs/lazyload/src/css/lazyload.scss";

.img-shell {
  width: 400px;
  height: 400px;
}
.vertical-box {
  width: 420px;
  height: 800px;
  overflow: auto;

  > img,
  & > div {
    margin-bottom: 15px;
  }
}

.horizontal-box {
  width: 800px;
  height: auto;
  overflow: auto;
  white-space: nowrap;

  > img,
  > div,
  > h3 {
    display: inline-block;
    padding-right: 15px;
  }
}

.default-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1260px;

  > img,
  > div {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
