@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

// Vars
// =====================
$time-picker: "pj-timePicker" !default;
$time-picker-max-height: 300px !default;

$time-picker-clear-icon: $pj-icon-close !default;
$time-picker-clear-font: $pj-icon-font-family !default;
$time-picker-clear-right: 40px !default;

$time-picker-trigger-icon: $pj-icon-time !default;
$time-picker-trigger-font: $pj-icon-font-family !default;

// Core
// =====================
.#{$time-picker} {
  position: relative;

  & &-dropdown {
    width: 100%;
  }

  &-group {
    height: 100%;
  }

  &-dropdown {
    max-height: $time-picker-max-height;
    overflow: auto;
  }

  &-clear {
    position: absolute;
    top: 0;
    right: $time-picker-clear-right;
    z-index: 1;
    display: none;
    height: 100%;
    font-family: $time-picker-clear-font;
    cursor: pointer;

    &::before {
      @include icon();
      vertical-align: middle;
      content: icon-content($time-picker-clear-icon);
    }

    &::after {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }

    .#{$time-picker}-selected .#{$time-picker}-group:hover &,
    .#{$time-picker}-selected.#{$time-picker}-focus &,
    .#{$time-picker}-selected.#{$time-picker}-show & {
      display: inline-block;
    }
  }

  &-trigger {
    cursor: pointer;
    &-icon {
      font-family: $time-picker-trigger-font;
      &::after {
        @include icon();
        content: icon-content($time-picker-trigger-icon);
      }
    }
  }
}
