@import "@pluginjs/styles/variables.scss";
@import "time-picker.core";

// Vars
// =====================
$time-picker: "pj-timePicker";
$input: "pj-input";
$dropdown: "pj-dropdown";

$time-picke-height: 32px;

$time-picker-font-family: $font-family-base;

$time-picker-show-border-color: $color-primary;

$time-picker-clear-color: $gray;
$time-picker-clear-hover-color: $text-color;
// Style
// =====================
.#{$time-picker} {
  width: 100%;
  height: $time-picke-height;
  font-family: $time-picker-font-family;
  outline: none;

  &-clear {
    color: $time-picker-clear-color;

    &:hover {
      color: $time-picker-clear-hover-color;
    }
  }
  
  &-dropdown {
    .#{$dropdown}-item.#{$dropdown}-active:not(.#{$dropdown}-item-disabled) {
      background-color: transparent;
    }
  }

  &.#{$time-picker}-disabled {
    user-select: none;
  }
}
