@import "@pluginjs/styles/variables.scss";
@import "multi-select.core";
// Vars
// =====================
$select: "pj-select";
$multiSelect: "pj-select-multi";
$dropdown : "pj-dropdown";

$multiSelect-chip-bg: $gray-lighter !default;
$multiSelect-chip-border-radius: $border-radius-sm !default;
$multiSelect-chip-border-color: $border-color !default;
$multiSelect-chip-margin: 2px;
$multiSelect-chip-font-size: $font-size-xs;
$multiSelect-chip-line-height: 22px !default;
$multiSelect-chip-padding-x: 8px !default;
$multiSelect-chip-padding-y: 0 !default;

$multiSelect-chip-unselect-color: $gray-dark !default;
$multiSelect-chip-unselect-hover-color: $text-color;
$multiSelect-chip-unselect-padding-x: $multiSelect-chip-padding-x/2 !default;

$multiSelect-active-icon: $pj-icon-check;
$multiSelect-active-font: $pj-icon-font-family;
$multiSelect-active-right: 11px;

$multiSelect-reach-max-text-padding: 11px 8px;
$multiSelect-reach-max-text-color: $gray-darker;

.#{$multiSelect} {
  .#{$select}-trigger {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .#{$select}-option.#{$dropdown}-active {
    &::after {
      @include icon();
      position: absolute;
      top: 50%;
      right: $multiSelect-active-right;
      font-family: $multiSelect-active-font;
      content: icon-content($multiSelect-active-icon);
      transform: translateY(-50%);
    }
  }

  .#{$select}-chip {
    padding: $multiSelect-chip-padding-y $multiSelect-chip-unselect-padding-x $multiSelect-chip-padding-y $multiSelect-chip-padding-x;
    margin: $multiSelect-chip-margin;
    font-size: $multiSelect-chip-font-size;

    line-height: $multiSelect-chip-line-height;
    background: $multiSelect-chip-bg;
    border: 1px solid $multiSelect-chip-border-color;
    border-radius: $multiSelect-chip-border-radius;

    &-unselect {
      margin-left: $multiSelect-chip-unselect-padding-x;
      color: $multiSelect-chip-unselect-color;
      cursor: pointer;

      &:hover {
        color: $multiSelect-chip-unselect-hover-color;
      }
    }
  }

  .#{$select}-reach-max-text {
    padding: $multiSelect-reach-max-text-padding;
    color: $multiSelect-reach-max-text-color;
    text-align: center;
  }
}
