@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
// Vars
// =====================
$colorSelector: "pj-colorSelector" !default;

$colorSelector-border-width: 1px !default;
$colorSelector-border-style: solid !default;
$colorSelector-border-color: $gray-lighter !default;
$colorSelector-border: $colorSelector-border-width $colorSelector-border-style
  $colorSelector-border-color !default;

$colorSelector-preview-width: 45px !default;
$colorSelector-preview-height: 32px !default;
$colorSelector-preview-span-left: calc(50% - #{$colorSelector-border-width}) !default;
$colorSelector-preview-bg-width: 36px !default;
$colorSelector-preview-bg-height: 24px !default;

$colorSelector-clear-right: $colorSelector-preview-width + 6px !default;
$colorSelector-clear-icon: $pj-icon-close !default;
$colorSelector-clear-font: $pj-icon-font-family !default;


$colorSelector-panel-swicher-height: 56px !default;
$colorSelector-panel-swicher-color: $gray !default;
$colorSelector-panel-swicher-icon-size: 20px !default;

$colorSelector-icon-font-family: $pj-icon-font-family !default;
$colorSelector-collection-icon-content: $pj-icon-star-solid !default;
$colorSelector-solid-icon-content: $pj-icon-browser-tab !default;
$colorSelector-gradient-icon-content: $pj-icon-browser-tab !default;

$colorSelector-collection-item-width: 24px !default;
$colorSelector-collection-item-height: $colorSelector-collection-item-width !default;

$colorSelector-scheme-height: 240px !default;

$colorSelector-mask-zindex: $zindex-dropdown - 1 !default;

// Core
// =====================
.#{$colorSelector}{
  &-trigger {
    position: relative;
  }

  &-input {
    width: 100%;
  }

  &-clear {
    position: absolute;
    top: 0;
    right: $colorSelector-clear-right;
    display: none;
    height: 100%;
    font-family: $colorSelector-clear-font;

    &::before {
      @include icon();
      vertical-align: middle;
      content: icon-content($colorSelector-clear-icon);
    }

    &::after {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
  }

  &-preview {
    position: absolute;
    top: 50%;
    right: 0;
    width: $colorSelector-preview-width;
    height: $colorSelector-preview-height - 2px;
    cursor: pointer;
    transform: translateY(-50%);

    span {
      position: absolute;
      top: 50%;
      left: $colorSelector-preview-span-left;
      display: inline-block;
      width: $colorSelector-preview-bg-width;
      height: $colorSelector-preview-bg-height;
      transform: translate(-50%,-50%);
    }

    &-bg {
      z-index: -1;
    }
  }

  .pj-colorPicker-panel {
    width: 100%;
  }

  .pj-colorPicker-panel,
  .pj-gradientPicker-panel {
    border: none;
  }

  &-panel-swicher {
    display: flex;
    height: $colorSelector-panel-swicher-height;
    color: $colorSelector-panel-swicher-color;
    border-bottom: $colorSelector-border;

    > i {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: $colorSelector-panel-swicher-icon-size;

      &:hover {
        cursor: pointer;
      }
    }

    &-collection::after {
      @include icon();
      font-family: $colorSelector-icon-font-family;
      content: icon-content($colorSelector-collection-icon-content);
    }

    &-gradient::after {
      @include icon();
      font-family: $colorSelector-icon-font-family;
      content: icon-content($colorSelector-gradient-icon-content);

    }

    &-solid::after {
      @include icon();
      font-family: $colorSelector-icon-font-family;
      content: icon-content($colorSelector-solid-icon-content);
    }
  }

  &-panel-container {
    position: relative;

    // & > div {
    //   display: none;
    // }
  }

  &-group-list {
    padding: 0;
    margin: 0;
  }

  &-scheme {
    height: $colorSelector-scheme-height;
    overflow: auto;
  }
  &-collection {
    &-item {
      display: inline-block;
      width: $colorSelector-collection-item-width;
      height: $colorSelector-collection-item-height;
      list-style: none;
      cursor: pointer;
    }
  }

  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $colorSelector-mask-zindex;
    display: none;
    width: 100%;
    height: 100%;
  }
}
