@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
@import "color-selector.core";
// Vars
// =====================
$colorSelector: "pj-colorSelector";
$dropdown: "pj-dropdown";

$colorSelector-font-family: $font-family-base;
$colorSelector-font-size: $font-size-base;
$colorSelector-sizer: $sizer !default;

$colorSelector-input-padding-right: $colorSelector-preview-width + 4px;

$colorSelector-border-radius: $border-radius-base;

$colorSelector-clear-color: $gray;
$colorSelector-clear-hover-color: $text-color;

$colorSelector-panel-width: 28.8 * $colorSelector-sizer !default; //288px

$colorSelector-preview-border-color: $gray-light;
$colorSelector-preview-bg-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIAQMAAABvIyEEAAAABlBMVEXLy8v////hf8FnAAAAGklEQVQoz2PghwEG/KwPMECANWreqHkDaB4AtSFCzONj1qEAAAAASUVORK5CYII=");

$colorSelector-collection-item-margin-right: 1.5 * $colorSelector-sizer !default; //15px
$colorSelector-collection-padding: 2.4 * $colorSelector-sizer !default; //15px
$colorSelector-collection-item-margin-bottom: 1.5 * $colorSelector-sizer !default; //15px
$colorSelector-collection-manage-height: 3 * $colorSelector-sizer !default; //30px
$colorSelector-collection-manage-icon-margin-right: $colorSelector-sizer !default; //10px
$colorSelector-collection-item-box-shadow: $box-shadow-2 !default;

//skin
.#{$colorSelector}{
  font-family: $colorSelector-font-family;

  &-input {
    padding-right: $colorSelector-input-padding-right;
  }

  &-clear {
    color:$colorSelector-clear-color;

    &:hover {
      color: $colorSelector-clear-hover-color;
    }
  }

  &-dropdown {
    width: $colorSelector-panel-width;
    font-size: $colorSelector-font-size;
  }

  &-preview {
    border-left: 1px solid $colorSelector-preview-border-color;

    span {
      border-radius: $colorSelector-border-radius;
    }

    &-bg {
      background: $colorSelector-preview-bg-image;
    }
  }

  &-panel-gradient {
    .pj-gradientPicker-panel {
      width: unset;
    }
  }

  &-panel-collection {
    padding: $colorSelector-collection-padding;

    .#{$colorSelector}-manage {
      line-height: $colorSelector-collection-manage-height;
      color: $color-primary-black;
      text-align: center;
      border: 1px solid #e6e6e6;

      i {
        margin-right: $colorSelector-collection-manage-icon-margin-right;
        vertical-align: middle;
      }

      &:hover {
        cursor: pointer;
        background-color: #f2f2f2;
        border: 1px solid #e6e6e6;
      }
    }
  }

  &-collection {
    &-item {
      margin-right: $colorSelector-collection-item-margin-right;
      margin-bottom: $colorSelector-collection-item-margin-bottom;
      border-radius: 2px;
      box-shadow: $colorSelector-collection-item-box-shadow;

      &:nth-of-type(6n) {
        margin-right: 0;
      }
    }
  }

  &-selected {
    color: $color-primary-active !important;
  }
}

.#{$dropdown} {
  &-full-width{
    .#{$colorSelector}-group-list {
      .pj-colorSelector-collection-item:nth-of-type(6n) {
        margin-right: $colorSelector-collection-item-margin-right;
    } 
    }
  }
}
