@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
@import "color-selector.core";
// Vars
// =====================
$colorSelector: "pj-colorSelector";
$colorSelector-font-family: $font-family-base;
$colorSelector-font-size: $font-size-base;

$colorSelector-input-padding-right: $colorSelector-preview-width + 4px;

$colorSelector-border-radius: $border-radius-base;

$colorSelector-remove-font-size: $font-size-xs;
$colorSelector-remove-color: $gray;
$colorSelector-remove-hover-color: $color-primary-black;

$colorSelector-panel-width: 288px;

$colorSelector-preview-border-color: $gray-light;
$colorSelector-preview-bg-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIAQMAAABvIyEEAAAABlBMVEXLy8v////hf8FnAAAAGklEQVQoz2PghwEG/KwPMECANWreqHkDaB4AtSFCzONj1qEAAAAASUVORK5CYII=");

$colorSelector-collection-item-margin-right: 15px;
$colorSelector-collection-padding: 24px;
$colorSelector-collection-item-margin-bottom: 15px;
//skin
.#{$colorSelector}{
  font-family: $colorSelector-font-family;

  &-input {
    padding-right: $colorSelector-input-padding-right;
  }

  &-remove {
    font-size: $colorSelector-remove-font-size;
    color: $colorSelector-remove-color;

    &:hover {
      color: $colorSelector-remove-hover-color;
      cursor: pointer;
    }
  }

  &-dropdown {
    width: $colorSelector-panel-width;
    font-size: $colorSelector-font-size;
  }

  &-preview {
    border-left: 1px solid $colorSelector-preview-border-color;

    span {
      border-radius: $colorSelector-border-radius;
    }

    &-bg {
      background: $colorSelector-preview-bg-image;
    }
  }

  &-panel-collection {
    padding: $colorSelector-collection-padding;
  }

  &-collection {
    &-item {
      margin-right: $colorSelector-collection-item-margin-right;
      margin-bottom: $colorSelector-collection-item-margin-bottom;
      border-radius: 2px;

      &:nth-of-type(6n) {
        margin-right: 0;
      }
    }
  }

  &-selected {
    color: $color-primary-active !important;
  }
}
