@import "@pluginjs/styles/variables.scss";

$masonry: "pj-masonry";

.#{$masonry} {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	transition: height ease 0.3s;

	&-image-wrap {
		position: relative;

		&.#{$masonry}-image-loading {
			background-color: rgba(0, 0, 0, 0.1);

			img {
				opacity: 0;
			}
		}


		&.#{$masonry}-image-loaded {
			img {
				opacity: 1;
			}
		}

		img {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			pointer-events: none;

			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: 30px;
				height: 30px;
				content: "";
				transform: translate(-50%, -50%);
			}
		}
	}
}
