@import "@pluginjs/styles/variables.scss";

$masonry: "pj-masonry";
$icon: "pj-icon";

$masonry-toolbar-margin-bottom: 30px;

.#{$masonry} {
	position: relative;
	overflow: hidden;

	&-chunk {
		position: absolute;
		transform-style: preserve-3d;
	}

	&-image-wrapper {
		position: relative;

		&.#{$masonry}-image-loaded img {
			opacity: 1;
		}

		img {
			position: absolute;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			pointer-events: none;
			opacity: 0;
		}
	}

	&-toolbar {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: $masonry-toolbar-margin-bottom;
	}

	&-sort,
	&-filters {
		margin-right: 10px;
		white-space: nowrap;
	}

	&-reverse {
		.#{$icon} {
			transition: transform 500ms;
		}

		&-min .#{$icon} {
			transform: rotate(180deg);
		}
	}
}
