---
title: Radio
layout: plugin
styles:
- ../../css/font-awesome.min.css
- ../../plugins/radio/css/radio.css
- ../../plugins/radio/css/radio.css
scripts:
- ../../plugins/radio/radio.js
---

<section class="js top-gap">
<h2>JS Examples</h2>
  <section>
    <h3>Inline</h3>
    <div class="example">
        <input type="radio" name="js-inline" id="js-inline-foo" value="foo" data-theme="inline" checked="checked" />
        <label for="js-inline-foo"><i></i> Foo</label>
        <input type="radio" name="js-inline" id="js-inline-bar" value="bar" data-theme="inline"  />
        <label for="js-inline-bar"><i></i> Bar</label>
        <input type="radio" name="js-inline" id="js-inline-baz" value="baz" data-theme="inline" />
        <label for="js-inline-baz"><i></i> Baz</label>
    </div>
  </section>
  {{!-- <section>
    <h3>Colors</h3>
    <div class="example">
      <div>
        <input type="radio" name="js-colors" id="js-color-default" value="default" data-theme="" checked="checked" />
        <label for="js-color-default"><i></i> default</label>
      </div>
      <div>
        <input type="radio" name="js-colors" id="js-color-primary" value="primary" data-theme="primary" />
        <label for="js-color-primary"><i></i> primary</label>
      </div>
      <div>
        <input type="radio" name="js-colors" id="js-color-success" value="success" data-theme="success" />
        <label for="js-color-success"><i></i> success</label>
      </div>
      <div>
        <input type="radio" name="js-colors" id="js-color-info" value="info" data-theme="info" />
        <label for="js-color-info"><i></i> info</label>
      </div>
      <div>
        <input type="radio" name="js-colors" id="js-color-warning" value="warning" data-theme="warning" />
        <label for="js-color-warning"><i></i> warning</label>
      </div>
      <div>
        <input type="radio" name="js-colors" id="js-color-danger" value="danger" data-theme="danger" disabled="disabled"/>
        <label for="js-color-danger"><i></i> danger</label>
      </div>
    </div>
  </section> --}}
  <section>
    <h3>WordPress demo</h3>
  <div class="form-field form-required term-name-wrap form-field-radio-wrap">
    <label for="radio">Radio</label>
    <input type="radio" name="radio" id="radio-man" value="man" class="postform" data-plugin="radio" data-theme="solid warning">
    <label for="radio-man">Man</label>
    <input type="radio" name="radio" id="radio-women" value="women" class="postform" data-plugin="radio" data-theme="solid success" checked="">
    <label for="radio-women">Women</label><p>This is description</p></div>
    <input type="radio" name="radio" id="radio-women" value="women" data-plugin="radio" data-theme="solid success">
    <label for="js-color-icon-success"> success</label>
  </section>
  <section>
    <h3>Icon</h3>
    <div class="example">
      <div>
        <input type="radio" name="js-icon" id="js-color-icon-default" value="default" data-theme="" checked="checked" />
        <label for="js-color-icon-default"> default</label>
      </div>
      <div>
        <input type="radio" name="js-icon" id="js-color-icon-primary" value="primary" data-theme="primary" />
        <label for="js-color-icon-primary"> primary</label>
      </div>
      {{!-- <div>
        <input type="radio" name="js-icon" id="js-color-icon-success" value="success" data-theme="success" />
        <label for="js-color-icon-success"> success</label>
      </div>
      <div>
        <input type="radio" name="js-icon" id="js-color-icon-info" value="info" data-theme="info" />
        <label for="js-color-icon-info"> info</label>
      </div>
      <div>
        <input type="radio" name="js-icon" id="js-color-icon-warning" value="warning" data-theme="warning" />
        <label for="js-color-icon-warning"> warning</label>
      </div>
      <div>
        <input type="radio" name="js-icon" id="js-color-icon-danger" value="danger" data-theme="danger" disabled="disabled"/>
        <label for="js-color-icon-danger"> danger</label>
      </div> --}}
    </div>
  </section>
  <section>
    <h3>Solid</h3>
    <div class="example">
      <div>
        <input type="radio" name="js-solid" id="js-color-solid-default" value="default" data-theme="default solid" checked="checked" />
        <label for="js-color-solid-default"><i></i> default</label>
      </div>
      <div>
        <input type="radio" name="js-solid" id="js-color-solid-primary" value="primary" data-theme="primary solid" />
        <label for="js-color-solid-primary"><i></i> primary</label>
      </div>
      {{!-- <div>
        <input type="radio" name="js-solid" id="js-color-solid-success" value="success" data-theme="success solid" />
        <label for="js-color-solid-success"><i></i> success</label>
      </div>
      <div>
        <input type="radio" name="js-solid" id="js-color-solid-info" value="info" data-theme="info solid" />
        <label for="js-color-solid-info"><i></i> info</label>
      </div>
      <div>
        <input type="radio" name="js-solid" id="js-color-solid-warning" value="warning" data-theme="warning solid" />
        <label for="js-color-solid-warning"><i></i> warning</label>
      </div>
      <div>
        <input type="radio" name="js-solid" id="js-color-solid-danger" value="danger" data-theme="danger solid" disabled="disabled"/>
        <label for="js-color-solid-danger"><i></i> danger</label>
      </div> --}}
    </div>
  </section>
  <section>
    <h3>Solid Icon</h3>
    <div class="example">
      <div>
        <input type="radio" name="js-solid-icon" id="js-color-solid-icon-default" value="default" data-theme="solid" checked="checked" />
        <label for="js-color-solid-icon-default">default</label>
      </div>
      <div>
        <input type="radio" name="js-solid-icon" id="js-color-solid-icon-primary" value="primary" data-theme="primary solid" />
        <label for="js-color-solid-icon-primary">primary</label>
      </div>
      {{!-- <div>
        <input type="radio" name="js-solid-icon" id="js-color-solid-icon-success" value="success" data-theme="success solid" />
        <label for="js-color-solid-icon-success">success</label>
      </div>
      <div>
        <input type="radio" name="js-solid-icon" id="js-color-solid-icon-info" value="info" data-theme="info solid" />
        <label for="js-color-solid-icon-info">info</label>
      </div>
      <div>
        <input type="radio" name="js-solid-icon" id="js-color-solid-icon-warning" value="warning" data-theme="warning solid" />
        <label for="js-color-solid-icon-warning">warning</label>
      </div>
      <div>
        <input type="radio" name="js-solid-icon" id="js-color-solid-icon-danger" value="danger" data-theme="danger solid" disabled="disabled"/>
        <label for="js-color-solid-icon-danger">danger</label>
      </div> --}}
    </div>
  </section>
  <section>
    <h3>Plain Icon</h3>
    <div class="example">
      <div>
        <input type="radio" name="js-plain-icon" id="js-color-plain-icon-default" value="default" data-theme="plain" checked="checked" />
        <label for="js-color-plain-icon-default">default</label>
      </div>
      <div>
        <input type="radio" name="js-plain-icon" id="js-color-plain-icon-primary" value="primary" data-theme="plain primary" />
        <label for="js-color-plain-icon-primary">primary</label>
      </div>
      {{!-- <div>
        <input type="radio" name="js-plain-icon" id="js-color-plain-icon-success" value="success" data-theme="plain success" />
        <label for="js-color-plain-icon-success">success</label>
      </div>
      <div>
        <input type="radio" name="js-plain-icon" id="js-color-plain-icon-info" value="info" data-theme="plain info" />
        <label for="js-color-plain-icon-info">info</label>
      </div>
      <div>
        <input type="radio" name="js-plain-icon" id="js-color-plain-icon-warning" value="warning" data-theme="plain warning" />
        <label for="js-color-plain-icon-warning">warning</label>
      </div>
      <div>
        <input type="radio" name="js-plain-icon" id="js-color-plain-icon-danger" value="danger" data-theme="plain danger" disabled="disabled"/>
        <label for="js-color-plain-icon-danger">danger</label>
      </div> --}}
    </div>
  </section>
</section>
<section>
  <h2>CSS Examples</h2>
  <section>
    <h3>Inline</h3>
    <div class="example">
      <div class="pj-radio pj-radio-inline">
        <input type="radio" name="inline" id="inline-foo" value="foo" checked="checked" />
        <label for="inline-foo"><i></i> Foo</label>
      </div>
      <div class="pj-radio pj-radio-inline">
        <input type="radio" name="inline" id="inline-bar" value="bar" />
        <label for="inline-bar"><i></i> Bar</label>
      </div>
      <div class="pj-radio pj-radio-inline">
        <input type="radio" name="inline" id="inline-baz" value="baz"/>
        <label for="inline-baz"><i></i> Baz</label>
      </div>
    </div>
  </section>
  {{!-- <section>
    <h3>Colors</h3>
    <div class="example">
      <div class="pj-radio">
        <input type="radio" name="colors" id="color-default" value="default" checked="checked" />
        <label for="color-default"><i></i> default</label>
      </div>
      <div class="pj-radio pj-radio-primary">
        <input type="radio" name="colors" id="color-primary" value="primary" />
        <label for="color-primary"><i></i> primary</label>
      </div>
      <div class="pj-radio pj-radio-success">
        <input type="radio" name="colors" id="color-success" value="success" />
        <label for="color-success"><i></i> success</label>
      </div>
      <div class="pj-radio pj-radio-info">
        <input type="radio" name="colors" id="color-info" value="info" />
        <label for="color-info" class="pj-radio pj-radio-info"><i></i> info</label>
      </div>
      <div class="pj-radio pj-radio-warning">
        <input type="radio" name="colors" id="color-warning" value="warning" />
        <label for="color-warning" class="pj-radio pj-radio-warning"><i></i> warning</label>
      </div>
      <div class="pj-radio pj-radio-danger">
        <input type="radio" name="colors" id="color-danger" value="danger" disabled="disabled"/>
        <label for="color-danger" class="pj-radio pj-radio-danger"><i></i> danger</label>
      </div>
    </div>
  </section> --}}
  <section>
    <h3>Icon</h3>
    <div class="example">
      <div class="pj-radio">
        <input type="radio" name="icon" id="color-icon-default" value="default" checked="checked" />
        <label for="color-icon-default"><i class="icon-check-mini"></i> default</label>
      </div>
      <div class="pj-radio pj-radio-primary">
        <input type="radio" name="icon" id="color-icon-primary" value="primary" />
        <label for="color-icon-primary"><i class="icon-check-mini"></i> primary</label>
      </div>
      {{!-- <div class="pj-radio pj-radio-success">
        <input type="radio" name="icon" id="color-icon-success" value="success" />
        <label for="color-icon-success"><i class="fa fa-check"></i> success</label>
      </div>
      <div class="pj-radio pj-radio-info">
        <input type="radio" name="icon" id="color-icon-info" value="info" />
        <label for="color-icon-info" class="pj-radio pj-radio-info"><i class="fa fa-check"></i> info</label>
      </div>
      <div class="pj-radio pj-radio-warning">
        <input type="radio" name="icon" id="color-icon-warning" value="warning" />
        <label for="color-icon-warning" class="pj-radio pj-radio-warning"><i class="fa fa-check"></i> warning</label>
      </div>
      <div class="pj-radio pj-radio-danger">
        <input type="radio" name="icon" id="color-icon-danger" value="danger" disabled="disabled"/>
        <label for="color-icon-danger" class="pj-radio pj-radio-danger"><i class="fa fa-check"></i> danger</label>
      </div> --}}
    </div>
  </section>
  <section>
    <h3>Solid</h3>
    <div class="example">
      <div class="pj-radio pj-radio-solid">
        <input type="radio" name="solid" id="color-solid-default" value="default" checked="checked" />
        <label for="color-solid-default"><i></i> default</label>
      </div>
      <div class="pj-radio pj-radio-solid pj-radio-primary">
        <input type="radio" name="solid" id="color-solid-primary" value="primary" />
        <label for="color-solid-primary"><i></i> primary</label>
      </div>
      {{!-- <div class="pj-radio pj-radio-solid pj-radio-success">
        <input type="radio" name="solid" id="color-solid-success" value="success" />
        <label for="color-solid-success"><i></i> success</label>
      </div>
      <div class="pj-radio pj-radio-solid pj-radio-info">
        <input type="radio" name="solid" id="color-solid-info" value="info" />
        <label for="color-solid-info" class="pj-radio pj-radio-info"><i></i> info</label>
      </div>
      <div class="pj-radio pj-radio-solid pj-radio-warning">
        <input type="radio" name="solid" id="color-solid-warning" value="warning" />
        <label for="color-solid-warning" class="pj-radio pj-radio-warning"><i></i> warning</label>
      </div>
      <div class="pj-radio pj-radio-solid pj-radio-danger">
        <input type="radio" name="solid" id="color-solid-danger" value="danger" disabled="disabled"/>
        <label for="color-solid-danger" class="pj-radio pj-radio-danger"><i></i> danger</label>
      </div> --}}
    </div>
  </section>
  <section>
    <h3>Solid Icon</h3>
    <div class="example">
      <div class="pj-radio pj-radio-solid">
        <input type="radio" name="solid-icon" id="color-solid-icon-default" value="default" checked="checked" />
        <label for="color-solid-icon-default"><i class="icon-check-mini"></i> default</label>
      </div>
      <div class="pj-radio pj-radio-solid pj-radio-primary">
        <input type="radio" name="solid-icon" id="color-solid-icon-primary" value="primary" />
        <label for="color-solid-icon-primary"><i class="icon-check-mini"></i> primary</label>
      </div>
      {{!-- <div class="pj-radio pj-radio-solid pj-radio-success">
        <input type="radio" name="solid-icon" id="color-solid-icon-success" value="success" />
        <label for="color-solid-icon-success"><i class="fa fa-check"></i> success</label>
      </div>
      <div class="pj-radio pj-radio-solid pj-radio-info">
        <input type="radio" name="solid-icon" id="color-solid-icon-info" value="info" />
        <label for="color-solid-icon-info" class="pj-radio pj-radio-info"><i class="fa fa-check"></i> info</label>
      </div>
      <div class="pj-radio pj-radio-solid pj-radio-warning">
        <input type="radio" name="solid-icon" id="color-solid-icon-warning" value="warning" />
        <label for="color-solid-icon-warning" class="pj-radio pj-radio-warning"><i class="fa fa-check"></i> warning</label>
      </div>
      <div class="pj-radio pj-radio-solid pj-radio-danger">
        <input type="radio" name="solid-icon" id="color-solid-icon-danger" value="danger" disabled="disabled"/>
        <label for="color-solid-icon-danger" class="pj-radio pj-radio-danger"><i class="fa fa-check"></i> danger</label>
      </div> --}}
    </div>
  </section>
  <section>
    <h3>Plain Icon</h3>
    <div class="example">
      <div class="pj-radio pj-radio-plain">
        <input type="radio" name="plain-icon" id="color-plain-icon-default" value="default" checked="checked" />
        <label for="color-plain-icon-default"><i class="icon-check-mini"></i> default</label>
      </div>
      <div class="pj-radio pj-radio-plain pj-radio-primary">
        <input type="radio" name="plain-icon" id="color-plain-icon-primary" value="primary" />
        <label for="color-plain-icon-primary"><i class="icon-check-mini"></i> primary</label>
      </div>
      {{!-- <div class="pj-radio pj-radio-plain pj-radio-success">
        <input type="radio" name="plain-icon" id="color-plain-icon-success" value="success" />
        <label for="color-plain-icon-success"><i class="fa fa-check"></i> success</label>
      </div>
      <div class="pj-radio pj-radio-plain pj-radio-info">
        <input type="radio" name="plain-icon" id="color-plain-icon-info" value="info" />
        <label for="color-plain-icon-info" class="pj-radio pj-radio-info"><i class="fa fa-check"></i> info</label>
      </div>
      <div class="pj-radio pj-radio-plain pj-radio-warning">
        <input type="radio" name="plain-icon" id="color-plain-icon-warning" value="warning" />
        <label for="color-plain-icon-warning" class="pj-radio pj-radio-warning"><i class="fa fa-check"></i> warning</label>
      </div>
      <div class="pj-radio pj-radio-plain pj-radio-danger">
        <input type="radio" name="plain-icon" id="color-plain-icon-danger" value="danger" disabled="disabled"/>
        <label for="color-plain-icon-danger" class="pj-radio pj-radio-danger"><i class="fa fa-check"></i> danger</label>
      </div> --}}
    </div>
  </section>
</section>
<section>
  <h2>API</h2>
  <div class="example">
    <div class="pj-radio">
      <input type="radio" name="default" id="default-foo" value="foo" checked="checked" />
      <label for="default-foo"><i></i> Foo</label>
    </div>
    <div class="pj-radio">
      <input type="radio" name="default" id="default-bar" value="bar" />
      <label for="default-bar"><i></i> Bar</label>
    </div>
    <div class="pj-radio">
      <input type="radio" name="default" id="default-baz" value="baz"/>
      <label for="default-baz"><i></i> Baz</label>
    </div>
  </div>
  <div class="apis top-gap">
    <button class="btn api-init">init()</button>
    <button class="btn api-destroy">destroy()</button>
    <button class="btn api-get">get()</button>
    <button class="btn api-set">set(data)</button>
    <button class="btn api-val">val()</button>
    <button class="btn api-val-set">val(data)</button>
    <button class="btn api-enable">enable()</button>
    <button class="btn api-disable">disable()</button>
  </div>
  <div class="console"></div>
</section>
<script>
  (function(){
    document.querySelectorAll('.js input')
      .forEach(el => {
        Pj.radio(el, {
          classes: {
            icon: 'icon-check-mini'
          }
        })
      })
    // Pj.radio('.js input', {
    //   classes: {
    //     icon: 'icon-check-mini'
    //   }
    // });
    //$('.css input[type="radio"]').asRadio();

    // var $element = $('input[name="default"]');
    // var $radio = null;
    // console.log('text', $element)
    // function init() {
    //   $radio = $element.asRadio({
    //     onChange: function(value) {
    //       log('change:'+value, 'event');
    //     },
    //     onCheck: function() {
    //       log('check: '+this.element.value, 'event');
    //     },
    //     onUncheck: function() {
    //       log('uncheck: '+this.element.value, 'event');
    //     },
    //     onReady: function() {
    //       log('ready', 'event');
    //     },
    //     onDestroy: function() {
    //       log('destroy', 'event');
    //     },
    //     onEnable: function() {
    //       log('enable', 'event');
    //     },
    //     onDisable: function() {
    //       log('disable', 'event');
    //     },
    //   }).data('radio');
    // }
    //
    // $('.api-init').on('click', function() {
    //   init();
    // });
    //
    // $('.api-get').on('click', function() {
    //   log($radio.get(), 'get()');
    // });
    //
    // $('.api-set').on('click', function() {
    //   $radio.set('bar');
    //   log('set bar', 'set(data)');
    // });
    //
    // $('.api-val').on('click', function() {
    //   log($radio.val(), 'val()');
    // });
    //
    // $('.api-val-set').on('click', function() {
    //   $radio.val('baz');
    //   log('set val baz', 'get()');
    // });
    //
    // $('.api-destroy').on('click', function() {
    //   $radio.destroy();
    // });
    //
    // $('.api-enable').on('click', function() {
    //   $radio.enable();
    // });
    //
    // $('.api-disable').on('click', function() {
    //   $radio.disable();
    // });
  })();
</script>
