@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

// Vars
// =====================
$fontPicker: "pj-fontPicker" !default;
$fontPicker-width: 200px !default;
$fontPicker-max-height: 300px !default;

$fontPicker-dropdown-width: 272px !default;

$fontPicker-trigger-arrow-icon: $pj-icon-caret-down-mini !default;
$fontPicker-trigger-arrow-font: $pj-icon-font-family !default;
$fontPicker-trigger-arrow-right: $input-padding-x !default;
$fontPicker-trigger-padding-right: 30px !default;

$fontPicker-clear-icon: $pj-icon-close !default;
$fontPicker-clear-font: $pj-icon-font-family !default;
$fontPicker-clear-right: 11px !default;

$fontPicker-icon-width: 16px !default;
$fontPicker-icon-height: 16px !default;

$fontPicker-manage-icon: $pj-icon-setting !default;
$fontPicker-manage-font: $pj-icon-font-family !default;

.#{$fontPicker} {
  position: relative;
  width: $fontPicker-width;

  &-element {
    display: none;
  }

  & &-trigger {
    width: 100%;
    padding-right: $fontPicker-trigger-padding-right;
  }

  & &-dropdown {
    width: $fontPicker-dropdown-width;
  }

  &-main {
    position: relative;
    height: $fontPicker-max-height;
    overflow-y: auto;
  }

  &-source {
    overflow-x: hidden;
  }

  &-group-label {
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-source-hided {
    display: none;
  }

  &-group-hided {
    display: none;
  }

  &-empty,
  &-not-found,
  &-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  &-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  &-manage {
    &::before {
      @include icon();
      margin-right: 5px;
      font-family: $fontPicker-manage-font;
      content: icon-content($fontPicker-manage-icon);
    }
  }
  &-switcher {
    i,
    .pj-dropdown-item i {
      margin-right: 5px;
    }
  }

  &-switcher-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-switcher-dropdown {
    width: 100%;
  }

  &-trigger {
    cursor: pointer;

    &::after {
      @include icon();
      position: absolute;
      top: 50%;
      right: $fontPicker-trigger-arrow-right;
      font-family: $fontPicker-trigger-arrow-font;
      content: icon-content($fontPicker-trigger-arrow-icon);
      transform: translateY(-50%);
    }

    .#{$fontPicker}-clearable.#{$fontPicker}-selected:not(.#{$fontPicker}-disabled) &:hover::after {
      display: none;
    }
  }

  &-clear {
    position: absolute;
    top: 0;
    right: $fontPicker-clear-right;
    display: none;
    height: 100%;
    font-family: $fontPicker-clear-font;

    &::before {
      @include icon();
      vertical-align: middle;
      content: icon-content($fontPicker-clear-icon);
    }

    &::after {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }

    .#{$fontPicker}-selected:not(.#{$fontPicker}-disabled) .#{$fontPicker}-trigger:hover & {
      display: inline-block;
    }
  }

  &-label {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    i {
      display: inline-block;
      width: $fontPicker-icon-width;
      height: $fontPicker-icon-height;
      margin-right: 5px;
    }
  }

  &-filter {
    input {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      line-height: 100%;
      border: none;
      outline: none;
    }
  }
}
