@import "@pluginjs/styles/variables.scss";
@import "font-picker.core";

// Vars
// =====================
$fontPicker: "pj-fontPicker";

$fontPicker-color: $text-color;
$fontPicker-trigger-width: $fontPicker-width;
$fontPicker-trigger-placeholder-color: $gray;

$fontPicker-trigger-arrow-color: $gray-darkest;

$fontPicker-trigger-disabled-bg: $disabled-bg;
$fontPicker-trigger-disabled-border: $disabled-border;
$fontPicker-trigger-disabled-color: $disabled-color;

$fontPicker-clear-color: $gray;
$fontPicker-clear-hover-color: $text-color;

$fontPicker-group-label-font-size: $font-size-sm;
$fontPicker-group-label-color: $gray-darker;
$fontPicker-group-label-space-x: 11px;
$fontPicker-group-label-space-y: 8px;

$fontPicker-search-color: $gray;
$fontPicker-search-padding-x: 12px;
$fontPicker-search-padding-y: 12px;
$fontPicker-search-font-size: $input-font-size;
$fontPicker-search-border-color: $border-color;
$fontPicker-search-icon: $pj-icon-search !default;
$fontPicker-search-font: $pj-icon-font-family !default;
$fontPicker-search-right: 33px !default;
$fontPicker-search-border-color: $border-color;

$fontPicker-state-color: $gray-dark;

$fontPicker-action-padding: 8px;
$fontPicker-action-border-color: $border-color;

$fontPicker-action-hover-bg: $gray-lightest;

.#{$fontPicker} {
  outline: none;

  &-trigger {
    position: relative;
    color: $fontPicker-trigger-placeholder-color;

    .#{$fontPicker}-selected & {
      color: $fontPicker-color;
    }

    &::after {
      color: $fontPicker-color;
      transition: transform 0.3s;
      will-change: transform;
    }
  }

  &-clear {
    color: $fontPicker-clear-color;

    &:hover {
      color: $fontPicker-clear-hover-color;
    }
  }

  &-group-label {
    padding: $fontPicker-group-label-space-y $fontPicker-group-label-space-x;
    font-size: $fontPicker-group-label-font-size;
    color: $fontPicker-group-label-color;
  }

  &-empty,
  &-not-found,
  &-loading {
    width: 80%;
    margin: 0 auto;
    line-height: 150%;
    color: $fontPicker-state-color;
  }

  &-action {
    padding: $fontPicker-action-padding;

    &:hover {
      background: $fontPicker-action-hover-bg;
    }

    & + & {
      border-left: 1px solid $fontPicker-action-border-color;
    }
  }

  &-actions {
    border-top: 1px solid $fontPicker-action-border-color;
  }

  &-filter {
    font-size: $fontPicker-search-font-size;
    border-bottom: 1px solid $fontPicker-search-border-color;

    &::before {
      @include icon();
      position: absolute;
      top: $fontPicker-search-padding-y;
      left: $fontPicker-search-padding-x;
      font-family: $fontPicker-clear-font;
      color: $fontPicker-search-color;
      vertical-align: middle;
      content: icon-content($fontPicker-search-icon);
    }

    input {
      padding: $fontPicker-search-padding-y $fontPicker-search-padding-x;
      padding-left: $fontPicker-search-right;
    }
  }
}

.#{$fontPicker}-disabled {
  .#{$fontPicker}-trigger {
    color: $fontPicker-trigger-disabled-color;
    background-color: $fontPicker-trigger-disabled-bg;
    border-color: $fontPicker-trigger-disabled-border;

    &::after {
      color: $fontPicker-trigger-disabled-color;
    }
  }
}
