@import "@pluginjs/styles/variables.scss";
@import "./font-picker.core.scss";

// Vars
// =====================
$fontPicker: "pj-fontPicker";
$dropdown: "pj-dropdown";
$input: "pj-input";
$srcollable: "pj-scrollable";
$fontPicker-sizer: $sizer;

$fontPicker-font-size: $font-size-base;
$fontPicker-bg: $color-white;

$fontPicker-line-height: 16px;
$fontPicker-spacer-x: 8px;
$fontPicker-spacer-y: 32px;

$fontPicker-search-padding: 8px 20px 8px 10px;
$fontPicker-search-input-hover-padding: 4px 15px 4px 9px;
$fontPicker-empty-padding: 20px;
$fontPicker-trigger-padding-left: 16px;
$fontPicker-input-padding: 12px;

$fontPicker-font-spacer-x: 16px;
$fontPicker-font-spacer-y: 8px;

$fontPicker-border-radius: $border-radius-base;
$fontPicker-border-width: 1px;
$fontPicker-border-color: $gray-border;

$fontPicker-hover-color: $gray-lighter;
$fontPicker-active-color: $color-primary-active;

// Core
// =====================
.#{$fontPicker} {

  .#{$dropdown} {
    &-item {
      padding: $fontPicker-spacer-x;
    }
  }

  &-trigger {
    background-color: $fontPicker-bg;
    outline: none;
  
    .#{$dropdown}-trigger {
      padding-left: $fontPicker-trigger-padding-left;
      font-size: $fontPicker-font-size;
      line-height: $fontPicker-line-height;
    }

    .#{$fontPicker}-source-icon {
      display: inline-block;
      margin-right: 9px;
      vertical-align: middle;
    }
  }

  &-sources {
    .#{$fontPicker}-activated {
      .#{$fontPicker}-empty {
        padding: $fontPicker-empty-padding;
        text-align: center;
      }
    }
  
    .#{$srcollable}-content {
      padding: 0 2 * $fontPicker-border-width;
      margin: 2 * $fontPicker-border-width 0;
    }
  
    .#{$fontPicker}-font {
      padding: $fontPicker-font-spacer-y $fontPicker-font-spacer-x;
      padding-left: $fontPicker-spacer-y;
      margin: $fontPicker-border-width 0;
      font-size: $fontPicker-font-size;
      line-height: $fontPicker-line-height;
      border-radius: $fontPicker-border-radius;
      &:hover {
        background-color: $fontPicker-hover-color;
      }
  
      &:focus {
        outline: none;
      }

      &:focus,
      &:hover {
        cursor: pointer;
      }
    }
  }

  &-package {
    padding: 0 !important;
    margin-bottom: $fontPicker-border-width;

    &-title {
      padding: $fontPicker-font-spacer-y $fontPicker-font-spacer-x;
      padding-left: $fontPicker-spacer-y;
      font-size: $fontPicker-font-size;
      line-height: $fontPicker-line-height;

      &:focus {
        outline: none;
      }
    }

    &-open.#{$dropdown} {
      &-item {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &-active {
    color: $fontPicker-active-color;
  }

  &-actions {
    font-size: $fontPicker-font-size;
    line-height: $fontPicker-line-height;
    text-transform: capitalize;
    cursor: default;
    background-color: $color-white;
    border-top: $fontPicker-border-width solid $fontPicker-border-color;
    border-bottom-right-radius: $fontPicker-border-radius;
    border-bottom-left-radius: $fontPicker-border-radius;
  }

  &-switcher {
    padding: $fontPicker-spacer-x $fontPicker-spacer-x + 2 * $fontPicker-border-width;

    &:focus {
      outline: none;
    }
  
    &:focus,
    &:hover {
      color: $fontPicker-active-color;
  
      .#{$dropdown}-trigger {
        color: $fontPicker-active-color !important;
      }
    }
  
    .#{$dropdown} {
      top: -6px !important;
      left: 6px !important;
      width: 130px !important;
      border: 0;
      div:last-child {
        border-top: $fontPicker-border-width solid $fontPicker-border-color;
        border-radius: 0;
      }
    }
  
    &.#{$dropdown}-show {
      color: $fontPicker-active-color;
  
      .#{$dropdown}-trigger {
        color: $fontPicker-active-color;
      }
  
      .#{$dropdown}-icon {
        transition: transform 0.3s;
        transform: rotate(0deg);
      }
    }
  
    .#{$fontPicker}-source-icon {
      margin-right: $fontPicker-spacer-x;
    }
  }

  &-manager {
    text-align: center;
    border-left: $fontPicker-border-width solid $fontPicker-border-color;

    i {
      display: inline-block;
      margin-right: $fontPicker-spacer-x;
      vertical-align: middle;
    }

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      color: $fontPicker-active-color;
      cursor: pointer;
    }
  }

  &-search {
    padding: $fontPicker-search-padding;
    margin-bottom: 0;
    font-size: $fontPicker-font-size;
    border-bottom: $fontPicker-border-width solid $fontPicker-border-color;

    input {
      padding: $fontPicker-search-input-hover-padding !important;
      margin: 0;
      font-size: $fontPicker-font-size;
      border: 0;
      box-shadow: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &-list {
      height: 350px;

      .#{$srcollable}-container {
        width: 100% !important;
        height: 320px !important; 
      }
    }
  }

  &-font-focus {
    color: $fontPicker-active-color;
    background-color: $fontPicker-active-color;
  }

  &-panel {
    height: $fontPicker-panel-height;
    min-height: $fontPicker-panel-height;
    padding: 0;
    font-size: $fontPicker-font-size;

    li:hover {
      background-color: inherit;
    }
  }
}

//disabled style
#disabled {
  .#{$fontPicker}-trigger {
    cursor: not-allowed !important;
    &.#{$fontPicker}-disabled {
      span {
        color: $disabled-color;
      }
      &:focus,
      &:hover {
        border-color: $disabled-border;
        .#{$dropdown}-trigger {
          color: $disabled-color;
        }
        span {
          color: $disabled-color;
        }
      }
    }
  }

  .#{$dropdown}-trigger {
    pointer-events: none;
  }
}
