---
title: Popover
layout: plugin
styles:
- ../../plugins/popover/css/popover.css
scripts:
- ../../plugins/popover/popover.js
---
<style>
.example {
  position: relative;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid lightgray;
}

.top-gap {
  margin-top: 50px;
}

.position-grid {
  display: flex;
  flex-wrap: wrap;
}
.position-cell {
  flex: 1 33.33%;
}
.position-cell a {
  display: inline-block;
  width: 90%;
  background: rgba(91,192,235,0.37);
  margin: 2px 0;
  padding: 16px 5px;
}
</style>

{{!-- Default --}}
<section>
  <h3>Default</h3>
  <div class="example">
    <button type="button" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
  </div>
</section>

{{!-- Layout --}}
<section class="top-gap">
  <h3>Layout</h3>
  <div class="example">
    <button type="button" data-toggle="popover" title="Only title">Only title</button>
    <button type="button" data-toggle="popover" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Only Content</button>
    <button type="button" data-toggle="popover" title="Popover title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content</button>
    <button type="button" data-toggle="popover" data-close="true" title="Popover title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Title + Content + Close</button>
  </div>
</section>

{{!-- Contents --}}
<section class="top-gap">
  <h3>Contents</h3>
  <div class="example">
    <button type="button" data-toggle="popover-table" title="Popover title">Pop with table</button>
    <button type="button" data-toggle="popover-largeContent" title="Popover title">Pop with largeContent</button>
    <button type="button" data-toggle="popover-iframe" title="Popover title">Pop with iframe</button>
  </div>

  <div id="tableContent" style="display:none;">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>User Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="largeContent" style="display:none;">
    <p><Irure anim officia tempor est proident non voluptate est pariatur. Cillum dolore velit nisi ullamco deserunt minim culpa minim. Nisi ad occaecat occaecat amet sit ut esse veniam.</p>
    <p>Irure anim officia tempor est proident non voluptate est pariatur. Cillum dolore velit nisi ullamco deserunt minim culpa minim. Nisi ad occaecat occaecat amet sit ut esse veniam.Irure anim officia tempor est proident non voluptate est pariatur. Cillum dolore velit nisi ullamco deserunt minim culpa minim. Nisi ad occaecat occaecat amet sit ut esse veniam.</p>
    <p>Irure anim officia tempor est proident non voluptate est pariatur. Cillum dolore velit nisi ullamco deserunt minim culpa minim. Nisi ad occaecat occaecat amet sit ut esse veniam.Irure anim officia tempor est proident non voluptate est pariatur. Cillum dolore velit nisi ullamco deserunt minim culpa minim. Nisi ad occaecat occaecat amet sit ut esse veniam.</p>
    <p>Irure anim officia tempor est proident non voluptate est pariatur. Cillum dolore velit nisi ullamco deserunt minim culpa minim. Nisi ad occaecat occaecat amet sit ut esse veniam.Irure anim officia tempor est proident non voluptate est pariatur. Cillum dolore velit nisi ullamco deserunt minim culpa minim. Nisi ad occaecat occaecat amet sit ut esse veniam.Irure anim officia tempor est proident non voluptate est pariatur. Cillum dolore velit nisi ullamco deserunt minim culpa minim. Nisi ad occaecat occaecat amet sit ut esse veniam.</p>
  </div>
</section>

{{!-- close --}}
<section class="top-gap">
  <h3>Close</h3>
  <div class="example">
    <button type="button" data-toggle="popover" data-close="true" data-placement="top" title="Popover with without" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover with close
    </button>
  </div>
</section>

{{!-- hideOutClick --}}
<section class="top-gap">
  <h3>HideOutClick</h3>
  <div class="example">
    <button type="button" data-toggle="popover" data-hide-out-click="false" data-placement="top" title="Popover with hideOutClick" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover with hideOutClick
    </button>
  </div>
</section>

{{!-- Skin --}}
<section class="top-gap">
  <h3>Skin</h3>
  <div class="example">
    <button type="button" data-toggle="popover" data-theme="dark" data-placement="top" title="Popover with dark skin" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover with dark skin
    </button>
  </div>
</section>

{{!-- Trigger --}}
<section class="top-gap">
  <h3>Trigger</h3>
  <div class="example">
    <button type="button" data-toggle="popover" data-trigger="click" title="Popover with click" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover with click
    </button>
    <button type="button" data-toggle="popover" data-trigger="hover focus" title="Popover with hover focus" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover with hover focus
    </button>
    <button type="button" data-toggle="popover" data-trigger="hover" title="Popover with hover" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover with hover
    </button>
    <button type="button" data-toggle="popover" data-trigger="focus" title="Popover with focus" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover with focus
    </button>
    <button type="button" data-toggle="popover" data-trigger="manual" title="Popover with manual" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover with manual
    </button>
  </div>
</section>

{{!-- Positon --}}
<section class="top-gap">
  <h3>Positon</h3>
  <div class="example position-grid">
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="top-start" title="Top Start" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top Start</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="top" title="Top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="top-end" title="Top End" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top End</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="left-start" title="Left Start" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left Start</a></div>
    <div class="position-cell"></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="right-start" title="Right Top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right Start</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="left" title="Left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left</a></div>
    <div class="position-cell"></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="right" title="Right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="left-end" title="Left End" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left End</a></div>
    <div class="position-cell"></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="right-end" title="Right End" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right End</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="bottom-start" title="Bottom Start" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Bottom Start</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="bottom" title="Bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Bottom</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="popover" data-trigger="hover focus" data-placement="bottom-end" title="Bottom End" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Bottom End</a></div>
  </div>
</section>

{{!-- Api --}}
<section class="top-gap">
  <h3>Api</h3>
  <div class="example">
    <button type="button" data-toggle="popover-api" data-html="true" title="hello world" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover Api
    </button>
    <div class="console"></div>
    <div class="apis top-gap">
      <button class="btn api-init">init</button>
      <button class="btn api-destroy">destroy</button>
      <button class="btn api-enable">enable</button>
      <button class="btn api-disable">disable</button>
      <button class="btn api-show">show</button>
      <button class="btn api-hide">hide</button>
      <button class="btn api-toggle">toggle</button>
    </div>
  </div>
</section>

<script>
  window.onload = function() {
    Pj.popover('[data-toggle="popover"]')

    Pj.popover('[data-toggle="popover-table"]', {
      content: function() {
        return document.querySelector("#tableContent").innerHTML;
      }
    });

    Pj.popover('[data-toggle="popover-largeContent"]', {
      content: function() {
        return document.querySelector("#largeContent").innerHTML;
      }
    });

    Pj.popover('[data-toggle="popover-iframe"]', {
      content: function() {
        return '<iframe src="http://getbootstrap.com" frameborder="0" allowtransparency="true" height="100%" width="100%"></iframe>';
      }
    });

    var info = document.querySelector('.console');
    var API = null;

    document.querySelector('.api-init').addEventListener('click', function() {
      API = Pj.popover('[data-toggle="popover-api"]', {
        onReady: function() {
          info.insertAdjacentHTML('beforeend', '<p>init()</p>');
        },
        onDestroy: function() {
          info.insertAdjacentHTML('beforeend', '<p>destroy()</p>');
        },
        onEnable: function() {
          info.insertAdjacentHTML('beforeend', '<p>enable()</p>');
        },
        onDisable: function() {
          info.insertAdjacentHTML('beforeend', '<p>disable()</p>');
        },
        onShown: function() {
          info.insertAdjacentHTML('beforeend', '<p>show()</p>');
        },
        onHidden: function() {
          info.insertAdjacentHTML('beforeend', '<p>hide()</p>');
        }
      })
    });

    document.querySelector('.api-destroy').addEventListener('click', function() {
      API.destroy();
    });

    document.querySelector('.api-enable').addEventListener('click', function() {
      API.enable();
    });

    document.querySelector('.api-disable').addEventListener('click', function() {
      API.disable();
    });

    document.querySelector('.api-show').addEventListener('click', function(e) {
      API.show();

      e.stopPropagation()
    });

    document.querySelector('.api-hide').addEventListener('click', function(e) {
      API.hide();

      e.stopPropagation()
    });

    document.querySelector('.api-toggle').addEventListener('click', function(e) {
      API.toggle();

      e.stopPropagation()
    });
  };
</script>