@import "@pluginjs/styles/variables.scss";
// Vars
// =====================
$swipe: "pj-swipe" !default;
$arrow: "pj-arrow" !default;
$dot: "pj-dot" !default;

// Core
// =====================
.#{$swipe}-wrapper {
  width: 100%;
}

.#{$swipe} {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 25%;
  overflow: hidden;

  &-inner {
    position: absolute;
    height: 100%;
    padding: 0;
    margin: 0;
    will-change: transform;
  }

  .#{$arrow} {
    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }

  &-item {
    position: absolute;

    .#{$swipe}-img {
      width: 100%;
      height: 100%;
      vertical-align: middle;
      pointer-events: none;
      opacity: 0;
    }
  }

  &-loaded {
    .#{$swipe}-img {
      opacity: 1;
    }
  }
}

.#{$swipe}-pagination {
  justify-content: center;
}
