@import "@pluginjs/styles/variables.scss";
// Vars
// =====================
$swipe: "pj-swipe" !default;
$arrow: "pj-arrow" !default;
$swipe-font-size: $font-size-lg !default;
$swipe-margin-top: 30px !default;
$swipe-arrow-margin: 0 20px !default;
$swipe-pagination-margin: 10px 0 !default;
$swipe-dot-width: 30px !default;

// Core
// =====================
.#{$swipe} {
  &-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .pj-dots {
      margin-top: $swipe-margin-top;
      .pj-dot {
        width: $swipe-dot-width;
        height: 2px;
      }
    }
  }

  &-info {
    display: none !important;
  }
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .#{$arrow} {
    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      z-index: 99;
      margin: $swipe-arrow-margin;
      transform: translateY(-50%);
    }
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }

  &-item {
    position: absolute;
    max-width: 100%;
    max-height: 100%;

    img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

.#{$swipe}-pagination {
  justify-content: center;
  margin: $swipe-pagination-margin;
}

.swipe {
  height: 300px;
}

.example-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
