@import "@pluginjs/styles/variables.scss";
// Vars
// =====================
$swipe: "pj-swipe" !default;
$arrow: "pj-arrow" !default;
// Core
// =====================
.#{$swipe} {
  &-wrapper {
    width: 100%;
    overflow: hidden;
  }

  &-info {
    display: none !important;
  }
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .#{$arrow} {
    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      z-index: 99;
      transform: translateY(-50%);
    }
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }

  &-item {
    position: absolute;
  }
}
.pj-swipe-pagination {
  justify-content: center;
  margin: 10px 0;
}
.swipe {
  height: 300px;
}
.example-item{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.2);
}
.example-item:nth-of-type(2n){
  background: rgba(133, 83, 83, 0.2);
}
.item-active{
  opacity: 0.5;
}
