@import "@pluginjs/styles/variables.scss";
@import "swipe.core";
// Vars
// =====================
$swipe-dots-bg: #ccc !default;
$swipe-dots-active-bg: $gray-darkest !default;
$swipe-arrow-color: $color-white !default;
$swipe-arrow-bg: $color-black !default;
$swipe-arrow-radius: $border-radius-base !default;
// swipe
// =====================
.#{$swipe} {
  &-wrapper {
    .pj-dots {
      a {
        background-color: $swipe-dots-bg;
        border-radius: 0;
      }
    }
    
    .pj-dot.pj-dot-active {
      a {
        background-color: $swipe-dots-active-bg;
        border-radius: 0;
      }
    }
  }

  .#{$arrow} {
    &-prev,
    &-next {
      color: $swipe-arrow-color;
      background-color: $swipe-arrow-bg;
      border-radius: $swipe-arrow-radius;
      opacity: 0.3;
      &:link {
        color: $swipe-arrow-color;
      }
    }
  }
}

.example-item {
  background: rgba(0,0,0,0.2);
}

.example-item:nth-of-type(2n) {
  background: rgba(133, 83, 83, 0.2);
}

.item-active {
  opacity: 0.5;
}
