@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$swipe: "pj-swipe" !default;
$arrow: "pj-arrow" !default;
$dot: "pj-dot" !default;

.#{$swipe} {
	position: relative;
	z-index: 1;

	&-container {
		position: relative;
	}

	&-wrapper {
		overflow: hidden;
	}

	&-inner {
		position: relative;
		z-index: 1;
		box-sizing: content-box;
		display: flex;
		width: 100%;
		height: 100%;
		will-change: transform;
	}

	&-item {
		position: relative;
		flex-shrink: 0;
		width: 100%;
		height: 100%;

		&-inner {
			margin: 0;
		}
	}

	&-multiple {
		.#{$swipe}-inner {
			flex-wrap: wrap;
		}
	}

	&-image-stretch img {
		width: 100%;
		height: auto;
	}

	.#{$arrow} {
    &-prev,
    &-next {
      position: absolute;
			top: 50%;
			z-index: 10;
			transform: translateY(-50%);
    }

    &-prev {
      left: 20px;
    }

    &-next {
      right: 20px;
		}
	}

	&-outside {
		margin-right: 55px;
		margin-left: 55px;

		.#{$arrow}-prev {
			left: -55px;
		}

		.#{$arrow}-next {
			right: -55px;
		}
	}

	&-pagination {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 1.5rem;
	}

	&-inside {
		.#{$swipe}-pagination {
			position: absolute;
			bottom: 0;
			z-index: 10;
			margin-top: 0;
			margin-bottom: 10px;
		}
	}
}
