// import parallax css
@import "@pluginjs/parallax/src/css/parallax.scss";
@import "@pluginjs/loader/src/css/loader.scss";

section {
  margin-bottom: 100px;
}

.wrapper {
  width: calc(100% - 60px);
  max-width: 1600px;
  margin: 20px auto;

  .section {
    border-radius: 6px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-two {
  .section {
    width: calc((100% - 30px) / 2)
  }
}

.flex-three {
  .section {
    width: calc((100% - 40px) / 3)
  }
}

.flex-four {
  .section {
    width: calc((100% - 40px) / 4)
  }
}

.content {
  font-size: 26px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}
