// import parallax css
@import "@pluginjs/parallax/src/css/parallax.scss";
@import "@pluginjs/loader/src/css/loader.scss";

body {
  margin: 0;
}

.section {
  height: 800px;
}

.wrapper {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-two {
  .section {
    width: calc((100% - 30px) / 2)
  }
}

.flex-three {
  .section {
    width: calc((100% - 40px) / 3)
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 26px;
  color: #fff;
  letter-spacing: 1px;
}
