@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$wizard: "pj-wizard" !default;

$wizard-transition-duration: 0.2s !default;

// Core
// =====================
.#{$wizard}-hide {
  display: none !important;
}

.#{$wizard}-steps {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    position: relative;
    display: inline-block;
    flex: 1;
    overflow: hidden;
  }
}

.#{$wizard}-item-content {
  display: inline-block;
  vertical-align: middle;
}

.#{$wizard}-item-title {
  position: relative;
  display: inline-block;
}

.#{$wizard}-content {
  position: relative;
  width: 100%;
  padding: 0;
  transition: height $wizard-transition-duration ease;
}

.#{$wizard}-pane {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  &.#{$wizard}-active {
    position: relative;
    visibility: visible;
    opacity: 1;
  }

  &.#{$wizard}-activing {
    visibility: visible;
    opacity: 0;
  }
}

.#{$wizard}-buttons {
  box-sizing: border-box;
  display: flex;

  > a {
    box-sizing: border-box;
  }
}
