@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$wizard: "pj-wizard" !default;
$wizard-sizer: $sizer !default;
$wizard-font-family: $font-family-base !default;
$wizard-content-margin-top: 1.6 * $wizard-sizer !default;
$wizard-content-margin-bottom: 2 * $wizard-sizer !default;
$step-icon-width: 2.4 * $wizard-sizer !default;
$step-icon-height: $step-icon-width;
$step-icon-spacer: 0.4 * $wizard-sizer !default;
$step-icon-font-size: $font-size-sm !default;
$step-content-title-line-height: 2.2 * $wizard-sizer !default;
$wizard-step-width: 50 * $wizard-sizer !default;
$wizard-step-item-width: 12.4 * $wizard-sizer !default;
$wizard-content-width: 77 * $wizard-sizer !default;
$wizard-transition-duration: 0.2s !default;
$wizard-active: $color-primary !default;
$wizard-formControl-height: 3 * $wizard-sizer !default;
$wizard-formControl-padding: 0.9 * $wizard-sizer 1.2 * $wizard-sizer;

// Core
// =====================
.#{$wizard}-hide {
  display: none;
}

.wizard {
  font-family: $wizard-font-family;
}

.#{$wizard}-pane {
  position: absolute;
  top: 0;
  font-size: $step-icon-font-size;
  line-height: $step-content-title-line-height;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  &.#{$wizard}-active {
    position: relative;
    visibility: visible;
    opacity: 1;
  }

  &.#{$wizard}-activing {
    visibility: visible;
    opacity: 0;
  }

  .#{$wizard}-formGroup {

    input.error {
      border-color: #f96868;
    }

    label.error {
      color: #f96868;
    }
  }

  // label {
  //   display: inline-block;
  //   max-width: 100%;
  //   margin-bottom: 5px;
  // }

  .#{$wizard}-formControl {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: $wizard-formControl-height;
    padding: $wizard-formControl-padding;
    font-size: $step-icon-font-size;
    line-height: $step-content-title-line-height;
  }
}

.#{$wizard}-steps {
  display: flex;
  max-width: $wizard-step-width;
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    position: relative;
    display: inline-block;
    flex: 1;
    max-width: $wizard-step-item-width;
    overflow: hidden;
  }
}

.#{$wizard}-steps-item-icon {
  width: $step-icon-width;
  height: $step-icon-height;
  margin-left: $step-icon-spacer;
  font-size: $step-icon-font-size;
  line-height: $step-icon-height;
  text-align: center;
  border-radius: $step-icon-width;
}

.#{$wizard}-steps-item-content {
  display: inline-block;
  vertical-align: middle;
}

.#{$wizard}-steps-item-title {
  position: relative;
  display: inline-block;
  font-size: $step-icon-font-size;
  line-height: $step-content-title-line-height;
}

.#{$wizard}-content {
  position: relative;
  width: 100%;
  max-width: $wizard-content-width;
  padding: 0;
  margin-top: $wizard-content-margin-top;
}
