@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$wizard: "pj-wizard" !default;

$wizard-duration: 0.2s !default;

$wizard-step-color: $color-primary !default;
$wizard-step-disabled-color: $gray !default;

// Core
// =====================
.#{$wizard} {
  &-steps {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-step {
    position: relative;
    flex-basis: 50%;
    overflow: hidden;
    color: $wizard-step-color;
  }

  &-step-inner {
    cursor: pointer;
  }

  &-disabled {
    color: $wizard-step-disabled-color;

    .#{$wizard}-step-inner {
      cursor: not-allowed;
    }
  }

  &-panes {
    position: relative;
    transition: height $wizard-duration ease;
  }

  &-pane {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity $wizard-duration;

    &.#{$wizard}-active {
      position: relative;
      visibility: visible;
      opacity: 1;
    }

    &.#{$wizard}-activing {
      visibility: visible;
      opacity: 0;
    }
  }

  &-hide {
    display: none !important;
  }
}
