@import "@pluginjs/styles/variables.scss";
@import "wizard.core.scss";

// Vars
// ==============================
$wizard: "pj-wizard";
$wizard-font-family: $font-family-base;
$wizard-font-size: $font-size-sm;
$wizard-line-height: 22px;

$wizard-color: $color-white;
$wizard-hover-color: $color-primary;
$wizard-active-color: $color-primary;
$wizard-error-color: #f73e4d;

$wizard-step-width: 500px;

$wizard-step-item-width: 130px;

$wizard-step-icon-width: 24px;
$wizard-step-icon-height: $wizard-step-icon-width;
$wizard-step-icon-spacer-x: 4px;
$wizard-step-icon-bg: $gray;

$wizard-title-margin-top: 2px;
$wizard-title-color: $gray;
$wizard-title-solid: $gray-light;

$wizard-content-width: 770px;
$wizard-content-margin-top: 18px;
$wizard-content-margin-bottom: 20px;
$wizard-content-color: $gray-darker;

$wizard-formControl-height: 32px;
$wizard-formControl-border-margin: 5px 0;
$wizard-formControl-border-color: $gray;
$wizard-formControl-border-hover-color: $gray-darkest;

$wizard-button-height: 32px;
$wizard-button-line-height: $line-height-base;
$wizard-button-margin-top: 13px;
$wizard-button-margin-left: 10px;
$wizard-button-padding: 4px 15px;
$wizard-button-color: $gray-darker;
$wizard-button-color-light: $gray;
$wizard-button-bg: $gray-lighter;
$wizard-button-radius: $border-radius-sm;

// Styles
// =====================
.#{$wizard} {
  font-family: $wizard-font-family;
  font-size: $wizard-font-size;
  line-height: $wizard-line-height;
  color: $wizard-color;
}

.#{$wizard}-steps {
  max-width: $wizard-step-width;

  > li {
    max-width: $wizard-step-item-width;
  }
}

.#{$wizard}-steps-item-icon {
  width: $wizard-step-icon-width;
  height: $wizard-step-icon-height;
  margin-left: $wizard-step-icon-spacer-x;
  line-height: $wizard-step-icon-height;
  text-align: center;
  background-color: $wizard-step-icon-bg;
  border-radius: $wizard-step-icon-width;
}

.#{$wizard}-steps-item-title {
  margin-top: $wizard-title-margin-top;
  color: $wizard-title-color;
  text-transform: capitalize;

  &::after {
    position: absolute;
    top: -15px;
    left: 100%;
    display: block;
    width: 9999px;
    height: 2px;
    margin-left: -3px;
    content: "";
    background-color: $wizard-title-solid;
    transition: background-color $wizard-transition-duration;
  }
}

.#{$wizard}-content {
  max-width: $wizard-content-width;
  margin-top: $wizard-content-margin-top;
  color: $wizard-content-color;
}

.#{$wizard}-done {
  .#{$wizard}-steps-item-icon {
    overflow: hidden;
    font-size: 0;
    background-color: $wizard-active-color;
  }

  .active-icon {
    font-size: $wizard-font-size;
  }

  > .#{$wizard}-steps-item-content {
    > .#{$wizard}-steps-item-title {
      color: $wizard-active-color;

      &::after {
        background-color: $wizard-active-color;
      }
    }
 }
}

.#{$wizard}-done.#{$wizard}-current {
  > .#{$wizard}-steps-item-content {
    > .#{$wizard}-steps-item-title {
      &::after {
        background-color: $wizard-title-solid;
      }
    }
 }

 .#{$wizard}-steps-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $wizard-font-size;
  background-color: $wizard-active-color;
}

.active-icon {
  font-size: 0;
  }
}

.#{$wizard}-steps .#{$wizard}-steps-item:last-child {
  .#{$wizard}-steps-item-title {
    &::after {
      display: none;
    }
  }
}

[aria-expanded="true"] {
  .#{$wizard}-steps-item-icon {
    background-color: $wizard-active-color;
  }

  .#{$wizard}-steps-item-title {
    color: $wizard-active-color;
  }
}

.#{$wizard}-buttons {
  margin-top: $wizard-button-margin-top;

  a + a {
    margin-left: $wizard-button-margin-left;
  }

  > a {
    height: $wizard-button-height;
    padding: $wizard-button-padding;
    line-height: $wizard-button-line-height;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid;
    border-radius: $wizard-button-radius;
    transition: all $wizard-transition-duration;

    &:active {
      background-color: $wizard-button-bg;
      outline: 0;
    }

    &:focus {
      color: $wizard-button-color;
      background-color: $wizard-button-bg;
      outline: 0;
    }

    &.#{$wizard}-default {
      color: $wizard-button-color;
      background-color: transparent;
      border-color: $wizard-button-color-light;

      &.#{$wizard}-disabled {
        color: $wizard-button-color-light;
        cursor: not-allowed;
        background-color: $wizard-button-bg;

        &:hover {
          color: $wizard-button-color-light;
          background-color: $wizard-button-bg;
          border-color: $wizard-button-color-light;
        }

        &:active {
          color: $wizard-button-color-light;
          background-color: $wizard-button-bg;
          border-color: $wizard-button-color-light;
          box-shadow: none;
        }

        &:focus {
          color: $wizard-button-color-light;
          background-color: $wizard-button-bg;
          outline: 0;
        }
      }

      &:hover {
        color: $wizard-button-color;
        background-color: $wizard-button-bg;
        border-color: $wizard-button-color-light
      }

      &:active {
        background-color: $wizard-button-bg;
        outline: 0;
      }

      &:focus {
        color: $wizard-button-color;
      }
    }

    &.#{$wizard}-primary {
      color: $wizard-hover-color;
      background-color: transparent;
    }

    &.#{$wizard}-primary:hover {
      color: $wizard-color;
      background-color: $wizard-hover-color;
      border-color: $wizard-hover-color;
    }

    &.#{$wizard}-success {
      color: $wizard-color;
      background-color: $wizard-active-color;
      border: 0;
    }
  }
}

.#{$wizard}-pane {
  .#{$wizard}-formControl {
    width: 100%;
    height: $wizard-formControl-height;
    margin: $wizard-formControl-border-margin;

    &:hover {
      border-color: $wizard-formControl-border-hover-color;
    }

    &:focus {
      border-color: $wizard-active-color;
      outline: 0;
    }
  }

  &.#{$wizard}-error {
    .#{$wizard}-formControl {
      border-color: $wizard-error-color;

      &:hover {
        border-color: $wizard-error-color;
      }

      &:focus {
        border-color: $wizard-error-color;
      }
    }
  }
}

// stylelint-disable
::-webkit-input-placeholder { /* WebKit browsers */
  color: $wizard-formControl-border-color;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $wizard-formControl-border-color;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $wizard-formControl-border-color;
}
::-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $wizard-formControl-border-color;
}
// stylelint-enable
