@import "@pluginjs/styles/variables.scss";
@import "wizard.core.scss";

// Vars
// ==============================
$wizard: "pj-wizard";
$wizard-font-family: $font-family-base;
$wizard-font-size: $font-size-sm;
$wizard-line-height: 22px;

$wizard-color: $color-white;
$wizard-hover-color: $color-primary;
$wizard-active-color: $color-primary;

$wizard-step-width: 500px;

$wizard-step-item-width: 124px;

$wizard-step-icon-width: 24px;
$wizard-step-icon-height: $wizard-step-icon-width;
$wizard-step-icon-spacer-x: 4px;
$wizard-step-icon-bg: $gray;

$wizard-title-color: $gray;
$wizard-title-solid: $gray-light;

$wizard-content-width: 770px;
$wizard-content-margin-top: 16px;
$wizard-content-margin-bottom: 20px;
$wizard-content-color: $gray-darker;

$wizard-formControl-height: 30px;
$wizard-formControl-padding: 9px 12px;
$wizard-formControl-color: $gray-darkest;
$wizard-formControl-border-color: $gray;
$wizard-formControl-bg: $color-white;
$wizard-formControl-border-radius: $border-radius-sm;

$wizard-button-height: 32px;
$wizard-button-margin: 15px;
$wizard-button-margin-left: 10px;
$wizard-button-padding: 4px 16px;
$wizard-button-radius: $border-radius-sm;
$wizard-button-color: $gray-darker;
$wizard-button-color-light: $gray;
$wizard-button-bg: $gray-lighter;


// Styles
// =====================
.#{$wizard} {
  font-family: $wizard-font-family;
  font-size: $wizard-font-size;
  line-height: $wizard-line-height;
  color: $wizard-color;
}

.#{$wizard}-steps {
  max-width: $wizard-step-width;

  > li {
    max-width: $wizard-step-item-width;
  }
}

.#{$wizard}-steps-item-icon {
  width: $wizard-step-icon-width;
  height: $wizard-step-icon-height;
  margin-left: $wizard-step-icon-spacer-x;
  line-height: $wizard-step-icon-height;
  text-align: center;
  background-color: $wizard-step-icon-bg;
  border-radius: $wizard-step-icon-width;
  transition: background-color $wizard-transition-duration, color $wizard-transition-duration;
}

.#{$wizard}-steps-item-title {
  color: $wizard-title-color;
  text-transform: capitalize;

  &::after {
    position: absolute;
    top: -75%;
    left: 100%;
    display: block;
    width: 9999px;
    height: 2px;
    margin-left: -4px;
    content: "";
    background-color: $wizard-title-solid;
  }
}

.#{$wizard}-content {
  max-width: $wizard-content-width;
  margin-top: $wizard-content-margin-top;
  color: $wizard-content-color;
}

.#{$wizard}-done {

  .#{$wizard}-steps-item-icon {
    overflow: hidden;
    font-size: 0;
    background-color: $wizard-active-color;
  }

  .active-icon {
    font-size: $wizard-font-size;
  }

  > .#{$wizard}-steps-item-content {
  
    > .#{$wizard}-steps-item-title {
      color: $wizard-active-color;

      &::after {
        background-color: $wizard-active-color;
        transition: background-color $wizard-transition-duration;
      }
    }
 }
}

.#{$wizard}-done.#{$wizard}-current {

  > .#{$wizard}-steps-item-content {

    > .#{$wizard}-steps-item-title {
      
      &::after {
        background-color: $wizard-title-solid;
      }
    }
 }

 .#{$wizard}-steps-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $wizard-font-size;
  background-color: $wizard-active-color;
  transition: font-size $wizard-transition-duration;
}

.active-icon {
  font-size: 0;
  }
}

.#{$wizard}-steps .#{$wizard}-steps-item:last-child {
  .#{$wizard}-steps-item-title {
  
    &::after {
      display: none;
    }
  }
}

[aria-expanded="true"] {
  .#{$wizard}-steps-item-icon {
    background-color: $wizard-active-color;
  }

  .#{$wizard}-steps-item-title {
    color: $wizard-active-color;
  }
}

.#{$wizard}-buttons {
  height: $wizard-button-height;
  margin-top: $wizard-button-margin;

  a + a {
    margin-left: $wizard-button-margin-left;
  }

  > a {
    height: $wizard-button-height;
    padding: $wizard-button-padding;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid;
    border-radius: $wizard-button-radius;
    transition: border $wizard-transition-duration, color $wizard-transition-duration, width $wizard-transition-duration, background-color $wizard-transition-duration;

    &:active {
      background-color: $wizard-button-bg;
      outline: 0;
    }

    &:focus {
      color: $wizard-button-color;
      background-color: $wizard-button-bg;
      outline: 0;
    }

    &.#{$wizard}-default {
      color: $wizard-button-color;
      background-color: $wizard-button-bg;
      border-color: $wizard-button-color-light;

      &.#{$wizard}-disabled {
        color: $wizard-button-color-light;
        cursor: not-allowed !important;

        &:hover {
          color:$wizard-button-color-light;
          background-color: $wizard-button-bg;
          border-color: $wizard-button-color-light;
        }

        &:active {
          color: $wizard-button-color-light;
          background-color: $wizard-button-bg;
          border-color: $wizard-button-color-light;
          box-shadow: none;
        }
    
        &:focus {
          color: $wizard-button-color-light;
          background-color: $wizard-button-bg;
          outline: 0;
        }
      }

      &:active {
        background-color: $wizard-button-bg;
        outline: 0;
      }

      &:focus {
        color: $wizard-button-color;
      }

      &:hover {
        color: $wizard-button-color;
        background-color:$wizard-color;
        border-color: $wizard-button-color-light
      }
    }

    &.#{$wizard}-primary {
      color: $wizard-hover-color;
      background-color: transparent;
    }

    &.#{$wizard}-primary:hover {
      color: $wizard-color;
      background-color: $wizard-hover-color;
      border-color: $wizard-hover-color;
    }

    &.#{$wizard}-success {
      color: $wizard-color;
      background-color: $wizard-active-color;
      border: 0;
    }
  }
}

.#{$wizard}-pane {

  .#{$wizard}-formControl {
    height: $wizard-formControl-height;
    padding: $wizard-formControl-padding;
    color: $wizard-formControl-color;
    background-color: $wizard-formControl-bg;
    border: 1px solid $wizard-formControl-border-color;
    border-radius: $wizard-formControl-border-radius;
    transition: border-color $wizard-transition-duration;
  }

  .#{$wizard}-formControl:focus {
    border-color: $wizard-active-color;
    outline: 0;
  }
}

// stylelint-disable
::-webkit-input-placeholder { /* WebKit browsers */ 
  color: $wizard-formControl-border-color;
} 
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
  color: $wizard-formControl-border-color;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
  color: $wizard-formControl-border-color;
} 
::-ms-input-placeholder { /* Internet Explorer 10+ */ 
  color: $wizard-formControl-border-color;
} 
// stylelint-enable
