@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

$strength: "pj-strength" !default;
$input: "pj-input" !default;

$strength-width: 200px !default;
$strength-height: 32px !default;
$strength-gatter: 8px !default;

$strength-has-icon-spacer: 34px !default;
$strength-has-icon-gatter: 8px !default;

$strength-box-spacer-x: 12px !default;
$strength-box-spacer-y: 10px !default;

$strength-done-icon: $pj-icon-done-small !default;
$strength-hidden-icon: $pj-icon-hidden !default;
$strength-show-icon: $pj-icon-eye !default;
$strength-font: $pj-icon-font-family !default;

$strength-check-border-color: $border-color !default;
$strength-check-border-radius: $border-radius-base !default;

.#{$strength} {
  box-sizing: border-box;
  width: $strength-width !important;
  height: $strength-height;

  &-has-icon {
    position: relative;
    > input {
      padding-right: $strength-has-icon-spacer;
    }

    .#{$strength}-icon {
      position: absolute;
      top: $strength-has-icon-gatter;
      right: $strength-has-icon-gatter;
      display: inline-block;
      &::after {
        @include icon();
        font-family:$strength-font;
        content: icon-content($strength-hidden-icon);
      }
    }

    &.#{$strength}-show {
      .#{$strength}-icon {
        display: inline-block;
        &::after {
          @include icon();
          font-family:$strength-font;
          content: icon-content($strength-show-icon);
        }
      }
    }
  }

  &-input {
    width: 100% !important;
  }

  &-toggle {
    position: absolute;
    top: $strength-gatter;
    display: block;
  }

  &-addon {
    box-sizing: border-box;
    height: $strength-height;

    .#{$strength}-check {
      position: relative;
      top: 1px;
      box-sizing: initial;
      display: inline-block;
      min-width: 1em;
      min-height: 1em;
      font-size: 1em !important;

      &::before {
        @include icon();
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        display: inline-block;
        font-family:$strength-font;
        vertical-align: bottom;
        content: icon-content($strength-done-icon);
        transition: transform 0.25s;
        transform: scale(0);
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        color: transparent;
        content: "\0000";
        border: 1px solid $strength-check-border-color;
        border-radius: $strength-check-border-radius;
      }
    }
  }
}
