@import "@pluginjs/styles/variables.scss";

$strength: "pj-strength" !default;
$input: "pj-input" !default;

$strength-input-width: 200px !default;
$strength-input-height: 32px !default;

$strength-box-spacer-x: 12px !default;
$strength-box-spacer-y: 10px !default;
$strength-box-font-size: $font-size-xs !default;

$strength-toggle-width: 16px !default;
$strength-toggle-height: 16px !default;

$strength-check-width: 16px !default;
$strength-check-height: 16px !default;
$strength-check-border-color: $gray !default;
$strength-check-border-radius: $border-radius-base !default;

.#{$strength} {
  &-container {
    position: relative;
  }

  &-input-group {
    display: flex;
    flex-direction: column;
  }

  &-input.#{$input} {
    width: $strength-input-width;
    height: $strength-input-height;
    outline: none;
  }

  &-box {
    position: absolute !important;
    top: $strength-box-spacer-y;
    left: $strength-input-width - 2 * $strength-box-spacer-x;
    font-size: $strength-box-font-size;
  }

  &-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
    display: block;
  }

  &-addon {
    position: relative;
    cursor: pointer;

    .#{$strength}-show {
      display: block;
    }

    .#{$strength}-hide {
      display: none;
    }

    .#{$strength}-check {
      position: relative;
      top: 1px;
      box-sizing: initial;
      display: inline-block;
      min-width: 1em;
      min-height: 1em;
      font-size: 1em !important;
    }

    .#{$strength}-check::before {
      position: relative;
      top: -1px;
      left: 0;
      z-index: 999;
      display: inline-block;
      vertical-align: bottom;
      transition: transform 0.25s;
      transform: scale(0);
    }
    
    .#{$strength}-check::after {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      color: transparent;
      content: "\0000";
      border: 1px solid $strength-check-border-color;
      border-radius: $strength-check-border-radius;
    }
  }
  
  &-active {
    .#{$strength}-show {
      display: none;
    }

    .#{$strength}-hide {
      display: block;
    }
  }
}
