@import "@pluginjs/styles/variables.scss";
@import "strength.core";

$strength: "pj-strength";
$input: "pj-input";

$color-active: $color-primary;

$strength-input-padding: 8px 12px;
$strength-input-margin-bottom: 20px;

$strength-toggle-width: 16px;
$strength-toggle-height: 16px;

$strength-addon-height: 12px;
$strength-addon-font-size: $font-size-base;
$strength-addon-color: $gray-darkest;

$strength-check-margin-right: 8px;
$strength-check-width: 16px;
$strength-check-height: 16px;
$strength-check-bg: $color-white;

.#{$strength} {
  &-input.#{$input} {
    padding: $strength-input-padding;
    margin-bottom: $strength-input-margin-bottom;
    outline: none;
  }

  &-toggle {
    width: $strength-toggle-width;
    height: $strength-toggle-height;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }

  &-addon {
    position: relative;
    height: $strength-addon-height;
    font-size: $strength-addon-font-size;
    font-weight: 500;
    line-height: $strength-addon-height;
    color: $strength-addon-color;
    cursor: pointer;

    .#{$strength}-show {
      display: block;
    }

    .#{$strength}-hide {
      display: none;
    }

    .#{$strength}-check {
      width: $strength-check-width;
      height: $strength-check-height;
      // margin-right: $strength-check-margin-right;
      font-size: 1em !important;
      line-height: $strength-check-height;
      color: transparent;
      text-align: center;
      background-color: $strength-check-bg;
    }
  }

  &-meter {
    margin-top: $strength-check-margin-right;
  }
  
  &-active {
    .#{$strength}-check {
      color: $color-active;
    }

    .#{$strength}-check::before {
      transform: scale(1);
    }
  }
}
