@import "@pluginjs/styles/variables.scss";
@import "./strength.core.scss";

$strength: "pj-strength";
$input: "pj-input";

$color-active: $color-primary;

$strength-input-padding: 8px 12px;
$strength-input-margin-bottom: 8px;

$strength-addon-font-size: $font-size-base;
$strength-addon-color: $gray-darkest;

$strength-check-width: 16px;
$strength-check-height: 16px;
$strength-check-bg: $color-white;
$strength-check-active-color: $color-white;
$strength-check-active-bg: $color-primary;

.#{$strength} {
  &-toggle {
    width: $strength-check-width;
    height: $strength-check-height;
    margin: 0;
    line-height: $strength-check-height;
    cursor: pointer;
    opacity: 0;
  }

  &-addon {
    position: absolute;
    top: 5px;
    right: 8px;
    font-weight: $font-weight-medium;
    color: $strength-addon-color;
    cursor: pointer;

    .#{$strength}-check {
      width: $strength-check-width;
      height: $strength-check-height;
      font-size: 1em !important;
      line-height: $strength-check-height;
      color: transparent;
      text-align: center;
      background-color: $strength-check-bg;
      transition: background-color 0.3s;
    }
  }

  &-score {
    display: inline-block;
    margin-top: $strength-input-margin-bottom;
  }
  
  &-active {
    .#{$strength}-check {
      color: $strength-check-active-color;
      
      &::after {
        background-color: $strength-check-active-bg;
      }
    }

    .#{$strength}-check::before {
      transform: scale(1);
    }
  }

  &-empty {
    > .#{$strength}-score {
      color: $color-primary;
    }
  }

  &-invalid {
    > .#{$strength}-score {
      color: $color-danger;
    }
  }

  &-weak {
    > .#{$strength}-score {
      color: $color-warning;
    }
  }

  &-good {
    > .#{$strength}-score {
      color: $color-info;
    }
  }

  &-strong {
    > .#{$strength}-score {
      color: $color-success;
    }
  }
}
