@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

// Vars
// =====================
$image-selector: "pj-image-selector" !default;
$image-selector-width: 96px !default;
$image-selector-max-height: 300px !default;
$image-selector-dropdown-padding: 20px !default;
$image-selector-dropdown-width: 272px !default;

$image-selector-trigger-border-color: $gray-light;
$image-selector-trigger-arrow-icon: $pj-icon-caret-down-mini !default;
$image-selector-trigger-arrow-font: $pj-icon-font-family !default;
$image-selector-trigger-arrow-right: $input-padding-x !default;
$image-selector-trigger-padding-right: 30px !default;

.#{$image-selector} {
  position: relative;
  width: $image-selector-width;
  height: $image-selector-width;

  &-element {
    display: none;
  }

  &-trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid $image-selector-trigger-border-color;
  }
  
  &-dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    width: $image-selector-dropdown-width;
    max-height: $image-selector-max-height;
    padding: $image-selector-dropdown-padding;
    overflow: auto;
    line-height: 1;
    align-content: flex-start;
  }
  &-option {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    align-content: center;

    &-label {
      display: block;
    }
  }

  &-group {
    display: flex;
  }

  &-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-group-label {
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
