@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

// Vars
// =====================
$imageSelector: "pj-image-selector" !default;
$imageSelector-width: 96px !default;
$imageSelector-max-height: 330px !default;
$imageSelector-dropdown-padding: 24px !default;
$imageSelector-dropdown-width: 272px !default;
$imageSelector-option-width: 100px !default;

$imageSelector-trigger-border-color: $gray-light !default;
$imageSelector-trigger-arrow-icon: $pj-icon-caret-down-mini !default;
$imageSelector-trigger-arrow-font: $pj-icon-font-family !default;
$imageSelector-trigger-arrow-right: $input-padding-x !default;
$imageSelector-trigger-padding-right: 30px !default;

.#{$imageSelector} {
  position: relative;
  width: $imageSelector-width;
  height: $imageSelector-width;

  &-element {
    display: none;
  }

  &-trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid $imageSelector-trigger-border-color;

    &-action {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    &-hover {
      .#{$imageSelector}-trigger-action {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }

  &-dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    width: auto;
    max-height: $imageSelector-max-height;
    overflow: auto;
    line-height: 1;
    align-content: flex-start;

    &-content {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      width: $imageSelector-dropdown-width;
      padding: $imageSelector-dropdown-padding;
    }
  }

  &-option {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $imageSelector-option-width;
    align-content: center;

    &-label {
      display: block;
    }
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &-label {
      width: 100%;
      overflow: hidden;
      line-height: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:nth-child(2n+1) {
      margin-left: 24px;
    }

    .#{$imageSelector}-option {
      margin-left: 0;

    }
  }

  &-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
