@import "@pluginjs/styles/variables.scss";
@import "image-selector.core";

// Vars
// =====================
$image-selector: "pj-image-selector";

$image-selector-color: $text-color;
$image-selector-trigger-placeholder-color: $gray;

$image-selector-trigger-disabled-bg: $disabled-bg;
$image-selector-trigger-disabled-border: $disabled-border;
$image-selector-trigger-disabled-color: $disabled-color;

$image-selector-group-label-font-size: $font-size-xs;
$image-selector-group-label-color: $gray-dark;
$image-selector-group-label-space-x: 11px;
$image-selector-group-label-space-y: 8px;

$image-selector-loading-padding: 11px 8px;
$image-selector-loading-color: $gray-darker;

$image-selector-option-label-font-size: $font-size-xs;

.#{$image-selector} {
  outline: none;

  &-trigger {
    position: relative;
    color: $image-selector-trigger-placeholder-color;

    .#{$image-selector}-selected & {
      color: $image-selector-color;
    }
  }

  &-option {
    padding: 12px 0;

    &-image {
      margin-bottom: 6px;
    }
    &-label {
      font-size: $image-selector-option-label-font-size;
    }
  }

  &-group-label {
    padding: $image-selector-group-label-space-y $image-selector-group-label-space-x;
    font-size: $image-selector-group-label-font-size;
    color: $image-selector-group-label-color;
  }

  &-loading {
    padding: $image-selector-loading-padding;
    color: $image-selector-loading-color;
    text-align: center;
  }
}

.#{$image-selector}-disabled {
  .#{$image-selector}-trigger {
    color: $image-selector-trigger-disabled-color;
    background-color: $image-selector-trigger-disabled-bg;
    border-color: $image-selector-trigger-disabled-border;
  }
}
