@import "@pluginjs/styles/variables.scss";
@import "image-selector.core";

// Vars
// =====================
$imageSelector: "pj-image-selector";

$imageSelector-color: $text-color;

$imageSelector-trigger-placeholder-color: $gray-darkest;
$imageSelector-trigger-disabled-bg: $disabled-bg;
$imageSelector-trigger-disabled-border: $disabled-border;
$imageSelector-trigger-disabled-color: $disabled-color;
$imageSelector-trigger-label-margin-top: 10px;
$imageSelector-trigger-action-bg-color: $color-opacity;
$imageSelector-trigger-action-color: $color-white;

$imageSelector-group-label-font-size: $font-size-xs;
$imageSelector-group-label-color: $gray-dark;
$imageSelector-group-label-space-x: 11px;
$imageSelector-group-label-space-y: 8px;

$imageSelector-loading-padding: 11px 8px;
$imageSelector-loading-color: $gray-darker;

$imageSelector-option-label-font-size: $font-size-xs;
$imageSelector-option-margin-bottom: 12px;
$imageSelector-option-hover-border-color: $gray-light;
$imageSelector-option-active-border-color: $color-primary;
$imageSelector-option-margin-left: 22px;
$imageSelector-option-padding: 12px 0;

.#{$imageSelector} {
  outline: none;

  &-trigger {
    position: relative;
    color: $imageSelector-trigger-placeholder-color;

    &-label {
      margin-top: $imageSelector-trigger-label-margin-top;
    }

    &-action {
      color: $imageSelector-trigger-action-color;
      background: $imageSelector-trigger-action-bg-color;
    }
  }

  &-option {
    padding: $imageSelector-option-padding;
    margin-bottom: $imageSelector-option-margin-bottom;
    border: 1px solid transparent;

    &:hover {
      border-color: $imageSelector-option-hover-border-color;
    }

    &-image {
      margin-bottom: 10px;
    }

    &-label {
      font-size: $imageSelector-option-label-font-size;
    }

    &:nth-of-type(2n) {
      margin-left: $imageSelector-option-margin-left;
    }
  }

  .pj-dropdown-highlighted {
    color: inherit;
    border-color: $imageSelector-option-active-border-color;
  }

  &-group-label {
    padding: $imageSelector-group-label-space-y $imageSelector-group-label-space-x;
    font-size: $imageSelector-group-label-font-size;
    color: $imageSelector-group-label-color;
  }

  &-loading {
    padding: $imageSelector-loading-padding;
    color: $imageSelector-loading-color;
    text-align: center;
  }

  &-inline {
    display: flex;
    flex-wrap: wrap;

    .#{$imageSelector}-option {
      padding: 15px 15px;
      margin-left: 0;
      
      &-image {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-inline-active {
    color: inherit;
    border-color: $imageSelector-option-active-border-color !important;
  }
}

.#{$imageSelector}-disabled {
  .#{$imageSelector}-trigger {
    color: $imageSelector-trigger-disabled-color;
    background-color: $imageSelector-trigger-disabled-bg;
    border-color: $imageSelector-trigger-disabled-border;
  }
}
