@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$imageSelector: "pj-imageSelector" !default;
$dropdown: "pj-dropdown" !default;
$imageSelector-sizer: $sizer !default;
$imageSelector-width: 17 * $imageSelector-sizer !default; //170px
$imageSelector-height: 11 * $imageSelector-sizer !default; //110px
$imageSelector-border-width: 1px !default;
$imageSelector-border-style: solid !default;
$imageSelector-border-color: $gray-border !default;
$imageSelector-border: $imageSelector-border-width $imageSelector-border-style
$imageSelector-border-color !default;
$imageSelector-border-radius: $border-radius-base !default;
$imageSelector-color: $text-color !default;
$imageSelector-active-color: $color-primary !default;
$imageSelector-font-size: $font-size-base !default;
// change
$imageSelector-change-bg: $color-opacity !default;
$imageSelector-change-opacity: 1 !default;
// panel
$imageSelector-panel-width: 38.5 * $imageSelector-sizer !default; //410px
$imageSelector-panel-height: 46 * $imageSelector-sizer !default; //500px
// item
$imageSelector-item-width: 17 * $imageSelector-sizer !default; //170px
$imageSelector-item-height: 11 * $imageSelector-sizer !default; //110px
$imageSelector-item-margin: $imageSelector-sizer $imageSelector-sizer 3 *
  $imageSelector-sizer !default; //10px 10px 30px
$imageSelector-item-margin-bottom: 3 * $imageSelector-sizer !default; //30px
$imageSelector-item-bg-color: $gray-lightest !default;

.#{$dropdown}-show {
  z-index: 999999 !important;
  background-color: $color-white
}
.#{$dropdown}-panel-wrap {
  z-index: 999999 !important;
  background-color: $color-white
}
// Core
// =====================
.#{$imageSelector} {
  position: relative;
  min-width: $imageSelector-width !important;
  min-height: $imageSelector-height !important;
  font-size: $imageSelector-font-size;
  color: $imageSelector-color;
  background-color: #fff;
  // background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAABaAgMAAAAObnp8AAAACVBMVEVHcEyZmZnl5eVsHKZCAAAAAXRSTlMAQObYZgAAADBJREFUSMdjWIUXMIxKj0pTTXoQg1AQYBAFkQ5cmC4flR6VHpUelR6VHpUelR5y0gD0WUbiAs3tSQAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $imageSelector-border-color;
  border-radius: 0;
  &-wrapper {
    .#{$imageSelector}-data {
      display: none;
    }
  }

  &-open-disabled {
    pointer-events: none;
  }

  &-init {
    width: 22 * $imageSelector-sizer; //220px
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 1.4 * $imageSelector-sizer; //14px
    height: 1.2 * $imageSelector-sizer; //12px
    content: "";
    border-top: $imageSelector-border;
    border-left: $imageSelector-border;
  }

  &::before {
    position: absolute;
    right: -0.2 * $imageSelector-sizer; //-2px
    // bottom: -8px;
    bottom: -0.4 * $imageSelector-sizer; //-4px
    font-size: $font-size-lg;
    transform: rotate(-90deg);
  }

  &-change {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    line-height: $imageSelector-height;
    color: $color-white;
    text-align: center;
    background-color: $imageSelector-change-bg;
    opacity: 0;
  }

  &-panel {
    display: none;
    width: $imageSelector-panel-width;
    height: $imageSelector-panel-height;
    padding: 1.2 * $imageSelector-sizer; //12px
    font-size: $imageSelector-font-size;
    border: $imageSelector-border !important;
    border-radius: $imageSelector-border-radius !important;
    .pj-scrollable-container {
      width: 100% !important;
      height: 100% !important;
    }

    .pj-scrollable-content {
      width: 100% !important;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: $imageSelector-item-margin-bottom;
      list-style: none;
    }
  }

  &-item {
    position: relative;
    float: left;
    width: $imageSelector-item-width;
    height: $imageSelector-item-height;
    margin: $imageSelector-item-margin;
    font-size: $font-size-base;
    background-repeat: no-repeat;
    background-position: center;
    border: $imageSelector-border;
    border-radius: 0 !important;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0.23 * $imageSelector-sizer; //2.3px
      display: none;
      color: $color-white;
    }

    &::after {
      position: absolute;
      right: -2 * $imageSelector-sizer; //-20px
      bottom: -2 * $imageSelector-sizer; //-20px
      z-index: -1;
      display: none;
      width: 0;
      height: 0;
      content: "";
      border: 20px solid transparent;
      border-left-color: $imageSelector-active-color;
      transform: rotate(45deg);
    }

    &-label {
      position: absolute;
      bottom: -2.6 * $imageSelector-sizer; //-26px
      left: 0;
      display: block;
      width: 100%;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
      background-color: $imageSelector-item-bg-color;
    }
  }

  &-active {
    color: $imageSelector-color !important;
    background-color: transparent !important;
    border-color: $imageSelector-active-color;

    &::before,
    &::after {
      display: block;
    }
  }

  &:hover {
    cursor: pointer;

    .#{$imageSelector}-change {
      opacity: $imageSelector-change-opacity;
      transition: all 300ms ease-in-out;
    }
  }

  &-hide {
    display: block;
  }

  &-show {
    display: block;
  }
}

.#{$imageSelector}-disabled {
  .#{$imageSelector} {
    &:hover {
      cursor: not-allowed;
      .#{$imageSelector}-change {
        opacity: 0;
      }
    }
    &:active {
      background-color:#fff
     }
  }
  .#{$imageSelector}-change {
    &:active {
      background-color:#fff
     }
  }
}
.pj-dropdown-show {
  display:block !important;
}
