@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$popover: "pj-popover" !default;
$popover-dialog-width: 286px !default;

$popover-buttons-gutter: 20px !default;
$popover-button-gutter: 10px !default;

// Core
// =====================
.#{$popover}-dialog {
  width: $popover-dialog-width;
  max-width: 100%;
  text-align: center;

  .#{$popover}-btns {
    margin-top: $popover-buttons-gutter;
  }

  .#{$popover}-btn + .#{$popover}-btn {
    margin-left: $popover-button-gutter;
  }
}

