@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$popover: "pj-popover" !default;
$popover-dialog-min-width: 196px !default;
$popover-dialog-max-width: 286px !default;

// Core
// =====================
.#{$popover}-dialog {
  min-width: $popover-dialog-min-width;
  max-width: $popover-dialog-max-width;
  text-align: center;
}

.#{$popover}-buttons {
  display: flex;
  justify-content: center;
}

