@import "@pluginjs/styles/variables.scss";
@import "pop-dialog.core";

// Vars
// =====================
$popover-button-bg: rgba(0, 0, 0, 0.05) !default;
$popover-dark-button-border-color: rgba(255, 255, 255, 0.04) !default;
$popover-dark-button-bg: rgba(255, 255, 255, 0.05) !default;
$popover-dark-button-hover-bg: rgba(255, 255, 255, 0.07) !default;
$popover-dark-button-active-bg: rgba(255, 255, 255, 0.02) !default;

//base style vars
$popover-position-grid-margin-x: 100px !default;
$popover-position-cell-a-padding-y: 0.9rem !default;
$popover-position-cell-a-padding-x: 2rem !default;
$popover-position-cell-a-margin-y: 20px !default;

.#{$popover}--simple {
  .#{$popover}-button {
    color: $popover-dark-button-color;
    background: $popover-button-bg;

    &:not(:disabled):hover {
      background-color: $popover-button-hover-bg;
    }
  }
}

// dark skin
.#{$popover}--dark {
  .#{$popover}-buttons {
    box-shadow: 0 -1px 0 $popover-dark-button-border-color;
  }

  .#{$popover}-button {
    color: #fff;
    background: $popover-dark-button-bg;
    box-shadow: inset 1px 0 0 $popover-dark-button-border-color;

    &:not(:disabled):hover {
      background-color: $popover-dark-button-hover-bg;
    }

    &:not(:disabled):active {
      background-color: $popover-dark-button-active-bg;
    }
  }
}
