@import "variables.scss";

$btn: pj-btn !default;

.#{$btn} {
  box-sizing: border-box;
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  color: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: $btn-bg-color;
  border: 1px solid $btn-border-color;
  border-radius: $btn-border-radius;
  transition: all 0.3s;

  // button with icon
  .icon,
  .text {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    transition: all 0.3s ease;
  }

  .icon + .text {
    margin-left: 0.5em;
  }

  .text + .icon {
    margin-left: 0.5em;
  }

  &:hover,
  &:active {
    text-decoration: none;
    outline: 0 none;
  }

  &:not(:disabled):focus {
    outline: 0 none;
    box-shadow: none;
  }

  &:not(:disabled):hover {
    color: $btn-hover-text-color;
    background-color: $btn-hover-bg-color;
    border-color: $btn-hover-border-color;
  }

  &:not(:disabled):active {
    color: $btn-active-text-color;
    background-color: $btn-active-bg-color;
    border-color: $btn-active-border-color;
  }

  &-sm {
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    font-size: $btn-font-size-sm;
    line-height: $btn-line-height-sm;
  }

  &-lg {
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    font-size: $btn-font-size-lg;
    line-height: $btn-line-height-lg;
  }

  &-block {
    width: 100%;
  }

  &-primary {
    color: $color-white;
    background-color: $btn-color-primary;
    border-color: $btn-color-primary;

    &:not(:disabled):hover {
      color: $color-white;
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }

    &:not(:disabled):active {
      color: $color-white;
      background-color: $color-primary-dark;
      border-color: $color-primary-dark;
    }
  }

  &-success {
    color: $color-white;
    background-color: $color-success;
    border-color: $color-success;

    &:not(:disabled):hover {
      color: $color-white;
      background-color: $color-success-light;
      border-color: $color-success-light;
    }

    &:not(:disabled):active {
      color: $color-white;
      background-color: $color-success-dark;
      border-color: $color-success-dark;
    }
  }

  &-info {
    color: $color-white;
    background-color: $color-info;
    border-color: $color-info;

    &:not(:disabled):hover {
      color: $color-white;
      background-color: $color-info-light;
      border-color: $color-info-light;
    }

    &:not(:disabled):active {
      color: $color-white;
      background-color: $color-info-dark;
      border-color: $color-info-dark;
    }
  }

  &-danger {
    color: $color-white;
    background-color: $color-danger;
    border-color: $color-danger;

    &:not(:disabled):hover {
      color: $color-white;
      background-color: $color-danger-light;
      border-color: $color-danger-light;
    }

    &:not(:disabled):active {
      color: $color-white;
      background-color: $color-danger-dark;
      border-color: $color-danger-dark;
    }
  }

  &-warning {
    color: $color-white;
    background-color: $color-warning;
    border-color: $color-warning;

    &:not(:disabled):hover {
      color: $color-white;
      background-color: $color-warning-light;
      border-color: $color-warning-light;
    }

    &:not(:disabled):active {
      color: $color-white;
      background-color: $color-warning-dark;
      border-color: $color-warning-dark;
    }
  }

  // &-secondary {
  //   // Add your styles here
  // }

  &-round {
    border-radius: 50px;
  }

  &-cirle {
    border-radius: 50%;
  }

  &-outline-default {
    background-color: transparent;

    &:not(:disabled):hover {
      color: $color-primary-light;
      background-color: transparent;
      border-color: $color-primary-light;
    }

    &:not(:disabled):focus,
    &:not(:disabled):active {
      color: $color-primary-dark;
      background-color: transparent;
      border-color: $color-primary-dark;
    }
  }

  &-outline {
    background-color: transparent;

    &.#{$btn}-primary {
      color: $btn-color-primary;
      background-color: transparent;
      border-color: $btn-color-primary;

      &:not(:disabled):hover {
        color: $color-white;
        background-color: $color-primary-light;
        border-color: $color-primary-light;
      }

      &:not(:disabled):active {
        color: $color-white;
        background-color: $color-primary-dark;
        border-color: $color-primary-dark;
      }
    }

    &.#{$btn}-success {
      color: $color-success;
      background-color: transparent;
      border-color: $color-success;

      &:not(:disabled):hover {
        color: $color-white;
        background-color: $color-success-light;
        border-color: $color-success-light;
      }

      &:not(:disabled):active {
        color: $color-white;
        background-color: $color-success-dark;
        border-color: $color-success-dark;
      }
    }

    &.#{$btn}-info {
      color: $color-info;
      background-color: transparent;
      border-color: $color-info;

      &:not(:disabled):hover {
        color: $color-white;
        background-color: $color-info-light;
        border-color: $color-info-light;
      }

      &:not(:disabled):active {
        color: $color-white;
        background-color: $color-info-dark;
        border-color: $color-info-dark;
      }
    }

    &.#{$btn}-danger {
      color: $color-danger;
      background-color: transparent;
      border-color: $color-danger;

      &:not(:disabled):hover {
        color: $color-white;
        background-color: $color-danger-light;
        border-color: $color-danger-light;
      }

      &:not(:disabled):active {
        color: $color-white;
        background-color: $color-danger-dark;
        border-color: $color-danger-dark;
      }
    }

    &.#{$btn}-warning {
      color: $color-warning;
      background-color: transparent;
      border-color: $color-warning;

      &:not(:disabled):hover {
        color: $color-white;
        background-color: $color-warning-light;
        border-color: $color-warning-light;
      }

      &:not(:disabled):active {
        color: $color-white;
        background-color: $color-warning-dark;
        border-color: $color-warning-dark;
      }
    }
  }

  &-transparent {
    color: $btn-link-default-color;

    &,
    &:hover,
    &:active {
      background-color: transparent !important;
      border-color: transparent !important;
    }

    &:not(:disabled):hover {
      color: $link-hover-color;
    }

    &:not(:disabled):focus,
    &:not(:disabled):active {
      color: $link-active-color;
    }
  }

  &-link-default,
  &-link {
    padding: 0;
    color: $link-color;
    text-decoration: underline;
    background: transparent;
    border: 0;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      background: transparent;
      border: 0;
      outline: 0;
    }

    &:hover {
      color: $link-hover-color;
    }

    &:focus,
    &:active {
      color: $link-active-color;
    }
  }

  &-link-default {
    color: $btn-link-default-color;
  }

  // button only icon in
  &-icon {
    padding: 0.8 * $button-sizer; //8px
    font-size: $font-size-xs;
    line-height: 1;

    .icon {
      margin-right: 0;
      margin-left: 0;
    }
  }

  // disabled status
  //
  &-disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $btn-disabled-color;
      cursor: not-allowed;
      background-color: $btn-disabled-bg-color;
      border-color: $btn-disabled-color;
    }
  }

  &-transparent.#{$btn}-disabled,
  &-transparent.#{$btn}[disabled],
  &-link.#{$btn}-disabled,
  &-link.#{$btn}[disabled],
  &-link-default.#{$btn}-disabled,
  &-link-default.#{$btn}[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }

  &-outline.#{$btn}-disabled,
  &-outline.#{$btn}[disabled],
  &-outline-default.#{$btn}-disabled,
  &-outline-default.#{$btn}[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: $btn-disabled-bg-color !important;
      border-color: $btn-disabled-border-color !important;
    }
  }
}

.apis {
  button {
    padding: 0.5em 1em;
    font-size: $font-size-md;
    color: $color-white;
    background-color: #1b6ec2;
    border-radius: 5px;
  }
  button:not(:disabled):hover {
    color: $color-white;
    background-color: #1861ac;
  }
}
