@import "./variables.scss";

// Vars
// =====================
$input: pj-input !default;

// Core
// =====================
.#{$input} {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  margin: 0;
  font-size: $input-font-size;
  line-height: $input-line-height;
  color: $input-color;
  border: $input-border-width $input-border-style $input-border-color;
  border-radius: $border-radius-base;
  box-shadow: none !important;

  &::placeholder {
    color: $input-placeholder-color;
  }


  &::-ms-reveal{
    display:none;
  }

  &::-ms-clear {
    display:none;
  }

  &:hover {
    border-color: $input-border-color-hover;
  }

  &:focus {
    border: 1px solid $input-border-color-focus;
    outline: none;
    box-shadow: none;
  }

  &-sm {
    height: $input-height-sm;
    padding: $input-padding-y-sm $input-padding-x-sm;
    font-size: $input-font-size-sm;
    line-height: $input-line-height-sm;
  }

  &-lg {
    height: $input-height-lg;
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $input-font-size-lg;
    line-height: $input-line-height-lg;
  }

  &:disabled {
    color: $input-disabled-color;
    cursor: not-allowed;
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border;

    &:hover {
      color: $input-disabled-color;
      background-color: $input-disabled-bg;
      border-color: $input-disabled-border;
    }

    &::placeholder {
      color: $input-disabled-color;
    }
  }
}

.#{$input}-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  > .#{$input} {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      z-index: 1;
    }
  }

  &:hover {
    .#{$input},
    .#{$input}-group-addon {
      border-color: $input-border-color-hover;
    }

    .#{$input} {
      border-right-color: $input-border-color;
    }

    .#{$input}-group-addon {
      color: $gray-darkest;
    }
  }

  .#{$input} {
    &:focus {
      border-color: $input-border-color-focus;
      border-right-color: $input-border-color;

      & + .#{$input}-group-addon {
        color: $input-border-color-focus;
        border-color: $input-border-color-focus;
      }
    }
  }

  &:focus-within {
    .#{$input},
    .#{$input}-group-addon {
      border-color: $input-border-color-focus;
    }

    .#{$input} {
      border-right-color: $input-border-color;
    }

    .#{$input}-group-addon {
      color: $input-border-color-focus;
    }
  }

  &-addon {
    box-sizing: border-box;
    display: flex;
    height: $input-height;
    padding: $input-group-addon-padding-y $input-group-addon-padding-x;
    margin-left: -$input-border-width;
    font-size: $input-font-size;
    line-height: $input-line-height;
    color: $gray;
    background-color: $input-group-addon-bg;
    border: $input-border-width $input-border-style $input-border-color;
    border-left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .#{$input}:disabled {
    cursor: not-allowed;
    border-color: $input-disabled-border;

    &:hover {
      border-color: $input-disabled-border;
    }

    + .#{$input}-group-addon {
      color: $input-disabled-color;
      cursor: not-allowed;
      background-color: $input-disabled-bg;
      border-color: $input-disabled-border;

      &:hover {
        border-color: $input-disabled-border;
      }
    }
  }
}
