@import "variables.scss";
// Vars
// =====================
$input: pj-input !default;
$input-group: pj-input-group !default;

$input-sizer: $sizer !default;

$input-font-size: $font-size-base;
$input-color: $text-color !default;

$input-border-color: $border-color !default;
$input-border-width: $border-width !default;
$input-border-style: solid !default;
$input-border-radius: $border-radius-lg !default;
$input-border-color-hover: $border-color-hover !default;
$input-border-color-focus: $border-color-active !default;

$input-height: 3*$input-sizer+2 !default; //32px
$input-padding-top: 0.4*$input-sizer !default; //4px
$input-padding-left: 1.5*$input-sizer !default; //15px
$input-line-height: 1.6*$input-sizer !default; //16px
$input-group-left: 16.7*$input-sizer !default; //167px

$input-placeholder-color: $gray-dark !default;

$disabled-bg: $color-white;
$disabled-border: $gray-border;
$disabled-color: $gray-border;

// Core
// =====================
.#{$input} {
  box-sizing: border-box;
  padding: $input-padding-top $input-padding-left;
  margin: 0;
  font-size: $input-font-size;
  line-height: $input-line-height;
  color: $input-color;
  border: $input-border-width $input-border-style $input-border-color;
  border-radius: $border-radius-base;
  box-shadow: none !important;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:hover {
    border-color: $input-border-color-hover;
  }

  &:focus {
    border: 1px solid $input-border-color-focus;
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
    border-color: $disabled-border;

    &:hover {
      color: $disabled-color;
      background-color: $disabled-bg;
      border-color: $disabled-border;
    }
  }

}
.#{$input-group} {
  position: relative;
  display: flex;
  flex-wrap: wrap; // For form validation feedback
  align-items: stretch;
  width: 100%;

  &-addon {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    height: $input-height;
    line-height: $input-height;
    text-align: center;
    border: $input-border-width $input-border-style $input-border-color;
  }
}
