// 1. Colors
//
// Grayscale and brand colors for use across Bootstrap.
$color-white: #fff !default;
$color-black: #000 !default;
$color-red: #f00 !default;
$color-yellow: #ff0 !default;
$color-blue: #00f !default;

$gray-darkest: #333 !default;
$gray-darker: #666 !default;
$gray-dark: #b3b3b3 !default;
$gray: #e6e6e6 !default;
$gray-light: #f2f2f2 !default;
$gray-lighter: #fafafa !default;
$gray-lightest: #fcfcfc !default;
$gray-border: #e6e6e6 !default;

$btn-color-primary:#215fdb;
$btn-color-hover:#2376eb;
$btn-color-disable:#acc4e6;
$color-primary: #215fdb;
$color-primary-active: #215fdb !default;
$color-primary-dark: #4c93d9;
$color-primary-light: #77b6f5;
$color-primary-black:#333 !default;
$color-success: #4be1ab !default;
$color-success-dark: #5cd29d !default;
$color-success-light: #6fe7bc !default;
$color-info: #57c7d4 !default;
$color-info-dark: #47b8c6 !default;
$color-info-light: #77d6e1 !default;
$color-warning: #f2a654 !default;
$color-warning-dark: #ec9940 !default;
$color-warning-light: #f4b066 !default;
$color-danger: #f96868 !default;
$color-danger-dark: #e9595b !default;
$color-danger-light: #fa7a7a !default;

// $gray-lightest: #b3b3b3;  wentit;
$color-opacity: rgba(0,0,0,0.7) !default;
// 2. Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-flex: false !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: false !default;

// 3. Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 12px !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (x: 0, y: 0),
  1: (x: ($spacer-x * 0.25), y: ($spacer-y * 0.25)),
  2: (x: ($spacer-x * 0.5), y: ($spacer-y * 0.5)),
  3: (x: $spacer-x, y: $spacer-y),
  4: (x: ($spacer-x * 1.5), y: ($spacer-y * 1.5)),
  5: (x: ($spacer-x * 3), y: ($spacer-y * 3))
) !default;

// 4. Fonts
//
// Font, line-height.
$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif !default;
$font-family-serif: georgia, "Times New Roman", times, serif !default;
$font-family-monospace: menlo, monaco, consolas, "Liberation Mono",
  "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$sizer: 10px !default;

// $font-size-base: 16px !default;
// $font-size-lg:   24px !default;
// $font-size-sm:   14px !default;
// $font-size-xs:   12px !default;

// by fish--
$font-size-base: 13px;
$font-size-lg: 16px !default;
$font-size-sm: 14px;
$font-size-xs: 12px !default;
$font-weight-normal: normal !default;
$font-weight-light: lighter !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.2 !default;

// 4. Border
//
// Border width, border radius
$border-width: 1px !default;
$border-color: $gray !default;
$border-color-hover: $gray-darker !default;
$border-color-active: $color-primary-active !default;
$border-radius-base: 2px !default;
$border-radius-lg: 6px !default;
$border-radius-sm: 2px !default;

// 4.1 Divider
//
// Divider color
// by fish--
$divider-color: rgba($gray-darkest, 0.06) !default;
$divider-color-dark: rgba($gray-darkest, 0.1) !default;

// 5. Box shadow
//
$box-shadow-1: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
$box-shadow-2: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
$box-shadow-3: 0 5px 8px 0 rgba(0, 0, 0, 0.24);
$box-shadow-4: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
$box-shadow-5: 0 9px 15px 0 rgba(0, 0, 0, 0.2);
$box-shadow-6: 0 0 10px 0 rgba(0,0,0,0.07);
$box-shadow-base: 0 5px 20px 0 rgba(0, 0, 0, 0.1) !default;

// by fish--
$box-shadow-t: 0 -5px 20px 0 rgba(#1d2531, 0.05) !default; // rgba($xxx-color,.09)
$box-shadow-b: 0 5px 20px 0 rgba(#1d2531, 0.05) !default;
$box-shadow-default: 0 2px 5px 0 rgba(#1d2531, 0.05) !default;

// 6. Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-dropdown-backdrop: 990 !default;
$zindex-dropdown: 1000 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

// 7. Text & Link
$text-title-color: $gray-darkest !default;
$text-subtitle-color: $gray-darker !default;
$text-color: $color-primary-black !default;
$text-describe-color: $gray !default;
$text-prompt-color: $gray-light !default;
$link-color: $color-primary !default;
$link-decoration: none !default;
$link-hover-color: $color-primary-light !default;
$link-active-color: $color-primary-dark !default;
$link-hover-decoration: underline !default;

// 8. Misc
$cursor-disabled: not-allowed !default;
// Transition duration
$transition-duration: 150ms !default;

// 9. disabled bg color
$disabled-bg: $color-white;
$disabled-border: $gray-border;
$disabled-color: $gray-border;

// mixins

@mixin clearfix() {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}
