$radio: "pj-radio" !default;

.#{$radio} {
  position: relative;
  line-height: 1;

  > input[type="radio"] {
    display: none;
  }

  label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  &-icon {
    &::before {
      display: inline-block;
      transition: transform 0.25s;
      transform: scale(0);
    }
  }

  &.#{$radio}-checked,
  & > input[type="radio"]:checked + label {
    i[class]:first-child {
      &::before {
        transform: scale(1);
      }
    }
  }

  &-solid {
    i:not([class]) {
      &::before {
        transition: transform 0;
        transform: scale(1);
      }
    }
  }
  
  &-plain {
    &.#{$radio}-checked,
    & > input[type="radio"]:checked + label {
      i {
        border-color: transparent;
      }
    }
  }

  &-inline {
    display: inline-block;
  }
}
