@import "@pluginjs/styles/variables.scss";
@import "core";
// Vars
// =====================
$radio-radio-space: 10px;
$radio-font-size: $font-size-base;
$radio-font-family: $font-family-base;

$radio-icon-font-size: 12px;
$radio-icon-border-radius: 50%;

$radio-border-color: $border-color;

$radio-color: $gray-darker;

$radio-primary-color: $color-primary;
$radio-success-color: $color-success;
$radio-info-color: $color-info;
$radio-warning-color: $color-warning;
$radio-danger-color: $color-danger;

$radio-disabled-color: $disabled-color;
$radio-disabled-solid-color: $color-white;

.#{$radio} {
  @mixin radio-border-variant($color) {
    &.#{$radio}-checked,
    & > input[type="radio"]:checked + label {
      .#{$radio}-icon {
        color: $color;
      }

      i:not([class]) {
        &::before {
          background: $color;
        }
      }
    }

    &.#{$radio}-solid {
      &.#{$radio}-checked,
      & > input[type="radio"]:checked + label {
        .#{$radio}-icon {
          color: $color;
          border-color: $color;
        }
  
        i:not([class]) {
          border-color: $color;
  
          &::before {
            background: $color;
          }
        }
      }
    }
    
  }
  
  margin: 0 $radio-radio-space $radio-radio-space 0;
  font-family: $radio-font-family;
  font-size: $radio-font-size;

  i {
    padding: 2px;
    margin-right: 6px;
    font-size: $radio-icon-font-size;
    border: 1px solid $radio-border-color;
    border-radius: $radio-icon-border-radius;
  }
  
  i:not([class]) {
    &::before {
      box-sizing: border-box;
      display: block;
      width: 10px;
      height: 10px;
      content: "";
      border: 5px solid transparent;
      border-radius: 50%;
    }
  }

  &-icon {
    padding: 1px !important;
    font-size: $radio-icon-font-size;
  }

  &-checked,
  &> input[type="radio"]:checked + label {
    i:not([class]) {
      &::before {
        background: #666;
        border: solid transparent !important;
        transition: all 0.5s ease;
      }
    }
  }

  &-primary {
    @include radio-border-variant($radio-primary-color);
  }
  
  &-success {
    @include radio-border-variant($radio-success-color);
  }
  
  &-info {
    @include radio-border-variant($radio-info-color);
  }
  
  &-warning {
    @include radio-border-variant($radio-warning-color);
  }
  
  &-danger {
    @include radio-border-variant($radio-danger-color);
  }

  &-disabled,
  input[type="radio"]:disabled + label{
    color: $radio-disabled-color;
    .#{$radio}-icon {
      color: $radio-disabled-color;
    }
  }

  &-solid {
    &.#{$radio}-checked,
    & > input[type="radio"]:checked + label {
      i:not([class]),
      .#{$radio}-icon {
        border-color: $radio-color;
      }
    }

    &.#{$radio}-disabled,
    input[type="radio"]:disabled + label{
      .#{$radio}-icon {
        color: $radio-disabled-solid-color;
        background: $radio-disabled-color !important;
        border-color: $radio-disabled-color !important;
      }
    }
  }
  
}

.#{$radio}-radio,
.#{$radio} > input[type="radio"][disabled] {
  cursor: not-allowed;
}
