@import "@pluginjs/arrows/src/css/arrows.scss";
@import "@pluginjs/dots/src/css/dots.scss";
// import swipe css
@import "@pluginjs/swipe/src/css/swipe.scss";

body {
	padding: 0;
	margin: 0;
	background-color: #fafbfc;
}

.container {

	@media (min-width: 576px) {
		max-width: 540px;
	}

	@media (min-width: 768px) {
		max-width: 720px;
	}

	@media (min-width: 992px) {
		max-width: 960px;
	}

	@media (min-width: 1200px) {
		max-width: 1140px;
	}

	@media (min-width: 1440px) {
		max-width: 1400px;
	}
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
}

.item-inner {
	position: relative;
}

.item-inner img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.item-inner h1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
