---
title: Headroom
layout: plain
styles:
- ../../plugins/sticky/css/sticky.css
- ../../plugins/headroom/css/headroom.css
scripts:
- ../../plugins/scroll-dir/scroll-dir.js
- ../../plugins/sticky/sticky.js
- ../../plugins/headroom/headroom.js
---
<style>
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .fixed-header li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin: 0 5px;
  }

  .fixed-header a {
    display: block;
    line-height: 60px;
    color: #444;
    text-decoration: none;
    padding: 0 20px;
    -webkit-transition: 0.2s;
            transition: 0.2s;
  }

  .fixed-header .active a {
    background: #222;
    color: #FFF;
  }

  section {
    height: 1080px;
    color: #FFF;
    text-align: center;
  }

  section:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    width: 0;
    height: 100%;
  }

  section .inner {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    max-width: 540px;
    margin: auto;
  }

  #home {
    background: #C2185B;
  }

  #section-1 {
    background: #2f51b5;
  }

  #section-2 {
    background: #00695c;
  }

  #section-3 {
    background: #ef6c00;
  }
</style>

<header id="main-header" class="fixed-header">
  <nav>
    <ul>
      <li class="active"><a href="#home">Home</a></li>
      <li><a href="#section-1">Section 1</a></li>
      <li><a href="#section-2">Section 2</a></li>
      <li><a href="#section-3">Section 3</a></li>
    </ul>
  </nav>
</header>
<main>
  <section id="home">
    <div class="inner">
      <h1>Home</h1>
    </div>
  </section>

  <section id="section-1">
    <div class="inner">
      <h2>Section 1</h2>
    </div>
  </section>

  <section id="section-2">
    <div class="inner">
      <h2>Section 2</h2>
    </div>
  </section>

  <section id="section-3">
    <div class="inner">
      <h2>Section 3</h2>
    </div>
  </section>

  <div class="apis"  style="max-width:650px; margin: 0 auto; position: fixed; bottom: 0px; left: 300px; z-index: 11111;">
    <button data-api="pinned" class="btn">type: pinned</button>
    <button data-api="stick" class="btn">type: stick</button>
    <button data-api="ontop" class="btn ontop">type: ontop</button>
    <button data-api="destroy" class="btn">destroy()</button>
  </div>
</main>
<script>
$(document).ready(function() {
  var className = '.fixed-header'
  let currentApi = {}

  var pinned = function() {
    currentApi = Pj.headroom(className, {
      type: 'pinned',
      onPinned: function() {
        console.log('onPinned')
      },
      onUnpinned: function() {
        console.log('onUnpinned')
      },
      onReady: function() {
        console.log('ready')
      },
      onDestroy: function() {
        console.log('destroy')
      }
    })
  }

  var stick = function() {
    currentApi = Pj.headroom(className, {
      type: 'stick',
      offset : '#section-1',
      onStick: function() {
        console.log('onStick')
      },
      onUnstick: function() {
        console.log('onUnstick')
      },
      onReady: function() {
        console.log('ready')
      },
      onDestroy: function() {
        console.log('destroy')
      }
    });
  }

  var ontop = function() {
    currentApi = Pj.headroom(className, {
      type: 'ontop',
      onTop: function() {
        console.log('onTop')
      },
      onUntop: function() {
        console.log('onUntop')
      },
      onReady: function() {
        console.log('ready')
      },
      onDestroy: function() {
        console.log('destroy')
      }
    });
  }

  var APIS = {
    destroy() {
      currentApi('destroy');
    },
    pinned,
    ontop,
    stick,
  }

  $('.apis').on('click', '[data-api]', function(event) {
    var api = $(this).data('api');
    if (api) {
      APIS[api]()
    }
  })

  pinned()
});
</script>
