---
title: GalleryPicker
layout: plugin
styles:
- ../../plugins/popover/css/popover.css
- ../../plugins/pop-dialog/css/pop-dialog.css
- ../../plugins/scrollable/css/scrollable.css
- ../../plugins/gallery-picker/css/gallery-picker.css
scripts:
- ../../plugins/gallery-picker/gallery-picker.js
---

<section>
  <h2>Default</h2>
{{#code}}
<input style="width:100%" type="text" class="example-default" value="">
<script>
  (function() {
    Pj.galleryPicker('.example-default');
  })();
</script>
{{/code}}

  <input style="width:100%" type="text" class="example-default" value="">
  <script>
    (function() {
      Pj.galleryPicker('.example-default', {
        add: function() {
          return ["../../plugins/gallery-picker/images/dog.jpg"];
        },
        change: function() {
          return "../../plugins/gallery-picker/images/sun.jpg";
        }
      });
    })();
  </script>
</section>

<section>
  <h2>Attribute</h2>
{{#code}}
<input style="width:100%" type="text" class="example-attribute" value="../../plugins/gallery-picker/images/grass.jpg,../../plugins/gallery-picker/images/minv.jpg,../../plugins/gallery-picker/images/mh370.jpg,../../plugins/gallery-picker/images/sun.jpg">
<script>
  (function() {
    Pj.galleryPicker('.example-attribute');
  })();
</script>
{{/code}}

  <input style="width:100%" type="text" class="example-attribute" value="../../plugins/gallery-picker/images/grass.jpg,../../plugins/gallery-picker/images/minv.jpg,../../plugins/gallery-picker/images/mh370.jpg,../../plugins/gallery-picker/images/sun.jpg">
  <script>
    (function() {
      Pj.galleryPicker('.example-attribute', {
        add: function() {
          return ["../../plugins/gallery-picker/images/sun.jpg", "../../plugins/gallery-picker/images/minv.jpg", "../../plugins/gallery-picker/images/mh370.jpg"];
        },
        change: function() {
          return "../../plugins/gallery-picker/images/sun.jpg";
        }
      });
    })();
  </script>
<section>
<h2>Locale</h2>
{{#code}}
<input style="width:100%" type="text" class="example-locale" value="">
<script>
  (function() {
    Pj.galleryPicker('.example-locale', {locale: 'zh'});
  })();
</script>
{{/code}}
  <input style="width:100%" type="text" class="example-locale" value="">
  <script>
    (function() {
      Pj.galleryPicker('.example-locale', {
        locale: 'zh',
        add: function() {
          return ["../../plugins/gallery-picker/images/dog.jpg"];
        },
        change: function() {
          return "../../plugins/gallery-picker/images/sun.jpg";
        }
      });
    })();
  </script>
</section>
<section>
  <h2>Api</h2>
  <input type="text" class="example-api" value="">
  <div>
    <button class="btn api-init">init()</button>
    <button class="btn api-set">set(data)</button>
    <button class="btn api-get">get()</button>
    <button class="btn api-val">val()</button>
    <button class="btn api-val-set">val(data)</button>
    <button class="btn api-clear">clear()</button>
    <button class="btn api-destroy">destroy()</button>
    <button class="btn api-enable">enable()</button>
    <button class="btn api-disable">disable()</button>
  </div>
  <div class="console"></div>
  <script>
    (function() {
      var $galleryPicker = {};
      function init() {
        $galleryPicker = Pj.galleryPicker('.example-api', {
          onReady: function() {
            log('ready', 'event');
          },
          onDestroy: function() {
            log('destroy', 'event');
          },
          onEnable: function() {
            log('enable', 'event');
          },
          onDisable: function() {
            log('disable', 'event');
          },
          onChange: function(val) {
            log('change: '+JSON.stringify(val), 'event');
          },
        }).data('gallery-picker');
      }

      document.querySelector('.api-init').addEventListener('click', function() {
        init();
      });

      document.querySelector('.api-set').addEventListener('click', function() {
        $galleryPicker.set(["../../plugins/gallery-picker/images/minv.jpg","../../plugins/gallery-picker/images/mh370.jpg"]);
        log('', 'set(data)');
      });
      document.querySelector('.api-get').addEventListener('click', function() {
        log($galleryPicker.get(), 'get()');
      });
      document.querySelector('.api-val').addEventListener('click', function() {
        log($galleryPicker.get(), 'val()');
      });
      document.querySelector('.api-val-set').addEventListener('click', function() {
        $galleryPicker.val("../../plugins/gallery-picker/images/mh370.jpg,../../plugins/gallery-picker/images/minv.jpg");
        log('', 'val(data)');
      });
      document.querySelector('.api-clear').addEventListener('click', function() {
        $galleryPicker.clear()
        log('', 'clear()');
      });
      document.querySelector('.api-disable').addEventListener('click', function() {
        $galleryPicker.disable()
      });
      document.querySelector('.api-destroy').addEventListener('click', function() {
        $galleryPicker.destroy()
      });
      document.querySelector('.api-enable').addEventListener('click', function() {
        $galleryPicker.enable()
      });
    })();
  </script>
</section>

<script>
// $(function(){
//   var api = $('.b-asGalleryPicker').asGalleryPicker({
//     add: function() {
//       return ["../../plugins/gallery-picker/images/dog.jpg"];
//     },
//     change: function() {
//       return "../../plugins/gallery-picker/images/sun.jpg";
//     }
//   });
//   $('.a-asGalleryPicker').asGalleryPicker({
//     add: function() {
//       return ["../../plugins/gallery-picker/images/sun.jpg", "../../plugins/gallery-picker/images/minv.jpg", "../../plugins/gallery-picker/images/mh370.jpg"];
//     },
//     change: function() {
//       return "../../plugins/gallery-picker/images/sun.jpg";
//     }
//   });
//   $('#api-get').on('click', function(e) {
//     e.preventDefault();
//     console.info($('.a-asGalleryPicker').asGalleryPicker('val'));
//     return false;
//   });
//   $('#api-clear').on('click', function() {
//     $('.a-asGalleryPicker').asGalleryPicker('clear');
//     return false;
//   });
//   $('#api-set').on('click', function(e) {
//     e.preventDefault();
//     $('.a-asGalleryPicker').asGalleryPicker('val', "../../plugins/gallery-picker/images/minv.jpg,../../plugins/gallery-picker/images/mh370.jpg");
//     return false;
//   });

//   $('.locale').asGalleryPicker({
//     locale: 'zh',
//     add: function() {
//       return ["../../plugins/gallery-picker/images/grass.jpg"];
//     },
//     change: function(index) {
//       return "../../plugins/gallery-picker/images/sun.jpg";
//     }
//   });
// });
</script>
