@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$hotspot: "pj-hotspot" !default;

// Core
// =====================
.#{$hotspot}s {
  position: relative;

  img {
    z-index: 0;
    width: 100%;
  }
}

.#{$hotspot} {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
