@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$hotspot: "pj-hotspot" !default;
// Core
// =====================
.#{$hotspot}s {
  position: relative;
  line-height: 1;

  img {
    z-index: 0;
    width: 100%;
  }
}

.#{$hotspot} {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
