@import "@pluginjs/styles/variables.scss";
@import "hotspots.core";

// Vars
// =====================
$hotspot-font-family: $font-family-base;
$hotspot-font-size: $font-size-sm;

$hotspot-padding: 9px;
$hotspot-border-width: 2px;

$hotspot-color: $gray-darkest;
$hotspot-hover-color: $color-primary;
$hotspot-hover-border-color: rgba($hotspot-hover-color, 0.2);

$hotspot-box-shadow: $box-shadow-5;
$hotspot-hide-size: 30px;

$hotspot-icon-spacer: 6px;

$hotspot-size: 30px;

$hotspot-text-font-size: $font-size-xs;
$hotspot-text-padding-x: 24px;
$hotspot-text-padding-y: calc(#{$hotspot-padding} - #{$hotspot-border-width});

$hotspot-border-color: rgba($hotspot-color, 0.2);

$hotspot-solid-color: $color-white;
$hotspot-solid-hover-color: $hotspot-solid-color;
$hotspot-solid-bgColor: rgba($color-black, 0.8);
$hotspot-solid-hover-bg: $color-primary;

// size
$hotspot-sm-dot-size: 14px;
$hotspot-sm-font-size: 10px;
$hotspot-sm-size: 28px;

$hotspot-md-dot-size: 16px;
$hotspot-md-font-size: $font-size-sm;
$hotspot-md-size: 30px;

$hotspot-lg-dot-size: 18px;
$hotspot-lg-font-size: $font-size-lg;
$hotspot-lg-size: 32px;

$hotspot-light-color: $color-white;

$hotspot-light-dot-bg: $gray-lightest;
$hotspot-light-dot-hover-bg: $color-primary;

$hotspot-light-borderColor: rgba($hotspot-light-color,0.2);
$hotspot-light-hover-color: $color-primary;

$hotspot-light-solid-color: $gray-darkest;
$hotspot-light-solid-bg-color: $gray-lightest;

//active hover
$hotspot-light-bordered-hover-border-color: rgba($hotspot-light-hover-color,0.2);
$hotspot-light-solid-hover-color: $color-white;
$hotspot-light-shadow-bg-active: $color-primary;

.#{$hotspot} {
  font-family: $hotspot-font-family;
  font-size: $hotspot-font-size;
  color: $hotspot-color;
  border: 2px solid transparent;
  transition: all 0.2s;

  &:hover,
  &-active {
    color: $hotspot-hover-color;
  }

  &-dot {
    &:hover,
    &-active {
      background-color: $hotspot-dot-hover-bg;
    }
  }

  &-icon,
  &-number {
    // display: flex;
    padding: $hotspot-icon-spacer;
    border-radius: 50%;
  }

  &-hide,
  &-number {
    width: $hotspot-size;
    height: $hotspot-size;
  }

  &-text {
    padding: $hotspot-text-padding-y $hotspot-text-padding-x;
    font-size: $hotspot-text-font-size;
    border-radius: 1000px;
  }

  &-bordered {
    border: 2px solid $hotspot-border-color;

    &:hover,
    &-active {
      border-color: $hotspot-hover-border-color;
    }
  }

  &-solid {
    color: $hotspot-solid-color;
    background-color: $hotspot-solid-bgColor;

    &:hover,
    &-active {
      color: $hotspot-solid-hover-color;
      background-color: $hotspot-solid-hover-bg;
    }
  }

  &-shadow {
    box-shadow: $hotspot-box-shadow;
  }

  &-sm {
    font-size: $hotspot-sm-font-size;

    &.#{$hotspot}-dot {
      width: $hotspot-sm-dot-size;
      height: $hotspot-sm-dot-size;
    }

    &.#{$hotspot}-hide,
    &.#{$hotspot}-number {
      width: $hotspot-sm-size;
      height: $hotspot-sm-size;
    }
  }

  &-md {
    font-size: $hotspot-md-font-size;

    &.#{$hotspot}-dot {
      width: $hotspot-md-dot-size;
      height: $hotspot-md-dot-size;
    }

    &.#{$hotspot}-hide,
    &.#{$hotspot}-number {
      width: $hotspot-md-size;
      height: $hotspot-md-size;
    }
  }

  &-lg {
    font-size: $hotspot-lg-font-size;

    &.#{$hotspot}-dot {
      width: $hotspot-lg-dot-size;
      height: $hotspot-lg-dot-size;
    }

    &.#{$hotspot}-hide,
    &.#{$hotspot}-number {
      width: $hotspot-lg-size;
      height: $hotspot-lg-size;
    }
  }
}

// light
.#{$hotspot}-light {
  &.#{$hotspot} {
    color: $hotspot-light-color;

    &:hover,
    &-active {
      color: $hotspot-light-hover-color;
    }

    &-dot {
      background-color: $hotspot-light-dot-bg;

      &:hover,
      &-active {
        background-color: $hotspot-light-dot-hover-bg;
      }
    }

    &-bordered {
      border-color: $hotspot-light-borderColor;

      &:hover,
      &-active {
        border-color: $hotspot-light-bordered-hover-border-color;
      }
    }

    &-solid {
      color: $hotspot-light-solid-color;
      background-color: $hotspot-light-solid-bg-color;

      &:hover,
      &-active {
        color: $hotspot-light-solid-hover-color;
        background-color: $hotspot-light-shadow-bg-active;
      }
    }
  }
}
