---
title: Tooltip
layout: plugin
styles:
- ../../plugins/tooltip/css/tooltip.css
scripts:
- ../../vendor/popper.js
- ../../plugins/tooltip/tooltip.js
---
<style>
.example {
  position: relative;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #f7f7f9;
}
.position-grid {
  display: flex;
  flex-wrap: wrap;
}
.position-cell {
  flex: 1 33.33%;
}
.position-cell a {
  display: inline-block;
  width: 90%;
  background: rgba(91,192,235,0.37);
  margin: 2px 0;
  padding: 16px 5px;
}
</style>
<section>
  <h3>Skin</h3>
  <div class="example">
    <button type="button" data-toggle="tooltip" data-theme="light" data-placement="top" title="Tooltip with light skin">
      Tooltip with light skin
    </button>
    <button type="button" data-toggle="tooltip" data-theme="shadow" data-placement="right" title="Tooltip with shadow skin">
      Tooltip with shadow skin
    </button>
  </div>
</section>
<section class="top-gap">
  <h3>Trigger</h3>
  <div class="example">
    <button type="button" data-toggle="tooltip" data-trigger="click" title="Tooltip with click">
      Tooltip with click
    </button>
    <button type="button" data-toggle="tooltip" data-trigger="hover focus" title="Tooltip with hover focus">
      Tooltip with hover focus
    </button>
    <button type="button" data-toggle="tooltip" data-trigger="hover" title="Tooltip with hover">
      Tooltip with hover
    </button>
    <button type="button" data-toggle="tooltip" data-trigger="focus" title="Tooltip with focus">
      Tooltip with focus
    </button>
    <button type="button" data-toggle="tooltip" data-trigger="manual" title="Tooltip with manual">
      Tooltip with manual
    </button>
  </div>
</section>
<section class="top-gap">
  <h3>Interactive demo</h3>
  <p>Hover over the buttons below to see their tooltips.</p>
  <div class="example">
    <button type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      Tooltip on top
    </button>
    <button type="button" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
      Tooltip on right
    </button>
    <button type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
      Tooltip on bottom
    </button>
    <button type="button" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
      Tooltip on left
    </button>
    <button type="button" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
      Tooltip with HTML
    </button>
  </div>
</section>
<section class="top-gap">
  <h3>Positons</h3>
  <div class="example position-grid">
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top-start" title="Top Start">Top Start</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Top">Top</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top-end" title="Top End">Top End</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="left-start" title="Left Start">Left Start</a></div>
    <div class="position-cell"></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="right-start" title="Right Start">Right Start</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Left">Left</a></div>
    <div class="position-cell"></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Right">Right</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="left-end" title="Left End">Left End</a></div>
    <div class="position-cell"></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="right-end" title="Right End">Right End</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom-start" title="Bottom Start">Bottom Start</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Bottom">Bottom</a></div>
    <div class="position-cell"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom-end" title="Bottom End">Bottom End</a></div>
  </div>
</section>
<section class="top-gap">
  <h3>Events</h3>
  <div class="example">
    <button type="button" class="btn tooltip-event" data-html="true" title="hello world">
      Tooltip with event
    </button>
    <div class="console"></div>
    <div class="apis pad-top-20">
      <button class="btn api-init">init</button>
      <button class="btn api-destroy">destroy</button>
      <button class="btn api-enable">enable</button>
      <button class="btn api-disable">disable</button>
      <button class="btn api-show">show</button>
      <button class="btn api-hide">hide</button>
      <button class="btn api-toggle">toggle</button>
    </div>
    <script>
      (function() {
        var $element = document.querySelector('.tooltip-event');

        var events = ['ready', 'enable', 'disable', 'destroy', 'hide', 'hidden', 'show', 'shown', 'inserted']

        for(var i = 0; i < events.length; i++) {
          $element.addEventListener('tooltip:'+events[i], function(event, instance) {
            console.log(event.type, 'event')
          });
        }

        var info = document.querySelector('.console');
        let API = null;

        document.querySelector('.api-init').addEventListener('click', function() {
          API = Pj.tooltip('.tooltip-event', {
            onReady: function() {
              info.insertAdjacentHTML('beforeend', '<p>init()</p>');
            }
          })
        });

        document.querySelector('.api-destroy').addEventListener('click', function() {
          API.destroy();

          info.insertAdjacentHTML('beforeend', '<p>destroy()</p>');
        });

        document.querySelector('.api-enable').addEventListener('click', function() {
          API.enable();

          info.insertAdjacentHTML('beforeend', '<p>enable()</p>');
        });

        document.querySelector('.api-disable').addEventListener('click', function() {
          API.disable();

          info.insertAdjacentHTML('beforeend', '<p>disable()</p>');
        });

        document.querySelector('.api-show').addEventListener('click', function() {
          API.show();

          info.insertAdjacentHTML('beforeend', '<p>show()</p>');
        });

        document.querySelector('.api-hide').addEventListener('click', function() {
          API.hide();

          info.insertAdjacentHTML('beforeend', '<p>hide()</p>');
        });

        document.querySelector('.api-toggle').addEventListener('click', function() {
          API.toggle();

          info.insertAdjacentHTML('beforeend', '<p>toggle()</p>');
        });
      })();
    </script>
  </div>
</section>

<script>
(function(){
  Pj.tooltip('[data-toggle="tooltip"]', {
    onMove() {

    }
  });
})();
</script>
