@import "@pluginjs/styles/variables.scss";
@import "before-after.core.scss";

// Vars
// =====================
$beforeAfter-label-color: $color-white;
$beforeAfter-label-text-shadow: 0 3px 7px rgba($color-black, 0.3);

$beforeAfter-handle-line-color: rgba($gray-light, 0.8);
$beforeAfter-handle-border-color: $beforeAfter-handle-line-color;
$beforeAfter-handle-box-shadow: $box-shadow-base;
$beforeAfter-handle-hover-line-color: $color-white;
$beforeAfter-handle-hover-border-color: $beforeAfter-handle-hover-line-color;
$beforeAfter-handle-arrow-color: $beforeAfter-handle-border-color;
$beforeAfter-handle-hover-arrow-color: $beforeAfter-handle-hover-border-color;

// Style
// =====================
.#{$beforeAfter}-label-before,
.#{$beforeAfter}-label-after {
  color: $beforeAfter-label-color;
  text-shadow: $beforeAfter-label-text-shadow;
}

.#{$beforeAfter}-handle {
  background: $beforeAfter-handle-line-color;
  box-shadow: $beforeAfter-handle-box-shadow;

  &:hover {
    background: $beforeAfter-handle-hover-line-color;

    .#{$beforeAfter}-arrow-before,
    .#{$beforeAfter}-arrow-after {
      color: $beforeAfter-handle-hover-arrow-color;
    }
  }
}

.#{$beforeAfter}-arrow-before,
.#{$beforeAfter}-arrow-after {
  color: $beforeAfter-handle-arrow-color;
}

@import "skins/circle";
@import "skins/outline";
@import "skins/line";
@import "skins/rectangle";
