---
title: table-sort
layout: plugin
styles:
- ../../plugins/table-sort/css/table-sort.css
- ../../css/font-awesome.min.css
scripts:
- ../../plugins/table-sort/table-sort.js
---
<section>
  <h3>Default</h3>
  <table id="default" style="width: 400px;">
    <thead>
      <tr>
        <th data-type="int">some int</th>
        <th data-type="float">some float</th>
        <th data-type="string">some string</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>15</td>
        <td>-.18</td>
        <td>banana</td>
      </tr>
      <tr>
        <td>95</td>
        <td>36</td>
        <td>coke</td>
      </tr>
      <tr>
        <td>2</td>
        <td>-152.5</td>
        <td>apple</td>
      </tr>
      <tr>
        <td>-53</td>
        <td>88.5</td>
        <td>zebra</td>
      </tr>
      <tr>
        <td>195</td>
        <td>-858</td>
        <td>orange</td>
      </tr>
    </tbody>
  </table>
{{#code}}
var table = Pj.tableSort('#default')
{{/code}}
  <h3>Custom icons</h3>
  <table id="custom-icons" style="width: 400px;">
    <thead>
      <tr>
        <th data-type="int">some int</th>
        <th data-type="float">some float</th>
        <th data-type="string">some string</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>15</td>
        <td>-.18</td>
        <td>banana</td>
      </tr>
      <tr>
        <td>95</td>
        <td>36</td>
        <td>coke</td>
      </tr>
      <tr>
        <td>2</td>
        <td>-152.5</td>
        <td>apple</td>
      </tr>
      <tr>
        <td>-53</td>
        <td>88.5</td>
        <td>zebra</td>
      </tr>
      <tr>
        <td>195</td>
        <td>-858</td>
        <td>orange</td>
      </tr>
    </tbody>
  </table>
{{#code}}
var customIconsTable = Pj.tableSort('#custom-icons', {
  icons: {
    sort: 'fa fa-sort',
    asc: 'fa fa-sort-asc',
    desc: 'fa fa-sort-desc'
  }
})
{{/code}}

  <div>
    <button class="btn api-init">init</button>
    <button class="btn api-destroy">destroy</button>
    <button class="btn api-enable">enable</button>
    <button class="btn api-disable">disable</button>
    <button class="btn api-set">set compare function</button>
    <button class="btn api-append">append Data</button>
    <button class="btn api-replace">replace Data</button>
    <button class="btn api-sort">sort by asc</button>
  </div>
  <div class="console"></div>
{{#code}}
$('.api-append').on('click', function() {
  var data = [
    {
      'some int': 233,
      'some float': 0.233,
      'some string': 'hello-world'
    },
    {
      'some int': 2333,
      'some float': 0.23,
      'some string': 'hello world!'
    }
  ]
  table.asTableSort('append', data)
})
$('.api-replace').on('click', function() {
  var data = [
    {
      'some int': 233,
      'some float': 0.233,
      'some string': 'hello-world'
    },
    {
      'some int': 2333,
      'some float': 0.23,
      'some string': 'hello world!'
    }
  ]
  table.asTableSort('replace', data)
})
{{/code}}
</section>

<script>
(function(){
  var table = Pj.tableSort('#default', {
    onReady: function() {
      console.log('ready', 'event');
    },
    onDestroy: function() {
      console.log('destroy', 'event');
    },
    onEnable: function() {
      console.log('enable', 'event');
    },
    onDisable: function() {
      console.log('disable', 'event');
    },
  })
  var customIconsTable = Pj.tableSort('#custom-icons', {
    icons: {
      sort: 'fa fa-sort',
      asc: 'fa fa-sort-asc',
      desc: 'fa fa-sort-desc'
    }
  })
  document.querySelector('.api-set').addEventListener('click', function() {
    console.log(table)
  })
  document.querySelector('.api-append').addEventListener('click', function() {
    var data = [
      {
        'some int': 233,
        'some float': 0.233,
        'some string': 'hello-world'
      },
      {
        'some int': 2333,
        'some float': 0.23,
        'some string': 'hello world!'
      }
    ]
    table('append', data)
  })
  document.querySelector('.api-replace').addEventListener('click', function() {
    var data = [
      {
        'some int': 233,
        'some float': 0.233,
        'some string': 'hello-world'
      },
      {
        'some int': 2333,
        'some float': 0.23,
        'some string': 'hello world!'
      }
    ]
    table('replace', data)
  })
  document.querySelector('.api-sort').addEventListener('click', function() {
    table.asTableSort('sort', 1, 'asc')
  })
  document.querySelector('.api-init').addEventListener('click', function() {
    console.info('init');
    table.asTableSort()
  });
  document.querySelector('.api-destroy').addEventListener('click', function() {
    console.info('destroy')
    table.asTableSort('destroy')
  });
  document.querySelector('.api-enable').addEventListener('click', function() {
    console.info('enable')
    table.asTableSort('enable')
  });
  document.querySelector('.api-disable').addEventListener('click', function() {
    console.info('disable')
    table.asTableSort('disable')
  });
})();
</script>
