@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$scrollbar: "pj-scrollbar" !default;

$scrollbar-handle-offset: 5px !default;
$scrollbar-size: 4px !default;
$scrollbar-drag-size: 8px !default;
$scrollbar-duration: 0.1s !default;

$scrollbar-bg: rgba($gray, 0.1) !default;
$scrollbar-color: $gray-light !default;
$scrollbar-hover-color: $gray !default;
$scrollbar-drag-color: $gray-dark !default;

// Core
// =====================
.#{$scrollbar} {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 0;
  user-select: none;
  background-color: $scrollbar-bg;
  transition: width $scrollbar-duration, height $scrollbar-duration;
  -webkit-touch-callout: none;

  &-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    cursor: pointer;
    background-color: $scrollbar-color;

    .#{$scrollbar}-hovering & {
      background-color: $scrollbar-hover-color;
    }

    .#{$scrollbar}-dragging & {
      background-color: $scrollbar-drag-color;
    }
  }

  &-vertical {
    width: $scrollbar-size;
    height: #{calc(100% - 2 * #{$scrollbar-handle-offset})};

    &.#{$scrollbar}-hovering,
    &.#{$scrollbar}-dragging {
      width: $scrollbar-drag-size;
    }
  }

  &-horizontal {
    width: #{calc(100% - 2 * #{$scrollbar-handle-offset})};
    height: $scrollbar-size;

    &.#{$scrollbar}-hovering,
    &.#{$scrollbar}-dragging {
      height: $scrollbar-drag-size;
    }
  }

  &-disabled {
    display: none;
  }
}
