@import "mixins/scrollbar";

@include scrollbar();

.example {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(200, 200, 200, 0.3);  /*stylelint-disable-line*/
  -moz-box-shadow: 1px 1px 2px 0 rgba(200, 200, 200, 0.3); /*stylelint-disable-line*/
  box-shadow: 1px 1px 2px 0 rgba(200, 200, 200, 0.3);
}
