@import "@pluginjs/styles/variables.scss";
@import "./scrollbar.core";

// Vars
// =====================
$scrollbar: "pj-scrollbar";

$scrollbar-guter: 2px;
$scrollbar-handle-offset: 5px;

$scrollbar-size: 4px;
$scrollbar-drag-size: 8px;

$scrollbar-radius: $scrollbar-size / 2;
$scrollbar-drag-radius: $scrollbar-drag-size / 2;

$scrollbar-drag-bg: rgba(206,206,206, 0.1);

$scrollbar-bg: rgba(206,206,206, 0.1);
$scrollbar-color: $gray-light;
$scrollbar-hover-color: #d6d6d6;
$scrollbar-drag-color: #cecece;

// Skin
// =====================
.#{$scrollbar} {
  background-color: $scrollbar-bg;
  border-radius: $scrollbar-radius;

  &-handle {
    background-color: $scrollbar-color;
    border-radius: inherit;
  }

  &-dragging,
  &-hovering {
    border-radius: $scrollbar-drag-radius;
  }

  &-hovering .#{$scrollbar}-handle {
    background-color: $scrollbar-hover-color;
  }

  &-dragging .#{$scrollbar}-handle {
    background-color: $scrollbar-drag-color;
  }

  &-vertical {
    margin: $scrollbar-handle-offset
      ($scrollbar-drag-size - $scrollbar-size) / 2;

    &.#{$scrollbar}-dragging,
    &.#{$scrollbar}-hovering {
      margin: $scrollbar-handle-offset $scrollbar-guter;
    }
  }

  &-horizontal {
    margin: ($scrollbar-drag-size - $scrollbar-size) / 2
      $scrollbar-handle-offset;

    &.#{$scrollbar}-dragging,
    &.#{$scrollbar}-hovering {
      margin: $scrollbar-guter $scrollbar-handle-offset;
    }
  }
}
