@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$sticky: "pj-sticky" !default;

// Core
// =====================
.#{$sticky}-parent {
  position: relative;
}

.#{$sticky}-sticky {
  position: fixed;
}

.#{$sticky}-stuck {
  position: absolute;
}

.#{$sticky}-hidden {
  visibility: hidden;
}
