@import "@pluginjs/styles/variables.scss";
@import "sticky.core.scss";

// Vars
// =====================
$sticky: "pj-sticky";

$sticky-heading-bg: $gray-lighter;

// Skin
// =====================
.#{$sticky}-heading {
  width: 100%;
  background-color: $sticky-heading-bg;
}
