@import "@pluginjs/styles/variables.scss";
@import "sticky.core";

// Vars
// =====================

$sticky-heading-font-size: $font-size-xs !default;
$sticky-heading-color: $gray-dark !default;
$sticky-heading-bg: $gray-lighter !default;
$sticky-heading-border-radius: $border-radius-base !default;
$sticky-content-font-size: $font-size-sm !default;
$sticky-content-color: $gray-darkest !default;
$sticky-content-bg: $color-white !default;

// Skin
// =====================
// stylelint-disable value-no-vendor-prefix
.heading {
  font-size: $sticky-heading-font-size;
  color: $sticky-heading-color;
  background: $sticky-heading-bg;
  border-radius: $sticky-heading-border-radius;
}
// stylelint-enable value-no-vendor-prefix
.content {
  font-size: $sticky-content-font-size;
  color: $sticky-content-color;
  background: $sticky-content-bg;
}
