---
title: TagList
layout: plugin
styles:
- ../../plugins/popover/css/popover.css
- ../../plugins/pop-dialog/css/pop-dialog.css
- ../../plugins/list/css/list.css
- ../../plugins/tag-list/css/tag-list.css
scripts:
- ../../plugins/tag-list/tag-list.js
---

<section>
  <h2>Default</h2>
{{#code}}
<input type="text" class="example-default">
<script>
  (function() {
    Pj.tagList('.example-default', {
      data: [
        'hello',
        'world'
      ]
    });
  })();
</script>
{{/code}}
  <input type="text" class="example-default">
  <script>
  (function() {
    Pj.tagList('.example-default', {
      data: [
        'hello',
        'world'
      ]
    });
  })();
</script>
</section>
<section>
  <h2>Locale</h2>
{{#code}}
  <input type="text" class="example-locale">
  <script>
  (function() {
    Pj.tagList('.example-locale', {
      locale: 'locale',
      data: data
    });
  })();
  </script>
{{/code}}
  <div class="example">
    <input type="text" class="example-locale">
  </div>
</section>
<section>
  <h2>Api</h2>
{{#code}}
  <input type="text" class="example-default">
  <script>
  (function() {
    ('.example-default', {
      data: data
    })();
  })();
  </script>
{{/code}}
  <div class="example">
    <input type="text" class="example-api">
    <div class="apis top-gap">
      <button class="btn api-init">init()</button>
      <button class="btn api-set">set(data)</button>
      <button class="btn api-get">get()</button>
      <button class="btn api-val">val()</button>
      <button class="btn api-val-set">val(data)</button>
      <button class="btn api-enable">enable()</button>
      <button class="btn api-disable">disable()</button>
      <button class="btn api-destroy">destroy()</button>
    </div>
    <div class="console"></div>
  </div>
</section>
<script>
  (function(){
    var data = [{
      title: 'Interfaces',
      value: 'interface'
    }, {
      title: 'UI Design',
      value: 'ui-design'
    }, {
      title: 'Web Design',
      value: 'web-design'
    }, {
      title: 'Typography',
      value: 'typography'
    }, {
      title: 'Landing',
      value: 'landing'
    }];

    Pj.tagList('.example-locale', {
      locale: 'zh',
      data: data,
      onReady: function() {
        log('ready', 'event');
      },
      onDestroy: function() {
        log('destroy', 'event');
      },
      onEnable: function() {
        log('enable', 'event');
      },
      onDisable: function() {
        log('disable', 'event');
      },
    });

    var $tagList = {}
    document.querySelector('.api-init').addEventListener('click', function() {
      $tagList = Pj.tagList('.example-api', {
        data: data
      });
    });

    document.querySelector('.api-set').addEventListener('click', function() {
      $tagList('set', [{
        "title": "Hello",
        "value": "hello"
      },{
        "title": "World",
        "value": "world"
      }]);
      log('', 'set(data)');
    });
    document.querySelector('.api-get').addEventListener('click', function() {
      log(JSON.stringify($tagList('get')), 'get()');
    });
    document.querySelector('.api-val').addEventListener('click', function() {
      log($tagList('val'), 'val()');
    });
    document.querySelector('.api-val-set').addEventListener('click', function() {
      $tagList('val', '["hello", "world"]');
      log('', 'val(data)');
    });
    document.querySelector('.api-enable').addEventListener('click', function() {
      $tagList('enable');
    });
    document.querySelector('.api-disable').addEventListener('click', function() {
      $tagList('disable');
    });
    document.querySelector('.api-destroy').addEventListener('click', function() {
      $tagList('destroy');
    });
  })();
</script>
