---
title: Dynamic Number
layout: plugin
scripts:
- ../../plugins/dynamic-number/dynamic-number.js
---
<style>
.dynamic-number {
  display: block;
}
</style>

<section>
  <h3>Default</h3>
  <span class="dynamic-number" data-from="0" data-to="100">0</span>
{{#code}}
<span class="dynamic-number" data-from="0" data-to="100">0</span>
{{/code}}
</section>

<section>
  <h3>Options</h3>
  <section>
    <h4>from</h4>
    <span class="dynamic-number" data-from="10" data-to="100">10</span>
{{#code}}
<span class="dynamic-number" data-from="0" data-to="100">0</span>
{{/code}}
  </section>

  <section>
    <h4>to</h4>
    <span class="dynamic-number" data-from="0" data-to="50">0</span>
{{#code}}
<span class="dynamic-number" data-from="0" data-to="50">0</span>
{{/code}}
  </section>

  <section>
    <h4>decimals</h4>
    <span class="dynamic-number" data-from="0" data-to="30" data-decimals="2">0</span>
{{#code}}
<span class="dynamic-number" data-from="0" data-to="30" data-decimals="2">0</span>
{{/code}}
  </section>
</section>

<section>
  <h3>Format</h3>
  <section>
    <h4>currency</h4>
    <span class="dynamic-number" data-from="0" data-to="30" data-currency='{"indicator": "$"}' data-format="currency">$0</span>
{{#code}}
<span class="dynamic-number" data-from="0" data-to="30" data-currency='{"indicator": "$"}' data-format="currency">$0</span>
{{/code}}
  </section>

  <section>
    <h4>group</h4>
    <span class="dynamic-number" data-from="0.00" data-to="10000.00" data-decimals="0" data-format="group">0</span>
{{#code}}
<span class="dynamic-number" data-from="0.00" data-to="10000.00" data-decimals="0" data-format="group">0</span>
{{/code}}
  </section>

  <section>
    <h4>percentage</h4>
    <span class="dynamic-number" data-from="0" data-to="30" data-format="percentage">0%</span>
{{#code}}
<span class="dynamic-number" data-from="0" data-to="30" data-format="percentage">0%</span>
{{/code}}
  </section>

  <section>
    <h4>custom_callback</h4>
    <span class="dynamic-number" data-from="0" data-to="30" data-format="custom_callback">%0</span>

{{#code}}
<span class="dynamic-number" data-from="0" data-to="30" data-format="custom_callback">%0</span>
<script>
function custom_callback(value) {
  return '%' + value;
}
</script>
{{/code}}
  </section>
</section>

<script>
  function custom_callback(value) {
    return '%' + value;
  }
  (function() {
    const start = plugin => plugin.start()
    Pj.dynamicNumber('.dynamic-number').map(start);
    console.log(Pj.dynamicNumber('.dynamic-number'))
  })();
</script>

<section>
  <h3>Events</h3>
  <section>
    <h4>onUpdate</h4>
    <span class="example-on-update" data-from="0" data-to="100">0</span>
{{#code}}
  $('.example-on-update').asDynamicNumber({
    onUpdate: function(n) {
      if (n > 75) {
        this.$element.css('color', 'red');
      } else if (n < 40) {
        this.$element.css('color', 'green')
      } else {
        this.$element.css('color', 'orange');
      }
    }
  }).asDynamicNumber('start');
{{/code}}
    <script>
    (function() {
      const a = Pj.dynamicNumber('.example-on-update', {
        onUpdate: function(n) {
          if (n > 75) {
            this.element.style.color = 'red';
          } else if (n < 40) {
            this.element.style.color = 'green'
          } else {
            this.element.style.color = 'orange';
          }
        }
      }).start();
    })();
    </script>
  </section>
</section>

<section>
  <h3>Api</h3>
  <span class="example-api" data-from="0" data-to="100">0</span>
  <div>
    <button class="btn" id="api_start">start()</button>
    <button class="btn" id="api_finish">finish()</button>
    <button class="btn" id="api_go">go('50')</button>
    <button class="btn" id="api_go_100">go('100')</button>
    <button class="btn" id="api_stop">stop()</button>
    <button class="btn" id="api_reset">reset()</button>
    <div class="console"></div>
    <script>
    (function() {
      var $example = Pj.dynamicNumber('.example-api', {
        onReady: function() {
          log('ready', 'event');
        },
        onDestroy: function() {
          log('destroy', 'event');
        },
        onStart: function() {
          log('start', 'event');
        },
        onStop: function () {
          log('stop', 'event');
        },
        onFinish: function () {
          log('finish', 'event');
        },
        onReset: function () {
          log('reset', 'event');
        },
      });

      document.querySelector('#api_start').addEventListener('click', function() {
        $example.asDynamicNumber('start');
      });
      document.querySelector('#api_finish').addEventListener('click', function() {
        $example.asDynamicNumber('finish');
      });
      document.querySelector('#api_go').addEventListener('click', function() {
        $example.asDynamicNumber('go', 50);
      });
      document.querySelector('#api_go_100').addEventListener('click', function() {
        $example.asDynamicNumber('go', 100);
      });
      document.querySelector('#api_stop').addEventListener('click', function() {
        $example.asDynamicNumber('stop');
      });
      document.querySelector('#api_reset').addEventListener('click', function() {
        $example.asDynamicNumber('reset');
      });
    });
    </script>
  </div>
</section>
