//slide
.#{$toast}-slideRight {
  animation: #{$toast}-slideRight 0.7s forwards;
}

@keyframes #{$toast}-slideRight {
  0% {
    opacity: 0;
    transform: translateX(280px);
  }

  50% {
    opacity: 1;
    transform: translateX(-20px);
  }

  70% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.#{$toast}-slideLeft {
  animation: #{$toast}-slideLeft 0.7s forwards;
}

@keyframes #{$toast}-slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-280px);
  }

  50% {
    opacity: 1;
    transform: translateX(20px);
  }

  70% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}
