@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$paginator: "pj-paginator" !default;

// Core
// =====================
.#{$paginator} {
  list-style: none;
  user-select: none;
}

.#{$paginator}-item,
.#{$paginator}-list-prev,
.#{$paginator}-list-next {
  display: inline-block;
}

.#{$paginator}-prev {
  float: left;
}

.#{$paginator}-next {
  float: right;
}

.#{$paginator}-link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$paginator}-active {
  z-index: 2;
}
