@import "@pluginjs/styles/variables.scss";
@import "paginator.core.scss";

// Vars
// =====================
// input var
$paginator-input-width: 74px;
$paginator-input-height: 32px;
$paginator-input-margin: 5px;
$paginator-input-radius: $border-radius-sm;

$paginator-padding: 5px 10px;
$paginator-icon-margin: 10px;
$paginator-pre-color: $gray-darkest;
$paginator-bg: $color-white !default;
$paginator-border-width: $border-width !default;
$paginator-border-color: $gray-border !default;
$paginator-hover-color: $color-primary !default;
$paginator-hover-bg: $paginator-bg !default;
$paginator-hover-border: $color-primary !default;
$paginator-hover-input-border: $gray-dark !default;
$paginator-active-color: $color-white !default;
$paginator-active-bg: $color-primary !default;
$paginator-active-border: $color-primary !default;

// disabled
$paginator-disabled-color: $gray !default;
$paginator-disabled-bg: $color-white !default;
$paginator-disabled-border: $gray !default;


// Theme
// =====================

.#{$paginator}-prev {
  float: left;

  i {
    margin-right: $paginator-icon-margin;
    line-height: 1.5;
    vertical-align: middle;
  }
}

.#{$paginator}-next {
  float: right;

  i {
    margin-left: $paginator-icon-margin;
    line-height: 1.5;
    vertical-align: middle;
  }
}

.#{$paginator}-prev,
.#{$paginator}-next {
  .#{$paginator}-link {
    color: $paginator-pre-color;

    &:hover {
      color: $paginator-active-bg;
      cursor: pointer;
    }
  }
}

.#{$paginator}-link {
  color: $paginator-color;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $paginator-hover-color;
    background-color: $paginator-hover-bg;
    border-color: $paginator-hover-border;
  }
}

.#{$paginator}-active {
  .#{$paginator}-link {
    &,
    &:hover,
    &:focus {
      color: $paginator-active-bg;
      border-bottom: 2px solid $paginator-active-border;
    }
  }
}

.#{$paginator}-jumper input {
  box-sizing: border-box;
  width: $paginator-input-width;
  height: $paginator-input-height;
  padding: $paginator-padding;
  margin-left: $paginator-input-margin;
  border: 1px solid $paginator-border-color;
  border-radius: $paginator-input-radius;

  &:focus,
  &:hover {
    border-color: $paginator-hover-input-border;
    outline: none;
  }
}

.#{$paginator}-disabled {
  // disabled 
  &.#{$paginator}-prev,
  &.#{$paginator}-next {
    cursor: $cursor-disabled;
    .#{$paginator}-link {
      pointer-events: none;

      &,
      &:hover,
      &:focus {
        color: $paginator-disabled-color;
        background-color: $paginator-disabled-bg;
      }
    }
  }
}

// clear both
.#{$paginator}-prev::before,
.#{$paginator}-prev::after,
.#{$paginator}-next::before,
.#{$paginator}-next::after {
  display: table;
  content: "";
}

.#{$paginator}-prev::after,
.#{$paginator}-next::after {
  clear: both;
}
