@import "@pluginjs/styles/variables.scss";
@import "paginator.core";

// Vars
// =====================
$paginator-input-width: 3.5 * $paginator-font-size !default;
$paginator-padding: 0.3125 * $paginator-font-size 0.625 * $paginator-font-size !default;
$paginator-icon-margin: 0.625 * $paginator-font-size !default;
$paginator-pre-size: 0.8125 * $paginator-font-size !default;
$paginator-pre-color: $gray-darkest !default;

// Theme
// =====================

.#{$paginator}-prev {
  float: left;

  i {
    margin-right: $paginator-icon-margin;
    line-height: 1.42858;
    vertical-align: middle;
  }
}

.#{$paginator}-next {
  float: right;

  i {
    margin-left: $paginator-icon-margin;
    line-height: 1.42858;
    vertical-align: middle;
  }
}

.#{$paginator}-prev,
.#{$paginator}-next {
  .#{$paginator}-link {
    font-size: $paginator-pre-size;
    color: $paginator-pre-color;

    &:hover {
      color: $paginator-active-bg;
      cursor: pointer;
    }
  }
}

// .#{$paginator}-total,
// .#{$paginator}-jumper {
//   padding-right: 0.1875rem;
//   padding-left: 0.1875rem;
//   margin-right: 0.3125rem;
//   margin-left: 0.3125rem;
// }

.#{$paginator}-jumper input {
  width: $paginator-input-width;
  padding: $paginator-padding;
  border: 1px solid $paginator-border-color;
  border-radius: 4px;

  &:focus,
  &:hover {
    border-color: $paginator-hover-input-border;
    outline: none;
  }
}

// clear both
.#{$paginator}-prev::before,
.#{$paginator}-prev::after,
.#{$paginator}-next::before,
.#{$paginator}-next::after {
  display: table;
  content: "";
}

.#{$paginator}-prev::after,
.#{$paginator}-next::after {
  clear: both;
}
