@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$tooltip: "pj-tooltip" !default;
$tooltip-zindex: $zindex-tooltip !default;
$tooltip-opacity: 0.9 !default;
$tooltip-margin: 3px !default;
$tooltip-bg: $gray-darkest !default;
$tooltip-arrow-width: 5px !default;
$tooltip-arrow-color: $tooltip-bg !default;
$tooltip-arrow-offset-x: 10px !default;

@mixin reset-text {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
}

// Core
// =====================
.#{$tooltip} {
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();

  z-index: $tooltip-zindex;
  // Allow breaking very long words so they don't overflow the tooltip's bounds
  word-wrap: break-word;
  opacity: 0;

  &-show {
    opacity: $tooltip-opacity;
  }

  &-inner {
    &::before {
      position: absolute;
      pointer-events: none;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }

  &[x-placement^="top"] {
    padding-bottom: $tooltip-arrow-width;
    margin-bottom: $tooltip-margin;

    .#{$tooltip}-inner::before {
      bottom: 0;
      border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
      border-top-color: $tooltip-arrow-color;
    }
  }

  &[x-placement^="bottom"] {
    padding-top: $tooltip-arrow-width;
    margin-top: $tooltip-margin;

    .#{$tooltip}-inner::before {
      top: 0;
      border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
      border-bottom-color: $tooltip-arrow-color;
    }
  }

  &[x-placement="top"],
  &[x-placement="bottom"] {
    .#{$tooltip}-inner::before {
      left: 50%;
      margin-left: -$tooltip-arrow-width;
    }
  }

  &[x-placement="top-end"],
  &[x-placement="bottom-end"] {
    .#{$tooltip}-inner::before {
      right: $tooltip-arrow-offset-x;
      margin-left: 0;
    }
  }

  &[x-placement^="right"] {
    padding-left: $tooltip-arrow-width;
    margin-left: $tooltip-margin;

    .#{$tooltip}-inner::before {
      left: 0;
      border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
      border-right-color: $tooltip-arrow-color;
    }
  }

  &[x-placement^="left"] {
    padding-right: $tooltip-arrow-width;
    margin-left: -$tooltip-margin;

    .#{$tooltip}-inner::before {
      right: 0;
      border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
      border-left-color: $tooltip-arrow-color;
    }
  }

  &[x-placement="left"],
  &[x-placement="right"] {
    .#{$tooltip}-inner::before {
      top: 50%;
      margin-top: -$tooltip-arrow-width;
    }
  }

  &[x-placement="left-end"],
  &[x-placement="right-end"] {
    .#{$tooltip}-inner::before {
      top: $tooltip-arrow-offset-x;
      margin-top: $tooltip-arrow-width;
    }
  }

  &-fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  
    &.#{$tooltip}-show {
      opacity: 1;
    }
  }
}
