@import "@pluginjs/styles/variables.scss";
@import "tooltip.core";
// Vars
// =====================
$tooltip: "pj-tooltip" !default;
$tooltip-light-color: $text-color !default;
$tooltip-light-bg: $color-white !default;
$tooltip-light-box-shadow: $box-shadow-base !default;
$tooltip-light-arrow-color: $tooltip-light-bg !default;

//base style vars
$tooltip-position-grid-margin-x: 100px !default;
$tooltip-position-cell-a-padding-y: 0.9rem !default;
$tooltip-position-cell-a-padding-x: 2rem !default;
$tooltip-position-cell-a-margin-y: 20px !default;

//base style
.position-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 $tooltip-position-grid-margin-x;
}

.position-cell {
  flex: 1 33.33%;
}

.position-cell a {
  display: inline-block;
  padding: $tooltip-position-cell-a-padding-y $tooltip-position-cell-a-padding-x;
  margin-top: $tooltip-position-cell-a-margin-y;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// light
// =====================
.#{$tooltip}--light {
  .#{$tooltip}-inner {
    color: $tooltip-light-color;
    background-color: $tooltip-light-bg;
    box-shadow: $tooltip-light-box-shadow;
  }

  &[x-placement^="top"],
  &[x-placement^="bottom"] {
    .#{$tooltip}-inner::before {
      border-top-color: $tooltip-light-arrow-color;
      border-bottom-color: $tooltip-light-arrow-color;
    }
  }

  &[x-placement^="left"],
  &[x-placement^="right"] {
    .#{$tooltip}-inner::before {
      border-right-color: $tooltip-light-arrow-color;
      border-left-color: $tooltip-light-arrow-color;
    }
  }
}
