---
title: Wizard
layout: plugin
styles:
- ../../plugins/wizard/css/wizard.css
scripts:
- ../../vendor/jquery.validate.min.js
- ../../plugins/wizard/wizard.js
---
<style>
  .page-content {
    overflow: hidden;
  }
</style>
<section>
  <h3>Basic</h3>
  <div id="exampleBasic" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li class="active" role="tab">
        Step 1
      </li>
      <li role="tab">
        Step 2
      </li>
      <li role="tab">
        Step 3
      </li>
    </ul>
    <div class="pj-wizard-content">
      <div class="pj-wizard-pane active" role="tabpanel">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</div>
      <div class="pj-wizard-pane" role="tabpanel">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
      <div class="pj-wizard-pane" role="tabpanel">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
    </div>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>

    {{!-- <a class="pj-wizard-back" href="#exampleBasic" data-wizard="back" role="button">Back</a> --}}
  </div>
  <script type="text/javascript">
    (function() {
      $('#exampleBasic').asWizard({
        onFinish: function() {
          alert('finish');
        }
      });
    })();
  </script>
</section>
<section>
  <h3>Step target</h3>
  <div id="exampleTarget" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li data-target="#step1" class="active" role="tab">
        Step 1
      </li>
      <li data-target="#step2" role="tab">
        Step 2
      </li>
      <li data-target="#step3" role="tab">
        Step 3
      </li>
    </ul>
    <div class="pj-wizard-content">
      <div class="pj-wizard-pane active" id="step1" role="tabpanel">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</div>
      <div class="pj-wizard-pane" id="step2" role="tabpanel">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
      <div class="pj-wizard-pane" id="step3" role="tabpanel">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
    </div>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>
  </div>
  <script type="text/javascript">
    (function() {
      $('#exampleTarget').asWizard({
        onFinish: function() {
          alert('finish');
        }
      });
      var i = 1;
      $('#exampleTarget').asWizard('get', '#step2').setValidator(function() {
        i++;
        if (i % 2 == 1) {
          return true;
        } else {
          return false;
        }
      });
    })();
  </script>
</section>
<section>
  <h3>Enable When Visited</h3>
  <div id="exampleEnableWhenVisited" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li class="active" role="tab">
        Step 1
      </li>
      <li role="tab">
        Step 2
      </li>
      <li role="tab">
        Step 3
      </li>
    </ul>
    <div class="pj-wizard-content">
      <div class="pj-wizard-pane active" role="tabpanel">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</div>
      <div class="pj-wizard-pane" role="tabpanel">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
      <div class="pj-wizard-pane" role="tabpanel">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
    </div>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>
  </div>
  <script type="text/javascript">
    (function() {
      $('#exampleEnableWhenVisited').asWizard({
        enableWhenVisited: true,
        onFinish: function() {
          alert('finish');
        }
      });
    })();
  </script>
</section>
<section>
  <h3>Validator</h3>
  <p>This example using <a href="http://formvalidation.io/api/#validate-container">FormValidation</a> Plugin. You can also code your own validate function or using another form validation plugin.</p>
  <div id="exampleValidator" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li class="active" role="tab">
        Step 1
      </li>
      <li role="tab">
        Step 2
      </li>
      <li role="tab">
        Step 3
      </li>
    </ul>
    <form id="validation" class="form-horizontal">
      <div class="pj-wizard-content">
        <div class="pj-wizard-pane active" role="tabpanel">
          <div class="pj-wizard-formGroup">
            <p>
            <label class="pj-wizard-controlLabel" for="username">Username</label>
            <input class="pj-wizard-formControl" id="username" name="username" type="text" class="error">
            </p>
          </div>
        </div>
        <div class="pj-wizard-pane" role="tabpanel">
          <div class="pj-wizard-formGroup">
            <p>
            <label class="pj-wizard-controlLabel" for="cemail">E-Mail (required)</label>
            <input class="pj-wizard-formControl" id="cemail" type="email" name="email" required>
            </p>
          </div>
        </div>
        <div class="pj-wizard-pane" role="tabpanel">
          <div class="pj-wizard-formGroup">
            <p>
            <label class="pj-wizard-controlLabel" for="password">Password</label>
            <input class="pj-wizard-formControl" id="password" name="password" type="password">
            </p>
          </div>
        </div>
      </div>
    </form>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>
  </div>
  <script type="text/javascript">
    (function() {
      $('#exampleValidator').asWizard({
        onInit: function() {
          $('#validation').validate({
            // framework: 'bootstrap',
            rules: {
              username: {
                required: true,
                minlength: 5,
              },
              password: {
                required: true,
                minlength: 5
              }
            },
            messages: {
              username: {
                required: "Please enter a username",
                minlength: "Your username must consist of at least 5 characters",
              },
              password: {
                required: "Please provide a password",
                minlength: "Your password must be at least 5 characters long"
              },
              email: "Please enter a valid email address"
            }
          });
        },
        validator: function() {
          var fv = $('#validation').data('validator');
          // Validate the container
          var isValidStep = fv.valid();
          if (isValidStep === false || isValidStep === null) {
            return false;
          }
          return true;
        },
        onFinish: function() {
          $('#validation').submit();
          alert('finish');
        }
      });
    })();
  </script>
</section>
<section>
  <h3>SetValidator</h3>
  <p>You can set validator for step respectively.</p>
  <div id="exampleSetValidator" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li data-target="#form1" class="active" role="tab">
        Form 1
      </li>
      <li data-target="#form2" role="tab">
        Form 2
      </li>
      <li data-target="#form3" role="tab">
        Form 3
      </li>
    </ul>
    <div class="pj-wizard-content">
      <div class="pj-wizard-pane" id="form1" role="tabpanel">
        <div class="pj-wizard-formGroup">
          <input type="text" class="pj-wizard-formControl" placeholder="Please input 'a'" name="a" />
        </div>
      </div>
      <div class="pj-wizard-pane" id="form2" role="tabpanel">
        <div class="pj-wizard-formGroup">
          <input type="text" class="pj-wizard-formControl" placeholder="Please input 'b'" name="b" />
        </div>
      </div>
      <div class="pj-wizard-pane" id="form3" role="tabpanel">
        <div class="pj-wizard-formGroup">
          <input type="text" class="pj-wizard-formControl" placeholder="Please input 'c'" name="c" />
        </div>
      </div>
    </div>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>
  </div>
  <script type="text/javascript">
    (function() {
      var wizard = Pj.wizard('#exampleSetValidator', {
        onFinish: function() {
          alert('finish');
        }
      });
      wizard.get('#form1').setValidator(function() {
        if ($(this).find('[name="a"]').val() === 'a') {
          return true;
        } else {
          return false;
        }
      });
      wizard.get('#form2').setValidator(function() {
        if ($(this).find('[name="b"]').val() === 'b') {
          return true;
        } else {
          return false;
        }
      });
      wizard.get('#form3').setValidator(function() {
        if ($(this).find('[name="c"]').val() === 'c') {
          return true;
        } else {
          return false;
        }
      });
    })();
  </script>
</section>
<section>
  <h3>SetValidator using Data Attr</h3>
  <div id="exampleSetValidatorAttr" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li class="active" role="tab">
        Form 1
      </li>
      <li role="tab">
        Form 2
      </li>
      <li role="tab">
        Form 3
      </li>
    </ul>
    <div class="pj-wizard-content">
      <div class="pj-wizard-pane active" data-validator="validateCallbackA" role="tabpanel">
        <div class="pj-wizard-formGroup">
          <input type="text" class="pj-wizard-formControl" placeholder="Please input 'a'" name="a" />
        </div>
      </div>
      <div class="pj-wizard-pane" data-validator="validateCallbackB" role="tabpanel">
        <div class="pj-wizard-formGroup">
          <input type="text" class="pj-wizard-formControl" placeholder="Please input 'b'" name="b" />
        </div>
      </div>
      <div class="pj-wizard-pane" data-validator="validateCallbackC" role="tabpanel">
        <div class="pj-wizard-formGroup">
          <input type="text" class="pj-wizard-formControl" placeholder="Please input 'c'" name="c" />
        </div>
      </div>
    </div>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>
  </div>
  <script type="text/javascript">
    function validateCallbackA() {
      if ($(this).find('[name="a"]').val() === 'a') {
        return true;
      } else {
        return false;
      }
    }
    function validateCallbackB() {
      if ($(this).find('[name="b"]').val() === 'b') {
        return true;
      } else {
        return false;
      }
    }
    function validateCallbackC() {
      if ($(this).find('[name="c"]').val() === 'c') {
        return true;
      } else {
        return false;
      }
    }
    $('#exampleSetValidatorAttr').asWizard({
      onFinish: function() {
        alert('finish');
      }
    });
  </script>
</section>
<section>
  <h3>Loader</h3>
  <div id="exampleLoader" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li data-target="#loader1" class="active" role="tab">
        Loader 1
      </li>
      <li data-target="#loader2" role="tab">
        Loader 2
      </li>
      <li data-target="#loader3" role="tab">
        Loader 3
      </li>
    </ul>
    <div class="pj-wizard-content">
      <div class="pj-wizard-pane active" id="loader1" role="tabpanel"></div>
      <div class="pj-wizard-pane" id="loader2" role="tabpanel"></div>
      <div class="pj-wizard-pane" id="loader3" role="tabpanel"></div>
    </div>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>
  </div>
  <script type="text/javascript">
    (function() {
      var wizard = $('#exampleLoader').asWizard({
        onFinish: function() {
          alert('finish');
        }
      }).data('wizard');

      wizard.get('#loader1').setLoader(function() {
        return '<h4>Hello World</h4>' +
          '<p>some content</p>';
      });
      // use jquery ajax object
      // http://api.jquery.com/jQuery.ajax/
      wizard.get('#loader2').setLoader({
        url: '../../plugins/wizard/assets/ajax/1.html',
        settings: {
          type: 'GET',
          dataType: 'html'
        }
      });
      // We can using callback process the ajax object. It will be called when we load the content.
      wizard.get('#loader3').setLoader(function() {
        return {
          url: '../../plugins/wizard/assets/ajax/2.html',
          settings: {
            type: 'POST',
            data: {
              email: $("#inputEmail").val(),
              password: $('#inputPassword').val()
            }
          }
        };
      });
    })();
  </script>
</section>
<section>
  <h3>Set Loader Using Pane Data Attr</h3>
  <div id="exampleLoaderAttr" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li class="active" role="tab">
        Loader 1
      </li>
      <li role="tab">
        Loader 2
      </li>
      <li role="tab">
        Loader 3
      </li>
    </ul>
    <div class="pj-wizard-content">
      <div class="pj-wizard-pane active" data-loader="loaderCallback" role="tabpanel"></div>
      <div class="pj-wizard-pane" data-loader-url="../../plugins/wizard/assets/ajax/1.html" data-loader-setting="{'type': 'GET','dataType': 'html'}" role="tabpanel"></div>
      <div class="pj-wizard-pane" data-loader="loaderAjaxCallback" role="tabpanel"></div>
    </div>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>
  </div>
  <script type="text/javascript">
    function loaderCallback() {
      return '<h4>Hello World</h4>' +
        '<p>some content</p>';
    }
    function loaderAjaxCallback() {
      return {
        url: '../../plugins/wizard/assets/ajax/2.html',
        settings: {
          type: 'POST',
          data: {
            email: $("#inputEmail").val(),
            password: $('#inputPassword').val()
          }
        }
      };
    }
    $('#exampleLoaderAttr').asWizard({
      cacheContent: true, // loader will only excute once
      onFinish: function() {
        alert('finish');
      }
    });
  </script>
</section>
<section>
  <h3>Events</h3>
  <div id="exampleEvents" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li class="active" role="tab">
        Step 1
      </li>
      <li role="tab">
        Step 2
      </li>
      <li role="tab">
        Step 3
      </li>
    </ul>
    <div class="pj-wizard-content">
      <div class="pj-wizard-pane active" role="tabpanel">Step 1 Content</div>
      <div class="pj-wizard-pane" role="tabpanel">Step 2 Content</div>
      <div class="pj-wizard-pane" data-loader-url="../../plugins/wizard/assets/ajax/3.html" role="tabpanel"></div>
    </div>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>
  </div>
  <div class="console"></div>
  <script type="text/javascript">
    $(function(){
      $('#exampleEvents').asWizard({
        onInit: function() {
          log('init');
        },
        onNext: function(from, to) {
          log('next:' + from.index + ' to ' + to.index);
        },
        onBack: function(from, to) {
          log('back:' + from.index + ' to ' + to.index);
        },
        onReset: function() {
          log('reset');
        },
        onBeforeShow: function(step) {
          log('beforeShow:' + step.index);
        },
        onAfterShow: function(step) {
          log('afterShow:' + step.index);
        },
        onBeforeHide: function(step) {
          log('beforeHide:' + step.index);
        },
        onAfterHide: function(step) {
          log('afterHide:' + step.index);
        },
        onBeforeLoad: function(step) {
          log('beforeLoad:' + step.index);
        },
        onAfterLoad: function(step) {
          log('afterLoad:' + step.index);
        },
        onBeforeChange: function(from, to) {
          log('BeforeChange:' + from.index + ' to ' + to.index);
        },
        onAfterChange: function(from, to) {
          log('AfterChange:' + from.index + ' to ' + to.index);
        },
        onFinish: function() {
          log('finish');
        }
      });
    });
  </script>
</section>
<section>
  <h3>StateChange Event</h3>
  <div id="exampleStateChange" class="wizard">
    <ul class="pj-wizard-steps" role="tablist">
      <li class="active" role="tab">
        Step 1
      </li>
      <li role="tab">
        Step 2
      </li>
      <li role="tab">
        Step 3
      </li>
    </ul>
    <div class="pj-wizard-content">
      <div class="pj-wizard-pane active" data-validator="validateCallbackA" role="tabpanel">
        <div class="pj-wizard-formGroup">
          <input type="text" class="pj-wizard-formControl" placeholder="Please input 'a'" name="a" />
        </div>
      </div>
      <div class="pj-wizard-pane" role="tabpanel">Step 2 Content</div>
      <div class="pj-wizard-pane" role="tabpanel">Step 3 Content</div>
    </div>
    <div class="pj-wizard-buttons">
      <a class="pj-wizard-default" data-wizard="back">Previous</a>
      <a class="pj-wizard-primary" data-wizard="next">Next</a>
      <a class="pj-wizard-success" data-wizard="finish">Finish</a>
    </div>
  </div>
  <script type="text/javascript">
    (function() {
      $('#exampleStateChange').asWizard({
        onStateChange: function(step, enter, state) {
          switch (state) {
            case 'error':
              if (enter) {
                alert('Get a error on step ' + step.index);
              } else {
                alert('Resolved the error');
              }
              break;
          }
        },
        onFinish: function() {
          alert('finish');
        }
      });
    })();
  </script>
</section>
