$lightbox: "pj-lightbox" !default;

.#{$lightbox}-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $lightbox-z-index-base + 3;
  width: 100%;
  height: 100%;
  outline: none !important;

  .#{$lightbox}-slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    touch-action: none;
    opacity: 0;
    // transition: opacity .4s ease, transform .4s ease;

    &.#{$lightbox}-slide-transition {
      transition: opacity 0.4s ease, transform 0.4s ease;
    }

    &.#{$lightbox}-ready {
      opacity: 1 !important;
    }
  }
}

.#{$lightbox}-item,
.#{$lightbox}-item-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  touch-action: none;
  // transform: translate3d(0,0,0);
  // backface-visibility: hidden;
  // transform-origin: center;
  .#{$lightbox}-content {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.35s ease;

    &.#{$lightbox}-loaded {
      visibility: visible;
      opacity: 1;
    }

    &.#{$lightbox}-vertical-center {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    .#{$lightbox}-title {
      // font-weight: 400;
      margin-top: 12px;
      font-size: 21px;
    }
  }

  .#{$lightbox}-map,
  .#{$lightbox}-iframe {
    width: 900px;
    height: 641px;
  }

  .#{$lightbox}-video {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.#{$lightbox}-play {
      background: 0 0;
      background-image: none !important;
    }

    as-video {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .#{$lightbox}-loader {
    position: absolute;
    top: 50%;
    right: 8px;
    left: 8px;
    z-index: 1044;
    width: auto;
    margin-top: -0.8em;
    // color: #ccc;
    text-align: center;

    &.#{$lightbox}-hide {
      display: none;
    }
  }
}

.#{$lightbox}-image,
.#{$lightbox}-map,
.#{$lightbox}-iframe,
.#{$lightbox}-inline,
.#{$lightbox}-ajax,
.#{$lightbox}-video {
  display: block;
  max-width: none;
  padding: 0;
  margin: 0;
  opacity: 1;
  // visibility: hidden;
  // transition: opacity .35s ease;

  // &.#{$lightbox}-loaded {
  //   opacity: 1;
  //   visibility: visible;
  // }
}
