#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  background: #FFF;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    margin: 0 5px;
    color: #fff;
    text-transform: uppercase;
  }

  a {
    display: block;
    padding: 0 20px;
    line-height: 60px;
    color: #444;
    text-decoration: none;
    transition: 0.2s;
  }

  .active a {
    color: #FFF;
    background: #222;
  }
}

section {
  position: relative;
  min-height: 100vh;
  line-height: 100vh;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 32px;
    color: #fff;
    white-space: nowrap;
  }
}

#home {
  background: #C2185B;
}

#section-1 {
  background: #2f51b5;
}

#section-2 {
  background: #00695c;
}

#section-3 {
  background: #ef6c00;
}
