@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$toast: "pj-toast" !default;
$toast-width: 392px !default;
$toast-middle-width: 200px !default;
$toast-progress-height: 15px !default;
$toast-padding-top: 24px !default;
$toast-close-right: 15px !default;
$toast-close-top: $toast-padding-top + 3px !default;

$toast-loader-height: 4px !default;
$toast-loader-top: -$toast-loader-height !default;

$toast-wrap-gutter: 20px !default;

// Core
// =====================
@mixin gradient-striped($color: rgba($color-white, 0.15), $angle: 45deg) {
  background-image:
    linear-gradient(
      $angle,
      $color 25%,
      transparent 25%,
      transparent 50%,
      $color 50%,
      $color 75%,
      transparent 75%,
      transparent
    );
}

@keyframes progress-bar-stripes {
  from {
    background-position: $toast-progress-height 0;
  }

  to {
    background-position: 0 0;
  }
}

.#{$toast} {
  position: relative;
  box-sizing: border-box;

  &-close {
    position: absolute;
    top: $toast-close-top;
    right: $toast-close-right;
  }
  
  &-title {
    display: flex;
    align-items: center;
  }

  &-btn {
    line-height: 1;
  }
  
  &-loader {
    position: absolute;
    top: $toast-loader-top;
    left: 0;
    overflow: hidden;
  }

  &-wrap {
    position: fixed;

    &.#{$toast}-bottom-right {
      right: $toast-wrap-gutter;
      bottom: $toast-wrap-gutter;
    }
  
    &.#{$toast}-bottom-left {
      bottom: $toast-wrap-gutter;
      left: $toast-wrap-gutter;
    }
  
    &.#{$toast}-top-right {
      top: $toast-wrap-gutter;
      right: $toast-wrap-gutter;
    }
  
    &.#{$toast}-top-left {
      top: $toast-wrap-gutter;
      left: $toast-wrap-gutter;
    }
  
    &.#{$toast}-bottom-center {
      bottom: $toast-wrap-gutter;
      left: calc(50% - #{$toast-width} / 2);
    }
  
    &.#{$toast}-top-center {
      top: $toast-wrap-gutter;
      left: calc(50% - #{$toast-width} / 2);
    }
  
    &.#{$toast}-mid-center {
      top: 50%;
      left: calc(50% - #{$toast-width} / 2);
      transform: translateY(-50%);
    }
  }
}

@media only screen and (min-width: 800px) {
  .#{$toast}-wrap {
    width: $toast-width;
  }
}

@media only screen and (max-width: 799px) {
  .#{$toast}-wrap {
    width: $toast-middle-width;

    &.#{$toast}-bottom-center {
      bottom: $toast-wrap-gutter;
      left: calc(50% - #{$toast-middle-width} / 2);
    }
  
    &.#{$toast}-top-center {
      top: $toast-wrap-gutter;
      left: calc(50% - #{$toast-middle-width} / 2);
    }
  
    &.#{$toast}-mid-center {
      top: 50%;
      left: calc(50% - #{$toast-middle-width} / 2);
      transform: translateY(-50%);
    }
  }
}
