@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$toast: "pj-toast" !default;
$toast-wrap-width: 400px !default;
$toast-wrap-gutter: 20px !default;

$toast-close-top: 0 !default;
$toast-close-right: 0 !default;

$toast-loader-height: 4px !default;
$toast-loader-top: -$toast-loader-height !default;

$toast-loader-color: $color-primary !default;

// Core
// =====================
.#{$toast} {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  &-has-icon {
    align-items: center;
    justify-content: flex-end;

    .#{$toast}-title {
      flex: 1;
    }
  }

  &-close {
    position: absolute;
    top: $toast-close-top;
    right: $toast-close-right;
  }

  &-content {
    width: 100%;
  }

  &-title {
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $toast-loader-height;
    overflow: hidden;
    transform: translateY(-100%);

    &-bar {
      width: 0%;
      height: 100%;
      background-color: $toast-loader-color;
    }
  }

  &-wrap {
    position: fixed;
    box-sizing: border-box;
    width: $toast-wrap-width;
    max-width: 100%;
    padding: $toast-wrap-gutter;

    &[class*="#{$toast}-bottom"] {
      bottom: 0;
    }

    &[class*="#{$toast}-top"] {
      top: 0;
    }

    &[class$="left"] {
      left: 0;
    }

    &[class$="right"] {
      right: 0;
    }

    &[class$="center"] {
      left: 50%;
      transform: translateX(-50%);
    }

    &.#{$toast}-mid-center {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@import "effects/slide";
@import "effects/fade";
@import "effects/effect";
