@import "@pluginjs/styles/variables.scss";
@import "toast.core";
// Vars
// =====================
$toast-btn-padding-x: 13.5px;
$toast-btn-padding-y: 30px;
$toast-btn-padding: $toast-btn-padding-x $toast-btn-padding-y;
$toast-btn-font-size: $font-size-sm;

.toast-btn {
  padding: $toast-btn-padding;
  font-size: $toast-btn-font-size;
}
