@import "@pluginjs/styles/variables.scss";
@import "toast.core";

// Vars
// =====================
$toast: "pj-toast";

$toast-font-family: $font-family-base;
$toast-font-size: $font-size-sm;
$toast-color: $gray-darker;
$toast-bg: $color-white;

$toast-padding: 24px;
$toast-padding-y: 16px;
$toast-padding-right: 38px;

$toast-gutter: 20px;

$toast-box-shadow: $box-shadow-4;
$toast-border-radius: $border-radius-base;

$toast-title-font-size: 16px;
$toast-title-font-weight: $font-weight-medium;
$toast-title-line-height: 1em;
$toast-title-color: $gray-darkest;

$toast-icon-font-size: $font-size-lg;
$toast-icon-gutter: 10px;

$toast-close-font-size: $font-size-base;
$toast-close-top: $toast-padding-y + ($toast-title-font-size - $toast-close-font-size) / 2;
$toast-close-right: $toast-padding-right;
$toast-close-color: $gray;
$toast-close-hover-color: $gray-darker;

$toast-content-top-gutter: 10px;

$toast-loader-height: 4px;
$toast-loader-color: $color-primary;
$toast-loader-bg: $gray-lighter;

$toast-buttons-top-gutter: 20px;
$toast-button-gutter: 12px;
$toast-button-only-title-gutter: 8px;

$toast-success-color: $color-success;
$toast-info-color: $color-info;
$toast-warning-color: $color-warning;
$toast-error-color: $color-danger;

// Skin
// =====================
.#{$toast} {
  padding: $toast-padding-y $toast-padding;
  // padding-right: $toast-padding-right;
  font-family: $toast-font-family;
  font-size: $toast-font-size;
  color: $toast-color;
  background: $toast-bg;
  border-radius: 0 0 $toast-border-radius $toast-border-radius;
  box-shadow: $toast-box-shadow;

  & + & {
    margin-top: $toast-gutter;
  }

  &-close {
    top: $toast-close-top;
    right: $toast-close-right;
    z-index: 1;
    padding: 0;
    font-size: $toast-close-font-size;
    color: $toast-close-color;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    transform: translateX(100%);

    &:not(:disabled):hover {
      color: $toast-close-hover-color;
    }
  }

  &-title {
    font-size: $toast-title-font-size;
    font-weight: $toast-title-font-weight;
    line-height: $toast-title-line-height;
    color: $toast-title-color;

    + .#{$toast}-content {
      margin-top: $toast-content-top-gutter;
    }
  }

  &-icon {
    margin-right: $toast-icon-gutter;
    font-size: $toast-icon-font-size;
  }

  &-loader {
    height: $toast-loader-height;
    background-color: $toast-loader-bg;
    border-radius: $toast-border-radius $toast-border-radius 0 0;

    &-bar {
      background-color: $toast-loader-color;
    }
  }

  &-buttons {
    margin-top: $toast-buttons-top-gutter;
    text-align: right;
  }

  &-btn {
    & + & {
      margin-left: $toast-button-gutter;
    }
  }

  &-success {
    .#{$toast}-icon {
      color: $toast-success-color;
    }

    .#{$toast}-loader-bar {
      background-color: $toast-success-color;
    }
  }

  &-info {
    .#{$toast}-icon {
      color: $toast-info-color;
    }

    .#{$toast}-loader-bar {
      background-color: $toast-info-color;
    }
  }

  &-warning {
    .#{$toast}-icon {
      color: $toast-warning-color;
    }

    .#{$toast}-loader-bar {
      background-color: $toast-warning-color;
    }
  }

  &-error {
    .#{$toast}-icon {
      color: $toast-error-color;
    }

    .#{$toast}-loader-bar {
      background-color: $toast-error-color;
    }
  }

  // icon + content
  &-has-icon {
    .#{$toast}-content {
      padding-left: $toast-icon-font-size + $toast-icon-gutter;
    }
  }

  //title + button
  &-only-title {
    padding-right: $toast-padding-right;

    .#{$toast}-buttons {
      margin-top: 0;
      margin-right: $toast-button-only-title-gutter;
    }

    .#{$toast}-close {
      top: $toast-close-top + $btn-padding-y;
    }
  }
}
