@import "@pluginjs/styles/variables.scss";
@import "./image-picker.core";

// Vars
// =====================
$imagePicker: "pj-imagePicker";
$imagePicker-width: 160px;
$imagePicker-height: 90px;

$imagePicker-font-family: $font-family-base;
$imagePicker-font-size: $font-size-base;

$imagePicker-color: $gray;
$imagePicker-hover-color: $color-primary-black;

$imagePicker-padding: 4px;

$imagePicker-border-width: 1px;
$imagePicker-border-color: $border-color;
$imagePicker-border: $imagePicker-border-width solid $imagePicker-border-color;
$imagePicker-border-radius: $border-radius-base;
// icon
$imagePicker-icon-font-size: $font-size-lg;
$imagePicker-icon-spacer: 17px;
$imagePicker-icon-empty-margin: 10px;
$imagePicker-icon-trigger-action: $color-white;
// write
$imagePicker-write-border-style: dashed;
// change
$imagePicker-change-bg: $gray-darker;
$imagePicker-change-opacity: $color-opacity;

// Style
// =====================
.#{$imagePicker} {
  width: $imagePicker-width;
  height: $imagePicker-height;
  padding: $imagePicker-padding;
  font-family: $imagePicker-font-family;
  text-align: center;
  border: $imagePicker-border;
  border-radius: $imagePicker-border-radius;

  &-empty {
    font-size: $imagePicker-font-size;
    color: $imagePicker-color;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    cursor: pointer;

    i {
      margin-bottom: $imagePicker-icon-empty-margin;
      font-size: $imagePicker-icon-font-size;
    }

    &:hover {
      color: $imagePicker-hover-color;
    }
  }

  &-fill {
    border-radius: $imagePicker-border-radius;
  }

  &-trigger-action {
    font-size: $imagePicker-icon-font-size;
    color: $imagePicker-icon-trigger-action;
    text-align: center;
    background-color: $imagePicker-change-bg;
    border-radius: $imagePicker-border-radius;
  }

  &-remove,
  &-reselect {
    margin: 0 $imagePicker-icon-spacer;
  }

  &-fadeOut {
    animation: fadeOut 0.3s;
    animation-fill-mode: forwards;
  }

  &-fadeIn {
    animation: fadeIn 0.3s;
    animation-fill-mode: forwards;
  }
}

//state
.#{$imagePicker}-write {
  &.#{$imagePicker} {
    border-style: $imagePicker-write-border-style;
  }
}

.#{$imagePicker}-exist {
  border-style: solid;

  &.#{$imagePicker}-hover {
    .#{$imagePicker} {
      &-trigger-action {
        background: $imagePicker-change-opacity;
        opacity: 1;
        transition: all 300ms ease-in-out;
      }
    }
  }
}

.#{$imagePicker}-disabled {
  background-color: $disabled-bg;
  border-color: $disabled-border;

  .#{$imagePicker}-fill {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
    border-color: $disabled-border;
  }

  .#{$imagePicker}-empty,
  .#{$imagePicker}-trigger-action {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
    border-color: $disabled-border;

    .#{$imagePicker}-reselect,
    .#{$imagePicker}-remove {
      cursor: not-allowed;
    }
  }
}

// animations
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
