@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$imagePicker: "pj-imagePicker" !default;
$imagePicker-sizer: $sizer !default;

$imagePicker-width: 16 * $imagePicker-sizer !default; //160px
$imagePicker-height: 9 * $imagePicker-sizer !default; //90px
$imagePicker-border-width: 1px !default;
$imagePicker-border-color: $gray-lighter !default;
$imagePicker-border: $imagePicker-border-width solid $imagePicker-border-color !default;
$imagePicker-border-radius: $border-radius-base !default;
$imagePicker-color: $gray-light !default;
// empty
$imagePicker-empty-border-style: dashed !default;
// change
$imagePicker-change-bg: $gray-darker !default;
$imagePicker-change-opacity:  rgba(0,0,0,0.7) !default;
// init
$imagePicker-init-hover-bg: $gray-lightest !default;

// Core
// =====================
input.#{$imagePicker}-input {
  display: none;
}

.#{$imagePicker} {
  // animations
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  position: relative;
  display: block;
  width: $imagePicker-width;
  height: $imagePicker-height;
  padding: 1px;
  text-align: center;
  border: $imagePicker-border;
  border-radius: $imagePicker-border-radius;

  &-initial {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: $font-size-sm;
    color: $imagePicker-color;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    cursor: pointer;

    i {
      display: block;
      font-size: $font-size-base + 5; //18px
    }

    &:hover {
      color: $color-primary-black;
    }
  }

  &-info {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: $imagePicker-border-radius;
  }

  &-info-change {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: $font-size-sm;
    line-height: $imagePicker-height;
    color: $color-white;
    text-align: center;
    background-color: $imagePicker-change-bg;
    border-radius: $imagePicker-border-radius;
  }

  &-info-remove,
  &-info-reselect {
    margin: 0 $imagePicker-sizer; //0 10px

    &:hover {
      color: $gray-lighter;
      cursor: pointer;
    }
  }

  &-info-image {
    width: 100%;
    height: 100%;
  }

  &-fadeOut {
    animation: fadeOut 0.3s;
    animation-fill-mode: forwards;
  }

  &-fadeIn {
    animation: fadeIn 0.3s;
    animation-fill-mode: forwards;
  }
}

//state
.#{$imagePicker}-empty {
  &.#{$imagePicker} {
    border-style: $imagePicker-empty-border-style;
  }

  .#{$imagePicker} {
    // &-initial {
    //   display: block;
    // }

    &-info {
      display: none;
    }
  }
}

.#{$imagePicker}-exist {
  border-style: solid;

  .#{$imagePicker} {
    &-initial {
      display: none;
    }

    &-info-change {
      opacity: 0;
    }

    &-info-image {
      display: block;
    }
  }

  &.#{$imagePicker}-hover {
    .#{$imagePicker} {
      &-info-change {
        background: $imagePicker-change-opacity;
        opacity: 1;
        transition: all 300ms ease-in-out;
        // display: block;
      }
    }
  }
}

.#{$imagePicker}-disabled {
  background-color: $disabled-bg;
  border-color: $disabled-border;
  .#{$imagePicker}-info {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
    border-color: $disabled-border;

    &-reselect,
    &-remove {
      cursor: not-allowed;
    }
  }
  .#{$imagePicker}-initial,
  .#{$imagePicker}-info-change {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;
    border-color: $disabled-border;
  }
}
