@import "@pluginjs/styles/variables.scss";

// Vars
// ======================
$svgProgress: "pj-svgProgress" !default;
$svgProgress-width: 100px !default;

// Core
// ======================
.#{$svgProgress} {
  position: relative;
  width: $svgProgress-width;
  max-width: 100%;
  text-align: center;
  transform-style: preserve-3d;

  &-svg {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    vertical-align: middle;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }

  &-number,
  &-label,
  &-icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    .#{$svgProgress}-number,
    .#{$svgProgress}-label,
    .#{$svgProgress}-icon {
      position: static;
      transform: none;
    }
  }
}
