@import "@pluginjs/styles/variables.scss";
@import "svg-progress.core";

// Vars
// ======================
$svgProgress: "pj-svgProgress";

$svgProgress-font-family: $font-family-base;
$svgProgress-number-font-size: $font-size-lg;
$svgProgress-label-font-size: $font-size-xs;

// Core
// ======================
.#{$svgProgress} {
  font-family: $svgProgress-font-family;

  &-number {
    font-size: $svgProgress-number-font-size;
  }

  &-label {
    font-size: $svgProgress-label-font-size;
  }
}
