/* fadeScale: Fade in and scale up */
.#{$lightbox}-fadeScaleIn {
  animation: Lightbox-fadeScaleIn $lightbox-duration;
}

.#{$lightbox}-fadeScaleOut {
  animation: Lightbox-fadeScaleOut $lightbox-duration forwards;
}

@keyframes Lightbox-fadeScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Lightbox-fadeScaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
