/* fall: fall */
.#{$lightbox}-fallIn {
  animation: Lightbox-fallIn $lightbox-duration;
}

.#{$lightbox}-fallOut {
  animation: Lightbox-fallOut $lightbox-duration forwards;
}

@keyframes Lightbox-fallIn {
  0% {
    opacity: 0;
    transform: translateZ(600px) rotateX(20deg);
    transform-style: preserve-3d;
  }

  100% {
    opacity: 1;
    transform: translateZ(0) rotateX(0deg);
  }
}

@keyframes Lightbox-fallOut {
  0% {
    opacity: 1;
    transform: translateZ(0) rotateX(0deg);
  }

  100% {
    opacity: 0;
    transform: translateZ(600px) rotateX(20deg);
    transform-style: preserve-3d;
  }
}
