/* flipHorizontal: 3D flip horizontal */
.#{$lightbox}-flipHorizontalIn {
  animation: Lightbox-flipHorizontalIn $lightbox-duration;
}

.#{$lightbox}-flipHorizontalOut {
  animation: Lightbox-flipHorizontalOut $lightbox-duration forwards;
}

@keyframes Lightbox-flipHorizontalIn {
  0% {
    opacity: 0;
    transform: rotateY(-70deg);
    perspective: 1300px;
    transform-style: preserve-3d;
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes Lightbox-flipHorizontalOut {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }

  100% {
    opacity: 0;
    transform: rotateY(-70deg);
    perspective: 1300px;
    transform-style: preserve-3d;
  }
}
