/* newspaper: Newspaper */
.#{$lightbox}-newspaperIn {
  animation: Lightbox-newspaperIn $lightbox-duration;
}

.#{$lightbox}-newspaperOut {
  animation: Lightbox-newspaperOut $lightbox-duration forwards;
}

@keyframes Lightbox-newspaperIn {
  0% {
    opacity: 0;
    transform: scale(0) rotate(720deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes Lightbox-newspaperOut {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: scale(0) rotate(720deg);
  }
}
