/* rotateBottom:  3D Rotate from bottom */
.#{$lightbox}-rotateBottomIn {
  animation: Lightbox-rotateBottomIn $lightbox-duration;
}

.#{$lightbox}-rotateBottomOut {
  animation: Lightbox-rotateBottomOut $lightbox-duration forwards;
}

@keyframes Lightbox-rotateBottomIn {
  0% {
    opacity: 0;
    transform: translateY(100%) rotateX(90deg);
    transform-origin: 0 100%;
    transform-style: preserve-3d;
    perspective: 1300px;
  }

  100% {
    opacity: 1;
    transform: translateY(0%) rotateX(0deg);
  }
}

@keyframes Lightbox-rotateBottomOut {
  0% {
    opacity: 1;
    transform: translateY(0%) rotateX(0deg);
  }

  100% {
    opacity: 0;
    transform: translateY(100%) rotateX(90deg);
    transform-origin: 0 100%;
    transform-style: preserve-3d;
    perspective: 1300px;
  }
}
