/* slideFall: side fall */
.#{$lightbox}-slideFallIn {
  animation: Lightbox-slideFallIn $lightbox-duration;
}

.#{$lightbox}-slideFallOut {
  animation: Lightbox-slideFallOut $lightbox-duration forwards;
}

@keyframes Lightbox-slideFallIn {
  0% {
    opacity: 0;
    transform: translate(30%) translateZ(600px) rotate(10deg);
    transform-style: preserve-3d;
  }

  100% {
    opacity: 1;
    transform: translate(0%) translateZ(0) rotate(0deg);
  }
}

@keyframes Lightbox-slideFallOut {
  0% {
    opacity: 1;
    transform: translate(0%) translateZ(0) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: translate(30%) translateZ(600px) rotate(10deg);
    transform-style: preserve-3d;
  }
}
