---
title: animate-text
layout: plugin
styles:
- ../../plugins/animate-text/css/animate-text.css
scripts:
- ../../vendor/anime.min.js
- ../../plugins/animate-text/animate-text.js
---
<style>
.console {
  height: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
  overflow-y: scroll;
}
.element > div:not(:last-of-type) {
  margin-bottom: 20px;
}
ul {
  padding: 0;
}
.console-info {
  color: #55a4f2;
}
.pj-animateText-multiple {
  height: 24px;
}
</style>
<section>
  <h2>Single Effects</h2>
  <section>
    <h3>fadeDown</h3>
    <p class="inline-block">
      Hello
      <span id="fade"
             data-mode="fadeDown"
             data-delay="1000"
             data-text="World!"
             style="display: inline-block;">World!</span>
    </p>
  </section>
  <section>
    <h3>fadeTop</h3>
    <p class="inline-block">
      Hello
      <span id="fade"
             data-mode="fadeTop"
             data-delay="1000"
             data-text="World!"
             style="display: inline-block;">World!</span>
    </p>
  </section>
  <section>
    <h3>fadeLeft</h3>
    <p class="inline-block">
      Hello
      <span id="fade"
             data-mode="fadeLeft"
             data-delay="1000"
             data-text="World!"
             style="display: inline-block;">World!</span>
    </p>
  </section>
  <section>
    <h3>fadeRight</h3>
    <p class="inline-block">
      Hello
      <span id="fade"
             data-mode="fadeRight"
             data-delay="1000"
             data-text="World!"
             style="display: inline-block;">World!</span>
    </p>
  </section>
  <section>
    <h3>zoom</h3>
    <p class="inline-block">
      Hello
      <span id="fade"
             data-mode="zoom"
             data-delay="1000"
             data-text="World!"
             style="display: inline-block;">World!</span>
    </p>
  </section>
  <section>
    <h3>bounce</h3>
    <p class="inline-block">
      Hello
      <span id="fade"
             data-mode="bounce"
             data-delay="1000"
             data-text="World!"
             style="display: inline-block;">World!</span>
    </p>
  </section>
  <section>
    <h3>swing</h3>
    <p class="inline-block">
      Hello
      <span id="fade"
             data-mode="swing"
             data-delay="1000"
             data-text="World!"
             style="display: inline-block;">World!</span>
    </p>
  </section>
  <section>
    <h3>Typewrite</h3>
    <p class="inline-block">
      Hello
      <span id="typewrite"
             data-mode="typewrite"
             data-delay="1000"
             data-text="World!">World!</span>
    </p>
  </section>
</section>
<section>
  <h2>Multiple Effects</h2>
  <section>
    <h3>Slider</h3>
    <p class="inline-block">
      We bring you
      <span id="slider" data-mode="slider" data-duration="1000">
        <span>deaspancious chocolates</span>
        <span>beautiful flowers</span>
        <span>crispy cookies</span>
        <span>everying you wish</span>
      </span>
      for your pleasure.
    </p>
  </section>
  <section>
    <h3>Slider no loop</h3>
    <p class="inline-block">
      We bring you
      <span id="slider-no-loop" data-mode="slider" data-loop="false" data-duration="1000">
        <span>deaspancious chocolates</span>
        <span>beautiful flowers</span>
        <span>crispy cookies</span>
        <span>everying you wish</span>
      </span>
      for your pleasure.
    </p>
  </section>
  <section>
    <h3>Fade</h3>
    <p class="inline-block">
      We bring you
      <span id="fade" data-mode="fade" data-duration="1000">
        <span>deaspancious chocolates</span>
        <span>beautiful flowers</span>
        <span>crispy cookies</span>
        <span>everying you wish</span>
      </span>
      for your pleasure.
    </p>
  </section>
  <section>
    <h3>Rotate</h3>
    <p class="inline-block">
      We bring you
      <span id="rotate" data-mode="rotate" data-duration="1000">
        <span>deaspancious chocolates</span>
        <span>beautiful flowers</span>
        <span>crispy cookies</span>
        <span>everying you wish</span>
      </span>
      for your pleasure.
    </p>
  </section>
  <section>
    <h3>Push</h3>
    <p class="inline-block">
      We bring you
      <span id="push" data-mode="push" data-duration="1000">
        <span>deaspancious chocolates</span>
        <span>beautiful flowers</span>
        <span>crispy cookies</span>
        <span>everying you wish</span>
      </span>
      for your pleasure.
    </p>
  </section>
</section>
<section>
  <h2>APIS</h2>
  <section>
    <p class="inline-block">
      We bring you
      <span id="example-api" data-mode="push" data-duration="1000">
        <span>deaspancious chocolates</span>
        <span>beautiful flowers</span>
        <span>crispy cookies</span>
        <span>everying you wish</span>
      </span>
      for your pleasure.
    </p>
    <div class="apis top-gap">
      <button data-api="init" class="btn">init()</button>
      <button data-api="destroy" class="btn">destroy()</button>
      <button data-api="enable" class="btn">enable()</button>
      <button data-api="disable" class="btn">disable()</button>
    </div>
    <div class="console top-gap"></div>
  </section>
</section>
<script>
(function(){
  ['#typewrite', '#slider', '#fade', '#push', '#rotate'].forEach(selector => Pj.animateText(selector))

  var $elementApi;

  var APIS = {
    init() {
      $elementApi = Pj.animateText('#example-api', {
        onReady: function() {
          log('ready', 'event');
        },
        onDestroy: function() {
          log('destroy', 'event');
        },
        onEnable: function() {
          log('enable', 'event');
        },
        onDisable: function() {
          log('disable', 'event');
        },
      })
    },
    destroy() {
      $elementApi('destroy')
    },
    disable() {
      $elementApi('disable')
    },
    enable() {
      $elementApi('enable')
    }
  }

  document.querySelector('.apis').addEventListener('click', function(event) {
    var target = event.target
    var api = target.dataset.api
    if (api) {
      APIS[api]()
    }
  })
})();
</script>
