$bordered-color: $color-white;

.#{$beforeAfter}-labels-bordered {
  .#{$beforeAfter}-label-before,
  .#{$beforeAfter}-label-after {
    padding: $beforeAfter-label-spacer;
    border: 1px solid $bordered-color;
  }
}
