.#{$beforeAfter}-labels-bottom {
  .#{$beforeAfter}-label-before,
  .#{$beforeAfter}-label-after {
    transform: none;
  }
}

.#{$beforeAfter}-horizontal {
  .#{$beforeAfter}-labels-bottom {
    .#{$beforeAfter}-label-before,
    .#{$beforeAfter}-label-after {
      top: auto;
      bottom: $beforeAfter-label-gatter;
    }
  }
}

.#{$beforeAfter}-vertical {
  .#{$beforeAfter}-labels-bottom {
    .#{$beforeAfter}-label-before,
    .#{$beforeAfter}-label-after {
      left: $beforeAfter-label-gatter;
    }
  }
}
