.#{$beforeAfter}-labels-end {
  .#{$beforeAfter}-label-before,
  .#{$beforeAfter}-label-after {
    transform: none;
  }
}

.#{$beforeAfter}-horizontal {
  .#{$beforeAfter}-labels-end {
    .#{$beforeAfter}-label-before,
    .#{$beforeAfter}-label-after {
      top: auto;
      bottom: $beforeAfter-label-gatter;
    }
  }
}

.#{$beforeAfter}-vertical {
  .#{$beforeAfter}-labels-end {
    .#{$beforeAfter}-label-before,
    .#{$beforeAfter}-label-after {
      right: $beforeAfter-label-gatter;
      left: auto;
    }
  }
}
