@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$scrollProgress: "pj-scrollProgress" !default;
$scrollProgress-zindex: $zindex-fixed !default;

// Core
// =====================
.#{$scrollProgress}-bar {
  position: fixed;
  z-index: $scrollProgress-zindex;

  &.#{$scrollProgress}-top-left {
    top: 0;
    left: 0;
    width: 0;
  }

  &.#{$scrollProgress}-top-right {
    top: 0;
    right: 0;
    width: 0;
  }

  &.#{$scrollProgress}-bottom-left {
    bottom: 0;
    left: 0;
    width: 0;
  }

  &.#{$scrollProgress}-bottom-right {
    right: 0;
    bottom: 0;
    width: 0;
  }

  &.#{$scrollProgress}-left-bottom {
    bottom: 0;
    left: 0;
    height: 0;
  }

  &.#{$scrollProgress}-left-top {
    top: 0;
    left: 0;
    height: 0;
  }

  &.#{$scrollProgress}-right-bottom {
    right: 0;
    bottom: 0;
    height: 0;
  }

  &.#{$scrollProgress}-right-top {
    top: 0;
    right: 0;
    height: 0;
  }
}
