@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$toggle: "pj-toggle" !default;
$toggle-sizer: $sizer;

$toggle-width: 4.8 * $toggle-sizer !default; //60px
$toggle-height: 2.4 * $toggle-sizer !default; //30px
$toggle-border-width: 2px !default;
$toggle-handle-width: $toggle-height - $toggle-border-width * 2 !default;

$toggle-bg: $color-yellow !default;
$toggle-border-color: $color-blue !default;
$toggle-handle-bg: $color-red !default;

// Core
// ======================
.#{$toggle} {
  position: relative;
  display: inline-block;
  width: $toggle-width;
  height: $toggle-height;
  overflow: hidden;
  cursor: pointer;
  background-color: $toggle-bg;
  border: $toggle-border-width solid $toggle-border-color;

  input {
    display: none !important;
  }

  &-inner {
    position: relative;
    display: table;
    width: calc(200% - #{$toggle-handle-width});
    height: 100%;
    margin-left: 0;
  }

  &-on,
  &-off {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    user-select: none;
  }

  &-off {
    text-align: right;
  }

  &-handle {
    position: absolute;
    top: 0;
    left: calc(50% - #{$toggle-handle-width} / 2);
    width: $toggle-handle-width;
    height: 100%;
    background-color: $toggle-handle-bg;
  }

  &-disabled {
    cursor: not-allowed;
  }
}
