@import "@pluginjs/styles/variables.scss";
@import "toggle.core";

// Vars
// ======================
$toggle: "pj-toggle";

$toggle-font-size: $font-size-base;

$toggle-color: $color-white;

$toggle-bg-color-off: $gray-dark;
$toggle-bg-color-on: $color-primary-active;

$toggle-handle-color: $color-white;

$toggle-small-width: 32px;
$toggle-small-height: 16px;
$toggle-small-handle-width: $toggle-small-height - $toggle-border-width * 2;

// default
// ======================
.#{$toggle} {
  box-sizing: border-box;
  width: $toggle-width;
  height: $toggle-height;
  font-size: $toggle-font-size;
  color: $toggle-color;
  background-color: $toggle-bg-color-on;
  border: $toggle-border-width solid $toggle-bg-color-on;
  border-radius: 1000px;

  &-inner {
    width: calc(200% - #{$toggle-handle-width});
  }

  &-handle {
    width: $toggle-handle-width;
    height: $toggle-handle-width;
    background-color: $toggle-handle-color;
    border-radius: 1000px;
  }

  &-on {
    padding-left: $toggle-handle-width / 3;

  }

  &-off {
    padding-right: $toggle-handle-width / 3;
  }

  &-is-off {
    background-color: $toggle-bg-color-off;
    border-color: $toggle-bg-color-off;
  }

  &-disabled {
    opacity: 0.3;
  }

  //Small size
  &-small {
    width: $toggle-small-width;
    height: $toggle-small-height;

    .#{$toggle} {
      &-inner {
        width: calc(200% - #{$toggle-small-handle-width});
      }

      &-handle {
        left: calc(50% - #{$toggle-small-handle-width} / 2);
        width: $toggle-small-handle-width;
        height: $toggle-small-handle-width;
      }

      &-on {
        padding-left: $toggle-small-handle-width / 5;
      }

      &-off {
        padding-right: $toggle-small-handle-width / 5;
      }
    }
  }
}
