@import "@pluginjs/styles/variables.scss";
@import "toggle.core";

// Vars
// ======================
$toggle: "pj-toggle" !default;
$toggle-font-size: $font-size-base !default;
$toggle-line-height: $line-height-sm !default;
$toggle-border-width: 2px !default;
$toggle-handle-width: $toggle-height - $toggle-border-width * 2 !default;
$toggle-color: $color-white !default;
$toggle-bg-color-on: $color-primary !default;
$toggle-bg-color-off: $gray-light !default;
$toggle-handle-color: $color-white !default;
$toggle-small-width: 2.2 * $toggle-sizer !default; //22px
$toggle-small-height: 1.2 * $toggle-sizer !default; //12px
$toggle-small-handle-width: $toggle-small-height - $toggle-border-width * 2 !default;
$toggle-on-off-line-height: 1.5 * $toggle-sizer !default; //15px
$toggle-icon-font-size: $font-size-lg !default;

// default
// ======================
.#{$toggle} {
  box-sizing: border-box;
  width: $toggle-width;
  height: $toggle-height;
  font-size: $toggle-font-size;
  line-height: $toggle-line-height;
  color: $toggle-color;
  background-color: $toggle-bg-color-on;
  border: $toggle-border-width solid $toggle-bg-color-on;
  border-radius: 1000px;

  .#{$toggle} {
    &-inner {
      width: calc(200% - #{$toggle-handle-width});

      i {
        // display: inline-block;
        // vertical-align: -webkit-baseline-middle;
        // vertical-align: middle;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-handle {
      left: $toggle-width - $toggle-handle-width - $toggle-border-width * 2;
      width: $toggle-handle-width;
      height: $toggle-handle-width;
      background-color: $toggle-handle-color;
      border-radius: 1000px;
    }

    &-on {
      padding-left: $toggle-handle-width / 3;
      line-height: $toggle-on-off-line-height;

      i {
        left: 0.6 * $toggle-sizer; //6px
        font-size: $toggle-icon-font-size;
      }
    }

    &-off {
      padding-right: $toggle-handle-width / 3;
      line-height: $toggle-on-off-line-height;

      i {
        right: 0.6 * $toggle-sizer; //6px
        font-size: $toggle-icon-font-size;
      }
    }
  }

  &.#{$toggle} {
    &-is-off {
      background-color: $toggle-bg-color-off;
      border-color: $toggle-bg-color-off;
    }

    &-disabled {
      opacity: 0.3;
    }
  }

  //Small size
  &.#{$toggle}-small {
    width: $toggle-small-width;
    height: $toggle-small-height;

    .#{$toggle} {
      &-inner {
        width: calc(200% - #{$toggle-small-handle-width});
      }

      &-handle {
        left: calc(50% - #{$toggle-small-handle-width} / 2);
        width: $toggle-small-handle-width;
        height: $toggle-small-handle-width;
      }

      &-on {
        padding-left: $toggle-small-handle-width / 5;
      }

      &-off {
        padding-right: $toggle-small-handle-width / 5;
      }
    }
  }
}
