/* blur:  Blur */
.#{$lightbox}-blurIn {
  animation: Lightbox-blurIn $lightbox-duration;
}

.#{$lightbox}-blurOut {
  animation: Lightbox-blurOut $lightbox-duration forwards;
}

@keyframes Lightbox-blurIn {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Lightbox-blurOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-5%);
  }
}
