/* slideTop:  slide and stick to top */
.#{$lightbox}-slideTopIn {
  animation: Lightbox-slideTopIn $lightbox-duration;
}

.#{$lightbox}-slideTopOut {
  animation: Lightbox-slideTopOut $lightbox-duration forwards;
}

@keyframes Lightbox-slideTopIn {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  100% {
    border-radius: 0 0 3px 3px;
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes Lightbox-slideTopOut {
  0% {
    border-radius: 0 0 3px 3px;
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}
