---
title: NavToSelect
layout: plugin
styles:
- ../../plugins/nav-to-select/css/nav-to-select.css
scripts:
- ../../plugins/nav-to-select/nav-to-select.js
---

<p>nav-to-select is jQuery plugin used to convert your website navigation into a select drop-down menu for small screen devices.</p>
<section>
  <h2>Usage</h2>
  <section>
    <h3>1. HTML structure</h3>
    {{#code}}<ul id="nav">
<li><a href="homepage.html">Homepage</a></li>
<li><a href="about.html" class="active">About us</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>{{/code}}
  </section>
  <section>
    <h3>2. CSS</h3>
    {{#code}}/* default style */
.asNavToSelect { display: none; }
/* Mobile device */
@media only screen and (max-width: 767px) {
#nav { display: none; }
.asNavToSelect { display: block; }
}{{/code}}
  </section>
  <section>
    <h3>3. JavaScript</h3>
    {{#code}}/* default style */
<script src="js/jquery.min.js"></script>
<script src="js/nav-to-select.js"></script>{{/code}}
  </section>
</section>
<section>
  <h2>Examles</h2>
  <article>
    <h3>Example 1</h3>
    <section>
      <div>
        <nav class="example-1">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li>
              <a href="cats.html">Categories</a>
              <ul>
                <li><a href="cat-1.html">Category 1</a></li>
                <li><a href="cat-2.html">Category 2</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Page</a>
              <ul>
                <li><a href="page-1.html">Page 1</a></li>
                <li><a href="page-2.html">Page 2</a></li>
              </ul>
            </li>
            <li><a href="http://google.com">External</a></li>
            <li><a href="#top">Go to top</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <section>
      <h4>HTML:</h4>
      {{#code}}<nav class="example-1">
<ul>
    <li><a href="index.html">Home</a></li>
    <li>
        <a href="cats.html">Category</a>
        <ul>
            <li><a href="cat-1.html">Category 1</a></li>
            <li><a href="cat-1.html">Category 1</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Page</a>
        <ul>
            <li><a href="page-1.html">Page 1</a></li>
            <li><a href="page-1.html">Page 1</a></li>
        </ul>
    </li>
    <li><a href="http://google.com">External</a></li>
    <li><a href="#top">Go to top</a></li>
</ul>
</nav>{{/code}}
    </section>
    <section>
      <h4>Javascript:</h4>
      {{#code}}jQuery(function(){
$('.example-1 > ul').asNavToSelect();
});{{/code}}
    </section>
    <script type="text/javascript">
      jQuery(function() {
        Pj.navToSelect('.example-1 > ul');
      });
    </script>
  </article>
  <article>
    <h3>Example 2</h3>
    <section>
      <div>
        <nav class="example-1">
          <ul>
            <li><a href="c-1.html">Chapter 1</a>
              <ul>
                <li><a href="c-1-1.html">Chapter 1.1</a>
                  <ul>
                    <li><a href="c-1-1-1.html">Chapter 1.1.1</a></li>
                    <li><a href="c-1-1-2.html">Chapter 1.1.2</a></li>
                  </ul>
                </li>
                <li><a href="c-1-2.html">Chapter 1.2</a></li>
              </ul>
            </li>
            <li><a href="c-2.html">Chapter 2</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <section>
      <h4>HTML:</h4>
      {{#code}}<nav id="example-2">
<ul>
    <li><a href="c-1.html">Chapter 1</a>
        <ul>
            <li><a href="c-1-1.html">Chapter 1.1</a>
                <ul>
                    <li><a href="c-1-1-1.html">Chapter 1.1.1</a></li>
                    <li><a href="c-1-1-2.html">Chapter 1.1.2</a></li>
                </ul>
            </li>
            <li><a href="c-1-2.html">Chapter 1.2</a></li>
        </ul>
    </li>
    <li><a href="c-2.html">Chapter 2</a>
</ul>
</nav>{{/code}}
    </section>
    <section>
      <h4>Javascript:</h4>
      {{#code}}jQuery(function(){
$('#example-2 > ul').asNavToSelect();
});{{/code}}
    </section>
    <script type="text/javascript">
      jQuery(function() {
        Pj.navToSelect('#example-2 > ul');
      });
    </script>
  </article>
</section>
