@import "shares.core";

// Vars
// =====================
$shares: "pj-shares";

$share-rounded-radius: 4px;
$share-light-color: rgb(245,245,245);
$share-dark-color: rgb(10,10,10);
$share-gray: rgba(100, 100, 100, 0.8);

$share-duration: 300ms;

$share-xs-hover-size: 1.3 * $share-xs-size;
$share-sm-hover-size: 1.3 * $share-sm-size;
$share-md-hover-size: 1.3 * $share-md-size;
$share-lg-hover-size: 1.3 * $share-lg-size;

$share-text-xs-font-size: 12px;
$share-text-sm-font-size: 14px;
$share-text-md-font-size: 16px;
$share-text-lg-font-size: 18px;

$share-text-triangle-xs-size: 8px;
$share-text-triangle-sm-size: 10px;
$share-text-triangle-md-size: 12px;
$share-text-triangle-lg-size: 14px;

// Bordered, Dashed
// =====================
.#{$shares}-bordered,
 .#{$shares}-dashed {
  .#{$share} {
    margin-left: -1px;
    background-color: #fff;
    border-color: $share-border-color;
    border-style: solid;
    border-width: 1px;
  }
}

.#{$shares}-dashed {
  .#{$share} {
    border-style: dashed;

    &:hover {
      border-style: solid;
    }
  }
}

@each $social, $color in $share-colors {
  .#{$shares}-bordered,
  .#{$shares}-dashed {
    .#{$share}-#{$social}:hover {
      z-index: 1;
      border-color: $color;
    }
  }
}

// Solid
// =====================
.#{$shares}-solid {
  .#{$share} {
    border: 1px solid transparent;
  }
}

@each $social, $color in $share-colors {
  .#{$shares}-solid {
    .#{$share}-#{$social} {
      color: #fff;
      background-color: $color;
      border-color: $color;
    }
  }
}

// Light
// ======================
.#{$shares}-light {
  .#{$share} {
    background-color: $share-light-color;
    border: 1px solid $share-light-color;
  }
}
@each $social, $color in $share-colors {
  .#{$shares}-light {
    .#{$share}-#{$social}:hover {
      border-color: $color;
    }
  }
}

// Dark
// ======================
.#{$shares}-dark {
  .#{$share} {
    color: #fff;
    background-color: $share-dark-color;
    border: 1px solid $share-dark-color;
  }
}

// Shadow
// ======================
.#{$shares}-shadow {
  .#{$share} {
    color: #b2bac2;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  }
}

// Hexagon
// ======================
@mixin share-hexagon-size($size: $share-md-size){
  $share-hexagon-width: $size;
  $share-hexagon-radius: $share-hexagon-width/2;
  $share-hexagon-side: $share-hexagon-radius/0.86602540378;

  .#{$share} {
    margin: ($share-hexagon-side / 2) 0;

    &,
    &::before,
    &::after {
      width:  $share-hexagon-width;
      height: $share-hexagon-side;
    }
  }

  &.#{$shares}-left,
  &.#{$shares}-right {
    .#{$share} {
      margin-bottom: $share-hexagon-side * 1.2;
    }
  }
}

.#{$shares}-hexagon {

  // &.#{$shares}-solid {
  //   .#{$share}:hover {
  //     border-top-color: transparent;
  //     border-bottom-color: transparent;
  //   }
  // }

  @include share-hexagon-size();
  .#{$share} {
    z-index: 0;
    box-sizing: content-box;
    padding: 0;
    background-clip: content-box;

    &::before,
    &::after {
      position: absolute;
      top: -1px;
      left: -1px;
      z-index: -1;
      box-sizing: inherit;
      content: "";
      background: inherit;
      border: inherit;
      transition: inherit;
    }

    &::before {
      transform: rotate(60deg);
    }

    &::after {
      transform: rotate(-60deg);
    }

    svg {
      height: 100%;
    }
  }

  &.#{$shares}-bordered,
  &.#{$shares}-dashed {
    .#{$share} {
      border-top-color: transparent;
      border-right-color: $share-border-color;
      border-bottom-color: transparent;
      border-left-color: $share-border-color;
    }
  }

  &.#{$shares}-light {
    .#{$share} {
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }

  &.#{$shares}-solid,
  &.#{$shares}-shadow,
  &.#{$shares}-dark {
    .#{$share} {
      background-clip: border-box;
    }
  }

  &.#{$shares}-lg {
    @include share-hexagon-size($share-lg-size);
  }
  &.#{$shares}-sm {
    @include share-hexagon-size($share-sm-size);
  }
  &.#{$shares}-xs {
    @include share-hexagon-size($share-xs-size);
  }
}

@each $social, $color in $share-colors {
  .#{$shares}-hexagon {
    &.#{$shares}-bordered,
    &.#{$shares}-dashed,
    &.#{$shares}-light {
      .#{$share}-#{$social}:hover {
        &,
        &::before,
        &::after {
          border-right-color: $color;
          border-left-color: $color;
        }
      }
    }
  }
}

// Gray
// ======================
.#{$shares}-gray {
  .#{$share} {
    color: $share-gray;
  }

  &.#{$shares}-solid,
  &.#{$shares}-dark {
    .#{$share} {
      color: $share-gray;
    }
  }

  &.#{$shares}-solid {
    .#{$share}:hover {
      color: #fff;
    }
  }
}

@each $social, $color in $share-colors {
  .#{$shares}-gray,
  .#{$shares}-dark,
  .#{$shares}-shadow {
    .#{$share}-#{$social}:hover {
      color: $color;
    }
  }
}

// Reverse
// =====================
.#{$shares}-reverse {
  .#{$share} {
    transition-delay: 0s;
    transition-timing-function: ease;
    transition-duration: $share-duration;
    transition-property: color, background, border;
  }

  &.#{$shares}-bordered,
  &.#{$shares}-dashed,
  &.#{$shares}-light,
  &.#{$shares}-dark,
  &.#{$shares}-shadow {
    .#{$share}:hover {
      color: #fff;
    }
  }
  &.#{$shares}-solid {
    .#{$share}:hover {
      background-color: #fff;
    }
  }
  &.#{$shares}-hexagon {
    .#{$share} {
      transition: none;
    }

    &.#{$shares}-bordered,
    &.#{$shares}-dashed,
    &.#{$shares}-light {
      .#{$share}:hover {
        background-clip: border-box;
      }
    }
    &.#{$shares}-solid {
      .#{$share}:hover {
        background-clip: content-box;
      }
    }
  }
}
@each $social, $color in $share-colors {
  .#{$shares}-reverse {
    &.#{$shares}-bordered,
    &.#{$shares}-dashed,
    &.#{$shares}-light,
    &.#{$shares}-dark,
    &.#{$shares}-shadow {
      .#{$share}-#{$social}:hover {
        background-color: $color;
        border-color: $color;
      }
    }

    &.#{$shares}-solid {
      .#{$share}-#{$social}:hover {
        color: $color;
        border-color: $color;
      }
    }

    &.#{$shares}-hexagon {
      &.#{$shares}-bordered,
      &.#{$shares}-dashed,
      &.#{$shares}-light,
      &.#{$shares}-dark {
        .#{$share}-#{$social}:hover {
          background-color: $color;
          border-color: $color;
        }
      }
      &.#{$shares}-solid {
        .#{$share}-#{$social}:hover {
          color: $color;
          border-color: $color;
          border-top-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }
  }
}

// Round, Rounded
// =====================
.#{$shares}-round {
  .#{$share} {
    border-radius: 50%;
  }
}

.#{$shares}-rounded {
  .#{$share} {
    border-radius: $share-rounded-radius;
  }
}

.#{$shares}-round,
.#{$shares}-rounded {
  &.#{$shares}-bordered,
  &.#{$shares}-dashed {
    .#{$share} {
      margin-left: 0;
    }
  }
}

// Space
// ======================
.#{$shares}-round,
.#{$shares}-rounded,
.#{$shares}-hexagon,
.#{$shares}-space {
  &.#{$shares}-lg {
    .#{$share} {
      margin-right: $share-lg-gutter-size;
    }
  }
  &,
  &.#{$shares}-md {
    .#{$share} {
      margin-right: $share-md-gutter-size;
    }
  }
  &.#{$shares}-sm {
    .#{$share} {
      margin-right: $share-sm-gutter-size;
    }
  }
  &.#{$shares}-xs {
    .#{$share} {
      margin-right: $share-xs-gutter-size;
    }
  }
  .#{$share}:last-child {
    margin-right: 0;
  }
  &.#{$shares}-left,
  &.#{$shares}-right {
    .#{$share}:last-child {
      margin-bottom: 0;
    }
  }
  &.#{$shares}-left {
    margin-left: $share-edge-size;
  }
  &.#{$shares}-right {
    margin-right: $share-edge-size;
    .#{$share} {
      margin-right: 0;
    }
  }
  &.#{$shares}-bottom {
    margin-bottom: $share-edge-size;
  }
}
.#{$shares}-round,
.#{$shares}-rounded,
.#{$shares}-space {
  &.#{$shares}-left,
  &.#{$shares}-right {
    &.#{$shares}-lg {
      .#{$share} {
        margin-bottom: $share-lg-gutter-size;
      }
    }
    &,
    &.#{$shares}-md {
      .#{$share} {
        margin-bottom: $share-md-gutter-size;
      }
    }
    &.#{$shares}-sm {
      .#{$share} {
        margin-bottom: $share-sm-gutter-size;
      }
    }
    &.#{$shares}-xs {
      .#{$share} {
        margin-bottom: $share-xs-gutter-size;
      }
    }
  }
}

// Left & Right hover transition
.#{$shares}-left,
.#{$shares}-right {
  &:not(.#{$shares}-round):not(.#{$shares}-hexagon):not(.#{$shares}-with-text) {
    .#{$share} {
      transition: width $share-duration/2 ease-in-out;

      &:hover {
        width: $share-md-hover-size;
      }

      svg {
        height: 100%;
      }
    }

    &.#{$shares}-reverse{
      .#{$share} {
        transition-property: width, color, background, border;
      }
    }

    &.#{$shares}-lg {
      .#{$share} {
        &:hover {
          width: $share-lg-hover-size;
        }
      }
    }
    &.#{$shares}-sm {
      .#{$share} {
        &:hover {
          width: $share-sm-hover-size;
        }
      }
    }
    &.#{$shares}-xs {
      .#{$share} {
        &:hover {
          width: $share-xs-hover-size;
        }
      }
    }
  }
}
.#{$shares}-left {
  &:not(.#{$shares}-round):not(.#{$shares}-hexagon):not(.#{$shares}-with-text) {
    .#{$share} {
      float: left;
    }
  }
}
.#{$shares}-right {
  &:not(.#{$shares}-round):not(.#{$shares}-hexagon):not(.#{$shares}-with-text) {
    .#{$share} {
      float: right;
    }
  }
}

// With Text
.#{$shares}-with-text {
  .#{$share} {
    display: inline-flex;
    align-items: center;
    width: auto;
    font-size: $share-text-md-font-size;

    svg {
      height: 100%;
    }

    .#{$share}-text {
      padding-left: $share-md-padding;
    }
  }

  &.#{$shares}-lg {
    .#{$share} {
      font-size: $share-text-lg-font-size;

      .#{$share}-text {
        padding-left: $share-lg-padding;
      }
    }
  }
  &.#{$shares}-sm {
    .#{$share} {
      font-size: $share-text-sm-font-size;

      .#{$share}-text {
        padding-left: $share-sm-padding;
      }
    }
  }
  &.#{$shares}-xs {
    .#{$share} {
      font-size: $share-text-xs-font-size;

      .#{$share}-text {
        padding-left: $share-xs-padding;
      }
    }
  }

  &.#{$shares}-left,
  &.#{$shares}-right {
    .#{$share} {
      display: flex;
    }
  }


  &.#{$shares}-solid {
    &.#{$shares}-contrast,
    &.#{$shares}-triangle {
      .#{$share} {
        padding: 0;
        border: none;
      }

      .#{$share}-text {
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding: 0 $share-text-md-font-size;
        border-style: solid;
        border-width: 1px;
        border-left: none;
      }

      .#{$share} svg {
        box-sizing: border-box;
        padding: $share-md-padding;
        fill: #fff;
      }

      &.#{$shares}-lg {
        .#{$share} svg {
          padding: $share-lg-padding;
        }

        .#{$share}-text {
          padding: 0 $share-text-lg-font-size;
        }
      }
      &.#{$shares}-sm {
        .#{$share} svg {
          padding: $share-sm-padding;
        }

        .#{$share}-text {
          padding: 0 $share-text-sm-font-size;
        }
      }
      &.#{$shares}-xs {
        .#{$share} svg {
          padding: $share-xs-padding;
        }

        .#{$share}-text {
          padding: 0 $share-text-xs-font-size;
        }
      }

      &.#{$shares}-left,
      &.#{$shares}-right {
        .#{$share}-text {
          flex-grow: 1;
        }
      }
    }

    &.#{$shares}-triangle {
      .#{$share}-text {
        position: relative;
        border-color: rgba(0, 0, 0, 0.1);

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: $share-text-triangle-md-size;
          height: $share-text-triangle-md-size;
          content: "";
          transform: translateY(-50%) translateX(-50%) rotate(-45deg);
        }
      }

      &.#{$shares}-lg {
        .#{$share}-text::before {
          width: $share-text-triangle-lg-size;
          height: $share-text-triangle-lg-size;
        }
      }
      &.#{$shares}-sm {
        .#{$share}-text::before {
          width: $share-text-triangle-sm-size;
          height: $share-text-triangle-sm-size;
        }
      }
      &.#{$shares}-xs {
        .#{$share}-text::before {
          width: $share-text-triangle-xs-size;
          height: $share-text-triangle-xs-size;
        }
      }

      &,
      &.#{$shares}-reverse{
        .#{$share}-text {
          transition: border-color 200ms ease;
        }
      }
    }
  }
}
@each $social, $color in $share-colors {
  .#{$shares}-with-text.#{$shares}-solid.#{$shares}-contrast {
    .#{$share}-#{$social} .#{$share}-text {
      border-color: $color;
    }

    .#{$share}-#{$social} svg {
      background-color: darken($color: $color, $amount: 10);
    }
  }

  .#{$shares}-with-text.#{$shares}-solid.#{$shares}-triangle {
    .#{$share}-#{$social} .#{$share}-text {
      color: $color;
      background-color: #fff;
    }

    .#{$share}-#{$social} .#{$share}-text::before {
      background-color: $color;
    }

    .#{$share}-#{$social} svg {
      background-color: $color;
    }

    & .#{$share}-#{$social}:hover,
    &.#{$shares}-reverse .#{$share}-#{$social}:hover{
      .#{$share}-text {
        border-color: $color;
      }
    }
  }
}