@import "@pluginjs/styles/variables.scss";

$magnify: "pj-magnify" !default;
$magnify-target-zindex: $zindex-magnify !default;
$magnify-lens-zindex: $magnify-target-zindex + 1 !default;

$magnify-inside-lens-width: 180px !default;
$magnify-inside-lens-height: 180px !default;
$magnify-inside-lens-border-radius: 100% !default;

.#{$magnify} {
  position: relative;
  box-sizing: content-box;

  &-image {
    width: 100%;
    height: 100%;
  }

  &-error {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
    transform: translate(-50%,-50%);

    &-show {
      visibility: visible;
      opacity: 1;
    }
  }

  &-target {
    position: absolute;
    z-index: $magnify-target-zindex;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;

    &-show {
      visibility: visible;
      opacity: 1;
    }
    img {
      position: absolute;
    }
  }

  &-inside &-target {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-outside-left &-target {
    top: 0;
    left: 100%;
  }

  &-outside-right &-target {
    top: 0;
    right: 100%;
  }

  &-outside-top &-target {
    bottom: 100%;
    left: 0;
  }

  &-outside-bottom &-target {
    top: 100%;
    left: 0;
  }

  &-overlay {
    right: 0;
    bottom: 0;
  }

  &-has-lens.#{$magnify}-show.#{$magnify}-zoom,
  &-has-lens.#{$magnify}-show .#{$magnify}-zoom {
    cursor: none;
  }

  &-lens,
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
  }

  &-lens {
    z-index: $magnify-lens-zindex;
  }

  &-inside &-lens {
    width: $magnify-inside-lens-width;
    height: $magnify-inside-lens-height;
    border-radius: $magnify-inside-lens-border-radius;
  }

  &-show &-lens,
  &-show &-overlay {
    visibility: visible;
    opacity: 1;
  }

  .pj-loader-mask {
    pointer-events: none; // need for move event
  }
}
