@import "@pluginjs/styles/variables.scss";

@import "magnify.core";

$magnify-cursor: crosshair;

$magnify-border-radius: $border-radius-base;
$magnify-lens-border-width: 4px;
$magnify-lens-border-color: $color-white;

$magnify-window-gutter: 15px;

$magnify-error-color: $color-white;
$magnify-error-bg: $gray-darkest;
$magnify-error-padding: 0.5*$sizer $sizer;
$magnify-error-border-radius: $border-radius-md;

$magnify-overlay-bg: rgba(0, 0, 0, 0.4);
$magnify-lens-bg: rgba(0, 0, 0, 0.4);
$magnify-window-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5);

.#{$magnify} {
  &-overlay {
    background-color: $magnify-overlay-bg;
  }

  &-lens {
    margin-top: -$magnify-lens-border-width;
    margin-left: -$magnify-lens-border-width;
    background-color: $magnify-lens-bg;
    border: $magnify-lens-border-width solid $magnify-lens-border-color;
    border-radius: $magnify-border-radius;
  }

  &-image {
    cursor: $magnify-cursor;
  }

  &-window {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: $magnify-border-radius;
    box-shadow: $magnify-window-box-shadow;
  }

  &-window-left &-window {
    margin-right: $magnify-window-gutter;
  }

  &-window-right &-window {
    margin-left: $magnify-window-gutter;
  }

  &-window-top &-window {
    margin-bottom: $magnify-window-gutter;
  }

  &-window-bottom &-window {
    margin-top: $magnify-window-gutter;
  }

  &-error {
    padding: $magnify-error-padding;
    color: $magnify-error-color;
    background: $magnify-error-bg;
    border-radius: $magnify-error-border-radius;
  }

  &-disabled {
    .#{$magnify}-image {
      cursor: auto;
    }

    .#{$magnify}-overlay,
    .#{$magnify}-lens,
    .#{$magnify}-window,
    .#{$magnify}-error {
      display: none;
    }
  }
}
