@import "@pluginjs/styles/variables.scss";

@import "magnify.core";

$magnify-cursor: crosshair;

$magnify-border-width: $border-width;
$magnify-border-color: $border-color;
$magnify-border-radius: $border-radius-base;

$magnify-show-hover-color: $border-color;
$magnify-show-border-color: $border-color;

$magnify-error-color: $color-white;
$magnify-error-bg: $gray-darkest;
$magnify-error-padding: 0.5*$sizer $sizer;
$magnify-error-border-radius: $border-radius-md;

$magnify-outside-border-width: 1px;
$magnify-outside-border-color: $border-color-hover;
$magnify-outside-gutter: 10px;
$magnify-outside-border-radius: $magnify-border-radius;

$magnify-target-bg: $gray-darkest;

$magnify-lens-border-width: 4px;
$magnify-lens-border-color: $color-white;
$magnify-lens-bg: $magnify-target-bg;

$magnify-outside-lens-border-radius: $magnify-border-radius;

.#{$magnify} {
  border: $magnify-border-width solid $magnify-border-color;

  &,
  &-image {
    border-radius: $magnify-border-radius;
  }

  &:hover {
    border-color: $magnify-show-hover-color;
  }

  &-show,
  &-show:hover {
    border-color: $magnify-show-border-color;
  }

  &-zoom {
    cursor: $magnify-cursor;
  }

  &-error {
    padding: $magnify-error-padding;
    color: $magnify-error-color;
    background: $magnify-error-bg;
    border-radius: $magnify-error-border-radius;
  }

  &-target {
    background-color: $magnify-target-bg;
  }

  &-lens {
    margin-top: -$magnify-lens-border-width;
    margin-left: -$magnify-lens-border-width;
    background-color: $magnify-lens-bg;
    border: $magnify-lens-border-width solid $magnify-lens-border-color;
  }

  &-outside &-lens {
    border-radius: $magnify-outside-lens-border-radius;
  }

  &-outside &-target {
    border: $magnify-outside-border-width solid $magnify-outside-border-color;

    &,
    & img {
      border-radius: $magnify-outside-border-radius;
    }
  }

  &-outside-left &-target {
    margin-top: -$magnify-outside-border-width;
    margin-left: $magnify-outside-gutter;
  }

  &-outside-right &-target {
    margin-top: -$magnify-outside-border-width;
    margin-right: $magnify-outside-gutter;
  }

  &-outside-top &-target {
    margin-bottom: $magnify-outside-gutter;
    margin-left: -$magnify-outside-border-width;
  }

  &-outside-bottom &-target {
    margin-top: $magnify-outside-gutter;
    margin-left: -$magnify-outside-border-width;
  }

  &-click:not(.#{$magnify}-show).#{$magnify}-zoom,
  &-click:not(.#{$magnify}-show) .#{$magnify}-zoom,
  &-toggle:not(.#{$magnify}-show).#{$magnify}-zoom,
  &-toggle:not(.#{$magnify}-show) .#{$magnify}-zoom {
    cursor: zoom-in;
  }

  &-toggle:not(.#{$magnify}-has-lens).#{$magnify}-show.#{$magnify}-zoom,
  &-toggle:not(.#{$magnify}-has-lens).#{$magnify}-show .#{$magnify}-zoom {
    cursor: zoom-out;
  }

  &-disabled {
    .#{$magnify}-target {
      display: none;
    }
  }
}
