@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$animateText: "pj-animateText" !default;

// Core
// =====================

.#{$animateText} {
	&,
	&-word,
	&-char {
		display: inline-block;
	}

	&-cursor {
		animation: blink 0.8s infinite;
	}

	&-switch {
		position: relative;
	  overflow: hidden;
	  vertical-align: top;

	  > * {
	    white-space: nowrap;
	  }
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
