@import "@pluginjs/styles/variables.scss";

/* core */

.pj-animateText-multiple {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  vertical-align: top;

  > * {
    white-space: nowrap;
  }
}
