@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$animateText: "pj-animateText" !default;

// Core
// =====================

.#{$animateText} {
	&,
	&-word,
	&-char {
		display: inline-block;
	}

	&-multiple {
		position: relative;
	  display: inline-flex;
	  flex-direction: column;
	  overflow: hidden;
	  vertical-align: top;

	  > * {
	    white-space: nowrap;
	  }
	}
}
