@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$filter: "pj-filter" !default;
$filter-active-color: $color-primary !default;

// Core
// =====================
.#{$filter}s {

  @include clearfix();
  position: relative;
}

.#{$filter} {
  position: relative;
  display: inline-block;
  float: left;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  &-active {
    z-index: 1;
    color: $filter-active-color;
  }

  &.#{$filter}-disabled,
  &:disabled {
    cursor: not-allowed;
  }

  &-hide {
    display: none;
  }
}
