@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$filter: "pj-filter" !default;

// Core
// =====================
.#{$filter}s {
  @include clearfix();

  position: relative;

  .#{$filter} {
    position: relative;
    display: inline-block;
    float: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

    &-active {
      z-index: 1;
    }

    &-hide {
      display: none;
    }

    // &-dropdown {
    //   display: flex;
    //   align-items: center;
    // }
  }
}
