@import "@pluginjs/styles/variables.scss";
@import "filters.core";

// Vars
// =====================
$filter: "pj-filter";

$filter-font-family: $font-family-base;
$filter-font-size: $font-size-sm;
$filter-line-height: 1em;

$filter-color: $gray-darkest;
$filter-active-color: $color-primary;

$filter-disabled-opacity: 0.65;

$filter-gutter: 30px;

$filter-padding-y: 8px;
$filter-padding-x: 15px;

$filter-border-width: $border-width;
$filter-border-radius: $border-radius-base;
$filter-border-color: $border-color;

$filter-underline-height: 1px;
$filter-underline-width: 50%;

$filter-pill-gutter: 20px;

// Skin
// =====================
.#{$filter} {
  padding: $filter-padding-y 0;
  font-family: $filter-font-family;
  font-size: $filter-font-size;
  line-height: $filter-line-height;
  color: $filter-color;
  background-color: transparent;
  border: $filter-border-width solid transparent;

  & + & {
    margin-left: $filter-gutter;
  }

  &:not(:disabled):hover,
  &:not(:disabled):active,
  &:not(:disabled):focus,
  &.#{$filter}-active {
    color: $filter-active-color;
  }

  &.#{$filter}-disabled,
  &:disabled {
    opacity: $filter-disabled-opacity;
  }
}

.#{$filter}s--line {
  .#{$filter} {
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: $filter-underline-height;
      content: "";
      background-color: $filter-active-color;
      transition: width 0.2s ease;
      transform: translateX(-50%);
    }

    &:not(:disabled):hover,
    &:not(:disabled):active,
    &:not(:disabled):focus,
    &.#{$filter}-active {
      &::after {
        width: $filter-underline-width;
      }
    }

    &.#{$filter}-disabled,
    &:disabled {
      &::after {
        width: 0;
      }
    }
  }
}

.#{$filter}s--group {
  .#{$filter} {
    padding: $filter-padding-y $filter-padding-x;
    border: $filter-border-width solid $filter-border-color;

    + .#{$filter} {
      margin-left: 0;
      border-left: none;
    }

    &:first-child {
      border-radius: $filter-border-radius 0 0 $filter-border-radius;
    }

    &:last-child {
      border-radius: 0 $filter-border-radius $filter-border-radius 0;
    }
  }
}

.#{$filter}s--pill {
  .#{$filter} {
    padding: $filter-padding-y $filter-padding-x;
    border: $filter-border-width solid $filter-border-color;

     + .#{$filter} {
      margin-left: $filter-pill-gutter;
    }

    &:not(:disabled):hover,
    &:not(:disabled):active,
    &:not(:disabled):focus,
    &.#{$filter}-active {
      border-color: $filter-active-color;
    }

    &.#{$filter}-disabled,
    &:disabled {
      &::after {
        border-color: $filter-border-color;
      }
    }
  }
}
