@import "@pluginjs/styles/variables.scss";
@import "filters.core";

// Vars
// =====================
$filter: "pj-filter";

$filter-font-family: $font-family-base;
$filter-font-size: $font-size-sm;
$filter-line-height: 22px;

$filter-color: $gray-darkest;
$filter-active-color: $color-primary;

$filter-padding: 3px 15px;

$filter-border-width: $border-width;
$filter-border-radius: $border-radius-base;
$filter-border-color: $border-color;

$dropdown: "pj-dropdown";

$filters-button-margin: 10px;

// Core
// =====================
.#{$filter}s {
  @include clearfix();

  font-family: $filter-font-family;
  vertical-align: middle;

  > button {
    border-radius: inherit;
  }

  .#{$dropdown}-item.#{$filter}-active {
    color: $filter-active-color;
  }

  .#{$filter} {
    padding: $filter-padding;
    font-size: $filter-font-size;
    line-height: $filter-line-height;
    color: $filter-color;
    text-align: center;
    background-color: transparent;
    border: $filter-border-width solid transparent;

    &:not(:disabled):hover,
    &:not(:disabled):active,
    &:not(:disabled):focus {
      color: $filter-active-color;
      background: inherit;
      border-color: transparent;
      box-shadow: none;
    }

    &,
    &:active,
    &.#{$filter}-active {  
      &:focus,
      &.focus {
        // WebKit-specific. Other browsers will keep their default outline style.
        // (Initially tried to also force default via `outline: initial`,
        // but that seems to erroneously remove the outline in Firefox altogether.)
        // outline: 2px auto -webkit-focus-ring-color;
        // outline-offset: -2px;
        outline: none;
      }
    }

    &,
    &:focus,
    &:hover {
      text-decoration: none;
    }

    &:active,
    &.#{$filter}-active {
      color: $filter-active-color;
      background-image: none;
      outline: 0;
      box-shadow: none;
    }

    &.#{$filter}-disabled,
    &:disabled {
      cursor: not-allowed;
      box-shadow: none;
      opacity: 0.65;
    }

    &-hide {
      display: none;
    }
  }

  .#{$filter}-dropdown {
    padding: $filter-padding;
    font-size: $filter-font-size;
    line-height: $filter-line-height;
  }
}

.#{$filter}-panel {

  .#{$filter}-active {
    color: $filter-active-color;
  }
}

/* pill */
.#{$filter}s--pill {

  .#{$filter} {
    margin-left: $filters-button-margin;
    border: $filter-border-width solid $filter-border-color;
    border-radius: $filter-border-radius;

    &:first-child {
      margin-left: 0;
    }

    &:not(:disabled):hover {
      border-color: $filter-active-color;
    }

    &:not(:disabled):focus {
      border-color: $filter-active-color;
    }

    &.#{$filter}-active {
      border-color: $filter-active-color
    }
  }
}

/* group */
.#{$filter}s--group {

  .#{$filter} {
    border: $filter-border-width solid $filter-border-color;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      border-color: $filter-border-color;
    }

    &:first-child {
      border-top-left-radius: $filter-border-radius;
      border-bottom-left-radius: $filter-border-radius;
    }

    &:last-child {
      border-top-right-radius: $filter-border-radius;
      border-bottom-right-radius: $filter-border-radius;
    }
  }

  .#{$filter} + .#{$filter} {
    margin-left: -$filter-border-width;
  }
}

.#{$filter}s--line {

  .#{$filter} {
    
    &:hover,
    &:active,
    &.#{$filter}-active {

      color: inherit;
      background-image: none;
      outline: 0;
      box-shadow: none;
      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 29px;
        height: 2px;
        content: "";
        background-color: $filter-active-color;
        transform: translateX(-50%);
      }
    }
  }
}
