---
title: List
layout: plugin
styles:
- ../../plugins/popover/css/popover.css
- ../../plugins/pop-dialog/css/pop-dialog.css
- ../../plugins/list/css/list.css
scripts:
- ../../plugins/list/list.js
---

<section>
  <h2>Default</h2>
{{#code}}
<input type="text" class="example-default">
<script>
  (function() {
    Pj.list('.example-default', {data: data});
  })();
</script>
{{/code}}
  <input type="text" class="example-default">
</section>

<section>
  <h2>Initialized by input value</h2>
{{#code}}
<input type="text" class="example-input" value='[{"title":"Interfaces","value":"interface"},{"title":"Typography","value":"typography"}]'>
<script>
  (function() {
    Pj.list('.example-input');
  })();
</script>
{{/code}}
  <input type="text" class="example-input" value='[{"title":"Interfaces","value":"interface"},{"title":"Typography","value":"typography"}]'>
  <script>
    Pj.list('.example-input');
  </script>
</section>

<section>
  <h2>Simple</h2>
{{#code}}
<input type="text" class="example-simple">
<script>
  (function() {
    Pj.list('.example-simple', {
      data: [
        'hello',
        'world',
        {
          "title":"Amazing suger"
        }
      ]
    });
  })();
</script>
{{/code}}
  <input type="text" class="example-simple" value='["hello", "world", {"title":"Amazing suger"}]'>
</section>

<section>
  <h2>Locale</h2>
{{#code}}
<input type="text" class="example-locale">
<script>
  (function() {
    Pj.list('.example-locale', {
      locale: 'zh',
      data: data
    });
  })();
</script>
{{/code}}
  <input type="text" class="example-locale">
</section>

<section>
  <h2>Api</h2>
  <input type="text" class="example-api" disabled>
  <div>
    <button class="btn api-set">set(data, index)</button>
    <button class="btn api-get">get()</button>
    <button class="btn api-get-index">get(index)</button>
    <button class="btn api-val">val()</button>
    <button class="btn api-val-set">val(data)</button>
    <button class="btn api-insert">insert(itemInfo)</button>
    <button class="btn api-init">init()</button>
    <button class="btn api-destroy">destroy()</button>
    <button class="btn api-enable">enable()</button>
    <button class="btn api-disable">disable()</button>
    <button class="btn api-clear">clear()</button>
  </div>
  <div class="console"></div>
</section>

<script>
  (function () {
    var data = [{
      title: 'Interfaces',
      value: 'interface'
    }, {
      title: 'UI Design',
      value: 'ui-design'
    }, {
      title: 'Web Design',
      value: 'web-design'
    }, {
      title: 'Typography',
      value: 'typography'
    }, {
      title: 'Landing',
      value: 'landing'
    }];

    Pj.list('.example-default', {data: data});
    Pj.list('.example-simple', {
      data: [
        'hello',
        'world'
      ]
    });
    Pj.list('.example-locale', {
      locale: 'zh',
      data: data
    });

    var $list = Pj.list('.example-api', {
      data: data,
      onReady: function() {
        console.log('ready', 'event');
      },
      onDestroy: function() {
        console.log('destroy', 'event');
      },
      onEnable: function() {
        console.log('enable', 'event');
      },
      onDisable: function() {
        console.log('disable', 'event');
      },
      onAdd: function() {
        console.log('insert', 'event')
      }
    });

    document.querySelector('.api-set').addEventListener('click', function() {
      $list('set', ['hello',{
      title: 'Interfaces-set',
      value: 'interface-set'
    }, {
      title: 'UI Design-set',
      value: 'ui-design-set'
    }, {
      title: 'Web Design-set',
      value: 'web-design-set'
    }, {
      title: 'Typography-set',
      value: 'typography-set'
    }, {
      title: 'Landing-set',
      value: 'landing-set'
    }]);
      console.log('index = 0', 'set(data)');
    });
    document.querySelector('.api-get').addEventListener('click', function() {
      log(JSON.stringify($list('get')), 'get()');
    });
    document.querySelector('.api-get-index').addEventListener('click', function() {
      console.log('index = 1; ' + JSON.stringify($list('get')), 'get(index)');
    });
    document.querySelector('.api-val').addEventListener('click', function() {
      log($list('val'), 'val()');
    });
    document.querySelector('.api-val-set').addEventListener('click', function() {
      $list.val([{
      title: 'Interfaces-val(data)',
      value: 'interface-val(data)'
    }, {
      title: 'UI Design-val(data)',
      value: 'ui-design-val(data)'
    }, {
      title: 'Web Design-val(data)',
      value: 'web-design-val(data)'
    }, {
      title: 'Typography-val(data)',
      value: 'typography-val(data)'
    }, {
      title: 'Landing-val(data)',
      value: 'landing-val(data)'
    }]);
      console.log('', 'val(data)');
    });
    document.querySelector('.api-insert').addEventListener('click', function() {
      $list('insert',{
        index: 3,
        title: 'api-insert()',
        value: 'api-insert-value'
      });
      console.log('', 'insert()');
    });
    document.querySelector('.api-init').addEventListener('click', function() {
      $list = Pj.list('.example-api', {
        data: data,
        onReady: function() {
          console.log('ready', 'event');
        },
        onDestroy: function() {
          console.log('destroy', 'event');
        },
        onEnable: function() {
          console.log('enable', 'event');
        },
        onDisable: function() {
          console.log('disable', 'event');
        },
        onAdd: function() {
          console.log('insert', 'event')
        }
      });
      console.log('', 'init()');
    });
    document.querySelector('.api-enable').addEventListener('click', function() {
      $list('enable');
      console.log('', 'enable()');
    });
    document.querySelector('.api-disable').addEventListener('click', function() {
      $list('disable');
      console.log('', 'disable()');
    });
    document.querySelector('.api-destroy').addEventListener('click', function() {
      $list('destroy');
      console.log('', 'destroy()');
    });

    document.querySelector('.api-clear').addEventListener('click', function() {
      $list('clear');
      console.log('', 'clear()');
    });
  })();
</script>
