@import "@pluginjs/styles/variables.scss";

// Vars
// =====================

$list: "pj-list" !default;
$toggleList: "pj-tag-list" !default;
$toggleList-border-color: $border-color !default;
$toggleList-unchecked-bg: $gray-lightest !default;

// Core
// =====================

.#{$toggleList} {
  .#{$list}-unchecked {
    background: $toggleList-unchecked-bg;
    .#{$list}-item-handle:hover {
      cursor: not-allowed;
    }

    &:hover {
      border-color: $toggleList-border-color;
    }
  }
}
