@import "@pluginjs/styles/variables.scss";

// Vars
// =====================

$list: "pj-list" !default;
$toggleList-border-color: $gray-border !default;
$toggleList-hover-color: $gray-darkest !default;
$toggleList-unchecked-bg: $gray-lightest !default;

// Core
// =====================

.#{$list}-item.#{$list}-unchecked {
  background: $toggleList-unchecked-bg;
  .#{$list}-item-handle:hover {
    cursor: not-allowed;
  }

  &:hover {
    border-color: $toggleList-border-color;
  }
}

// .#{$toggleList} {
//   .#{$parent} {
//     &-item {
//       // background-color: $toggleList-unchecked-bg;
//       animation: todark 0.5s;
//       animation-fill-mode: forwards;

//       &:hover {
//         border-color: $toggleList-border-color;
//       }

//       &-handle:hover {
//         cursor: not-allowed;
//       }

//       &.#{$toggleList}-checked {
//         // background-color: #fff;
//         // transition: background-color 1s;
//         animation: tolight 0.5s;
//         animation-fill-mode: forwards;

//         &:hover {
//           border-color: $toggleList-hover-color;
//         }
//         &:active {
//           border-color: $color-primary-dark;
//         }

//         .pj-list-item-handle:hover {
//           cursor: pointer;
//         }
//       }
//       &.sortable-ghost.sortable-chosen {
//         border-color: $toggleList-border-color;
//       }
//     }

//     // &-item-handle:hover {
//     //   background-color: $toggleList-hover-color;
//     // }

//     &-item-actions {
//       top: 19px !important;
//       &:hover {
//         cursor: default;
//       }

//       // .#{$toggle}:hover {
//       //   cursor: pointer;
//       // }
//     }
//   }
// }
