@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$scrollable: "pj-scrollable" !default;
$scrollable-bar: "pj-scrollbar" !default;

$scrollable-bar-duration: 200ms !default;

// Core
// =====================
.#{$scrollable} {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &-enabled {
    overflow: hidden !important;
  }

  &-content {
    @include clearfix();

    overflow: visible !important;
  }

  &-bar-hide {
    opacity: 0;
  }

  &-scrolling {
    user-select: none;
    -webkit-touch-callout: none;
  }
}

.#{$scrollable}-container {
  box-sizing: content-box !important;
  overflow: hidden !important;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .#{$scrollable}-vertical & {
    overflow-y: scroll !important;
  }

  .#{$scrollable}-horizontal & {
    overflow-x: scroll !important;
  }
}

.#{$scrollable-bar} {
  transition: opacity $scrollable-bar-duration ease;

  .#{$scrollable}-hovering &,
  &.#{$scrollable-bar}-dragging {
    opacity: 1;
  }

  .#{$scrollable}-disabled & {
    display: none;
  }
}
