@import "@pluginjs/styles/variables.scss";
@import "./mixins/scrollbar";

// Vars
// =====================
$scrollable: "pj-scrollable" !default;
$scrollable-bar: "pj-scrollbar" !default;
$scrollable-bar-bgColor:rgba(206,206,206,0.1);
$scrollable-bar-handle-hovering-color: $gray;

// Core
// =====================
.#{$scrollable} {
  &.#{$scrollable}-enabled {
    overflow: hidden !important;
  }

  &-container {
    .#{$scrollable}.#{$scrollable}-enabled & {
      box-sizing: content-box !important;
      overflow: hidden !important;
    }

    .#{$scrollable}.#{$scrollable}-enabled &::-webkit-scrollbar {
      width: 0;
      height: 0;
      appearance: none;
      // -webkit-appearance: none;
    }

    .#{$scrollable}-vertical.#{$scrollable}-enabled & {
      overflow-y: scroll !important;
    }

    .#{$scrollable}-horizontal.#{$scrollable}-enabled & {
      overflow-x: scroll !important;
    }
  }

  &-content {
    .#{$scrollable}.#{$scrollable}-enabled & {
      @include clearfix();

      overflow: visible !important;
    }
  }

  &-bar {
    .#{$scrollable}.#{$scrollable}-disabled & {
      display: none;
    }

    &-hide {
      opacity: 0;
      transition-delay: 400ms;
    }
  }

  &.#{$scrollable}-scrolling {
    .#{$scrollable-bar}-bar {
      opacity: 1;
      transition: opacity 0;
    }
  }

  &.#{$scrollable}-hovering {
    .#{$scrollable-bar} {
      background: $scrollable-bar-bgColor;
      &-handle {
        background: $scrollable-bar-handle-hovering-color;
      }
    }
  }

  &.#{$scrollable}-dragging {
    user-select: none;
    -webkit-touch-callout: none;
  }
}
