@import "@pluginjs/styles/variables.scss";
@import "scrollable.core";

// Vars
// =====================
$scrollable: "pj-scrollable";
$scrollable-bar: "pj-scrollbar";

$scrollable-bar-guter: 2px;
$scrollable-bar-handle-offset: 5px;

$scrollable-bar-size: 4px;
$scrollable-bar-drag-size: 8px;

$scrollable-bar-bg: rgba($gray, 0.1);
$scrollable-bar-handle-color: $gray-light;
$scrollable-bar-handle-hover-color: $gray;

// Skin
// =====================
.#{$scrollable-bar} {
  &-vertical {
    margin: $scrollable-bar-handle-offset
      ($scrollable-bar-drag-size - $scrollable-bar-size) / 2;

    &.#{$scrollable-bar}-dragging,
    &.#{$scrollable-bar}-hovering {
      margin: $scrollable-bar-handle-offset $scrollable-bar-guter;
    }
  }

  &-horizontal {
    margin: ($scrollable-bar-drag-size - $scrollable-bar-size) / 2
      $scrollable-bar-handle-offset;

    &.#{$scrollable-bar}-dragging,
    &.#{$scrollable-bar}-hovering {
      margin: $scrollable-bar-guter $scrollable-bar-handle-offset;
    }
  }
}
