@import "@pluginjs/styles/variables.scss";
@import "scrollable.core";

// Vars
// =====================
$scrollable: "pj-scrollable";
$scrollable-bar: "pj-scrollbar";

$scrollable-bar-bgColor :rgba(206,206,206,0.1);
$scrollable-bar-handle-hovering-color: $gray;

// Core
// =====================
.#{$scrollable} {
  &.#{$scrollable}-hovering {
    .#{$scrollable-bar} {
      background: $scrollable-bar-bgColor;
      &-handle {
        background: $scrollable-bar-handle-hovering-color;
      }
    }
  }
}
