---
title: Collapse
layout: plugin
styles:
- ../../plugins/collapse/css/collapse.css
scripts:
- ../../plugins/collapse/collapse.js
---
<style>
  * {
    box-sizing: border-box;
  }

  .top-gap {
    margin-top: 2rem;
  }

  .pj-collapse {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
  }

  .pj-collapse-header {
    padding: 1rem;
  }

  .pj-collapse-header .toggle {
    float: right;
  }

  .pj-collapse-content-inner {
    padding: 1rem;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: inherit;
  }

  .pj-collapse-header + .pj-collapse-content .pj-collapse-content-inner {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: inherit;
  }
</style>
<section>
  <h3>Basic collapse</h3>
  <div class="collapse pj-collapse">
    <div class="pj-collapse-header">Show/Hide Content</div>
    <div class="pj-collapse-content">
      <div class="pj-collapse-content-inner">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        <button>Button</button>
      </div>
    </div>
  </div>
</section>

<section class="top-gap">
  <h3>Collapsed initial state</h3>
  <div class="collapse pj-collapse pj-collapse-collapsed">
    <div class="pj-collapse-header">Show/Hide Content</div>
    <div class="pj-collapse-content">
      <div class="pj-collapse-content-inner">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        <button>Button</button>
      </div>
    </div>
  </div>
</section>

<section class="top-gap">
  <h3>Header/Content Order</h3>
  <div class="collapse pj-collapse pj-collapse-collapsed">
    <div class="pj-collapse-content">
      <div class="pj-collapse-content-inner">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        <button>Button</button>
      </div>
    </div>
    <div class="pj-collapse-header">Show/Hide Content</div>
  </div>
</section>

<section>
  <h3>Option: switch</h3>
  <div class="collapse pj-collapse pj-collapse-collapsed" data-switch="toggle">
    <div class="pj-collapse-header">It's title.<button class="toggle">toggle</button></div>
    <div class="pj-collapse-content">
      <div class="pj-collapse-content-inner">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        <button>Button</button>
      </div>
    </div>
  </div>
</section>

<section class="top-gap">
  <h3>Option: instructions</h3>
  <div class="collapse pj-collapse pj-collapse-collapsed" data-instructions="click to toggle">
    <div class="pj-collapse-header">Show/Hide Content</div>
    <div class="pj-collapse-content">
      <div class="pj-collapse-content-inner">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        <button>Button</button>
      </div>
    </div>
  </div>
</section>

<section class="top-gap">
  <h3>Api</h3>
  <div class="collapse-api pj-collapse pj-collapse-collapsed">
    <div class="pj-collapse-header">Show/Hide Content</div>
    <div class="pj-collapse-content">
      <div class="pj-collapse-content-inner">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        <button>Button</button>
      </div>
    </div>
  </div>
  <div class="top-gap">
    <button class="btn" id="testInit">init</button>
    <button class="btn" id="testToggle">toggle</button>
    <button class="btn" id="testExpand">expand</button>
    <button class="btn" id="testCollapse">collapse</button>
    <button class="btn" id="testEnable">enable</button>
    <button class="btn" id="testDisable">disable</button>
    <button class="btn" id="testDestroy">destroy</button>
  </div>
  <div class="console"></div>
</section>

<script>
window.onload = function() {
  Pj.collapse('.collapse');

  var info = document.querySelector('.console');
  var APITest =  null;

  document.querySelector("#testInit").addEventListener('click', function() {
    APITest =  Pj.collapse('.collapse-api');

    info.insertAdjacentHTML('beforeend', '<p>init()</p>');
  });

  document.querySelector("#testToggle").addEventListener('click', function() {
    APITest.toggle();

    info.insertAdjacentHTML('beforeend', '<p>toggle()</p>');
  });

  document.querySelector("#testExpand").addEventListener('click', function() {
    APITest.expand();

    info.insertAdjacentHTML('beforeend', '<p>expand()</p>');
  });

  document.querySelector("#testCollapse").addEventListener('click', function() {
    APITest.collapse();

    info.insertAdjacentHTML('beforeend', '<p>collapse()</p>');
  });

  document.querySelector("#testEnable").addEventListener('click', function() {
    APITest.enable();

    info.insertAdjacentHTML('beforeend', '<p>enable()</p>');
  });

  document.querySelector("#testDisable").addEventListener('click', function() {
    APITest.disable();

    info.insertAdjacentHTML('beforeend', '<p>disable()</p>');
  });

  document.querySelector("#testDestroy").addEventListener('click', function() {
    APITest.destroy();

    info.insertAdjacentHTML('beforeend', '<p>destroy()</p>');
  });
};
</script>
