@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";

// Vars
// =====================
$select: "pj-select" !default;
$select-width: 200px !default;
$select-max-height: 300px !default;

$select-trigger-arrow-icon: $pj-icon-caret-down-mini !default;
$select-trigger-arrow-font: $pj-icon-font-family !default;
$select-trigger-arrow-right: $input-padding-x !default;
$select-trigger-padding-right: 30px !default;

$select-clear-icon: $pj-icon-close !default;
$select-clear-font: $pj-icon-font-family !default;
$select-clear-right: 11px !default;

.#{$select} {
  position: relative;
  width: $select-width;


  &-element {
    display: none;
  }

  & &-trigger {
    width: 100%;
    padding-right: $select-trigger-padding-right;
  }

  & &-dropdown {
    width: 100%;
  }

  &-dropdown {
    max-height: $select-max-height;
    overflow: auto;
    line-height: 1;
  }

  &-trigger {
    cursor: pointer;

    &::after {
      @include icon();
      position: absolute;
      top: 50%;
      right: $select-trigger-arrow-right;
      font-family: $select-trigger-arrow-font;
      content: icon-content($select-trigger-arrow-icon);
      transform: translateY(-50%);
    }

    .#{$select}-clearable.#{$select}-selected:not(.#{$select}-disabled) &:hover::after {
      display: none;
    }
  }

  &-clear {
    position: absolute;
    top: 0;
    right: $select-clear-right;
    display: none;
    height: 100%;
    font-family: $select-clear-font;

    &::before {
      @include icon();
      vertical-align: middle;
      content: icon-content($select-clear-icon);
    }

    &::after {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }

    .#{$select}-selected:not(.#{$select}-disabled) .#{$select}-trigger:hover & {
      display: inline-block;
    }
  }

  &-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-group-label {
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

input.#{$select}-filter {
  width: 100%;
  height: 100%;
  line-height: 100%;
  border: none;
  outline: none;
}
