@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
@import "select.core";

// Vars
// =====================
$select: "pj-select";

$select-color: $text-color;
$select-trigger-width: $select-width;
$select-trigger-placeholder-color: $gray-dark;

$select-trigger-arrow-color: $gray-dark;
// $select-trigger-hover-color: $gray-darkest;
// $select-trigger-focus-color: $select-trigger-hover-color;

$select-trigger-disabled-bg: $disabled-bg;
$select-trigger-disabled-border: $disabled-border;
$select-trigger-disabled-color: $disabled-color;

$select-clear-color: $gray-dark;
$select-clear-hover-color: $text-color;

$select-group-font-size: $font-size-xs;
$select-group-color: $gray-dark;
$select-group-space-x: 11px;
$select-group-space-y: 8px;

.#{$select} {
  outline: none;

  &-trigger {
    position: relative;
    color: $select-trigger-placeholder-color;

    .#{$select}-selected & {
      color: $select-color;
    }

    &::after {
      color: $select-trigger-arrow-color;
      transition: transform 0.3s;
      will-change: transform;
    }

    &.#{$select}-on-top[aria-expanded="true"]::after {
      transform: rotate(180deg);
    }
  }

  &-clear {
    color: $select-clear-color;

    &:hover {
      color: $select-clear-hover-color;
    }
  }

  &-group {
    padding: $select-group-space-y $select-group-space-x;
    font-size: $select-group-font-size;
    color: $select-group-color;
  }
}

.#{$select}-disabled {
  .#{$select}-trigger {
    color: $select-trigger-disabled-color;
    background-color: $select-trigger-disabled-bg;
    border-color: $select-trigger-disabled-border;
  }
}
