@import "@pluginjs/styles/variables.scss";
@import "@pluginjs/icons/variables.scss";
@import "select.core";

// Vars
// =====================
$select: "pj-select";
$select-width: 200px;

$select-trigger-width: $select-width;
$select-trigger-lineHeigh: 22px;
$select-trigger-placeholder-color: $gray-dark;
// $select-trigger-hover-color: $gray-darkest;
// $select-trigger-focus-color: $select-trigger-hover-color;

$select-trigger-disabled-bg: $color-white;
$select-trigger-disabled-border: $gray-border;
$select-trigger-disabled-color: $gray-border;

$select-trigger-arrow-icon: $pj-icon-angle-down-mini-solid;
$select-trigger-arrow-font: $pj-icon-font-family;
$select-trigger-arrow-right: 1.5 * $sizer;

.#{$select} {
  &-wrap {
    outline: none;
  }
  &-trigger {
    position: relative;
    width: $select-trigger-width;
    line-height: $select-trigger-lineHeigh;

    &:not(.#{$select}-selected) {
      color: $select-trigger-placeholder-color;
    }

    &::after {
      @include icon();
      position: absolute;
      right: $select-trigger-arrow-right;
      font-family: $select-trigger-arrow-font;

      content: icon-content($select-trigger-arrow-icon);
      transition: transform 0.3s;
      will-change: transform;
    }

    &.pj-dropdown-on-top-start[aria-expanded="true"]::after {
      transform: rotate(180deg);
    }
  }
}

.#{$select}-disabled {
  .#{$select}-trigger {
    color: $select-trigger-disabled-color;
    background-color: $select-trigger-disabled-bg;
    border-color: $select-trigger-disabled-border;
  }
}
