@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$zoom: "pj-zoom" !default;
$zoom-duration: 0.3s !default;

// Core
// =====================
.#{$zoom} {
  &-container {
    position: relative;
  }

  &-image {
    max-width: 100%;
    vertical-align: middle;
  }

  &-lens {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
    cursor: default;
  }

  &-window {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    overflow: hidden;
  }

  &-lensImage,
  &-windowImage {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: opacity $zoom-duration;
  }

  &-zoomIn {
    cursor: zoom-in;
  }

  &.#{$zoom}-zoomOut {
    cursor: zoom-out;
  }

  &-show {
    display: block;
  }

  &-hide {
    display: none;
  }
}
