@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$zoom: "pj-zoom" !default;
$zoom-duration: 0.3s !default;

// Core
// =====================
// .#{$zoom} {
// }

.#{$zoom}-modeInner {
  .#{$zoom}-window {
    position: absolute;
    z-index: 999;
    display: none;
    overflow: hidden;
    cursor: "Crosshair";

    .#{$zoom}-windowImage {
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.#{$zoom}-modeLens {
  .#{$zoom}-lens {
    position: absolute;
    z-index: 999;
    display: none;
    overflow: hidden;
    cursor: default;
    border: 1px solid rgb(0, 0, 0);
    opacity: 1;

    .#{$zoom}-lensImage {
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.#{$zoom}-modeWindow {
  .#{$zoom}-lens {
    position: absolute;
    z-index: 999;
    display: none;
    overflow: hidden;
    // opacity: 1;
    cursor: default;
    border: 1px solid rgb(0, 0, 0);

    &.#{$zoom}-zoomIn {
      cursor: zoom-in;
    }

    &.#{$zoom}-zoomOut {
      cursor: zoom-out;
    }

    .#{$zoom}-lensImage {
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      // max-width: none;
    }
  }

  .#{$zoom}-window {
    position: absolute;
    z-index: 999;
    display: none;
    overflow: hidden;

    .#{$zoom}-windowImage {
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .#{$zoom}-overlay {
    position: absolute;
    display: none;
    // z-index: 999;
    // overflow: hidden;
    opacity: 0;
    transition: opacity $zoom-duration;
  }
}

.#{$zoom}-container {
  position: relative;

  .#{$zoom}-image {
    max-width: 100%;
    vertical-align: middle;
  }

  .#{$zoom}-lens {
    top: 0;
    left: 0;
  }

  .#{$zoom}-window {
    top: 0;
    left: 0;
  }

  .#{$zoom}-overlay {
    top: 0;
    left: 0;
  }

  .#{$zoom}-show {
    display: block;
  }

  .#{$zoom}-hide {
    display: none;
  }
}

/* fade: Fade in */
.#{$zoom}-fadeIn {
  animation: zoom-fadeIn $zoom-duration;
}

.#{$zoom}-fadeOut {
  animation: zoom-fadeOut $zoom-duration forwards;
}

@keyframes zoom-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoom-fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
