@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$lazyload: "pj-lazyload" !default;

// Core
// =====================
.#{$lazyload} {
	&,
	&ing {
		opacity: 0;
	}

	&.show {
		opacity: 0.5;
	}

	&.pj-lazyloaded {
    opacity: 1;
    transition: all 0.3s;
	}
}
