@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$lazyload: "pj-lazyload" !default;

// Core
// =====================
.#{$lazyload} {
	opacity: 0;

	&-loaded {
    opacity: 1;
    transition: opacity 0.3s;
	}
}
