---
title: GradientPicker
layout: plugin
styles:
- ../../plugins/range/css/range.css
- ../../plugins/dropdown/css/dropdown.css
- ../../plugins/units/css/units.css
- ../../css/font-awesome.min.css
- ../../plugins/modal/css/modal.css
- ../../plugins/scrollable/css/scrollable.css
- ../../plugins/color-picker/css/color-picker.css
- ../../plugins/popover/css/popover.css
- ../../plugins/pop-dialog/css/pop-dialog.css
- ../../plugins/edit-panel/css/edit-panel.css
- ../../plugins/gradient-picker/css/gradient-picker.css
scripts:
- ../../plugins/gradient-picker/gradient-picker.js
---
<section>
  <h2>Default</h2>
{{#code}}
<input type="text" class="example-default">
<script>
  $(function() {
    Pj.gradientPicker('.example-default', {
      data: data
    });
  });
</script>
{{/code}}
  <input type="text" class="example-default">
</section>

<section>
  <h2>Initialized by input value</h2>
{{#code}}
<input type="text" class="example-input" value='{"name":"sunny-morning","color":"linear-gradient(120deg, #f6d365 0%, #fda085 100%)","opacity":0.5}'>
<script>
  $(function() {
    Pj.gradientPicker('.example-input');
  });
</script>
{{/code}}
  <input type="text" class="example-input" value='{"name":"sunny-morning","color":"linear-gradient(120deg, #f6d365 0%, #fda085 100%)","opacity":0.5}'>
</section>

<section>
  <h2>Locale</h2>
{{#code}}
<input type="text" class="example-locale">
<script>
  $(function() {
    Pj.gradientPicker('.example-locale', {
      locale: 'zh',
      data: data
    });
  });
</script>
{{/code}}
  <input type="text" class="example-locale">
</section>
<section>
  <h2>Api</h2>
  <input type="text" class="example-api">
  <div>
    <button class="btn api-init">init()</button>
    <button class="btn api-destroy">destroy()</button>
    <button class="btn api-set">set(data)</button>
    <button class="btn api-get">get()</button>
    <button class="btn api-val">val()</button>
    <button class="btn api-val-set">val(data)</button>
    <button class="btn api-preset-set">setPreset(data)</button>
    <button class="btn api-enable">enable()</button>
    <button class="btn api-disable">disable()</button>
  </div>
  <div class="console"></div>
</section>
<script>
  (function() {
    var data = {
      "warm-flame":"linear-gradient(45deg, rgba(233,23,233,0.5) 0%, rgba(23,23,233,0.6) 99%, #fad0c4 100%)",
      "night-fade": "linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%)",
      "spring-warnth": "linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%)",
      "juicy-peach": "linear-gradient(to right, #ffecd2 0%, #fcb69f 100%)",
      "young-passion": "linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%)",
      "lady-lips":"linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%)",
      "sunny-morning": "linear-gradient(120deg, #f6d365 0%, #fda085 100%)",
      "rainy-ashville": "linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%)"
    };

    Pj.gradientPicker.setData(data);

    Pj.gradientPicker('.example-default');
    Pj.gradientPicker('.example-input');
    Pj.gradientPicker('.example-locale', {
      locale: 'zh'
    });

    var api = {}

    function init() {
      api = Pj.gradientPicker('.example-api', {
        onReady: function() {
          console.log('ready', 'event');
        },
        onDestroy: function() {
          console.log('destroy', 'event');
        },
        onEnable: function() {
          console.log('enable', 'event');
        },
        onDisable: function() {
          console.log('disable', 'event');
        },
        onChange: function(val) {
          console.log('change: '+JSON.stringify(val), 'event');
        },
      }).data('gradient-picker');
    }

    document.querySelector('.api-init').addEventListener('click', function() {
      init()
    });

    document.querySelector('.api-preset-set').addEventListener('click', function(){
      log(api.setPreset(data), 'api.setPreset(data)');
    });

    document.querySelector('.api-set').addEventListener('click', function(){
      log(api.set({"name":"sunny-morning", "opacity":0.5}), 'api.set({"name":"sunny-morning", "opacity":0.5})');
    });

    document.querySelector('.api-get').addEventListener('click', function(){
      log(JSON.stringify(api.get()), 'api.get()');
    });

    document.querySelector('.api-val').addEventListener('click', function(){
      log(api.val(), 'api.val()');
    });

    document.querySelector('.api-val-set').addEventListener('click', function(){
      log(api.val(`{'color':'radial-gradient(circle, #fff 0%, rgba(23,112,33,0.5) 100%)', 'opacity':'0.8'}`), "api.val(`'color':'radial-gradient(circle, #fff 0%, rgba(23,112,33,0.5) 100%)', 'opacity':'0.8'`)");
    });
    document.querySelector('.api-disable').addEventListener('click', function() {
      api.disable()
    });
    document.querySelector('.api-enable').addEventListener('click', function() {
      api.enable()
    });
    document.querySelector('.api-destroy').addEventListener('click', function() {
      api.destroy()
    });
  })();
</script>
