@import "@pluginjs/styles/variables.scss";

// Vars
// ======================
$spinner: "pj-spinner" !default;

$spinner-height: 32px !default;
$spinner-padding: 8px !default;

$spinner-border-width: 1px !default;

$spinner-layout-right-control-width: 20px !default;

// Core
// ======================
.#{$spinner} {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  user-select: none;
  outline: none;

  input {
    width: 100% !important;
    padding: $spinner-height + $spinner-padding;
    padding-top: $spinner-padding - $spinner-border-width;
    padding-bottom: $spinner-padding - $spinner-border-width;
    margin: 0;
    font-size: $font-size-base;
    text-align: center;
  }

  &-up,
  &-down {
    position: absolute;
    top: $spinner-border-width;
    padding: 0 $spinner-padding;

    &::before {
      line-height: $spinner-height - $spinner-border-width * 2;
      vertical-align: middle;
    }
  }

  &-control {
    box-sizing: border-box;
    text-align: center;
  }

  &-down {
    left: $spinner-border-width;
    box-sizing: border-box;
  }

  &-up {
    right: $spinner-border-width;
    box-sizing: border-box;
  }
}

.#{$spinner}-layout-right {
  .#{$spinner}-control {
    position: absolute;
    top: 50%;
    right: $spinner-border-width;
    width: $spinner-layout-right-control-width;
    height: 100%;
    transform: translateY(-50%);

    .#{$spinner}-up,
    .#{$spinner}-down {
      position: relative;
      right: 0;
      left: 0;
      display: block;
      width: 100%;
      height: calc(50% - 1px);
      padding: 0;
      border: 0;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
