@import "@pluginjs/styles/variables.scss";

// Vars
// ======================
$spinner: "pj-spinner" !default;
$units: "pj-units" !default;
//$global-disabled-bg-color: $disabled-color !default;
//$global-disabled-opacity: .4 !default;
$spinner-sizer: $sizer;

$spinner-width: 11.4 * $spinner-sizer !default; //120px
$spinner-height: 3.2 * $spinner-sizer !default; //32px

$spinner-control-width: 3.5 * $spinner-sizer !default; //35px

$spinner-border-width: 1px !default;
$spinner-border-radius: 2px !default;
$spinner-border-color: $gray-lighter !default;
$spinner-font-size: $font-size-xs !default;
$spinner-color: $gray-dark !default;

$spinner-focus-border-color: $color-primary !default;
$spinner-focus-hover-border-color: $gray-light !default;

// Core
// ======================
.#{$spinner} {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  user-select: none;
  //border: $spinner-border-width solid $spinner-border-color;
  border-radius: $spinner-border-radius;
  outline: none;

  &:hover {
    input {
      border-color: $spinner-focus-hover-border-color;
    }
  }
  //&:active {
  //  border-color: $color-primary-dark;
  //}
  //&:focus {
  //  border-color: $color-primary-dark;
  //}
  &-focus.#{$spinner} {
    border-color: $color-primary-dark;
  }
  &-focus.#{$spinner}:focus {
    border-color: $gray-lighter;
  }
  .pj-units-wrap input {
    padding-right: 6 * $spinner-sizer; //60px
    padding-left: 3.5 * $spinner-sizer; //35px
    border-radius: 4px;
  }
  .pj-dropdown-select .pj-dropdown-label {
    padding: 0;
  }
  input {
    box-sizing: border-box;
    width: $spinner-width;
    height: $spinner-height;
    padding: 0 $spinner-control-width;
    margin: 0;
    font-size: $spinner-font-size;
    color: $spinner-color;
    text-align: center;
    //border-width: 0;
    //border: none;
    border: $spinner-border-width solid $spinner-border-color;
    &:hover {
      border-color: $spinner-focus-hover-border-color;
    }
  }

  &-up,
  &-down {
    position: absolute;
    top: $spinner-border-width;
    width: $spinner-control-width - $spinner-border-width * 3;
    height: $spinner-height - $spinner-border-width * 2;
    // padding: 1px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &-control {
    box-sizing: border-box;
    text-align: center;
  }

  &-down {
    left: 0;
    box-sizing: border-box;
  }

  &-up {
    right: 0;
    box-sizing: border-box;
  }

  .#{$units}-trigger {
    right: 2 * $spinner-sizer; //20px
    left: auto;
    text-align: center;
  }

  &-disabled {
    position: relative;
    cursor: not-allowed;
    background-color: $disabled-bg;

    border-color: $disabled-border !important;
    input {
      color: $disabled-color !important;
      background-color: $disabled-bg !important;
    }

    &.#{$spinner}:hover input {
      border-color: $disabled-border !important;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      // opacity: $global-disabled-opacity;
      z-index: 999;
      display: block;
      width: 100%;
      height: 2 * $spinner-sizer; //20px
      content: "";
      //background-color: $disabled-bg;
    }

    .#{$spinner}-up::before,
    .#{$spinner}-down::before {
      color: $disabled-color !important;
      cursor: not-allowed;
    }
  }
}

.#{$spinner}-control-right {
  .#{$spinner}-control {
    position: absolute;
    top: 50%;
    right: 0;
    width: 2 * $spinner-sizer; //20px
    height: 2 * $spinner-sizer; //20pz
    transform: translateY(-50%);

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 14px;
      padding: 0;
      border: 0;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .#{$units}-trigger {
    right: 2 * $spinner-sizer; //20px
  }
}
