@import "@pluginjs/styles/variables.scss";
@import "spinner.core";

// Vars
// ======================
$spinner: "pj-spinner";

$spinner-font-family: $font-family-base;
$spinner-font-size: $font-size-xs;
$spinner-color: $gray-dark;
$spinner-active-color: $gray-darkest;

$spinner-hover-bg: $gray-lightest;

$spinner-border-color: $border-color;
$spinner-border-radius: $border-radius-base;

$spinner-control-color: $gray;
$spinner-control-font-size: $font-size-sm;
$spinner-control-active-color: $gray-darkest;

// Skin
// ================
.#{$spinner} {
  font-family: $spinner-font-family;

  input {
    color: $spinner-color;
  }

  &-focus {
    input {
      color: $spinner-active-color;
    }
  }

  .#{$spinner}-up,
  .#{$spinner}-down {
    background-color: transparent;

    &::before {
      font-size: $spinner-control-font-size;
      color: $spinner-control-color;
    }

    &:active,
    &:hover {
      cursor: pointer;
      background-color: $spinner-hover-bg;

      &::before {
        color: $spinner-control-active-color;
      }
    }
  }

  .#{$spinner}-up {
    border-left: $spinner-border-width solid $spinner-border-color;

    &:active {
      border-top-right-radius: $spinner-border-radius;
      border-bottom-right-radius: $spinner-border-radius;
    }
  }

  .#{$spinner}-down {
    border-right: $spinner-border-width solid $spinner-border-color;

    &:active {
      border-top-left-radius: $spinner-border-radius;
      border-bottom-left-radius: $spinner-border-radius;
    }
  }

  &.#{$spinner}-disabled {
    cursor: not-allowed;
    background-color: $disabled-bg;
    border-color: $disabled-border;

    .#{$spinner}-up,
    .#{$spinner}-down {
      cursor: not-allowed;

      &:active,
      &:hover {
        cursor: not-allowed;
        background-color: transparent;
      }

      &::before {
        color: $disabled-color;
        cursor: not-allowed;
      }
    }
  }

  // control right
  &.#{$spinner}-layout-right {
    input {
      padding-right: $spinner-layout-right-control-width + $spinner-padding;
      padding-left: $spinner-padding;
    }

    .#{$spinner}-control {
      border-left: $spinner-border-width solid $spinner-border-color;

      > .#{$spinner}-up {
        right: auto;
        border-bottom: $spinner-border-width solid $spinner-border-color;
      }

      > .#{$spinner}-down {
        left: auto;
      }
    }
  }
}
