@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$rate: "pj-rate" !default;
$rate-time: 0.3s !default;

// Core
// =====================
.#{$rate} {
  padding: 0;
  margin: 0;
  list-style: none;

  &-star {
    position: relative;
    display: inline-block;

    &-first {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;
      opacity: 0;
    }

    &-first,
    &-second {
      user-select: none;

      img {
        max-width: none;
      }

      embed {
        max-width: none;
      }
    }

    &-half {
      .#{$rate}-star-first {
        opacity: 1;
        transition: all $rate-time;
      }
    }
  }
}

.#{$rate}-disabled .#{$rate}-star {
  cursor: not-allowed;
}

.#{$rate}-destroy .#{$rate}-star {
  cursor: default;
}
