@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$rate: "pj-rate" !default;
$rate-size: 40px !default;
$rate-time: 0.3s !default;
$rate-spacer: 8px !default;
$rate-stor-font-size: $font-size-sm !default;
$rate-svg-spacer: 15px !default;
$rate-icon-spacer: 10px !default;
$rate-stor-font-line-height: 22px !default;

// Core
// =====================
.#{$rate} {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  list-style: none;

  .#{$rate}-star {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all $rate-time;

    + .#{$rate}-star {
      margin-left: $rate-spacer;
    }

    .#{$rate}-star-first {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;
      opacity: 0;
    }
  }

  .#{$rate}-star-half {
    .#{$rate}-star-first {
      opacity: 1;
    }
  }
}

.#{$rate}-star-first,
.#{$rate}-star-second {
  user-select: none;
  transition: all $rate-time;

  img {
    max-width: none;
  }

  embed {
    max-width: none;
  }
}

.#{$rate}-disabled .#{$rate}-star {
  cursor: not-allowed;
}

.#{$rate}-destroy .#{$rate}-star {
  cursor: default;
}

.score {
  // margin: -2px;
  font-size: $rate-stor-font-size;
  line-height: $rate-stor-font-line-height;
  color: $gray-darker;
  text-transform: capitalize;
}

.svgExample {
  + .#{$rate} {
    .#{$rate}-star {
      + .#{$rate}-star {
        margin-left: $rate-svg-spacer;
      }
    }
  }
}

.iconClass {
  + .#{$rate} {
    .#{$rate}-star {
      + .#{$rate}-star {
        margin-left: $rate-icon-spacer;
      }
    }
  }
}
