@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$rate: "pj-rate" !default;

$rate-color: $color-primary !default;
$rate-clear-color: $gray !default;

$rate-duration: 0.3s !default;

// Core
// =====================
.#{$rate} {
  padding: 0;
  margin: 0;
  color: $rate-color;
  list-style: none;

  &-clear {
    color: $rate-clear-color;
  }

  &-unit {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .#{$rate}-disabled & {
      cursor: not-allowed;
    }

    .#{$rate}-destroy & {
      cursor: default;
    }
  }

  &-half {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    opacity: 0;

    .#{$rate}-half-active & {
      opacity: 1;
      transition: all $rate-duration;
    }
  }

  &-half,
  &-full {
    user-select: none;
  }
}
