@import "@pluginjs/styles/variables.scss";
@import "rate.core.scss";

// Vars
// =====================
$rate-star: #fa0;
$rate-color: $gray;
$rate-font-family: $font-family-base;
$rate-spacer: 8px;
$rate-svg-spacer: 12px;
$rate-icon-spacer: 10px;
$rate-star-font-size: $font-size-sm;
$rate-star-font-line-height: 22px;

// Style
// =====================
.#{$rate} {
  &-star {
    padding: 0;
    margin: 0;
    color: $rate-color;
    cursor: pointer;

    + .#{$rate}-star {
      margin-left: $rate-spacer;
    }
  }

  &-clear-color {
    color: $rate-color;
  }
  
  &-default-color {
    color: $rate-star;
    transition: all $rate-time;
  }
  
  &-danger {
    color: $rate-star;
  }

  &-score {
    font-size: $rate-star-font-size;
    line-height: $rate-star-font-line-height;
    color: $gray-darker;
    text-transform: capitalize;
  }
}

.svgExample {
  + .#{$rate} {
    .#{$rate}-star {
      + .#{$rate}-star {
        margin-left: $rate-svg-spacer;
      }
    }
  }
}

.iconClass {
  + .#{$rate} {
    .#{$rate}-star {
      + .#{$rate}-star {
        margin-left: $rate-icon-spacer;
      }
    }
  }
}
