@import "@pluginjs/styles/variables.scss";
@import "rate.core.scss";

// Vars
// =====================
$rate-star: #fa0;
$rate-color: $gray;
$rate-font-family: $font-family-base;

// Style
// =====================
.#{$rate} {
  .#{$rate}-star {
    color: $rate-color;
  }
}

.#{$rate}-clear-color {
  color: $rate-color;
}

.#{$rate}-default-color {
  color: $rate-star;
}

.#{$rate}-danger {
  color: $rate-star;;
}

