---
title: Slider
layout: plugin
styles:
- ../../plugins/arrows/css/arrows.css
- ../../plugins/tooltip/css/tooltip.css
- ../../plugins/dots/css/dots.css
- ../../plugins/slider/css/slider.css
scripts:
- ../../plugins/slider/slider.js
---
<style type="text/css">
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
</style>

<h3>Themes</h3>
<section>
  <h4>Default</h4>
  <div class="pj-slider pj-arrows example-default">
    <div class="pj-slider-prev pj-arrows-outline pj-arrows-circle">
      <a class="pj-arrow pj-arrow-prev"
          href="javascript:void(0);"
          alt="Previous"
          data-toggle="tooltip"
          data-trigger="hover"
          title="上一页">
        <i class="pj-arrow-icon icon-chevron-left"></i>
      </a>
    </div>
    <div class="pj-slider-container">
      <div class="pj-slider-box">
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=10;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=20;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=30;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=50;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=60;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=90;?random;?gravity=center">
        </div>
      </div>
      <div class="pj-slider-dots">
        <ul class="pj-dots">
          <li class="pj-dot pj-dot-active"><a href="javascript:void(0);">first</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">second</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">third</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">fourth</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">fifth</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">sixth</a></li>
        </ul>
      </div>
    </div>
    <div class="pj-slider-next pj-arrows-outline pj-arrows-circle">
      <a class="pj-arrow pj-arrow-next"
          href="javascript:void(0);"
          alt="Next"
          data-toggle="tooltip"
          data-trigger="hover"
          title="下一页">
        <i class="pj-arrow-icon icon-chevron-right"></i>
      </a>
    </div>
  </div>
</section>

<div class="top-gap">
  <button class="btn api-init">init</button>
  <button class="btn api-destroy">destroy</button>
  <button class="btn api-enable">enable</button>
  <button class="btn api-disable">disable</button>
  <button class="btn api-show">show</button>
  <button class="btn api-hide">hide</button>
  <button class="btn api-autoplay">autoplay</button>
  <div class="console"></div>
</div>
<div class="top-gap">
  <input type="text" class="input inputime" placeholder="second"/>
  <button class="btn api-time">setAutoPlayDuration</button>
  <button class="btn api-cube">cube</button>
  <button class="btn api-linear">linear</button>
  <button class="btn api-fade">fade</button>
</div>

<section class="top-gap">
  <h4>Vertical</h4>
  <div class="pj-slider pj-arrows example-vertical">
    <div class="pj-slider-prev pj-arrows-outline pj-arrows-circle">
      <a class="pj-arrow pj-arrow-prev"
          href="javascript:void(0);"
          alt="Previous"
          data-toggle="tooltip"
          data-trigger="hover">
        <i class="pj-arrow-icon icon-chevron-left"></i>
      </a>
    </div>
    <div class="pj-slider-container">
      <div class="pj-slider-box">
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=10;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=20;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=30;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=50;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=60;?random;?gravity=center">
        </div>
        <div class="pj-slider-card">
          <img src="https://picsum.photos/500/280/?image=90;?random;?gravity=center">
        </div>
      </div>
      <div class="pj-slider-dots">
        <ul class="pj-dots">
          <li class="pj-dot pj-dot-active"><a href="javascript:void(0);">1</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">2</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">3</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">4</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">5</a></li>
          <li class="pj-dot"><a href="javascript:void(0);">6</a></li>
        </ul>
      </div>
    </div>
    <div class="pj-slider-prev pj-arrows-outline pj-arrows-circle">
      <a class="pj-arrow pj-arrow-next"
          href="javascript:void(0);"
          alt="Next"
          data-toggle="tooltip"
          data-trigger="hover">
        <i class="pj-arrow-icon icon-chevron-right"></i>
      </a>
    </div>
  </div>
  <button class="btn api-autoplay-vertical">autoplay</button>
</section>
<script>
(function(){
  var events = ['ready', 'enable', 'disable', 'destroy', 'load', 'show', 'hide'];

  for(var i = 0; i < events.length; i++) {
   document.querySelector('.example-default').addEventListener('slider:'+events[i], function(event) {
     console.log(event.type, 'event');
   });
  }
  var options1 = {
    arrows: true,
    dots: true,
    autoplay: true,
    playcycle: 3000
  }
  var options2 = {
    direction: 'vertical',
    arrows: true,
    dots: true
  }
  var $slider = Pj.slider('.example-default', options1)
  var $vSlider = Pj.slider('.example-vertical', options2)
  document.querySelector('.api-cube').addEventListener('click', function() {
    console.info('cube');
    $slider.setAnimation('cube');
  });
  document.querySelector('.api-linear').addEventListener('click', function() {
    console.info('linear');
    $slider.setAnimation('linear');
  });
  document.querySelector('.api-fade').addEventListener('click', function() {
    console.info('fade');
    $slider.setAnimation('fade');
  });
  document.querySelector('.api-autoplay').addEventListener('click', function() {
    console.info('autoplay');
    $slider.autoPlay();
  });
  document.querySelector('.api-time').addEventListener('click', function() {
    console.info('setAutoPlayCycle');
    var time = document.querySelector('.inputime').value * 1000
    $slider.setAutoPlayCycle(time);
  });
  document.querySelector('.api-init').addEventListener('click', function() {
    console.info('init');
    // $slider();
  });
  document.querySelector('.api-destroy').addEventListener('click', function() {
    console.info('destroy');
    $slider.destroy();
  });
  document.querySelector('.api-enable').addEventListener('click', function() {
    console.info('enable');
    $slider.enable();
  });
  document.querySelector('.api-disable').addEventListener('click', function() {
    console.info('disable');
    $slider.disable();
  });
  document.querySelector('.api-show').addEventListener('click', function() {
    console.info('show');
    $slider.show();
  });
  document.querySelector('.api-hide').addEventListener('click', function() {
    console.info('hide');
    $slider.hide();
  });
  document.querySelector('.api-autoplay-vertical').addEventListener('click', function() {
    console.info('autoplay');
    $vSlider.autoPlay();
  });
})();
</script>
