---
title: ScrollSpy
layout: plain
scripts:
- ../../plugins/scroll-spy/scroll-spy.js
---
<style>
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .fixed-header li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin: 0 5px;
  }

  .fixed-header a {
    display: block;
    line-height: 60px;
    color: #444;
    text-decoration: none;
    padding: 0 20px;
    -webkit-transition: 0.2s;
            transition: 0.2s;
  }

  .fixed-header .active a {
    background: #222;
    color: #FFF;
  }

  section {
    height: 1080px;
    color: #FFF;
    text-align: center;
  }

  section:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    width: 0;
    height: 100%;
  }

  section .inner {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    max-width: 540px;
    margin: auto;
  }

  #home {
    background: #C2185B;
  }

  #section-1 {
    background: #2f51b5;
  }

  #section-2 {
    background: #00695c;
  }

  #section-3 {
    background: #ef6c00;
  }
</style>

<header id="main-header" class="fixed-header">
  <nav>
    <ul>
      <li class="active"><a data-href="#home">Home</a></li>
      <li><a data-href="#section-1">Section 1</a></li>
      <li><a data-href="#section-2">Section 2</a></li>
      <li><a data-href="#section-3">Section 3</a></li>
    </ul>
  </nav>
</header>
<main>
  <section id="home">
    <div class="inner">
      <h1>Home</h1>
    </div>
  </section>

  <section id="section-1">
    <div class="inner">
      <h2>Section 1</h2>
    </div>
  </section>

  <section id="section-2">
    <div class="inner">
      <h2>Section 2</h2>
    </div>
  </section>

  <section id="section-3">
    <div class="inner">
      <h2>Section 3</h2>
    </div>
  </section>
</main>
<script>
  Pj.scrollSpy('#main-header', {
    itemSelector: 'a',
    activeClass: 'active',
    onReady: function() {
      console.info('ready');
    },
    onChange: function(value) {
      console.info('change', value);
    }
  })
</script>
