---
title: Filters
layout: plugin
styles:
- ../../plugins/dropdown/css/dropdown.css
- ../../plugins/filters/css/filters.css
scripts:
- ../../plugins/filters/filters.js
---

<section>
  <h3>Themes</h3>
  <section>
    <h4>Default</h4>
    <div class="pj-filters">
      <button class="pj-filter pj-filter-active">All</button>
      <button class="pj-filter">Men's</button>
      <button class="pj-filter">Women's</button>
      <button class="pj-filter">Boy's</button>
      <button class="pj-filter">Girl's</button>
    </div>
  </section>

 <section>
    <h4>Line</h4>
    <div class="pj-filters pj-filters--line">
      <button class="pj-filter pj-filter-active">All</button>
      <button class="pj-filter">Men's</button>
      <button class="pj-filter">Women's</button>
      <button class="pj-filter">Boy's</button>
      <button class="pj-filter">Girl's</button>
    </div>
  </section>

  <section class="top-gap">
    <h4>Pill</h4>
    <div class="pj-filters pj-filters--pill">
      <button class="pj-filter pj-filter-active">All</button>
      <button class="pj-filter">Men's</button>
      <button class="pj-filter">Women's</button>
      <button class="pj-filter">Boy's</button>
      <button class="pj-filter">Girl's</button>
    </div>
  </section>

  <section class="top-gap">
    <h4>Group</h4>
    <div class="pj-filters pj-filters--group">
      <button class="pj-filter pj-filter-active">All</button>
      <button class="pj-filter">Men's</button>
      <button class="pj-filter">Women's</button>
      <button class="pj-filter">Boy's</button>
      <button class="pj-filter">Girl's</button>
    </div>
  </section>
  <script>
  (function(){
    Pj.filters('.pj-filters')
  })();
  </script>
</section>

<section>
  <h4>Responsive</h4>
  <div class="example-responsive">
  </div>

  <script>
    (function(){
      Pj.filters('.example-responsive', {
          theme: 'line',
          responsive: true,
          items: [
          {
            text: 'All',
            id: 'all'
          },
          {
            text: 'UI Kits',
            id: 'ui-kits'
          },
          {
            text: 'Themes',
            id: 'themes'
          },
          {
            text: 'Wireframe',
            id: 'wireframe'
          },
          {
            text: 'Icons',
            id: 'icons'
          },
          {
            text: 'Sounds',
            id: 'sounds'
          }
        ]
      })
    })()
  </script>
</section>

<section class="top-gap">
  <h3>Api</h3>
  <div class="example-api"></div>
  <div class="top-gap">
    <button class="btn api-init">init</button>
    <button class="btn api-destroy">destroy</button>
    <button class="btn api-enable">enable</button>
    <button class="btn api-disable">disable</button>
  </div>
  <div class="console"></div>
<script>
(function(){
  var $filters = Pj.filters('.example-api', {
    theme: 'pill',
    default: 'all',
    items: [
      {
        text: 'All',
        id: 'all'
      },
      {
        text: 'UI Kits',
        id: 'ui-kits'
      },
      {
        text: 'Themes',
        id: 'themes'
      },
      {
        text: 'Wireframe',
        id: 'wireframe'
      },
      {
        text: 'Icons',
        id: 'icons'
      },
      {
        text: 'Sounds',
        id: 'sounds'
      }
    ],
    onReady: function() {
      console.log('ready', 'event');
    },
    onDestroy: function() {
      console.log('destroy', 'event');
    },
    onEnable: function() {
      console.log('enable', 'event');
    },
    onDisable: function() {
      console.log('disable', 'event');
    },
    onChange: function(val) {
      console.log('change: '+JSON.stringify(val), 'event');
    },
  });

  document.querySelector('.api-init').addEventListener('click', function() {
    console.info('init');

  });

  document.querySelector('.api-destroy').addEventListener('click', function() {
    console.info('destroy');
    $filters.destroy());
  });

  document.querySelector('.api-enable').addEventListener('click', function() {
    console.info('enable');
    $filters.enable());
  });

  document.querySelector('.api-disable').addEventListener('click', function() {
    console.info('disable');
    $filters.disable());
  });
})();
</script>
</section>

<section class="top-gap">
  <h3>Build from array</h3>
  <div class="js-filters"></div>
{{#code}}
<script>
Pj.filters('.js-filters', {
  items: [
    {
      text: 'All',
      id: 'all'
    },
    {
      text: 'UI Kits',
      id: 'ui-kits'
    },
    {
      text: 'Themes',
      id: 'themes'
    },
    {
      text: 'Wireframe',
      id: 'wireframe'
    },
    {
      text: 'Icons',
      id: 'icons'
    },
    {
      text: 'Sounds',
      id: 'sounds'
    }
  ]
});
</script>
{{/code}}
  <div class="pad-top-20">
    <button class="btn api-append">append</button>
    <button class="btn api-get">get</button>
    <button class="btn api-set">set</button>
  </div>
<script>
(function(){
  var jsFilter = Pj.filters('.js-filters', {
    theme: 'pill',
    default: 'all',
    items: [
      {
        text: 'All',
        id: 'all'
      },
      {
        text: 'UI Kits',
        id: 'ui-kits'
      },
      {
        text: 'Themes',
        id: 'themes'
      },
      {
        text: 'Wireframe',
        id: 'wireframe'
      },
      {
        text: 'Icons',
        id: 'icons'
      },
      {
        text: 'Sounds',
        id: 'sounds'
      }
    ],
    onChange: function(val) {
      console.info('select: '+ val);
    }
  });

  document.querySelector('.api-append').addEventListener('click', function() {
    console.info('append');
    jsFilter.append([{
      text: 'Fonts',
      id: 'fonts'
    },
    {
      text: 'Presentation',
      id: 'presentation'
    }]);
  });

  document.querySelector('.api-get').addEventListener('click', function() {
    console.info('get');
    console.info('current value is ' + jsFilter.get());
  });

  document.querySelector('.api-set').addEventListener('click', function() {
    console.info('set');
    jsFilter.set('themes');
  });
})();
</script>
</section>
