@import "@pluginjs/styles/variables.scss";
@import "arrows.core";

/* theme vars */
$arrow-theme-size: 40px !default;
$arrow-outline-border: 1px solid rgba($color-black, 0.2) !default;
$arrow-circle-border-radius: 29px !default;
$arrow-square-border-radius: $border-radius-base !default;
$arrow-solid-bg-color: rgba($color-black, 0.2) !default;
$arrow-solid-color: $color-white !default;
$arrow-shadow-bgcolor: $color-white !default;
$arrow-shadow-box-shadow: 0 10px 20px 0 rgba($color-black, 0.1) !default;

//light
$arrow-light-color: $color-white !default;
$arrow-light-hover-color: $color-primary !default;
$arrow-light-active-color: #1d53bf !default;
$arrow-light-outline-border-color: rgba($color-white, 0.2) !default;
$arrow-light-outline-hover-border-color: $color-primary !default;
$arrow-light-solid-bgcolor: rgba($color-white, 0.3) !default;
$arrow-light-solid-color: $color-white !default;
//disabled
$arrow-solid-disabled-bg-color: rgba($color-black, 0.15) !default;
$arrow-light-disabled-color: rgba($color-white, 0.4) !default;
$arrow-light-disabled-outline-border-color: rgba($color-white, 0.1) !default;
$arrow-light-shadow-bgcolor: #3d3d3d !default;

.#{$arrow}s-outline,
.#{$arrow}s-circle,
.#{$arrow}s-square,
.#{$arrow}s-solid,
.#{$arrow}s-shadow {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    width: $arrow-theme-size;
    height: $arrow-theme-size;
    line-height: $arrow-theme-size;
    text-align: center;

    &.#{$arrow}-lg {
      width: $arrow-space-lg;
      height: $arrow-space-lg;
      line-height: $arrow-space-lg;
      text-align: center;

      .#{$arrow}-icon {
        font-size: $arrow-icon-font-size-lg;
      }
    }

    &.#{$arrow}-sm {
      width: $arrow-space-sm;
      height: $arrow-space-sm;
      line-height: $arrow-space-sm;
      text-align: center;

      .#{$arrow}-icon {
        font-size: $arrow-icon-font-size-sm;
      }
    }

    &.#{$arrow}-xs {
      width: $arrow-space-xs;
      height: $arrow-space-xs;
      line-height: $arrow-space-xs;
      text-align: center;

      .#{$arrow}-icon {
        font-size: $arrow-icon-font-size-xs;
      }
    }
  }
}

.#{$arrow}s-outline {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    border: $arrow-outline-border;

    &:hover {
      border-color: $arrow-hover-color;
    }

    &:active {
      border-color: $arrow-active-color;
    }

    &.#{$arrow}-disabled {
      border-color: $arrow-disable-color;
    }
  }
}

.#{$arrow}s-circle {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    border-radius: $arrow-circle-border-radius;
  }
}

.#{$arrow}s-square {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    border-radius: $arrow-square-border-radius;
  }
}

.#{$arrow}s-solid {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    color: $arrow-solid-color;
    background-color: $arrow-solid-bg-color;
  
    &:hover {
      background-color: $arrow-hover-color;
    }

    &:active {
      background-color: $arrow-active-color;
    }

    &.#{$arrow}-disabled {
      color: $arrow-light-disabled-color;
      background-color: $arrow-solid-disabled-bg-color;
    }
  }
}

.#{$arrow}s-shadow {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    background-color: $arrow-shadow-bgcolor;
    box-shadow: $arrow-shadow-box-shadow;
  }
}

//light
.#{$arrow}s-light {
  .#{$arrow}-next,
  .#{$arrow}-prev {
    color: $arrow-light-color;

    &:hover {
      color: $arrow-light-hover-color;
    }

    &:active {
      color: $arrow-light-active-color;
    }

    &.#{$arrow}-disabled {
      color: $arrow-light-disabled-color;
    }
  }

  &.#{$arrow}s-outline {
    .#{$arrow}-next,
    .#{$arrow}-prev {
      border-color: $arrow-light-outline-border-color;

      &:hover {
        border-color: $arrow-light-outline-hover-border-color;
      }

      &:active {
        border-color: $arrow-light-active-color;
      }

      &.#{$arrow}-disabled {
        border-color: $arrow-light-disabled-outline-border-color;
      }
    }
  }

  &.#{$arrow}s-solid {
    .#{$arrow}-next,
    .#{$arrow}-prev {
      color: $arrow-light-color;
      background-color: $arrow-light-solid-bgcolor;

      &:hover {
        background-color: $arrow-light-outline-hover-border-color;
      }

      &:active {
        background-color: $arrow-light-active-color;
      }

      &.#{$arrow}-disabled {
        background-color: $arrow-light-disabled-outline-border-color;
      }
    }
  }

  &.#{$arrow}s-shadow {
    .#{$arrow}-next,
    .#{$arrow}-prev {
      background-color: $arrow-light-shadow-bgcolor;
    }
  }
}
