@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$arrow: "pj-arrow" !default;
$arrow-space-x: 10px !default;
$arrow-space-y: 10px !default;
$arrow-font-size: 24px !default;
$arrow-font-family: $font-family-base !default;

$arrow-space-lg: 48px !default;
$arrow-space-sm: 40px !default;
$arrow-space-xs: 32px !default;

$arrow-font-size-lg: 38px !default;
$arrow-font-size-sm: 24px !default;
$arrow-font-size-xs: 16px !default;

$arrow-color: $color-primary-black !default;
$arrow-hover-color: $color-primary !default;
$arrow-disable-color: $gray-dark !default;

/* theme vars */
$arrow-theme-size: 40px !default;
$arrow-outline-border: 1px solid rgba($color-black, 0.25) !default;
$arrow-circle-border-radius: 29px !default;
$arrow-square-border-radius: $border-radius-base !default;
$arrow-solid-bg-color: rgba($color-black, 0.4) !default;
$arrow-solid-color: $color-white !default;
$arrow-shadow-box-shadow: 0 10px 20px 0 rgba($color-black, 0.1) !default;

// Core
// =====================
.#{$arrow}s {
  @include clearfix();
  
  position: relative;
  font-family: $arrow-font-family;
  opacity: 1;

  &.#{$arrow}-hidden {
    opacity: 0;
  }

  &.#{$arrow}-disabled {
    .#{$arrow}-prev,
    .#{$arrow}-next {
      color: $arrow-disable-color;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  + .#{$arrow}s {
    margin-top: $arrow-space-y;
  }
}

.#{$arrow}-prev,
.#{$arrow}-next {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .#{$arrow}-icon {
    font-size: $arrow-font-size;
  }

  &.#{$arrow}-lg {
    width: $arrow-space-lg;
    height: $arrow-space-lg;
    line-height: $arrow-space-lg;
    text-align: center;

    .#{$arrow}-icon {
      font-size: $arrow-font-size-lg;
    }
  }

  &.#{$arrow}-sm {
    width: $arrow-space-sm;
    height: $arrow-space-sm;
    line-height: $arrow-space-sm;
    text-align: center;

    .#{$arrow}-icon {
      font-size: $arrow-font-size-sm;
    }
  }

  &.#{$arrow}-xs {
    width: $arrow-space-xs;
    height: $arrow-space-xs;
    line-height: $arrow-space-xs;
    text-align: center;

    .#{$arrow}-icon {
      font-size: $arrow-font-size-xs;
    }
  }

  &,
  &:link,
  &:active,
  &:hover,
  &:visited {
    color: $arrow-color;
    text-decoration: none;
    outline: none;
    text-decoration-style: none;
  }

  &:active,
  &:hover {
    color: $arrow-hover-color;
  }

  &:focus {
    box-shadow: none;
  }
}

.#{$arrow}s-vertical {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    display: block;
  }
}

.#{$arrow}s-outline,
.#{$arrow}s-circle,
.#{$arrow}s-square,
.#{$arrow}s-solid,
.#{$arrow}s-shadow {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    width: $arrow-theme-size;
    height: $arrow-theme-size;
    line-height: $arrow-theme-size;
    text-align: center;

    &.#{$arrow}-lg {
      width: $arrow-space-lg;
      height: $arrow-space-lg;
      line-height: $arrow-space-lg;
      text-align: center;

      .#{$arrow}-icon {
        font-size: $arrow-font-size-lg;
      }
    }

    &.#{$arrow}-sm {
      width: $arrow-space-sm;
      height: $arrow-space-sm;
      line-height: $arrow-space-sm;
      text-align: center;

      .#{$arrow}-icon {
        font-size: $arrow-font-size-sm;
      }
    }

    &.#{$arrow}-xs {
      width: $arrow-space-xs;
      height: $arrow-space-xs;
      line-height: $arrow-space-xs;
      text-align: center;

      .#{$arrow}-icon {
        font-size: $arrow-font-size-xs;
      }
    }
  }
}

.#{$arrow}s-outline {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    border: $arrow-outline-border;

    &:hover {
      border-color: $arrow-hover-color;
    }
  }

  &.#{$arrow}-disabled {
    .#{$arrow}-prev,
    .#{$arrow}-next {
      cursor: not-allowed;
      border-color: $arrow-disable-color;
      opacity: 0.5;
    }
  }
}

.#{$arrow}s-circle {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    border-radius: $arrow-circle-border-radius;
  }
}

.#{$arrow}s-square {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    border-radius: $arrow-square-border-radius;
  }
}

.#{$arrow}s-solid {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    color: $arrow-solid-color;
    background-color: $arrow-solid-bg-color;
    &:active,
    &:hover {
      background-color: $arrow-hover-color;
    }
  }

  &.#{$arrow}-disabled {
    .#{$arrow}-prev,
    .#{$arrow}-next {
      color: $arrow-solid-color;
      cursor: not-allowed;
      background-color: $arrow-disable-color;
      opacity: 0.5;
    }
  }
}

.#{$arrow}s-shadow {
  .#{$arrow}-prev,
  .#{$arrow}-next {
    box-shadow: $arrow-shadow-box-shadow;
  }
}
