/* slideTop:  slide and stick to top */
.#{$modal}-slideTopIn {
  animation: Modal-slideTopIn $modal-duration;
}

.#{$modal}-slideTopOut {
  animation: Modal-slideTopOut $modal-duration forwards;
}

@keyframes Modal-slideTopIn {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  100% {
    border-radius: 0 0 3px 3px;
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes Modal-slideTopOut {
  0% {
    border-radius: 0 0 3px 3px;
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}
