@import "@pluginjs/styles/variables.scss";

$dot: "pj-dot" !default;
$dot-width: 8px !default;
$dot-height: 8px !default;
$dot-margin: 5px !default;
$dot-color: rgba($color-black, 0.15) !default;
$dot-active-color: $color-primary !default;

// Core
// =====================
.#{$dot} {
  position: relative;
  box-sizing: border-box;
  width: $dot-width;
  height: $dot-height;
  margin: $dot-margin;
  background-color: $dot-color;
  &s {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    background-color: transparent;
  }

  &.#{$dot}-active {
    background-color: $dot-active-color;
  }

  &-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.#{$dot}s-vertical {
  flex-direction: column;
}
