@import "@pluginjs/styles/variables.scss";
@import "dots.core";

// Vars
// =====================
$dot: "pj-dot";
$dot-color: rgba($color-black, 0.15);
$dot-stroke-color: $color-white;
$dot-active-color: $color-primary;
$dot-hover-color: rgba($color-black, 0.3);

// disabled
$dot-disable-color: rgba($color-black, 0.05);
$dot-light-disable-color: rgba($color-white, 0.05);

// light
$dot-light-color: rgba($color-white, 0.15);
$dot-light-hover-color: $color-white;

// Dots
// =====================
.#{$dot} {
  a {
    background-color: $dot-color;
    border-radius: $dot-radius;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $dot-hover-color;
    }
  }

  &.#{$dot}-active {
    a {
      background-color: $dot-active-color;
    }
  }
}

// vertical

.#{$dot}s-vertical {
  .#{$dot}-active {
    a {
      transform: scaleX(1.5);
      transform-origin: right;
    }
  }

  a {
    border-radius: 0;
  }
}

// stroke

.#{$dot}s-stroke {
  .#{$dot}-active {
    a {
      background-color: $dot-stroke-color;
      box-shadow: inset 0 0 0 1px $dot-active-color;
      &:hover {
        background-color: $dot-stroke-color;
      }
    }
  }

  a {
    &:hover {
      background-color: $dot-hover-color;
    }
  }
}

// square

.#{$dot}s-square {
  a {
    border-radius: 0;
    transition: background-color 0.3s ease;
  }

  .#{$dot}-active {
    a {
      background-color: $dot-active-color;
    }
  }
}

// light
.#{$dot}s-light {
  .#{$dot} {
    a {
      background-color: $dot-light-color;
  
      &:hover {
        background-color: $dot-light-hover-color;
      }
    }

    &.#{$dot}-active {
      a {
        background-color: $dot-active-color;
      }
    }
  }

  &.#{$dot}s-disabled {
    a {
      background-color: $dot-light-disable-color;

      &:hover {
        background-color: $dot-light-disable-color;
      }
    }
  }
}

// disabled
.#{$dot}s-disabled {
  cursor: not-allowed;

  a {
    cursor: not-allowed;
    background-color: $dot-disable-color;

    &:hover {
      background-color: $dot-disable-color;
    }
  }
}
