@import "@pluginjs/styles/variables.scss";
@import "dots.core";

$dot: "pj-dot";
$dot-font-family: $font-family-base;
$dot-stroke-color: $color-white;

$dot-bg: rgba($color-black, 0.15);
$dot-active-color: $color-primary;
$dot-light-active-color: rgba($gray-darkest, 0.8);

$dot-square-width: 20px;
$dot-square-height: 2px;

// theme dark
$dot-dark-bg: rgba($color-white, 0.15);
$dot-dark-active-color: $color-primary;
$dot-dark-light-active-color: $color-white;

// disabled
$dot-disable-color: rgba($color-black, 0.05);
$dot-light-disable-color: rgba($color-white, 0.05);

// Dots
// =====================
.#{$dot}s {
  font-family: $dot-font-family;
}

.#{$dot} {
  background-color: $dot-bg;
  border-radius: 50%;
  transition: border-color 0.3s ease, background-color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover,
  &-active {
    background-color: $dot-active-color;
  }
}

// stroke
.#{$dot}s-stroke {
  .#{$dot} {
    border: 1px solid transparent;

    &:hover,
    &-active {
      background-color: transparent !important;
      border: 1px solid $dot-active-color;
    }
  }
}

// square
.#{$dot}s-square {
  .#{$dot} {
    width: $dot-square-width;
    height: $dot-square-height;
    border-radius: 0;
  }
}

//vertical
.#{$dot}s-vertical {
  .#{$dot} {
    width: $dot-square-width;
    height: $dot-square-height;
    border-radius: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: left;

    &-active {
      transform: scaleX(1.5);
    }
  }

  &.#{$dot}s-vertical-right {
    .#{$dot} {
      transform-origin: right;
    }
  }
}

// light
.#{$dot}s-light {
  .#{$dot}:hover,
  .#{$dot}-active {
    background-color: $dot-light-active-color;
  }

  &.#{$dot}s-stroke {
    .#{$dot}:hover,
    .#{$dot}-active {
      background-color: transparent;
      border: 1px solid $dot-light-active-color;
    }
  }
}

// theme dark
.#{$dot}s--dark {
  .#{$dot} {
    background-color: $dot-dark-bg;

    &:hover,
    &-active {
      background-color: $dot-dark-active-color;
    }
  }

  &.#{$dot}s-stroke {
    .#{$dot} {
      &:hover,
      &-active {
        border: 1px solid $dot-dark-active-color;
      }
    }
  }

  &.#{$dot}s-light {
    .#{$dot} {
      &:hover,
      &-active {
        background-color: $dot-dark-light-active-color;
      }
    }
  }

  &.#{$dot}s-light.#{$dot}s-stroke {
    .#{$dot} {
      &:hover,
      &-active {
        border: 1px solid $dot-dark-light-active-color;
      }
    }
  }
}

// disabled
.#{$dot}s-disabled {
  cursor: not-allowed;

  .#{$dot} {
    cursor: not-allowed;
    background-color: $dot-disable-color;

    &:hover {
      background-color: $dot-disable-color;
    }
  }
}
