@import "@pluginjs/styles/variables.scss";
@import "dots.core";

// Vars
// =====================
$dot: "pj-dot" !default;
$dot-color: #d5d5d5 !default; //#d5d5d5
$dot-stroke-color: $color-white !default;
$dot-active-color: $color-primary !default;
$dot-hover-color: rgba($color-black, 0.5) !default;
$dot-disable-color: $gray-lighter !default;

// Dots
// =====================
.#{$dot} {
  a {
    background-color: $dot-color;
    border-radius: $dot-radius;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $dot-hover-color;
    }
  }

  &.#{$dot}-disabled {
    cursor: not-allowed;

    a {
      cursor: not-allowed;
      background-color: $dot-disable-color;
      opacity: 0.5;
    }
  }

  &.#{$dot}-active {
    a {
      background-color: $dot-active-color;
    }
  }
}

.#{$dot}s-vertical {
  .#{$dot}-active {
    a {
      transform: scaleX(1.5);
      transform-origin: right;
    }
  }

  a {
    border-radius: 0;
  }
}

.#{$dot}s-stroke {
  .#{$dot}-active {
    a {
      background-color: $dot-stroke-color;
      box-shadow: inset 0 0 0 1px $dot-active-color;
      &:hover {
        background-color: $dot-stroke-color;
      }
    }
  }

  a {
    &:hover {
      background-color: $dot-hover-color;
    }
  }
}

.#{$dot}s-square {
  a {
    border-radius: 0;
    transition: background-color 0.3s ease;
  }

  .#{$dot}-active {
    a {
      background-color: $dot-active-color;
    }
  }
}

.#{$dot}-hidden {
  visibility: hidden;
}
