@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$headroom: "pj-headroom" !default;
$headroom-font-family: $font-family-base !default;

// Core
// =====================
.#{$headroom} {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.#{$headroom}-pinned {
  transform: translateY(0);
}

.#{$headroom}-unpinned {
  transform: translateY(-100%);
}

.#{$headroom}-top {
  transform: translateY(0);
}

.#{$headroom}-notTop {
  transform: translateY(-100%);
}

.#{$headroom}-stick {
  transform: translateY(-100%);
}

.#{$headroom}-unstick {
  transform: translateY(0);
}
