@import "@pluginjs/styles/variables.scss";
@import "headroom.core";

// Vars
// =====================
$headroom-header-height: 80px;
$headroom-header-font-size: $font-size-sm;
$headroom-header-a-padding: 0 18px;
$headroom-header-a-color: rgba($color-white,0.6);
$headroom-header-active-color: $color-white;

.#{$headroom} {
  font-size: $headroom-header-font-size;
  text-align: center;
  background: transparent;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    *display: inline;
    zoom: 1;

    &:hover {
      a {
        color: $headroom-header-active-color;
      }
    }
  }
  
  a {
    display: flex;
    align-items: center;
    height: $headroom-header-height;
    padding: $headroom-header-a-padding;
    color: $headroom-header-a-color;
    text-decoration: none;
    -webkit-transition: 0.2s; /* stylelint-disable-line */
    transition: 0.2s;
  }
}
