@import "@pluginjs/styles/variables.scss";
@import "headroom.core";

// Vars
// =====================
$headroom-header-height: 80px;
$headroom-header-font-size: $font-size-sm;
$headroom-home-bgcolor: $gray-darker;
$headroom-section-1-bgcolor: #737373;
$headroom-section-2-bgcolor: #808080;
$headroom-section-3-bgcolor: #8c8c8c;
$headroom-header-a-color: rgba(255,255,255,0.6);

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headroom-header-height;
  font-size: $headroom-header-font-size;
  text-align: center;
  background: transparent;
}

.fixed-header li {
  display: inline-block;
  *display: inline;
  margin: 0 5px;
  vertical-align: top;
  zoom: 1;
}

.fixed-header a {
  display: block;
  padding: 0 20px;
  line-height: $headroom-header-height;
  color: $headroom-header-a-color;
  text-decoration: none;
  -webkit-transition: 0.2s; /* stylelint-disable-line */
  transition: 0.2s;
}

.fixed-header .active a {
  color: #fff;
}

body {
  margin: 0;
}

section {
  @at-root #default & {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  height: 1080px;
  color: #fff;
  text-align: center;
}

section .inner {
  display: inline-block;
  *display: inline;
  max-width: 540px;
  margin: auto;
  vertical-align: middle;
  zoom: 1;
}

#home {
  background: $headroom-home-bgcolor;
}

#section-1 {
  background: $headroom-section-1-bgcolor;
}

#section-2 {
  background: $headroom-section-2-bgcolor;
}

#section-3 {
  background: $headroom-section-3-bgcolor;
}
