.#{$checkbox} {
  @mixin checkbox-border-variant($color) {
    &.#{$checkbox}-checked,
    & > input[type="checkbox"]:checked + label {
      i:first-child {
        &::after {   /* stylelint-disable-line */
          border-color: $color;
        }
      }
    }
  }
  
  @mixin checkbox-default-variant($background) {
    i:first-child:not([class]) {
      &::before {
        border-color: $background;
      }
    }
  }
  
  @mixin checkbox-icon-variant($color) {
    &.#{$checkbox}-checked,
    & > input[type="checkbox"]:checked + label {
      i[class]:first-child { /* stylelint-disable-line */
        color: $color;
      }
    }
  
    &.#{$checkbox}-solid {
      &.#{$checkbox}-checked,
      & > input[type="checkbox"]:checked + label {
        i[class]:first-child {
          color: $color-white;
  
          &::after {
            background-color: $color;
          }
        }
      }
    }
  }
  
  @mixin checkbox-solid-variant($background) {
    &.#{$checkbox}-solid {
      &.#{$checkbox}-checked,
      & > input[type="checkbox"]:checked + label {
        i:first-child:not([class]) {
          &::after {
            background-color: $background;
          }
        }
      }
    }
  }
  
  &-primary {
    @include checkbox-border-variant($checkbox-primary-color);
    @include checkbox-default-variant($checkbox-primary-color);
    @include checkbox-icon-variant($checkbox-primary-color);
    @include checkbox-solid-variant($checkbox-primary-color);
  }
  
  &-success {
    @include checkbox-border-variant($checkbox-success-color);
    @include checkbox-default-variant($checkbox-success-color);
    @include checkbox-icon-variant($checkbox-success-color);
    @include checkbox-solid-variant($checkbox-success-color);
  }
  
  &-info {
    @include checkbox-border-variant($checkbox-info-color);
    @include checkbox-default-variant($checkbox-info-color);
    @include checkbox-icon-variant($checkbox-info-color);
    @include checkbox-solid-variant($checkbox-info-color);
  }
  
  &-warning {
    @include checkbox-border-variant($checkbox-warning-color);
    @include checkbox-default-variant($checkbox-warning-color);
    @include checkbox-icon-variant($checkbox-warning-color);
    @include checkbox-solid-variant($checkbox-warning-color);
  }
  
  &-danger {
    @include checkbox-border-variant($checkbox-danger-color);
    @include checkbox-default-variant($checkbox-danger-color);
    @include checkbox-icon-variant($checkbox-danger-color);
    @include checkbox-solid-variant($checkbox-danger-color);
  }
}
