@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$list: "pj-list";
$tagList: "pj-tag-list";

$tagList-input-padding: 11px;
// Core
// =====================
.#{$tagList} {
  .#{$list} {
    &-add {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &-input {
      width: 80%;
      padding: $tagList-input-padding;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover,
      &:focus {
        z-index: 1;
      }
    }

    &-btn {
      width: 20%;
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
