@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$collapse: "pj-collapse" !default;
$collapse-arrow-right: 11px !default;
$collapse-arrow-top: 13px !default;

$collapse-lineHeight: 22px !default;
// Core
// =====================
.#{$collapse}  {
  line-height: $collapse-lineHeight;

  & [role="button"] {
    cursor: pointer;
  }
  
  &-header {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-arrow {
    position: absolute;
    top: $collapse-arrow-top;
    right: $collapse-arrow-right;
  }

  &-content {
    overflow: hidden;
    transition: height 0.3s ease;

    p {
      margin: 0;
    }
  }

  &-collapsed {
    .#{$collapse}-content {
      height: 0;
    }
  }
}
