@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$collapse: "pj-collapse" !default;

// Core
// =====================
.#{$collapse}  {
  & [role="button"] {
    cursor: pointer;
  }

  &-header {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &-content {
    overflow: hidden;
    transition: height 0.3s ease;

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-top: 0;
      }
    }
  }

  &-collapsed {
    .#{$collapse}-content {
      height: 0;
    }
  }
}
