@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$collapse: "pj-collapse" !default;
$collapse-arrow-right: 14px !default;
$collapse-arrow-top: 13px !default;
// Core
// =====================
.#{$collapse}  {
  & [role="button"] {
    cursor: pointer;
  }

  &-arrow {
    position: absolute;
    top: $collapse-arrow-top;
    right: $collapse-arrow-right;
    display: flex;
  }

  &-header {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.#{$collapse}-content {
  overflow: hidden;
  transition: height 0.3s ease;
}

.#{$collapse}-collapsed {
  .#{$collapse}-content {
    height: 0;
  }
}
