@import "@pluginjs/styles/variables.scss";
@import "collapse.core";

// Vars
// =====================
$collapse: "pj-collapse";
$collapse-font-family: $font-family-base !default;
$collapse-font-size: $font-size-sm !default;
$collapse-hover-color: $color-primary;
$collapse-hover-border-color: $color-primary;
$collapse-border-color: $gray-border;
$collapse-gutter-width: 1px;
$collapse-padding: 14px 31px 14px 23px;
$collapse-header-order-title-padding: 0 31px 15px 23px;
$collapse-header-order-content-inner-padding: 17px 23px 0 23px;
$collapse-header-icon-font-size: $font-size-lg;
$collapse-content-padding: 4px 23px 23px;
$collapse-expanded-padding: 20px 23px 23px;
$collapse-header-icon-margin-right: 11px;
$collapse-content-inner-margin: 0 22px;

$collapse-title-button-padding: 4px 14px;

//arrow
$collapse-arrow-right: 14px;
$collapse-arrow-top: 16px;
$collapse-arrow-active-color: $color-primary;
$collapse-arrow-color: $gray-dark;
$collapse-toggle-margin-left: 19px;

//content
$collapse-content-inner-color: $gray-darker;
$collapse-content-button-margin-top: 15px;
$collapse-content-button-padding: 8px 30px;
$collapse-content-button-border-color: $gray-border;
$collapse-content-button-border-radius: $border-radius-base;

// default
// =====================
.#{$collapse} {
  font-family: $collapse-font-family;
  font-size: $collapse-font-size;
  border-color: $collapse-border-color;
  border-style: solid;
  border-width: $collapse-gutter-width;

  &-header {
    padding: $collapse-padding;
    outline: none;
  
    .icon {
      margin-right: $collapse-header-icon-margin-right;
      font-size: $collapse-header-icon-font-size;
    }
  
    &:hover {
      color: $collapse-hover-color;
  
      .#{$collapse}-arrow {
        color: $collapse-arrow-color;
      }
    }
  }

  &-expanded {
    .#{$collapse}-arrow {
      color: $collapse-hover-color;
      transition: transform 0.3s ease-in;
      transform: rotate(90deg);
    }
    .#{$collapse}-header {
      &:last-child {
        padding-top: $collapse-header-order-title-padding;

        .#{$collapse}-arrow {
          transform: rotate(-90deg);
        }
      }

      &:hover {
        .#{$collapse}-arrow {
          color: $collapse-arrow-active-color;
        }
      }
    }
    .#{$collapse}-content {
      &:first-child {
        .#{$collapse}-content-inner {
          padding: $collapse-header-order-content-inner-padding;
        }
      }
    }
  }

  &-arrow {
    top: $collapse-arrow-top;
    right: $collapse-arrow-right;
    display: flex;
    color: $collapse-arrow-color;
  }

  &-toggle {
    padding: $collapse-title-button-padding;
    margin-top: 0;
    margin-left: $collapse-toggle-margin-left;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $collapse-content-button-border-color;
    border-radius: $collapse-content-button-border-radius;
    outline: none;
    
    &:hover {
      color: $collapse-hover-color;
      border: 1px solid $collapse-hover-border-color;
    }
  }
}

.#{$collapse}-content-inner {
  padding: $collapse-content-padding;
  color: $collapse-content-inner-color;

  button {
    padding: $collapse-content-button-padding;
    margin-top: $collapse-content-button-margin-top;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $collapse-content-button-border-color;
    border-radius: $collapse-content-button-border-radius;
    outline: none;
    
    &:hover {
      color: $collapse-hover-color;
      border: 1px solid $collapse-hover-border-color;
    }
  }

  p {
    margin: 0;
    line-height: 22px;
  }
}
