@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$gmap: "pj-gmap" !default;
$gmap-width: 31.25rem !default;
$gmap-height: 25rem !default;

// Core
// =====================
.#{$gmap} {
  position: relative;
  width: $gmap-width;
  height: $gmap-height;
  overflow: hidden;

  * {
    max-width: none;
  }
}
