@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$gmap: "pj-gmap" !default;
$gmap-font-family: $font-family-base !default;

// Core
// =====================
.#{$gmap} {
  position: relative;
  overflow: hidden;
  font-family: $gmap-font-family;

  * {
    max-width: none;
  }
}
