//Vars
$checkbox: "pj-checkbox" !default;

//core
.#{$checkbox} {
  position: relative;
  line-height: 1;

  > input[type="checkbox"] {
    display: none;
  }

  label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  &-icon {
    position: relative;
    box-sizing: initial;
    text-align: center;

    &::before {
      display: inline-block;
      transition: transform 0.25s;
      transform: scale(0);
    }
  }

  &.#{$checkbox}-checked,
  & > input[type="checkbox"]:checked + label {
    .#{$checkbox}-icon {
        &::before {
          transform: scale(1);
        }
    }
  }

  &-plain {
    &.#{$checkbox}-checked,
    & > input[type="checkbox"]:checked + label {
      .#{$checkbox}-icon {
        border-color: transparent;
      }
    }
  }

  &-inline {
    display: inline-block;
  }

  input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
}
