.#{$checkbox}-disabled,
.#{$checkbox} > input[type="checkbox"][disabled] + label {
  cursor: not-allowed;
  opacity: 0.5;
}
#js-color-disabled-default {
  opacity: 0;
}
.#{$checkbox}-disabled {
  input[disabled] {
    cursor: not-allowed;
  }
}

.#{$checkbox} {
  input[disabled] {
    cursor: not-allowed;
  }
}
