// Vars
// =====================
$outline-handle-size: 36px;
$beforeAfter-label-border-radius: $border-radius-base;
$beforeAfter-label-box-shadow: $box-shadow-base;
$beforeAfter-label-border-gatter: 15px;

// Outline
// =====================
.#{$beforeAfter}--outline {

  .#{$beforeAfter}-labels {
    .#{$beforeAfter}-label-before,
    .#{$beforeAfter}-label-after {
      border-radius: $beforeAfter-label-border-radius;
      box-shadow: $beforeAfter-label-box-shadow;
    }
  }
  
  .#{$beforeAfter}-handle {
    top: 50%;
    left: 50%;
    width: $outline-handle-size;
    height: $outline-handle-size;
    background: transparent;
    border: $beforeAfter-handle-border-size solid $beforeAfter-handle-line-color;
    border-radius: 100%;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      position: absolute;
      z-index: 5;
      display: block;
      content: " ";
      background: $beforeAfter-handle-line-color;
      box-shadow: $beforeAfter-handle-box-shadow;
    }

    &:hover {
      background: transparent;
      border-color: $beforeAfter-handle-hover-line-color;

      &::before,
      &::after {
        background: $beforeAfter-handle-hover-line-color;
      }
    }
  }

  &.#{$beforeAfter}-horizontal {
    .#{$beforeAfter}-label-before {
      left: $beforeAfter-label-border-gatter;
    }
  
    .#{$beforeAfter}-label-after {
      right: $beforeAfter-label-border-gatter;
    }

    .#{$beforeAfter}-handle {
      &::before,
      &::after {
        left: 50%;
        width: $beforeAfter-handle-border-size;
        height: 9999px;
        transform: translateX(-50%);
      }

      &::before {
        bottom: 50%;
        margin-bottom: $outline-handle-size / 2 +
          $beforeAfter-handle-border-size;
      }

      &::after {
        top: 50%;
        margin-top: $outline-handle-size / 2 + $beforeAfter-handle-border-size;
      }
    }

    .#{$beforeAfter}-arrow-before,
    .#{$beforeAfter}-arrow-after {
      width: $outline-handle-size / 2;
    }

    .#{$beforeAfter}-arrow-before {
      left: 0;
    }

    .#{$beforeAfter}-arrow-after {
      right: 0;
    }
  }

  &.#{$beforeAfter}-vertical {

    .#{$beforeAfter}-label-before {
      top: $beforeAfter-label-border-gatter;
    }
  
    .#{$beforeAfter}-label-after {
      bottom: $beforeAfter-label-border-gatter;
    }

    .#{$beforeAfter}-handle {
      &::before,
      &::after {
        top: 50%;
        width: 9999px;
        height: $beforeAfter-handle-border-size;
        transform: translateY(-50%);
      }

      &::before {
        left: 50%;
        margin-left: $outline-handle-size / 2 + $beforeAfter-handle-border-size;
      }

      &::after {
        right: 50%;
        margin-right: $outline-handle-size / 2 + $beforeAfter-handle-border-size;
      }
    }

    .#{$beforeAfter}-arrow-before,
    .#{$beforeAfter}-arrow-after {
      line-height: $outline-handle-size / 2;
    }

    .#{$beforeAfter}-arrow-before {
      top: 0;
    }

    .#{$beforeAfter}-arrow-after {
      bottom: 0;
    }
  }
}
