// Vars
// =====================
$rectangle-handle-width: 16px;
$rectangle-handle-height: 36px;

// Rectangle
// =====================
.#{$beforeAfter}--rectangle {
  .#{$beforeAfter}-handle {
    top: 50%;
    left: 50%;
    background: transparent;
    border: $beforeAfter-handle-border-size solid
        $beforeAfter-handle-border-color;
    box-shadow: $beforeAfter-handle-box-shadow;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      position: absolute;
      z-index: 5;
      display: block;
      content: " ";
      background:  $beforeAfter-handle-line-color;
      box-shadow: $beforeAfter-handle-box-shadow;
    }

    &:hover {
      border-color: $beforeAfter-handle-hover-line-color;
  
      &::before,
      &::after {
        background: $beforeAfter-handle-hover-arrow-color;
      }
    }

    .#{$beforeAfter}-arrow-before,
    .#{$beforeAfter}-arrow-after {
      display: none;
    }
  }

  &.#{$beforeAfter}-horizontal {
    .#{$beforeAfter}-handle {
      width: $rectangle-handle-width;
      height: $rectangle-handle-height;
      &::before,
      &::after {
        left: 50%;
        width: $beforeAfter-handle-border-size;
        height: 9999px;
        transform: translateX(-50%);
      }

      &::before {
        bottom: 50%;
        margin-bottom: $circle-handle-size / 2 + $beforeAfter-handle-border-size;
      }
  
      &::after {
        top: 50%;
        margin-top: $circle-handle-size / 2 + $beforeAfter-handle-border-size;
      }
    }
  }

  &.#{$beforeAfter}-vertical {
    .#{$beforeAfter}-handle {
      width: $rectangle-handle-height;
      height: $rectangle-handle-width;
      &::before,
      &::after {
        top: 50%;
        width: 9999px;
        height: $beforeAfter-handle-border-size;
        transform: translateY(-50%);
      }

      &::before {
        left: 50%;
        margin-left: $circle-handle-size / 2 + $beforeAfter-handle-border-size;
      }
  
      &::after {
        right: 50%;
        margin-right: $circle-handle-size / 2 + $beforeAfter-handle-border-size;
      }
    }
  }
}
