---
title: Reveal
layout: plugin
styles:
- ../../plugins/reveal/css/reveal.css
scripts:
- ../../plugins/reveal/reveal.js
---
<style>
  .space {
    width: 100%;
    height: 100px;
  }
  .allSection {
    width: 300vw;
    height: 550px;
    font-size:0;
    transition: 1s transform;
  }
  .square {
    width: 100px;
    height: 100px;
    background: #F79709;
    display: inline-block;
    margin-left: 50px;
  }
  .example-api {
    width: 100px;
    height: 100px;
    background: #F79709;
    display: inline-block;
    margin-left: 50px;
  }
  .box {
    width: 100%;
    text-align: center;
  }
  .section {
    display: inline-block;
    width: 100vw;
    text-align: center;
    height: 100%;
  }
  h2 {
    text-align: center;
  }
  .arrow {
    position: absolute;
    top: 50%;
    width: 58px;
    height: 58px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #a3a3a3;
    border-radius: 5px;
    transform: translateY(-220px);
  }
  .icon {
    font-size: 50px;
    line-height: 58px;
    padding-left: 6px;
  }

  .arrow-right {
    right: 50px;
  }

  .ApiSection {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:center;
  }
</style>
<div class="allSection">
  <div class="section" style="background: #4c93d9">
    <div class="square pj-reveal" data-animation="rubberBand" data-count="infinite"></div>
  </div>
  <div class="section" style="background: #dabd49">
    <div class="square pj-reveal" data-animation="wobble" data-count="infinite"></div>
  </div>
  <div class="section" style="background: #f86b67">
    <div class="square pj-reveal" data-animation="jello" data-count="infinite"></div>
  </div>
</div>
<section>
  <h2>animation</h2>
  <div class="box">
    <div class="square pj-reveal" data-animation="flash" data-count="infinite"></div>
    <div class="square pj-reveal" data-animation="bounce" data-count="infinite"></div>
    <div class="square pj-reveal" data-animation="pulse" data-delay="600" data-count="infinite"></div>
    <div class="square pj-reveal" data-animation="rubberBand" data-count="infinite"></div>
  </div>
</section>
<section>
  <h2>Delay</h2>
  <div class="box">
    <div class="square pj-reveal" data-animation="fadeInUp" data-delay="200"></div>
    <div class="square pj-reveal" data-animation="fadeInUp" data-delay="600"></div>
    <div class="square pj-reveal" data-animation="fadeInUp" data-delay="1000"></div>
    <div class="square pj-reveal" data-animation="fadeInUp" data-delay="1400"></div>
  </div>
</section>

<section>
  <h2>mode: 'once'</h2>
  <div class="box">
    <div class="square pj-reveal" data-mode="once" data-animation="fadeInLeft" data-delay="800"></div>
    <div class="square pj-reveal" data-mode="once" data-animation="fadeInLeft" data-delay="800"></div>
    <div class="square pj-reveal" data-mode="once" data-animation="fadeInRight" data-delay="800"></div>
    <div class="square pj-reveal" data-mode="once" data-animation="fadeInRight" data-delay="800"></div>
  </div>
</section>

<section>
  <h2>mode: 'always'</h2>
  <div class="box">
    <div class="square pj-reveal" data-animation="fadeInLeft"></div>
    <div class="square pj-reveal" data-animation="fadeInLeft"></div>
    <div class="square pj-reveal" data-animation="fadeInLeft"></div>
    <div class="square pj-reveal" data-animation="fadeInLeft"></div>
  </div>
</section>

<section>
  <h2>anchor</h2>
  <div class="box">
    <div class="square pj-reveal" data-animation="fadeDownRight" data-anchor=".anchor"></div>
    <div class="square pj-reveal" data-animation="fadeDownRight" data-anchor=".anchor"></div>
    <div class="square pj-reveal" data-animation="fadeUpRight" data-anchor=".anchor"></div>
    <div class="square pj-reveal" data-animation="fadeUpRight" data-anchor=".anchor"></div>
  </div>
</section>
<section>
  <h2>API</h2>
  <div class="box">
    <div class="example-api pj-reveal"></div>
  </div>
  <div class="apis top-gap" style="text-align:center;">
    <button class="destroy" data-action="destroy">destroy</button>
    <button class="enable" data-action="enable">enable</button>
    <button class="disable" data-action="disable">disable</button>
    <button class="isVisible" data-action="isVisible">isVisible</button>
  </div>
  <div class="console" style="width: 600px; margin: 0 auto;"></div>
</section>
<div class="space"></div>
<div class="anchor" style="height: 5px; text-align: center; background: #4c93d9">anchor</div>
<h3>Attention Seekers</h3>
<div class="square" data-animation="bounce">bounce</div>
<div class="square" data-animation="flash">flash</div>
<div class="square" data-animation="pulse">pulse</div>
<div class="square" data-animation="rubberBand">rubberBand</div>
<div class="square" data-animation="shake">shake</div>
<div class="square" data-animation="swing">swing</div>
<div class="square" data-animation="tada">tada</div>
<div class="square" data-animation="wobble">wobble</div>
<div class="square" data-animation="jello">jello</div>
<div class="space"></div>

<h3>Fading</h3>
<div class="square" data-animation="fadeIn">fadeIn</div>
<div class="square" data-animation="fadeInDown">fadeInDown</div>
<div class="square" data-animation="fadeInLeft">fadeInLeft</div>
<div class="square" data-animation="fadeInRight">fadeInRight</div>
<div class="square" data-animation="fadeInUp">fadeInUp</div>
<div class="square" data-animation="fadeDownLeft">fadeDownLeft</div>
<div class="square" data-animation="fadeDownRight">fadeDownRight</div>
<div class="square" data-animation="fadeUpRight">fadeUpRight</div>
<div class="square" data-animation="fadeUpLeft">fadeUpLeft</div>
<div class="space"></div>

<h3>Flippers</h3>
<div class="square" data-animation="flipInX">flipInX</div>
<div class="square" data-animation="flipInY">flipInY</div>
<div class="space"></div>

<h3>Sliding</h3>
<div class="square" data-animation="slideInUp">slideInUp</div>
<div class="square" data-animation="slideInDown">slideInDown</div>
<div class="square" data-animation="slideInLeft">slideInLeft</div>
<div class="square" data-animation="slideInRight">slideInRight</div>
<div class="space"></div>

<h3>Zoom</h3>
<div class="square" data-animation="zoomIn">zoomIn</div>
<div class="square" data-animation="zoomInDown">zoomInDown</div>
<div class="square" data-animation="zoomInLeft">zoomInLeft</div>
<div class="square" data-animation="zoomInRight">zoomInRight</div>
<div class="square" data-animation="zoomInUp">zoomInUp</div>
<div class="space"></div>

<script>
window.log = function (message, title, $console) {
  if (typeof $console === 'undefined') {
    $console = $('.console');
  }
  console.info(title);
  if (typeof title !== 'undefined') {
    message = '<div class="console-info-title">' + title + '</div>' + message;
  }
  $('<div class="console-info">' + message + '</div>').appendTo($console);
};
$(function(){
  // var $element = $('.square').asReveal({
  //   animation: 'bounceInDown',
  //   duration: '1000'
  // });

  Pj.reveal('.square', {
    animation: 'bounceInDown',
    duration: '1000'
  })

  var $exampleApi = Pj.reveal('.example-api', {
    animation: 'fadeInLeft',
    duration: '1000',
    onEnter: () => {
      log('enter', 'event')
    },
    onExit: () => {
      log('exit', 'event')
    },
    onReady: function() {
      log('ready', 'event');
    },
    onDestroy: function() {
      log('destroy', 'event');
    },
    onEnable: function() {
      log('enable', 'event');
    },
    onDisable: function() {
      log('disable', 'event');
    },
    onAnimationEnd: function() {
      log('animationEnd', 'event')
    }
  })

  // var $exampleApi = $('.example-api');
  // $exampleApi.asReveal({
  //   animation: 'fadeInLeft',
  //   duration: '1000',
  //   onEnter: () => {
  //     log('enter', 'event')
  //   },
  //   onExit: () => {
  //     log('exit', 'event')
  //   },
  //   onReady: function() {
  //     log('ready', 'event');
  //   },
  //   onDestroy: function() {
  //     log('destroy', 'event');
  //   },
  //   onEnable: function() {
  //     log('enable', 'event');
  //   },
  //   onDisable: function() {
  //     log('disable', 'event');
  //   },
  //   onAnimationEnd: function() {
  //     log('animationEnd', 'event')
  //   }
  // })
  var actions = {
    destroy() {
      $exampleApi('destroy')
    },
    disable() {
      $exampleApi('disable')
    },
    enable() {
      $exampleApi('enable')
    },
    isVisible() {
      var isVisible = $exampleApi('isVisible');
      log('isVisible: ' + isVisible, 'API');
    },
  }

  $('.apis').on('click', function(event) {
    var target = event.target
    var action = target.dataset.action
    action && actions[action]()
  })
});
</script>
