---
title: BgVideo
layout: plugin
styles:
- ../../plugins/bg-video/css/bg-video.css
scripts:
- ../../plugins/bg-video/bg-video.js
---
<style>
.element {
  position: relative;
  height: 400px;
  width: 400px;
  z-index: 1;
  outline: dashed lightskyblue 1px;
}
.kongbai {
  height: 500px;
  width: 100%;
}
.bigVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1100px;
  pointer-events:none;
}
</style>
<div class="pad-top-40 pad-bottom-40 container">
  <div class="element"></div>
  <div class="bigVideo"></div>
  <div class="changeType">
    <button data-type="youtube" class="btn">changeType: youtube</button>
    <button data-type="html5" class="btn">changeType: html5</button>
    <button data-type="vimeo" class="btn">changeType: vimeo</button>
  </div>
  <h2 class="typeName">type: html5</h2>
  <button data-element=".bigVideo" class="btn openVideo">open in bigEle</button>
  <button data-element=".element" class="btn openVideo">open in element</button>
  <h2>API for element</h2>
  <div class="apis top-gap">
    <button data-api="play" class="btn">play()</button>
    <button data-api="pause" class="btn">pause()</button>
    <button data-api="stop" class="btn">stop()</button>
    <button data-api="setVolume" class="btn">setVolume: 30</button>
    <button data-api="destroy" class="btn">destroy()</button>
  </div>
  <div class="console"></div>
</div>
<script>
(function(){
  const queryAllAndAddEventListener = (selector, event) => {
    return document
      .querySelectorAll(selector)
      .forEach(el => el.addEventListener(event.type, event.callback))
  }
  const $bigVideo = document.querySelector('.bigVideo');
  const $element = document.querySelector('.element');
  const videoType = 'html5'
  const info = {
    html5: {
      type: 'html5',
      url: 'http://vjs.zencdn.net/v/oceans.mp4',
      id: '',
    },
    youtube: {
      type: 'youtube',
      url: '',
      id: 'r1xohS2u69E',
    },
    vimeo: {
      type: 'vimeo',
      url: '',
      id: '119287310',
    }
  }

  queryAllAndAddEventListener('.openVideo', {
    type: 'click',
    callback: event => {
      const selector = event.target.dataset.element
      const options = info[videoType]
      const bgVideo = Pj.bgVideo(selector, {
        type: options.type,
        video: {
          url: options.url,
          id: options.id,
          repeat: true,
          mute: true,
          autoplay: true,
          mobileImage: '',
        },
        onReady: function() {
          console.log('ready', 'event');
        },
        onDestroy: function() {
          console.log('destroy', 'event');
        },
        onPlay: function() {
          console.log('play', 'event');
        },
        onPause: function() {
          console.log('pause', 'event');
        },
        onStop: function() {
          console.log('stop', 'event');
        }
      })
      console.dir(selector)
      document.querySelector(selector).bgVideo = bgVideo
    }
  })

  queryAllAndAddEventListener('.changeType', {
    type: 'click',
    callback: event => {
      const type = event.target.matches('[data-type]') && event.target.dataset.type
      if ($element.bgVideo) {
        $element.bgVideo.destroy();
      }
      if ($bigVideo.bgVideo) {
        $bigVideo.bgVideo.destroy();
      }
      const videoType = type
      const t = 'type: ' + videoType
      document.querySelector('.typeName').textContent = t
    }
  })

  const APIS = {
    destroy() {
      $element.bgVideo.destroy();
    },
    play() {
      $element.bgVideo.play();
    },
    pause() {
      $element.bgVideo.pause();
    },
    stop() {
      $element.bgVideo.stop();
    },
    setVolume() {
      $element.bgVideo.setVolume(30);
    }
  }

  queryAllAndAddEventListener('.apis', {
    type: 'click',
    callback: event => {
      const api = event.target.matches('[data-api]')  && event.target.dataset.api
      if (api) {
        APIS[api]()
      }
    }
  })
})();
</script>
