---
title: Strength
layout: plugin
styles:
- ../../plugins/css/strength.css
scripts:
- ../../plugins/strength/strength.js
---

<form>
  <div>
    <input type="password" class="password-input pj-input" name="password" value="" />
  </div>
</form>
<form>
  <div>
    <input type="password" class="password-input-image pj-input" name="password" value="" />
  </div>
</form>
<script>
(function(){
  Pj.strength(".password-input", {
    locale:'zh'
  });
  Pj.strength(".password-input-image", {
    templates: {
      toggle: '<span class="input-group-addon"><img class="{toggleClass}" title="Show/Hide Password" src="../images/checkbox.png" /></span>'
    }
  });
})();
</script>
