@import "@pluginjs/styles/variables.scss";
@import "infinite.core";

$infinite: "pj-infinite";
$infinite-loader-color: inherit;

.#{$infinite} {
  &-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &-loader {
    color: $infinite-loader-color;
  }

  &-error,
  &-end {
    text-align: center;
  }

  &-horizontal {
    .#{$infinite}-error,
    .#{$infinite}-end {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
