@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$modal: "pj-modal" !default;
$modal-z-index: $zindex-modal !default;
$modal-width: 392px !default;

$modal-bg: $color-white !default;
$modal-overlay-bg: rgba($color-black, 0.1) !default;

$modal-duration: 0.3s;

// Core
// =====================
.#{$modal} {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $modal-z-index;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-overlay-bg;
  }

  &-container {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: $modal-width;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: $modal-bg;
  }

  &-title {
    flex-shrink: 0;

    &-center {
      flex-direction: column;
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &-title-icon {
    display: flex;
    align-items: center;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
  }

  &-content {
    position: relative;
    overflow-y: auto;

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &-buttons {
    display: flex;
    flex-shrink: 0;
  }

  &-destory {
    display: none;
  }
}

@import "effects/fade";
@import "effects/fadeScale";
@import "effects/slideRight";
@import "effects/slideBottom";
@import "effects/newspaper";
@import "effects/fall";
@import "effects/slideFall";
@import "effects/slideTop";
@import "effects/flipHorizontal";
@import "effects/flipVertical";
@import "effects/sign";
@import "effects/superScaled";
@import "effects/rotateBottom";
@import "effects/rotateLeft";
@import "effects/blur";
