@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$modal: "pj-modal" !default;
$modal-z-index: 10000 !default;
$modal-body-maxHeight: 50vh !default;

// Core
// =====================
.#{$modal} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: 0;

  &.#{$modal}-active {
    z-index: $modal-z-index;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 1;

    .#{$modal}-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-container {
    position: relative;
    z-index: $modal-z-index;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &-body {
    position: relative;
  }
}
