@import "@pluginjs/styles/variables.scss";
@import "modal.core";

// Vars
// =====================
$modal-font-family: $font-family-base;
$modal-font-size: $font-size-sm;

$modal-width: 392px;
$modal-padding-y: 24px;
$modal-padding-x: 32px;
$modal-border-radius: $border-radius-base;

$modal-color: $gray-darker;
$modal-bg: $color-white;
$modal-boxShadow: $box-shadow-7;

$modal-overlay-bg: rgba($color-black, 0.4);

$modal-close-margin: 10px;
$modal-close-padding: 6px;
$modal-close-font-Size: $font-size-sm;
$modal-close-color: $gray;
$modal-close-hover-color: $gray-darker;

$modal-title-gutter: 12px;
$modal-title-font-size: $font-size-lg;
$modal-title-font-weight: 500;
$modal-title-line-height: 1em;
$modal-title-color: $gray-darkest;

$modal-title-icon-gutter: 8px;
$modal-title-icon-font-size: 24px;
$modal-icon-title-font-size: 20px;
$modal-icon-title-line-height: $modal-title-icon-font-size;

$modal-buttons-gutter: $modal-padding-y;
$modal-button-gutter: 10px;

$modal-sm-width: 286px;
$modal-lg-width: 732px;

$modal-prompt-padding: 0 0 $modal-padding-y;
$modal-prompt-title-line-height: ($modal-close-margin + $modal-close-padding) * 2 + $modal-close-font-Size;

$modal-prompt-title-color: $color-white;
$modal-prompt-title-bg: $color-primary;
$modal-prompt-title-border-color: $border-color;

$modal-prompt-close-color: $gray-light;
$modal-prompt-close-hover-color: $color-white;

// Skin
// =====================
.#{$modal} {
  font-family: $modal-font-family;
  font-size: $modal-font-size;
  color: $modal-color;

  &-overlay {
    background-color: $modal-overlay-bg;
  }

  &-container {
    padding: $modal-padding-y $modal-padding-x;
    background: $modal-bg;
    border-radius: $modal-border-radius;
    box-shadow: $modal-boxShadow;
  }

  &-close {
    padding: $modal-close-padding;
    margin: $modal-close-margin;
    font-size: $modal-close-font-Size;
    color: $modal-close-color;

    &:hover {
      color: $modal-close-hover-color;
    }
  }

  &-title {
    font-size: $modal-title-font-size;
    font-weight: $modal-title-font-weight;
    line-height: $modal-title-line-height;
    color: $modal-title-color;

    + .#{$modal}-content {
      margin-top: $modal-title-gutter;
    }

    + .#{$modal}-buttons {
      margin-top: $modal-buttons-gutter;
    }
  }

  &-title-icon {
    font-size: $modal-icon-title-font-size;
    line-height: $modal-icon-title-line-height;
  }

  &-icon {
    margin-right: $modal-title-icon-gutter;
    font-size: $modal-title-icon-font-size;

    .#{$modal}-title-center & {
      margin-right: 0;
      margin-bottom: $modal-title-icon-gutter;
    }
  }

  &-content {
    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    + .#{$modal}-buttons {
      margin-top: $modal-buttons-gutter;
    }
  }

  &-btn {
    & + & {
      margin-left: $modal-button-gutter;
    }
  }

  &-btn-alignment {
    flex-basis: 100%;
  }
}

//theme
.#{$modal}-- {
  &sm {
    width: $modal-sm-width;
  }

  &lg {
    width: $modal-lg-width;
  }

  &prompt,
  &prompt-light {
    padding: $modal-prompt-padding;

    .#{$modal} {
      &-title {
        padding: 0 $modal-padding-x;
        overflow: hidden;
        line-height: $modal-prompt-title-line-height;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &-content,
      &-buttons {
        margin: $modal-padding-y $modal-padding-x 0 $modal-padding-x;
      }
    }
  }

  &prompt {
    .#{$modal}-title {
      color: $modal-prompt-title-color;
      background-color: $modal-prompt-title-bg;
    }

    .#{$modal}-close {
      color: $modal-prompt-close-color;
    }

    .#{$modal}-close:hover {
      color: $modal-prompt-close-hover-color;
    }
  }

  &prompt-light .#{$modal}-title {
    border-bottom: 1px solid $modal-prompt-title-border-color;
  }
}
