@import "@pluginjs/styles/variables.scss";
@import "modal.core";
// Vars
// =====================
$modal-title-font-size: 20px !default;
$modal-width: 480px !default;
$modal-sm-width: 450px !default;

//overlay
$modal-close-padding: 1 * $modal-font-size !default;
$modal-close-font-Size: 1.4 * $modal-font-size !default;
$modal-duration: 0.3s !default;
$modal-timing: cubic-bezier(0.51, 0.92, 0.24, 1.15) !default;

//close
$modal-close-color: $gray-dark !default;
$modal-timing: cubic-bezier(0.51, 0.92, 0.24, 1.15) !default;

// btn
$modal-btn-padding-y: 1 * $modal-font-size !default;
$modal-btn-padding-x: 2.2 * $modal-font-size !default;

//prompt
$modal-prompt-title-bgColor: $color-primary !default;
$modal-prompt-title-padding:  13px 20px 11px !default;
$modal-prompt-body-padding: 25px 28px 26px !default;
$modal-wideDialog-width: 675px !default;

//verification
$modal-vertification-bgColor: $color-white !default;
$modal-vertification-color: $color-black !default;
$modal-vertification-borderClor: $gray-border !default;

.#{$modal}-dialog,
.#{$modal}-prompt,
.#{$modal}-verification,
.#{$modal}-wideDialog {
  padding: 0 0 28px;
  
  .#{$modal}-title {
    padding: $modal-prompt-title-padding;
    font-size: 18px;
    color: $color-white;
    background: $modal-prompt-title-bgColor;
  }
  
  .#{$modal}-body {
    padding: $modal-prompt-body-padding;
  }
  
  .#{$modal}-buttons {
    padding-right: 28px;
    margin: 0;
  }
}

.#{$modal}-dialog,
.#{$modal}-prompt,
.#{$modal}-wideDialog {
  .#{$modal}-close {
    padding: 16px;
    color: $color-white;
    opacity: 1;
  }
}

.#{$modal}-verification {
  .#{$modal}-title {
    color: $modal-vertification-color;
    background: $modal-vertification-bgColor;
    border-bottom: 1px solid $modal-vertification-borderClor;
  }
}
.#{$modal}-wideDialog {
  width: $modal-wideDialog-width !important;
}

.#{$modal}-open {
  overflow: hidden;
}

.#{$modal}--fadeIn {
  animation: modal__fadeIn $modal-duration $modal-timing;
}

@keyframes modal__fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (min-width: 640px) {
  .#{$modal}-container {
    width: $modal-width;
  }
}

@media screen and (min-width: 320px) {
  .#{$modal}-sm.#{$modal}-container {
    width: $modal-sm-width;
  }
}

.#{$modal}-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: $modal-close-padding;
  font-size: $modal-close-font-Size;
  line-height: 1em;
  color: $modal-close-color;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  opacity: 0.5;
  appearance: none;

  &:not(:disabled):hover {
    cursor: pointer;
    background: initial;
    opacity: 0.9;
  }

  &:not(:disabled):active {
    background: initial;
    border-color: initial;
    box-shadow: none;
  }

  &:not(:disabled):focus {
    background: initial;
  }
}

.#{$modal}.#{$modal}-active.#{$modal}-destory {
  display: none;
}

.btn {
  padding: $modal-btn-padding-y $modal-btn-padding-x;
  font-size: $modal-font-size;
}

@import "effects/fade";
@import "effects/fadeScale";
@import "effects/slideRight";
@import "effects/slideBottom";
@import "effects/newspaper";
@import "effects/fall";
@import "effects/slideFall";
@import "effects/slideTop";
@import "effects/flipHorizontal";
@import "effects/flipVertical";
@import "effects/sign";
@import "effects/superScaled";
@import "effects/rotateBottom";
@import "effects/rotateLeft";
@import "effects/blur";
