---
title: Scrollbar
layout: plugin
styles:
- ../../plugins/scrollbar/css/scrollbar.css
scripts:
- ../../plugins/scrollbar/scrollbar.js
---
<style type="text/css">
  .example {
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
    -moz-box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
    box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
    background-color: #fefefe;
  }

  .content-200px-height {
    height: 200px;
  }

  .content-300px-height {
    height: 300px;
  }

  .content-500px-height {
    height: 500px;
  }

  .content-1000px-height {
    background-color: rgb(232, 244, 255);
    height: 1000px;
  }
</style>

<div class="top-gap container">
  <section class="pad-20-m">
    <h3>Horizontal scrollbar</h3>
    <div class="example">
      <div class="example-scrollbar-horizontal" data-easing="ease">
      </div>
    </div>
    <div class="example" style="height: 50px">
      <div class="example-scrollbar-horizontal" data-easing="linear">
      </div>
    </div>
    <div class="example" style="height: 50px">
      <div class="example-scrollbar-horizontal" data-easing="easeIn">
      </div>
    </div>
    <div class="example" style="height: 50px">
      <div class="example-scrollbar-horizontal" data-easing="easeOut">
      </div>
    </div>
    <div class="example" style="height: 50px">
      <div class="example-scrollbar-horizontal" data-easing="easeInOut">
      </div>
    </div>
  </section>
  <section class="pad-20-m">
    <h3>Vertical scrollbar</h3>
    <div class="example" style="height: 300px">
      <div class="example-scrollbar-vertical">
      </div>
    </div>
    <div>
      <button class="btn api-move-to" data-to="0">Move to 0</button>
      <button class="btn api-move-to" data-to="50">Move to 50</button>
      <button class="btn api-move-to" data-to="0%">Move to 0%</button>
      <button class="btn api-move-to" data-to="100%">Move to 100%</button>
      <button class="btn api-move-to" data-to="50%">Move to 50%</button>
    </div>
    <div class="pad-top-10">
      <button class="btn api-move-by" data-by="20">Move by 20</button>
      <button class="btn api-move-by" data-by="+20">Move by +20</button>
      <button class="btn api-move-by" data-by="-20">Move by -20</button>
      <button class="btn api-move-by" data-by="20%">Move by 20%</button>
      <button class="btn api-move-by" data-by="+20%">Move by +20%</button>
      <button class="btn api-move-by" data-by="-20%">Move by -20%</button>
      <button class="btn api-destroy">destroy()</button>
      <button class="btn api-enable">enable()</button>
      <button class="btn api-disable">disable()</button>
      <button class="btn add-height">style</button>
    </div>
    <div class="console"></div>
  </section>
</div>

<script>
$(function(){
  $('.add-height').on('click', function(){
    $('.example').css({
      height: 50
    })
  })

  var api = Pj.scrollbar('.example-scrollbar-horizontal', {
    direction: 'horizontal',
    minHandleLength: 200,
    handleLength: 100
  })
  $('.api-move-to').on('click', function() {
    var to = $(this).data('to');
    api('moveTo', to);
  });
  $('.api-move-by').on('click', function() {
    var to = $(this).data('by');
    api('moveBy', to);
  });

  // //event
  // var events = ['ready', 'enable', 'disable', 'destroy', 'hover', 'hovered', 'drag', 'dragged'];
  //
  // for(var i = 0; i < events.length; i++) {
  //  $('.example-scrollbar-vertical').on('scrollbar:'+events[i], function(event, instance) {
  //    log(event.type, 'event');
  //  });
  // }
  // $('.example-scrollbar-vertical').asScrollbar({
  //   direction: 'vertical',
  //   handleLength: 100,
  //   maxHandleLength: 100,
  //   mouseDrag: true,
  //   touchDrag: true,
  //   pointerDrag: true,
  //   clickMove: true,
  //   clickMoveStep: 0.2, // 0 - 1
  //   mousewheel: true,
  //   mousewheelSpeed: 50,
  //   keyboard: true,
  //   useCssTransforms3d: true,
  //   useCssTransforms: true,
  //   useCssTransitions: true,
  //   duration: '800',
  //   easing: 'ease', // linear, ease-in, ease-out, ease-in-out
  //   onChange: function(val) {
  //     log('change: '+JSON.stringify(val), 'event');
  //   },
  // });
  //
  // $('.api-destroy').on('click', function() {
  //   $('.example-scrollbar-vertical').asScrollbar('destroy');
  // });
  // $('.api-disable').on('click', function() {
  //   $('.example-scrollbar-vertical').asScrollbar('disable');
  // });
  // $('.api-enable').on('click', function() {
  //   $('.example-scrollbar-vertical').asScrollbar('enable');
  // });
});
</script>
