@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$dropdown: "pj-dropdown" !default;
$dropdown-bg: $color-white !default;
$dropdown-index: $zindex-dropdown !default;

// Core
// =====================
.#{$dropdown} {
  position: absolute;
  display: none;
  z-index: $dropdown-index;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $dropdown-bg;

  &-show {
    display: block;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &-disabled {
      cursor: default;
    }

    &-hided {
      display: none;
    }
  }

  &-disabled.#{$dropdown}-trigger {
    cursor: not-allowed;
  }
}
