@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$dropdown: "pj-dropdown" !default;
$dropdown-bg: $color-white;
$dropdown-index: $zindex-dropdown !default;

// Core
// =====================
.#{$dropdown} {
  position: absolute;
  z-index: $dropdown-index;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  visibility: hidden;
  background-color: $dropdown-bg;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  &-show {
    visibility: visible;
    opacity: 1;
  }

  &-item {
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &-disabled {
      cursor: default;
    }

    &-hided {
      display: none;
    }
  }

  &-disabled.#{$dropdown}-trigger {
    cursor: not-allowed;
  }
}
