@import "@pluginjs/styles/variables.scss";
@import "dropdown.core";

// Vars
// =====================
$dropdown: "pj-dropdown";
$dropdown-font-family: $font-family-base;
$dropdown-font-size: $font-size-sm;

$dropdown-width: 200px;
$dropdown-color: $text-color;
$dropdown-bg: $color-white;

$dropdown-border-color: $gray-light;
$dropdown-border-radius: $border-radius-base;
$dropdown-box-shadow: 0 20px 30px 0 rgba($color-black, 0.05);

$dropdown-trigger-hover-color: $gray-darkest;
$dropdown-trigger-focus-color: $color-primary;

$dropdown-input-width: $dropdown-width;
$dropdown-input-lineHeigh: 22px;
$dropdown-input-color: $gray-dark;
$dropdown-input-hover-color: $gray-darkest;
$dropdown-input-focus-color: $dropdown-input-hover-color;

$dropdown-item-space-x: 11px;
$dropdown-item-space-y: 8px;

$dropdown-item-icon-gutter: 10px;
$dropdown-item-hover-bg: $gray-lighter;
$dropdown-item-active-color: $color-primary-active;

// Skin
// =====================
.#{$dropdown} {
  width: $dropdown-width;
  font-family: $dropdown-font-family;
  font-size: $dropdown-font-size;
  color: $dropdown-color;
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border-color;
  border-radius: $dropdown-border-radius;
  box-shadow: $dropdown-box-shadow;
  will-change: transform;

  &-trigger {
    font-family: $dropdown-font-family;
    font-size: $dropdown-font-size;
    color: $dropdown-color;
    text-decoration: none;
    outline: none;

    &[aria-expanded="true"] {
      color: $dropdown-trigger-focus-color;
      outline: none;
    }
  }

  &-input {
    width: $dropdown-input-width;
    line-height: $dropdown-input-lineHeigh;
    color: $dropdown-input-color;

    &:focus {
      /* stylelint-disable*/
      &::-webkit-input-placeholder {
        color: $dropdown-input-hover-color;
      }

      &:-moz-placeholder {
        color: $dropdown-input-hover-color;
      }

      &::-moz-placeholder { 
        color: $dropdown-input-hover-color;
      }
        
      &:-ms-input-placeholder {
        color: $dropdown-input-hover-color;
      }
      /* stylelint-enable */
    }

    &[aria-expanded="true"] {
      color: $dropdown-input-focus-color;
    }
  }

  &-item {
    padding: $dropdown-item-space-y $dropdown-item-space-x;

    .pj-icon {
      margin-right: $dropdown-item-icon-gutter;
    }

    &:hover {
      cursor: pointer;
      background-color: $dropdown-item-hover-bg;
    }

    &.#{$dropdown}-active {
      color: $dropdown-item-active-color;
    }
  }
}
