@import "@pluginjs/styles/variables.scss";
@import "dropdown.core";

// Vars
// =====================
$dropdown-color: $text-color !default;
$dropdown-bg: $color-white !default;
$dropdown-box-shadow: 0 20px 30px 0
rgba(0, 0, 0, 0.05) !default;
$dropdown-border-color: $gray-light !default;
$dropdown-border-radius: $border-radius-base !default;
$dropdown-font-size: $font-size-sm !default;
$dropdown-item-hover-bg: $gray-lighter !default;
$dropdown-item-icon-margin-right: 10px !default;
$dropdown-space-x: 11px !default;
$dropdown-space-y: 6px !default;

//trigger
$dropdown-trigger-font-size: $font-size-sm !default;
$dropdown-trigger-hover-color: $gray-darkest !default;
$dropdown-trigger-color: $gray-dark !default;
$dropdown-trigger-focus-color: $color-primary !default;
$dropdown-trigger-lineHeight: 22px !default;
//input
$dropdown-input-width: 200px !default;
$dropdown-span-input-drop-color: $gray-darkest !default;
$dropdown-span-input-color: $gray-dark !default;
$dropdown-space-x-right: 30px !default;
$dropdown-space-x-left: $dropdown-space-x !default;
// Theme
// =====================
.#{$dropdown} {
  min-width: $dropdown-min-width;
  font-size: $dropdown-font-size;
  color: $dropdown-color;
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border-color;
  border-radius: $dropdown-border-radius;
  box-shadow: $dropdown-box-shadow;

  &-trigger {
    font-family: $dropdown-font-family;
    font-size: $dropdown-trigger-font-size;
    line-height: $dropdown-trigger-lineHeight;
    color: $dropdown-trigger-color;
    text-decoration: none;

    &:hover {
      color: $dropdown-trigger-hover-color;
    }

    &[aria-expanded="true"] {
      color: $dropdown-trigger-focus-color;
      outline: none;
    }

    &[data-placement] {
      color: $dropdown-trigger-hover-color;

    }
  }

  &-input {
    width: $dropdown-input-width;
    padding: $dropdown-space-y $dropdown-space-x-right $dropdown-space-y $dropdown-space-x-left !important;

    &[aria-expanded="true"] {
      color: $dropdown-trigger-hover-color;

      &:hover {
        border-color: $color-primary;
      }
    }

    &:not([placeholder]) {
      display: block;
      color: $dropdown-span-input-color;
    }
    
    &.#{$dropdown}-checked {
      color: $dropdown-span-input-drop-color;
    }
  }
  
  &-item {
    display: flex;
    align-items: center;
    padding: $dropdown-space-y $dropdown-space-x;
    
    .icon {
      margin-right: $dropdown-item-icon-margin-right;
    }
    &:hover {
      cursor: pointer;
      background-color: $dropdown-item-hover-bg;
    }
  }
}
