---
title: Lazyload
layout: plugin
styles:
- ../../plugins/lazyload/css/lazyload.css
scripts:
- ../../plugins/lazyload/lazyload.js
---
<style>
.img-shell {
  width: 400px;
  height: 400px;
}
.vertical-box {
  width: 400px;
  height: 800px;
  overflow: auto;

  > img,
  & > div {
    padding-bottom: 15px;
  }
}

.horizontal-box {
  width: 800px;
  height: auto;
  overflow: auto;
  white-space: nowrap;

  > img,
  > div,
  > h3 {
    display: inline-block;
    padding-right: 15px;
  }
}
</style>
<section>
  <h2>Vertical</h2>
  <div class="vertical-box">
    <h3>Normal</h3>
    <img class="img-shell" lazyload data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/400/h/400" alt="" />
    <img class="img-shell" lazyload data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/400/h/400" alt="" />
    <img class="img-shell" lazyload data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/600/h/600" alt="" />
    <img class="img-shell" lazyload data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/400/h/400" alt="" />
    <h3>Div tag with offset option</h3>
    <div class="img-shell" lazyload data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/600/h/600" data-offset="100" alt=""></div>
    <h3>Delay option</h3>
    <img class="img-shell" lazyload data-delay="20" data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/400/h/400" alt="" />
    <h3>Srcset option</h3>
    <img class="img-shell" lazyload data-srcset="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/400/h/400" alt="" />
  </div>
</section>
<section>
  <h2>horizontal</h2>
  <div class="horizontal-box">
    <img class="img-shell" lazyload data-horizontal="1" data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/400/h/400" alt="" />
    <img class="img-shell" lazyload data-horizontal="1" data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/600/h/600" alt="" />
    <img class="img-shell" lazyload data-horizontal="1" data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/400/h/400" alt="" />
    <img class="img-shell" lazyload data-horizontal="1" data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/400/h/400" alt="" />
    <img class="img-shell" lazyload data-horizontal="1" data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/600/h/600" alt="" />
    <img class="img-shell" lazyload data-horizontal="1" data-src="http://oqcgupxln.bkt.clouddn.com/61295983_p0.png?imageView2/1/w/400/h/400" alt="" />
  </div>
</section>

<div class="console"></div>
<div>
  <button class="btn api-init">init</button>
  <button class="btn api-destroy">destroy</button>
  <button class="btn api-enable">enable</button>
  <button class="btn api-disable">disable</button>
</div>
<script>
$(function(){
  var $element = $('[lazyload]');

  var events = ['ready', 'enable', 'disable', 'destroy'];

  for(var i = 0; i < events.length; i++) {
    $element.on('lazyload:'+events[i], function(event, instance) {
      log(event.type, 'event')
    });
  }

  function init() {
    $element.asLazyload({
      onEnter: function() {
        console.info('element onEnter')
        this.$element.addClass('element-entered')
      }
    });
  }

  init()

  $('.api-init').on('click', function() {
    init();
  });

  $('.api-destroy').on('click', function() {
    $element.asLazyload('destroy');
  });

  $('.api-enable').on('click', function() {
    $element.asLazyload('enable');
  });

  $('.api-disable').on('click', function() {
    $element.asLazyload('disable');
  });
});
</script>
