@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$loader: "pj-loader" !default;
$loader-size: 24px !default;
$loader-lg-size: 36px !default;
$loader-sm-size: 16px !default;

.#{$loader} {
  box-sizing: border-box;

  width: $loader-size;
  height: $loader-size;

  &-lg {
    width: $loader-lg-size;
    height: $loader-lg-size;
  }

  &-sm {
    width: $loader-sm-size;
    height: $loader-sm-size;
  }

  &-mask {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;

    flex-direction: column;
    align-items: center;
    justify-content:center;
    visibility: hidden;
    opacity: 0;
  }

  &-show {
    visibility: visible;
    opacity: 100;
  }

  &-text {
    text-align: center;
  }
}

@keyframes pj-loader-spin {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
