---
title: Select
layout: plugin
styles:
- ../../plugins/dropdown/css/dropdown.css
- ../../plugins/select/css/select.css
scripts:
- ../../plugins/select/select.js
---

<!--
styles:
- ../../plugins/dropdown/css/dropdown.css
- ../../plugins/select/css/select.css
scripts:
- ../../vendor/popper.js
- ../../plugins/match-sorter/match-sorter.js
- ../../plugins/dropdown/dropdown.js
- ../../plugins/select/select.js
-->
<section>
  <h2>Default</h2>
{{#code}}
<select class="example-default">
  <optgroup value="group-one" label="group-one">
    <option value="a">beijing</option>
    <option value="b">fujian</option>
  </optgroup>
  <optgroup value="group-two" label="group-two">
    <option value="c">zhejiang</option>
    <option value="d">tianjin</option>
    <option value="e">shanghai</option>
  </optgroup>
</select>
<script>
  (function() {
    Pj.select('.example-default');
  })();
</script>
{{/code}}
  <div class="example">
    <select class="example-default" data-identity="1">
      <optgroup value="group-one" label="group-one">
        <option value="a">beijing</option>
        <option value="b" selected>fujian</option>
      </optgroup>
      <optgroup value="group-two" label="group-two">
        <option value="c">zhejiang</option>
        <option value="d">tianjin</option>
        <option value="e">shanghai</option>
      </optgroup>
    </select>
  </div>
  <script>
    (function() {
      Pj.select('[data-identity]');
    })();
  </script>
</section>

<section>
  <h2>From Data</h2>
{{#code}}
<select class="example-data">
  <option value="a">beijing</option>
  <option value="b">fujian</option>
</select>
<script>
  (function() {
    var data = [{...}, ...];
    Pj.select('.example-data', {
      data: data
    });
  })();
</script>
{{/code}}
  <div class="example">
    <select class="example-data">
      <option value="a">beijing</option>
      <option value="b">fujian</option>
    </select>
  </div>
  <script>
    var data = [
      {
        "group": "true",
        "label": "group-one",
        "options": [
          {
            "value": "a",
            "label": "beijing",
            "slug": "beijing"
          },
          {
            "value": "b",
            "label": "nanjing",
            "slug": "nanjing"
          }
        ]
      },
      {
        "group": "true",
        "label": "group-two",
        "options": [
          {
            "value": "c",
            "label": "fujian",
            "slug": "fujian"
          },
          {
            "value": "d",
            "label": "guangdong",
            "slug": "guangdong"
          }
        ]
      }
    ];
    (function() {
      Pj.select('.example-data', {
        data: data
      });
    })();
  </script>
</section>

<section>
  <h2>Filterable</h2>
{{#code}}
<select class="example-filterable">
  ...
</select>
<script>
  (function() {
    Pj.select('.example-filterable', {
      filterable: true
    });
  })();
</script>
{{/code}}
  <div class="example">
    <select class="example-filterable" data-selected="c">
      <optgroup value="group-one" label="group-one">
        <option value="a">beijing</option>
        <option value="b">fujian</option>
      </optgroup>
      <optgroup value="group-two" label="group-two">
        <option value="c">zhejiang</option>
        <option value="d">tianjin</option>
        <option value="e">shanghai</option>
        <option value="f">shanxi</option>
      </optgroup>
    </select>
  </div>
  <script>
    (function() {
      Pj.select('.example-filterable', {
        filterable: true
      });
    })();
  </script>
</section>

<section>
  <h2>Multiple</h2>
{{#code}}
<select class="example-multiple">
  ...
</select>
<script>
  (function() {
    Pj.select('.example-multiple', {
      multiple: true
    });
  })();
</script>
{{/code}}
  <div class="example">
    <select class="example-multiple">
      <optgroup value="group-one" label="group-one">
        <option value="a">beijing</option>
        <option value="b">fujian</option>
      </optgroup>
      <optgroup value="group-two" label="group-two">
        <option value="c">zhejiang</option>
        <option value="d">tianjin</option>
        <option value="e">shanghai</option>
      </optgroup>
    </select>
  </div>
  <script>
    (function() {
      Pj.select('.example-multiple', {
        multiple: true
      });
    })();
  </script>
</section>

<section>
  <h2>Multiple filterable</h2>
{{#code}}
<select class="example-multiple-filterable">
  ...
</select>
<script>
  (function() {
    Pj.select('.example-multiple-filterable', {
      filterable: true,
      multiple: true
    });
  })();
</script>
{{/code}}
  <div class="example">
    <select class="example-multiple-filterable">
      <optgroup value="group-one" label="group-one">
        <option value="a">beijing</option>
        <option value="b">fujian</option>
      </optgroup>
      <optgroup value="group-two" label="group-two">
        <option value="c">zhejiang</option>
        <option value="d">tianjin</option>
        <option value="e">shanghai</option>
      </optgroup>
    </select>
  </div>
  <script>
    (function() {
      Pj.select('.example-multiple-filterable', {
        multiple: true,
        filterable: true
      });
    })();
  </script>
</section>

<section>
  <h2>Select disabled </h2>
{{#code}}
<select class="example-disabled" disabled="disabled">
  ...
</select>
<script>
  (function() {
    Pj.select('.example-disabled', );
  })();
</script>
{{/code}}
  <div class="example">
    <select class="example-disabled" disabled="disabled">
        <option value="a">beijing</option>
        <option value="b">fujian</option>
    </select>
  </div>
  <script>
    (function() {
      Pj.select('.example-disabled', );
    })();
  </script>
</section>

<section>
  <h2>Option disabled </h2>
{{#code}}
<select class="example-option-disabled">
  <option value="a" disabled="disabled">beijing</option>
  ...
</select>
<script>
  (function() {
    Pj.select('.example-option-disabled', );
  })();
</script>
{{/code}}
  <div class="example">
    <select class="example-option-disabled">
      <optgroup value="group-one" label="group-one">
        <option value="a" disabled="disabled">beijing</option>
        <option value="b">fujian</option>
      </optgroup>
      <optgroup value="group-two" label="group-two">
        <option value="c" disabled="disabled">zhejiang</option>
        <option value="d">tianjin</option>
        <option value="e">shanghai</option>
      </optgroup>
    </select>
  </div>
  <script>
    (function() {
      Pj.select('.example-option-disabled', );
    })();
  </script>
</section>

<section>
  <h2>Self-defined template</h2>
{{#code}}
<select class="example-defined">
  ...
</select>
<script>
  (function() {
    Pj.select('.example-defined', {
      templates: {
        item: function() {
          return '<li class="{that.classes.ITEM}" data-value="{item.value}">{item.label} <span>test</span></li>';
        }
      }
    });
  })();
</script>
{{/code}}
  <div class="example">
    <select class="example-defined">
      <optgroup value="group-one" label="group-one">
        <option value="a">beijing</option>
        <option value="b">fujian</option>
      </optgroup>
      <optgroup value="group-two" label="group-two">
        <option value="c">zhejiang</option>
        <option value="d">tianjin</option>
        <option value="e">shanghai</option>
      </optgroup>
    </select>
  </div>
  <script>
    (function() {
      Pj.select('.example-defined', {
        templates: {
          item: function() {
            return '<li class="{that.classes.ITEM}" data-value="{item.value}">{item.label} <span>test</span></li>';
          }
        }
      });
    })();
  </script>
</section>

<section>
  <h2>Keyboard</h2>
  <section>
    <h3>Default</h3>
{{#code}}
<select class="example-keyboard-default">
  ...
</select>
<script>
  (function() {
    Pj.select('.example-keyboard-default', {
      keyboard: true
    });
  })();
</script>
{{/code}}
    <div class="example">
      <select class="example-keyboard-default">
        <optgroup value="group-one" label="group-one">
          <option value="a">beijing</option>
          <option value="b">fujian</option>
        </optgroup>
        <optgroup value="group-two" label="group-two">
          <option value="c">zhejiang</option>
          <option value="d">tianjin</option>
          <option value="e">shanghai</option>
        </optgroup>
      </select>
    </div>
    <script>
      (function() {
        Pj.select('.example-keyboard-default', {
          keyboard: true
        });
      })();
    </script>
  </section>
  <section>
    <h3>filterable</h3>
{{#code}}
<select class="example-keyboard-filterable">
  ...
</select>
<script>
  (function() {
    Pj.select('.example-keyboard-filterable', {
      filterable: true,
      keyboard: true
    });
  })();
</script>
{{/code}}
    <div class="example">
      <select class="example-keyboard-filterable">
        <optgroup value="group-one" label="group-one">
          <option value="a">beijing</option>
          <option value="b">fujian</option>
        </optgroup>
        <optgroup value="group-two" label="group-two">
          <option value="c">zhejiang</option>
          <option value="d">tianjin</option>
          <option value="e">shanghai</option>
        </optgroup>
      </select>
    </div>
    <script>
      (function() {
        Pj.select('.example-keyboard-filterable', {
          filterable: true,
          keyboard: true
        });
      })();
    </script>
  </section>
  <section>
    <h3>Multiple</h3>
{{#code}}
<select class="example-keyboard-Multiple">
  ...
</select>
<script>
  (function() {
    Pj.select('.example-keyboard-Multiple', {
      multiple: true,
      keyboard: true
    });
  })();
</script>
{{/code}}
    <div class="example">
      <select class="example-keyboard-Multiple">
        <optgroup value="group-one" label="group-one">
          <option value="a">beijing</option>
          <option value="b">fujian</option>
        </optgroup>
        <optgroup value="group-two" label="group-two">
          <option value="c">zhejiang</option>
          <option value="d">tianjin</option>
          <option value="e">shanghai</option>
        </optgroup>
      </select>
    </div>
    <script>
      (function() {
        Pj.select('.example-keyboard-Multiple', {
          multiple: true,
          keyboard: true
        });
      })();
    </script>
  </section>
  <section>
    <h3>Multiple filterable</h3>
{{#code}}
<select class="example-keyboard-multiple-filterable">
  ...
</select>
<script>
  (function() {
    Pj.select('.example-keyboard-multiple-filterable', {
      filterable: true,
      multiple: true,
      keyboard: true
    });
  })();
</script>
{{/code}}
    <div class="example">
      <select class="example-keyboard-multiple-filterable">
        <optgroup value="group-one" label="group-one">
          <option value="a">beijing</option>
          <option value="b">fujian</option>
        </optgroup>
        <optgroup value="group-two" label="group-two">
          <option value="c" selected>zhejiang</option>
          <option value="d">tianjin</option>
          <option value="e">shanghai</option>
        </optgroup>
      </select>
    </div>
    <script>
      (function() {
        Pj.select('.example-keyboard-multiple-filterable', {
          filterable: true,
          multiple: true,
          keyboard: true
        });
      })();
    </script>
  </section>
</section>
<section>
  <form action="">
    <h2>WordPress demo</h2>
    <select id="select"
            name="select[]"
            data-plugin="select"
            data-multiple="true"
            data-theme="success"
            data-trigger="click"
            data-offset="[0, 0]"
            data-icon="icon-char icon-chevron-down"
            data-clearable="false"
            data-filterable="false"
            data-keyboard="false"
            placeholder="Please select"
            data-notfoundtext="Badge not found"
            multiple="multiple"
      >
      <option value="chn" selected>China</option>
      <option value="uk" selected>British</option>
      <option value="jp" selected>Japan</option>
    </select>
    <button type="submit">submit</button>
    <script>
      (function() {
        Pj.select('[data-plugin]')
      })()
    </script>
  </form>
</section>
<section>
  <h2>Api</h2>
  <div class="example">
    <select class="example-api">
      <optgroup value="group-one" label="group-one">
        <option value="a">beijing</option>
        <option value="b">fujian</option>
      </optgroup>
      <optgroup value="group-two" label="group-two">
        <option value="c">zhejiang</option>
        <option value="d">tianjin</option>
        <option value="e">shanghai</option>
      </optgroup>
    </select>
    <div class="apis top-gap">
      <button class="btn api-init">init()</button>
      <button class="btn api-get">get()</button>
      <button class="btn api-set">set(data)</button>
      <button class="btn api-val">val()</button>
      <button class="btn api-val-set">val(data)</button>
      <button class="btn api-destroy">destroy()</button>
      <button class="btn api-enable">enable()</button>
      <button class="btn api-disable">disable()</button>
    </div>
    <div class="console"></div>
  </div>
  <script>
  (function() {
    var events = ['ready', 'enable', 'disable', 'destroy', 'load', 'open', 'close', 'click', 'select', 'unselect', 'hide'];

    for(var i = 0; i < events.length; i++) {
     document.querySelector('.example-api').addEventListener('select:'+events[i], function(event, instance) {
       log(event.type, 'event');
     });
    }

    var $select = {}

    function init() {
      $select = Pj.select('.example-api', {
        multiple: true,
        onChange: function(val) {
          log('change: '+JSON.stringify(val), 'event');
        },
      }).data('select');
    }

    document.querySelector('.api-init').addEventListener('click', function() {
      init()
    });

    document.querySelector('.api-get').addEventListener('click', function() {
      log($select.get(), 'get()');
    });
    document.querySelector('.api-set').addEventListener('click', function() {
      $select.set(['a', 'b']);
      log('', 'set()');
    });
    document.querySelector('.api-val').addEventListener('click', function() {
      log($select.val(), 'val()');
    });
    document.querySelector('.api-val-set').addEventListener('click', function() {
      $select.val('c,d');
      log('', 'val(data)');
    });
    document.querySelector('.api-destroy').addEventListener('click', function() {
      $select.destroy()
    });
    document.querySelector('.api-enable').addEventListener('click', function() {
      $select.enable()
    });
    document.querySelector('.api-disable').addEventListener('click', function() {
      $select.disable()
    });
  })();
  </script>
</section>
