@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$mapPicker: "pj-mapPicker" !default;

//Core
.#{$mapPicker} {
  &-trigger {
    position: relative;
    line-height: 1.2;

    &-action {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &-open-disabled {
    pointer-events: none;
  }

  &-input {
    display: none;
  }

  &-empty {
    display: flex;
    cursor: pointer;
  }

  &-fill {
    position: relative;
    display: none;

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-coord {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:empty {
        margin: 0;
      }
    }
  }

  &-edit,
  &-remove {
    cursor: pointer;
  }

  &-dropdown {
    position: relative;
    display: none;
  }

  &-field {
    display: flex;
    flex-direction: column;
  }

  &-action {
    text-align: right;
  }


  .pj-autoComplete {
    width: 100%;

    .pj-autoComplete-clear {
      top: 5px;
    }
  }

  &-remove-animate {
    animation: fade-out 0.5s;
    animation-fill-mode: forwards;

    .#{$mapPicker}-trigger-action {
      animation: fade-out 0.5s;
      animation-fill-mode: forwards;
    }
  }

  &-trigger-hover {
    .#{$mapPicker}-trigger-action {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  &-write {
    .#{$mapPicker}-empty {
      display: none;
    }

    .#{$mapPicker}-fill {
      display: flex;
    }

    .#{$mapPicker}-trigger-action {
      display: flex;
    }
  }

  &-show {
    .#{$mapPicker}-dropdown {
      display: block;
    }
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
