@import "@pluginjs/styles/variables.scss";
@import "map-picker.core";
// Vars
// =====================
$mapPicker: "pj-mapPicker";

$mapPicker-font-size: $font-size-base;
$mapPicker-hover-color: $gray-darkest;
$mapPicker-border-color: $border-color;
$mapPicker-border-radius: $border-radius-base;
$mapPicker-prompt-color: $gray-dark;

$mapPicker-empty-border-style: dashed;
$mapPicker-empty-padding: 7px 12px;

$mapPicker-icon-size: 12px;
$mapPicker-icon-color: $gray;
$mapPicker-icon-margin-right: 8px;

$mapPicker-fill-color: $gray-darkest;
$mapPicker-fill-action-color: $color-white;
$mapPicker-fill-action-bg-color: $color-opacity;
$mapPicker-fill-coord-margin-top: 4px;
$mapPicker-fill-coord-color: $gray-dark;
$mapPicker-fill-coord-font-size: 10px;
$mapPicker-fill-action-margin-left: 24px;

$mapPicker-filed-color: $gray-darkest;
$mapPicker-filed-input-padding: 7px 12px;
$mapPicker-filed-input-margin-top: 12px;
$mapPicker-filed-input-color: $gray-dark;

$mapPicker-dropdown-width: 272px;
$mapPicker-dropdown-padding: 24px;

$mapPicker-item-margin-bottom: 24px;

$mapPicker-map-height: 126px;
$mapPicker-map-margin-bottom: 30px;

.#{$mapPicker} {
  &-trigger {
    &-action {
      width: 100%;
      height: 100%;
      color: $mapPicker-fill-action-color;
      background-color: $mapPicker-fill-action-bg-color;
      border-radius: $mapPicker-border-radius;

      i + i {
        margin-left: $mapPicker-fill-action-margin-left;
      }
    }
  }

  &-icon {
    margin-right: $mapPicker-icon-margin-right;
    font-size: $mapPicker-icon-size;
    color: $mapPicker-icon-color;
  }

  &-empty,
  &-fill,
  &-dropdown {
    font-size: $mapPicker-font-size;
    background-color: $color-white;
    border: 1px solid $mapPicker-border-color;
    border-radius: $mapPicker-border-radius;
  }

  &-empty,
  &-fill {
    padding: $mapPicker-empty-padding;
    color: $mapPicker-prompt-color;
  }

  &-empty {
    border-style: $mapPicker-empty-border-style;
    transition: color 0.3s;

    &:hover {
      color: $mapPicker-hover-color;

      .#{$mapPicker}-icon {
        color: $mapPicker-hover-color;
        transition: color 0.3s;
      }
    }
  }

  &-fill {
    color: $mapPicker-fill-color;

    .#{$mapPicker}-icon {
      color: $mapPicker-fill-color;
    }

    &-coord {
      margin-top: $mapPicker-fill-coord-margin-top;
      font-size: $mapPicker-fill-coord-font-size;
      color: $mapPicker-fill-coord-color;
    }
  }

  &-dropdown {
    width: $mapPicker-dropdown-width;
    padding: $mapPicker-dropdown-padding;
  }

  &-field {
    // width: 100%;
    margin-bottom: $mapPicker-item-margin-bottom;
    color: $mapPicker-filed-color;

    input {
      padding: $mapPicker-filed-input-padding;
      margin-top: $mapPicker-filed-input-margin-top;
      color: $mapPicker-filed-input-color;
    }
  }

  &-map {
    width: 100%;
    height: $mapPicker-map-height;
    margin-bottom: $mapPicker-map-margin-bottom;
    border-radius: $mapPicker-border-radius;
  }

  &-remove-animate {
    animation: fade-out 0.5s;
    animation-fill-mode: forwards;

    .#{$mapPicker}-trigger-action {
      animation: fade-out 0.5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.#{$mapPicker}-disabled {
  .#{$mapPicker}-fill {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;

  }

  .#{$mapPicker}-remove,
  .#{$mapPicker}-edit {
    cursor: not-allowed;
  }

  .#{$mapPicker}-empty {
    color: $disabled-color;
    cursor: not-allowed;
    background-color: $disabled-bg;

    &:hover {
      .#{$mapPicker}-icon {
        color: $disabled-color;
      }
    }
  }

  .#{$mapPicker}-icon {
    color: $disabled-color;
  }
}
