---
title: input-mask
layout: plugin
scripts:
- ../../plugins/input-mask/input-mask.js
---
<style>
.console {
  height: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
  overflow-y: scroll;
}
.console-info {
  color: #55a4f2;
}
input {
  padding: 5px 7px;
  border: 1px solid #ccc;
  margin-top: 20px;
}
</style>
<div class="pad-top-40 pad-bottom-40 container">
  <h1>Welcome to {{title}}!</h1>
  <div class="element">
    <input id="input-mask-custom" placeholder="xx-xxx-xxxxx" type="text">
{{#code}}
<input id="input-mask-custom" placeholder="xx-xxx-xxxxx" type="text">
<script>
  Pj.inputMask('#input-mask-custom', {
    type: 'custom',
    delimiter: '-',
    blocks: [2, 3, 5]
  });
</script>
{{/code}}
<h3>Date</h3>
<input id="input-mask-date" placeholder="xxxx/xx/xx" type="text">
{{#code}}
<input id="input-mask-date" placeholder="xxxx/xx/xx" type="text">
<script>
  Pj.inputMask('#input-mask-date', {
    type: 'date'
  });
</script>
{{/code}}
<h3>Time</h3>
<input id="input-mask-time" placeholder="xx:xx" type="text">
{{#code}}
<input id="input-mask-time" placeholder="xx:xx" type="text">
<script>
  Pj.inputMask('#input-mask-time', {
    type: 'time'
  });
</script>
{{/code}}
<h3>12-Hour Time</h3>
<input id="input-mask-time-12" placeholder="xx:xx" type="text">
{{#code}}
<input id="input-mask-time-12" placeholder="xx:xx" type="text">
<script>
  Pj.inputMask('#input-mask-time-12', {
    type: 'time',
    hours: '12'
  });
</script>
{{/code}}
<h3>Card</h3>
<input id="input-mask-card" placeholder="xxxx xxxx xxxx xxxx" type="text">
{{#code}}
<input id="input-mask-card" placeholder="xxxx xxxx xxxx xxxx" type="text">
<script>
  Pj.inputMask('#input-mask-card', {
    type: 'Card'
  });
</script>
{{/code}}
  </div>
  <div class="console"></div>
    <div class="pad-top-20">
      <button class="button api-init">init</button>
      <button class="button api-destroy">destroy</button>
      <button class="button api-enable">enable</button>
      <button class="button api-disable">disable</button>
    </div>
  </div>
<script>
(function(){
  Pj.inputMask('#input-mask-custom', {
    type: 'custom',
    delimiter: '-',
    blocks: [2, 3, 5]
  });
  Pj.inputMask('#input-mask-date', {
    type: 'date'
  })
  Pj.inputMask('#input-mask-time', {
    type: 'time'
  })
  Pj.inputMask('#input-mask-time-12', {
    type: 'time',
    hours: '12'
  })
  Pj.inputMask('#input-mask-card', {
    type: 'card',
    onReady: function() {
      console.log('ready', 'event');
    },
    onDestroy: function() {
      console.log('destroy', 'event');
    },
    onEnable: function() {
      console.log('enable', 'event');
    },
    onDisable: function() {
      console.log('disable', 'event');
    }
  })
})();
</script>
