$pj-icon-font-family: plugin-icons;

$pj-icon-activated: \ea01;
$pj-icon-add: \ea02;
$pj-icon-add-circle-solid: \ea03;
$pj-icon-add-small: \ea04;
$pj-icon-add-solid: \ea05;
$pj-icon-alarm-clock-solid: \ea06;
$pj-icon-align-center: \ea07;
$pj-icon-align-left: \ea08;
$pj-icon-align-right: \ea09;
$pj-icon-alluppercase: \ea0a;
$pj-icon-analytic-graph-solid: \ea0b;
$pj-icon-angle-circle-down-solid: \ea0c;
$pj-icon-angle-circle-left-solid: \ea0d;
$pj-icon-angle-circle-right-solid: \ea0e;
$pj-icon-angle-circle-up-solid: \ea0f;
$pj-icon-angle-double-circle-down-solid: \ea10;
$pj-icon-angle-double-circle-left-solid: \ea11;
$pj-icon-angle-double-circle-right-solid: \ea12;
$pj-icon-angle-double-circle-up-solid: \ea13;
$pj-icon-angle-double-down-mini-solid: \ea14;
$pj-icon-angle-double-down-solid: \ea15;
$pj-icon-angle-double-left-mini-solid: \ea16;
$pj-icon-angle-double-left-solid: \ea17;
$pj-icon-angle-double-right-mini-solid: \ea18;
$pj-icon-angle-double-right-solid: \ea19;
$pj-icon-angle-double-up-mini-solid: \ea1a;
$pj-icon-angle-double-up-solid: \ea1b;
$pj-icon-angle-down-mini-solid: \ea1c;
$pj-icon-angle-down-solid: \ea1d;
$pj-icon-angle-fillet-down-solid: \ea1e;
$pj-icon-angle-fillet-left-solid: \ea1f;
$pj-icon-angle-fillet-right-solid: \ea20;
$pj-icon-angle-fillet-up-solid: \ea21;
$pj-icon-angle-left-mini-solid: \ea22;
$pj-icon-angle-left-solid: \ea23;
$pj-icon-angle-right-mini-solid: \ea24;
$pj-icon-angle-right-solid: \ea25;
$pj-icon-angle-up-mini-solid: \ea26;
$pj-icon-angle-up-solid: \ea27;
$pj-icon-arrow-circle-down-solid: \ea28;
$pj-icon-arrow-circle-left-solid: \ea29;
$pj-icon-arrow-circle-right-solid: \ea2a;
$pj-icon-arrow-circle-up-solid: \ea2b;
$pj-icon-arrow-down-mini: \ea2c;
$pj-icon-arrow-down-solid: \ea2d;
$pj-icon-arrow-fillet-down-solid: \ea2e;
$pj-icon-arrow-fillet-left-solid: \ea2f;
$pj-icon-arrow-fillet-right-solid: \ea30;
$pj-icon-arrow-fillet-up-solid: \ea31;
$pj-icon-arrow-left: \ea32;
$pj-icon-arrow-left-mini: \ea33;
$pj-icon-arrow-left-solid: \ea34;
$pj-icon-arrow-long-down-solid: \ea35;
$pj-icon-arrow-long-left-solid: \ea36;
$pj-icon-arrow-long-right-solid: \ea37;
$pj-icon-arrow-long-up-solid: \ea38;
$pj-icon-arrow-right: \ea39;
$pj-icon-arrow-right-mini: \ea3a;
$pj-icon-arrow-right-solid: \ea3b;
$pj-icon-arrow-slim-down-solid: \ea3c;
$pj-icon-arrow-slim-left-solid: \ea3d;
$pj-icon-arrow-slim-right-solid: \ea3e;
$pj-icon-arrow-slim-up-solid: \ea3f;
$pj-icon-arrow-up-mini: \ea40;
$pj-icon-arrow-up-solid: \ea41;
$pj-icon-arrows-h-solid: \ea42;
$pj-icon-arrows-v-solid: \ea43;
$pj-icon-binoculars-solid: \ea44;
$pj-icon-book-solid: \ea45;
$pj-icon-bookmark-solid: \ea46;
$pj-icon-bottom-center: \ea47;
$pj-icon-bottom-left: \ea48;
$pj-icon-bottom-right: \ea49;
$pj-icon-briefcase-solid: \ea4a;
$pj-icon-browser-tab-solid: \ea4b;
$pj-icon-browser-windows-solid: \ea4c;
$pj-icon-brush-solid: \ea4d;
$pj-icon-building-solid: \ea4e;
$pj-icon-calendar: \ea4f;
$pj-icon-calendar-solid: \ea50;
$pj-icon-camera-retro-solid: \ea51;
$pj-icon-camera-solid: \ea52;
$pj-icon-center: \ea53;
$pj-icon-center-left: \ea54;
$pj-icon-center-right: \ea55;
$pj-icon-chat-group-solid: \ea56;
$pj-icon-check-circle-solid: \ea57;
$pj-icon-check-solid: \ea58;
$pj-icon-chevron-circle-down-solid: \ea59;
$pj-icon-chevron-circle-left-solid: \ea5a;
$pj-icon-chevron-circle-right-solid: \ea5b;
$pj-icon-chevron-circle-up-solid: \ea5c;
$pj-icon-chevron-down-solid: \ea5d;
$pj-icon-chevron-left-solid: \ea5e;
$pj-icon-chevron-right-solid: \ea5f;
$pj-icon-chevron-up-solid: \ea60;
$pj-icon-clock-solid: \ea61;
$pj-icon-close: \ea62;
$pj-icon-close-circle-solid: \ea63;
$pj-icon-code-solid: \ea64;
$pj-icon-color-lens: \ea65;
$pj-icon-compass-solid: \ea66;
$pj-icon-crop-solid: \ea67;
$pj-icon-delete: \ea68;
$pj-icon-diamond-solid: \ea69;
$pj-icon-done: \ea6a;
$pj-icon-done-small: \ea6b;
$pj-icon-drawer-line-solid: \ea6c;
$pj-icon-drawer-solid: \ea6d;
$pj-icon-edit: \ea6e;
$pj-icon-email-solid: \ea6f;
$pj-icon-error-solid: \ea70;
$pj-icon-feather-pen-solid: \ea71;
$pj-icon-file-text-solid: \ea72;
$pj-icon-file-upload: \ea73;
$pj-icon-file-video: \ea74;
$pj-icon-flag-solid: \ea75;
$pj-icon-font: \ea76;
$pj-icon-font-delete: \ea77;
$pj-icon-font-squirrel: \ea78;
$pj-icon-food-solid: \ea79;
$pj-icon-fork-knife-solid: \ea7a;
$pj-icon-fountain-pen-solid: \ea7b;
$pj-icon-google-font: \ea7c;
$pj-icon-gradient: \ea7d;
$pj-icon-gradient-solid: \ea7e;
$pj-icon-hammer-solid: \ea7f;
$pj-icon-hanger-solid: \ea80;
$pj-icon-heart-beat-solid: \ea81;
$pj-icon-heart-solid: \ea82;
$pj-icon-hidden: \ea83;
$pj-icon-home-solid: \ea84;
$pj-icon-ic_car-solid: \ea85;
$pj-icon-image: \ea86;
$pj-icon-image-group: \ea87;
$pj-icon-image-solid: \ea88;
$pj-icon-in: \ea89;
$pj-icon-in-small: \ea8a;
$pj-icon-info-solid: \ea8b;
$pj-icon-internet-solid: \ea8c;
$pj-icon-lab-solid: \ea8d;
$pj-icon-lamp-solid: \ea8e;
$pj-icon-link: \ea8f;
$pj-icon-link-url-solid: \ea90;
$pj-icon-list: \ea91;
$pj-icon-list-align-left-a-solid: \ea92;
$pj-icon-list-align-left-solid: \ea93;
$pj-icon-list-align-right-a-solid: \ea94;
$pj-icon-list-align-right-solid: \ea95;
$pj-icon-list-solid: \ea96;
$pj-icon-list-ul-solid: \ea97;
$pj-icon-loading: \ea98;
$pj-icon-location: \ea99;
$pj-icon-location-solid: \ea9a;
$pj-icon-lock: \ea9b;
$pj-icon-lock-solid: \ea9c;
$pj-icon-lowercase: \ea9d;
$pj-icon-magic-wand-solid: \ea9e;
$pj-icon-map-solid: \ea9f;
$pj-icon-maximize-solid: \eaa0;
$pj-icon-megaphone-solid: \eaa1;
$pj-icon-minimize-solid: \eaa2;
$pj-icon-minus-small: \eaa3;
$pj-icon-minus-solid: \eaa4;
$pj-icon-money-solid: \eaa5;
$pj-icon-music-note-solid: \eaa6;
$pj-icon-news-solid: \eaa7;
$pj-icon-newspaper-solid: \eaa8;
$pj-icon-no-repeat: \eaa9;
$pj-icon-off: \eaaa;
$pj-icon-off-small: \eaab;
$pj-icon-paint-roller-solid: \eaac;
$pj-icon-pattern-small: \eaad;
$pj-icon-pause-circle-solid: \eaae;
$pj-icon-pause-solid: \eaaf;
$pj-icon-pencil-write-solid: \eab0;
$pj-icon-performance-solid: \eab1;
$pj-icon-phone-call-solid: \eab2;
$pj-icon-pin-map-solid: \eab3;
$pj-icon-plane-solid: \eab4;
$pj-icon-play-circle-solid: \eab5;
$pj-icon-play-solid: \eab6;
$pj-icon-printer-alt-solid: \eab7;
$pj-icon-printer-solid: \eab8;
$pj-icon-projector-solid: \eab9;
$pj-icon-protractor-solid: \eaba;
$pj-icon-puzzle-piece-solid: \eabb;
$pj-icon-question-solid: \eabc;
$pj-icon-quote-left-solid: \eabd;
$pj-icon-quote-right-solid: \eabe;
$pj-icon-remove: \eabf;
$pj-icon-remove-circle-solid: \eac0;
$pj-icon-remove-small: \eac1;
$pj-icon-remove-solid: \eac2;
$pj-icon-repeat: \eac3;
$pj-icon-repeat-horizontal: \eac4;
$pj-icon-repeat-vertical: \eac5;
$pj-icon-search: \eac6;
$pj-icon-search-solid: \eac7;
$pj-icon-send-solid: \eac8;
$pj-icon-setting-1: \eac9;
$pj-icon-setting-2: \eaca;
$pj-icon-share-solid: \eacb;
$pj-icon-shop-cart-solid: \eacc;
$pj-icon-shop-solid: \eacd;
$pj-icon-show: \eace;
$pj-icon-single-solid: \eacf;
$pj-icon-smile-solid: \ead0;
$pj-icon-sofa-solid: \ead1;
$pj-icon-stack-solid: \ead2;
$pj-icon-star-solid: \ead3;
$pj-icon-stop-solid: \ead4;
$pj-icon-suitcase-solid: \ead5;
$pj-icon-system: \ead6;
$pj-icon-television-solid: \ead7;
$pj-icon-th-circle-solid: \ead8;
$pj-icon-th-solid: \ead9;
$pj-icon-time: \eada;
$pj-icon-time-solid: \eadb;
$pj-icon-top-center: \eadc;
$pj-icon-top-left: \eadd;
$pj-icon-top-right: \eade;
$pj-icon-tree-solid: \eadf;
$pj-icon-triangle-circle-down-solid: \eae0;
$pj-icon-triangle-circle-left-solid: \eae1;
$pj-icon-triangle-circle-right-solid: \eae2;
$pj-icon-triangle-circle-up-solid: \eae3;
$pj-icon-triangle-down-mini-solid: \eae4;
$pj-icon-triangle-down-solid: \eae5;
$pj-icon-triangle-left-mini-solid: \eae6;
$pj-icon-triangle-left-solid: \eae7;
$pj-icon-triangle-right-mini-solid: \eae8;
$pj-icon-triangle-right-solid: \eae9;
$pj-icon-triangle-thin-down-solid: \eaea;
$pj-icon-triangle-thin-left-solid: \eaeb;
$pj-icon-triangle-thin-right-solid: \eaec;
$pj-icon-triangle-thin-up-solid: \eaed;
$pj-icon-triangle-up-mini-solid: \eaee;
$pj-icon-triangle-up-solid: \eaef;
$pj-icon-trophy-solid: \eaf0;
$pj-icon-underline: \eaf1;
$pj-icon-unlink: \eaf2;
$pj-icon-unlock: \eaf3;
$pj-icon-upload: \eaf4;
$pj-icon-uppercase: \eaf5;
$pj-icon-user-group-solid: \eaf6;
$pj-icon-video-pause: \eaf7;
$pj-icon-video-play: \eaf8;
$pj-icon-wifi-solid: \eaf9;
$pj-icon-windows-solid: \eafa;
$pj-icon-windy-solid: \eafb;
$pj-icon-wrench-solid: \eafc;
