$pj-icon-font-family: plugin-icons;

$pj-icon-align-center: \ea01;
$pj-icon-align-left: \ea02;
$pj-icon-align-right: \ea03;
$pj-icon-analytic: \ea04;
$pj-icon-angle-circle-down: \ea05;
$pj-icon-angle-circle-left: \ea06;
$pj-icon-angle-circle-right: \ea07;
$pj-icon-angle-circle-up: \ea08;
$pj-icon-angle-double-circle-down: \ea09;
$pj-icon-angle-double-circle-left: \ea0a;
$pj-icon-angle-double-circle-right: \ea0b;
$pj-icon-angle-double-circle-up: \ea0c;
$pj-icon-angle-double-down: \ea0d;
$pj-icon-angle-double-down-mini: \ea0e;
$pj-icon-angle-double-left: \ea0f;
$pj-icon-angle-double-left-mini: \ea10;
$pj-icon-angle-double-right: \ea11;
$pj-icon-angle-double-right-mini: \ea12;
$pj-icon-angle-double-up: \ea13;
$pj-icon-angle-double-up-mini: \ea14;
$pj-icon-angle-down: \ea15;
$pj-icon-angle-down-mini: \ea16;
$pj-icon-angle-fillet-down: \ea17;
$pj-icon-angle-fillet-left: \ea18;
$pj-icon-angle-fillet-right: \ea19;
$pj-icon-angle-fillet-up: \ea1a;
$pj-icon-angle-left: \ea1b;
$pj-icon-angle-left-mini: \ea1c;
$pj-icon-angle-right: \ea1d;
$pj-icon-angle-right-mini: \ea1e;
$pj-icon-angle-up: \ea1f;
$pj-icon-arrow-down-mini: \ea20;
$pj-icon-arrow-left: \ea21;
$pj-icon-arrow-left-mini: \ea22;
$pj-icon-arrow-left-solid: \ea23;
$pj-icon-arrow-long-left: \ea24;
$pj-icon-arrow-long-right: \ea25;
$pj-icon-arrow-right: \ea26;
$pj-icon-arrow-right-mini: \ea27;
$pj-icon-arrow-right-solid: \ea28;
$pj-icon-arrow-slim-up: \ea29;
$pj-icon-arrow-up-mini: \ea2a;
$pj-icon-arrows-alt-v: \ea2b;
$pj-icon-arrows-h: \ea2c;
$pj-icon-bottom-center: \ea2d;
$pj-icon-bottom-left: \ea2e;
$pj-icon-bottom-right: \ea2f;
$pj-icon-browser-tab: \ea30;
$pj-icon-calendar: \ea31;
$pj-icon-calendar-solid: \ea32;
$pj-icon-capitalize: \ea33;
$pj-icon-caret-down-mini: \ea34;
$pj-icon-caret-right: \ea35;
$pj-icon-caret-right-mini: \ea36;
$pj-icon-caret-thin-down: \ea37;
$pj-icon-caret-thin-left: \ea38;
$pj-icon-caret-thin-right: \ea39;
$pj-icon-caret-thin-up: \ea3a;
$pj-icon-center: \ea3b;
$pj-icon-center-left: \ea3c;
$pj-icon-center-right: \ea3d;
$pj-icon-check: \ea3e;
$pj-icon-check-circle: \ea3f;
$pj-icon-chevron-circle-up: \ea40;
$pj-icon-chevron-down: \ea41;
$pj-icon-chevron-left: \ea42;
$pj-icon-chevron-right: \ea43;
$pj-icon-chevron-up: \ea44;
$pj-icon-close: \ea45;
$pj-icon-close-circle: \ea46;
$pj-icon-copy: \ea47;
$pj-icon-crop: \ea48;
$pj-icon-desktop: \ea49;
$pj-icon-diamond: \ea4a;
$pj-icon-done: \ea4b;
$pj-icon-done-small: \ea4c;
$pj-icon-drafting-compass: \ea4d;
$pj-icon-drawer-line: \ea4e;
$pj-icon-edit: \ea4f;
$pj-icon-file-upload: \ea50;
$pj-icon-file-video: \ea51;
$pj-icon-font: \ea52;
$pj-icon-font-squirrel: \ea53;
$pj-icon-google: \ea54;
$pj-icon-gradient: \ea55;
$pj-icon-gradient-solid: \ea56;
$pj-icon-hidden: \ea57;
$pj-icon-ic_car-solid: \ea58;
$pj-icon-image: \ea59;
$pj-icon-image-solid: \ea5a;
$pj-icon-images: \ea5b;
$pj-icon-in: \ea5c;
$pj-icon-in-small: \ea5d;
$pj-icon-info-circle: \ea5e;
$pj-icon-line-through: \ea5f;
$pj-icon-link-url: \ea60;
$pj-icon-list: \ea61;
$pj-icon-list-solid: \ea62;
$pj-icon-loading: \ea63;
$pj-icon-lock: \ea64;
$pj-icon-lock-solid: \ea65;
$pj-icon-lowercase: \ea66;
$pj-icon-magic: \ea67;
$pj-icon-map: \ea68;
$pj-icon-map-marker-alt: \ea69;
$pj-icon-map-pin: \ea6a;
$pj-icon-minus-circle: \ea6b;
$pj-icon-minus-small: \ea6c;
$pj-icon-minus-solid: \ea6d;
$pj-icon-news: \ea6e;
$pj-icon-no-repeat: \ea6f;
$pj-icon-off: \ea70;
$pj-icon-off-small: \ea71;
$pj-icon-palette: \ea72;
$pj-icon-pause: \ea73;
$pj-icon-pencil-write-solid: \ea74;
$pj-icon-play-circle: \ea75;
$pj-icon-plus: \ea76;
$pj-icon-plus-circle: \ea77;
$pj-icon-plus-small: \ea78;
$pj-icon-plus-solid: \ea79;
$pj-icon-remove: \ea7a;
$pj-icon-remove-small: \ea7b;
$pj-icon-repeat: \ea7c;
$pj-icon-repeat-horizontal: \ea7d;
$pj-icon-repeat-vertical: \ea7e;
$pj-icon-search: \ea7f;
$pj-icon-search-solid: \ea80;
$pj-icon-setting: \ea81;
$pj-icon-shop: \ea82;
$pj-icon-smile: \ea83;
$pj-icon-star-solid: \ea84;
$pj-icon-start-mini: \ea85;
$pj-icon-time: \ea86;
$pj-icon-time-solid: \ea87;
$pj-icon-top-center: \ea88;
$pj-icon-top-left: \ea89;
$pj-icon-top-right: \ea8a;
$pj-icon-trash: \ea8b;
$pj-icon-underline: \ea8c;
$pj-icon-unlink: \ea8d;
$pj-icon-unlock: \ea8e;
$pj-icon-upload: \ea8f;
$pj-icon-uppercase: \ea90;
$pj-icon-window: \ea91;
