// import tooltip css
@import "@pluginjs/styles/buttons.scss";
@import "@pluginjs/tooltip/src/css/tooltip.scss";

//base style
.position-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 $tooltip-position-grid-margin-x;
}

.position-cell {
  flex: 1 33.33%;
}

.position-cell a {
  margin-top: $tooltip-position-cell-a-margin-y;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
