---
title: Arrows
layout: plugin
styles:
- ../../plugins/arrows/css/arrows.css
scripts:
- ../../plugins/arrows/arrows.js
---
<h3>Themes</h3>
<section>
  <h4>Default</h4>
  <div class="pj-arrows example-default">
    <a class="pj-arrow pj-arrow-prev" href="#prev" alt="Previous"><i class="pj-arrow-icon icon-chevron-left"></i></a>
    <a class="pj-arrow pj-arrow-next" href="#next" alt="Next"><i class="pj-arrow-icon icon-chevron-right"></i></a>
  </div>
  <script>
  (function(){
    var $arrows = Pj.arrows('.example-default');
  })();
  </script>
</section>

<section class="top-gap">
  <h4>Text</h4>
  <div class="pj-arrows example-text">
    <a class="pj-arrow pj-arrow-prev" href="#prev" alt="Previous">Previous</a>
    <a class="pj-arrow pj-arrow-next" href="#next" alt="Next">Next</a>
  </div>
  <script>
  (function(){
    Pj.arrows('.example-text', {
      valueFrom: 'text'
    });
  })();
  </script>
</section>

<section>
  <h4>Square Outline</h4>
  <div class="pj-arrows example-square-outline">
    <a class="pj-arrow pj-arrow-prev" href="#prev" alt="Previous"><i class="pj-arrow-icon icon-chevron-left"></i></a>
    <a class="pj-arrow pj-arrow-next" href="#next" alt="Next"><i class="pj-arrow-icon icon-chevron-right"></i></a>
  </div>
  <script>
  (function(){
    var $arrows = Pj.arrows('.example-square-outline', {
      type: 'outline square'
    });
  })();
  </script>
</section>

<section>
  <h4>Circle Outline</h4>
  <div class="pj-arrows example-circle-outline">
    <a class="pj-arrow pj-arrow-prev" href="#prev" alt="Previous"><i class="pj-arrow-icon icon-chevron-left"></i></a>
    <a class="pj-arrow pj-arrow-next" href="#next" alt="Next"><i class="pj-arrow-icon icon-chevron-right"></i></a>
  </div>
  <script>
  (function(){
    var $arrows = Pj.arrows('.example-circle-outline', {
      type: 'outline circle'
    });
  })();
  </script>
</section>

<section>
  <h4>Solid</h4>
  <div class="pj-arrows example-solid">
    <a class="pj-arrow pj-arrow-prev" href="#prev" alt="Previous"><i class="pj-arrow-icon icon-chevron-left"></i></a>
    <a class="pj-arrow pj-arrow-next" href="#next" alt="Next"><i class="pj-arrow-icon icon-chevron-right"></i></a>
  </div>
  <script>
  (function(){
    var $arrows = Pj.arrows('.example-solid', {
      type: 'circle solid'
    });
  })();
  </script>
</section>

<section>
  <h4>Shadow</h4>
  <div class="pj-arrows example-shadow">
    <a class="pj-arrow pj-arrow-prev" href="#prev" alt="Previous"><i class="pj-arrow-icon icon-chevron-left"></i></a>
    <a class="pj-arrow pj-arrow-next" href="#next" alt="Next"><i class="pj-arrow-icon icon-chevron-right"></i></a>
  </div>
  <script>
  (function(){
    var $arrows = Pj.arrows('.example-shadow', {
      type: 'circle shadow'
    });
  })();
  </script>
</section>

<section class="top-gap">
  <h4>Vertical</h4>
  <div class="pj-arrows pj-arrows-vertical example-vertical">
    <a class="pj-arrow pj-arrow-prev" href="#prev" alt="Previous"><i class="pj-arrow-icon icon-chevron-up"></i></a>
    <a class="pj-arrow pj-arrow-next" href="#next" alt="Next"><i class="pj-arrow-icon icon-chevron-down"></i></a>
  </div>

  <script>
  (function(){
    Pj.arrows('.example-vertical', {
      direction: 'vertical'
    });
  })();
  </script>
</section>

<section class="top-gap">
  <h3>Build from array</h3>
  <div class="js-arrows"></div>

  <div class="pad-top-20">
    <button class="btn js-api-load">load</button>
    <button class="btn js-api-empty">empty</button>
  </div>
  <script>
  (function(){
    var $jsArrow = Pj.arrows('.js-arrows', {
      default: null,
      prev: {
        text: 'Previous',
        href: '#prev'
      },
      next: {
        text: 'Next',
        href: '#next'
      },
      onNext: function(value) {
        console.info('next:');
        console.info(value);
      },
      onPrev: function(value) {
        console.info('prev:');
        console.info(value);
      },
      valueFrom: 'data-href', // text or data-attr
      templates: {
        prev: function() {
          return '<a class="{classes.PREV}" data-href="{href}" alt="{text}"><i class="{classes.ICON} icon-chevron-left"></i></a>';
        },
        next: function(css) {
          return '<a class="{classes.NEXT}" data-href="{href}" alt="{text}"><i class="{classes.ICON} icon-chevron-right"></i></a>';
        }
      }
    });

    document.querySelector('.js-api-load').addEventListener('click', function() {
      console.info('load');
      $jsArrow.load({
        text: 'Previous',
        href: '#previous'
      }, {
        text: 'Next',
        href: '#next'
      });
    });

    document.querySelector('.js-api-empty').addEventListener('click', function() {
      console.log('empty');
      $jsArrow.empty();
    });
  })()
  </script>
</section>

<section class="top-gap">
  <h3>Api</h3>
  <div class="pj-arrows example-api">
    <a class="pj-arrow pj-arrow-prev" href="#prev" alt="Previous"><i class="pj-arrow-icon icon-chevron-left"></i></a>
    <a class="pj-arrow pj-arrow-next" href="#next" alt="Next"><i class="pj-arrow-icon icon-chevron-right"></i></a>
  </div>
  <div class="apis top-gap">
    <button class="btn api-init">init</button>
    <button class="btn api-destroy">destroy</button>
    <button class="btn api-enable">enable</button>
    <button class="btn api-disable">disable</button>
    <button class="btn api-show">show</button>
    <button class="btn api-hide">hide</button>
  </div>
  <div class="console top-gap"></div>
  <script>
  (function(){
    var $elementApi;
    document.querySelector('.api-init').addEventListener('click', function() {
      console.info('init');
      $elementApi = Pj.arrows('.example-api', {
        onReady: function() {
          console.log('ready', 'event');
        },
        onDestroy: function() {
          console.log('destroy', 'event');
        },
        onEnable: function() {
          console.log('enable', 'event');
        },
        onDisable: function() {
          console.log('disable', 'event');
        },
        onShow: function() {
          console.log('show', 'event');
        },
        onHide: function() {
          console.log('hide', 'event');
        },
        onPrev: function(value) {
          console.log('prev: ' + value, 'event');
        },
        onNext: function(value) {
          console.log('next: ' + value, 'event');
        }
      })
    });

    document.querySelector('.api-destroy').addEventListener('click', function() {
      console.info('destroy');
      $elementApi.destroy()
    });

    document.querySelector('.api-enable').addEventListener('click', function() {
      console.info('enable');
      $elementApi.enable()
    });

    document.querySelector('.api-disable').addEventListener('click', function() {
      console.info('disable');
      $elementApi.disable()
    });

    document.querySelector('.api-show').addEventListener('click', function() {
      console.info('show');
      $elementApi.show()
    });

    document.querySelector('.api-hide').addEventListener('click', function() {
      console.info('hide');
      $elementApi.hide()
    });
  })();
  </script>
</section>
