@import "@pluginjs/styles/variables.scss";

// Vars
// =====================
$swipeable: "pj-swipeable";

$swipeable-item-width: 300px;
$swipeable-item-height: 150px;
$swipeable-gutter: 10px;

$swipeable-vertical-item-width: 300px;
$swipeable-vertical-item-height: 150px;

// core
// =====================
.#{$swipeable}-container {
  position: relative;
  width: 100%;
  height: $swipeable-item-height;
  overflow: hidden;
}

.#{$swipeable} {
  position: absolute;
  display: block;
  height: 100%;
  white-space: nowrap;

  &-item {
    position: relative;
    display: inline-block;
    width: $swipeable-item-width;
    height: 100%;

    & + & {
      margin-left: $swipeable-gutter;
    }
  }

  img {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.#{$swipeable}-vertical {
  width: $swipeable-vertical-item-width;
  height: 100%;

  .#{$swipeable} {
    width: 100%;
    height: auto;

    &-item {
      display: block;
      width: 100%;
      height: $swipeable-vertical-item-height;
    }
  }

  .#{$swipeable}-item + .#{$swipeable}-item {
    margin-top: $swipeable-gutter;
    margin-left: 0;
  }
}
