@import "@pluginjs/styles/variables.scss";
@import "swipeable.core";

// Vars
// =====================
$swipeable-bg-color: rgba(133, 83, 83, 0.2) !default;
$swipeable-item-border-radius: $border-radius-sm !default;
$swipeable-item-font-size: 20px !default;

// swipeable
// =====================
.#{$swipeable} {
  &-item {
    font-size: $swipeable-item-font-size;
    text-align: center;
    background-color: $swipeable-bg-color;
    border-radius: $swipeable-item-border-radius;

    img {
      border-radius: $swipeable-item-border-radius;
    }
  }
}

